[2020-03-14 17:45] sky-joker opened #4 "about the integration test method"
##### PURPOSE

Here we discuss the integration test method for the Zabbix module.
It provisioning for test environment uses docker-compose? or `ansible-test integration` command? (and so on)

[2020-03-14 17:47] sky-joker opened #5 "about Zabbix module release cycle"
##### PURPOSE

Here we discuss the Zabbix module release cycle.
Let's decide the new module version release cycle policy.

[2020-03-14 19:43] D3DeFi commented on #5
Main question is, if it is worth supporting anything that upstream doesn't:
https://www.zabbix.com/life_cycle_and_release_policy

For example 2.4.*, 3.2.*, 3.4.*, 4.2.* and so on

[2020-03-15 06:29] sky-joker commented on #5
I don't think it is necessary to support the version that has already lost upstream support.
However, I think that point releases(ex:5.2, 5.4 and so on) that will be released in the future need 6 months of support as well as upstream.
But only two maintainers this module, so I think it will be best-effort deal with at point release.
For bugs in the older version, what about consider whether to do

[2020-03-15 20:04] D3DeFi commented on #4
I believe that `ansible-test` is not an option. If I understood it right, it creates isolated containers with a base OS in a non routable network. The other thing is that the CI will be unnecessary slow if we are to set up MySQL and Zabbix services ourselves.

My opinion here is that we will benefit greatly from a pre-built Zabbix docker containers, but just a minimal setup possible with zabbix-se

[2020-03-15 20:10] D3DeFi commented on #5
Yes, absolutely. There is just a two of us for now.

If you agree, I will document, that priority is to support versions that are present in the table at the top of a https://www.zabbix.com/life_cycle_and_release_policy and everything else will be patched with a best effort or merged if a PR is provided (without breaking existing functionality)

[2020-03-16 10:47] gundalow commented on #4
Have a look at how Grafana integration tests work
They use GitHub actions to spin up the Docker container for the three currently supported Grafana versions: https://github.com/ansible-collections/grafana/blob/master/.github/workflows/ansible-test.yml#L55-L59

Note that when using this you can't use the `--docker` option to ansible-test as you will end up with the Zabbix container and ansible-test

[2020-03-16 16:51] sky-joker commented on #4
Thank you @gundalow for infomation!
To run Zabbix containers, use official Zabbix images and SQL images.
So I think it would be better to use docker-compose to solve container dependencies easily.
If you do CI like Grafana, I think we need to create a single container image.

@D3DeFi

I think so too.
I tried making a sample for CI.

https://github.com/sky-joker/community.zabbix-sample1-ci

**Sampl

[2020-03-17 03:06] sky-joker commented on #5
I agree :)

[2020-03-18 16:59] D3DeFi commented on #4
Thanks for the example and initial setup @sky-joker!

Looking at the actions documentation, I am still not sure whether they can be used to specify container dependencies as compose can.

Even if it would be possible, we would probably still be using something to test local changes before pushing them. Might as well be the same thing and actions cannot (true?) be run locally.

So, lets continue wi

[2020-03-18 17:00] D3DeFi commented on #5
Ok, will start working on the README.md. Hopefully tomorrow

[2020-03-18 19:25] gundalow commented on #4
My docker knowledge is very basic.

Could you please expand on

https://github.com/sky-joker/community.zabbix-sample1-ci/blob/master/.github/workflows/ansible-test.yml looks good to me.

How were you thinking that the test would run against Zabbix version 3.0,4.0,4.4?

[2020-03-18 21:05] D3DeFi commented on #4
So there are two of us :)

What I meant was linking containers. In order for zabbix to work it needs to link these three:

`zabbix-web -> zabbix-server -> zabbix-mysql`

In a docker command form:

[code]

It seems that [documentation ](https://help.github.com/en/actions/configuring-and-managing-workflows/about-service-containers) of actions always refers to a stand-alone containers and nothing abo

[2020-03-20 17:11] sky-joker commented on #4
if when integration test uses `ansible-test command`, I look like it can't specify inventory file.
The following file is default created.

[code]

I didn't find an option to specify the inventory file for ansible-test command.

[code]

[2020-03-21 18:54] D3DeFi commented on #4
oh well, so in order to use `ansible-test`, the testing needs to run directly from zabbix-web-nginx-mysql container for example.

I've been trying to simulate our docker compose in Github actions with no luck so far. The problem is, that zabbix-server-mysql needs an ENV variable `DB_SERVER_HOST` set to the name of the mysql container, which would be `zabbix30-db` in our case. This name needs to si

[2020-03-22 07:46] sky-joker commented on #4
hmm...
I think there is a limit to preparing a container environment with GitHub Actions alone.
If you prepare a container environment only with GitHub Actions, I think that it is easier to create one package container(web+SQL+server) and use it.
However, in that case, we need to maintain a test container.

[2020-03-24 15:46] D3DeFi commented on #4
Yeah, it is probably like this. Maybe it is possible to link multiple containers, but documentation is really unclear about that. Only thing stated there is that all containers for Github action are on the same network and all open ports are exposed to each container. Seems to me that something like that should be possible.

What is your opinion on this @sky-joker? Judging by how active we both ar

[2020-03-25 08:12] dj-wasabi commented on #4
If you have a docker-compose configuration file, you can also create a docker network. See example: https://github.com/dj-wasabi/consul-acl-examples/blob/master/multiple-dc/docker-compose.yml

When all of the images are in the same docker network, you can use the name of the container to access them, because the docker network handles the DNS requests and thus no entry in the hosts file of the con

[2020-03-25 08:46] D3DeFi commented on #4
Welcome to the debate @dj-wasabi ! :) We can use docker-compose just fine, that is not a problem. Only workaround needed in this setup is to run `ansible-test` command from "localhost" (that needs to be the zabbix-web-mysql-nginx for example) as the `ansible-test --docker` would break the networking. In this configuration, Github actions will run docker-compose and prepare docker network for us.

[2020-03-25 18:03] Pectojin opened #6 "zabbix_host module digital envelope routines: EVP_DigestInit_ex disabled for FIPS"
##### SUMMARY
Using zabbix_host module to create a host from RHEL 8 with FIPS mode enabled produces an error because MD5 is used hash the password before it's printed in the debug log.

(this is a re-post of issue ansible/ansible/issues/68351 as instructed)
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRO

[2020-03-28 12:29] sky-joker commented on #4
yes.
I think the best idea right now is to use docker-compose.
Using docker-compose, it easily build the same integration test environment in your local environment :)
(However, it is assumed that docker and docker-compose are installed localhost.)

For example, how about specifying the version of the container image in the environment variable?

**CI Results**

https://github.com/sky-joker/commun

[2020-03-28 12:45] D3DeFi commented on #4
Looks good to me. If @gundalow agrees with such setup I would say it is already the time to implement something for real.

[2020-03-28 14:49] gundalow commented on #4
Start simple, and try not to set yourself up for too much work.

If you are happy, and it's an improvement over what we have today, then go for it :)

[2020-03-28 18:36] D3DeFi commented on #4
It definitely is :) @sky-joker can you open an official PR for the integration testing with the docker compose you've built? I think the use of ENV variables is fine

[2020-03-28 18:39] D3DeFi commented on #5
Implemented by #7

[2020-03-28 18:39] #5 closed

[2020-03-29 06:31] sky-joker commented on #4
okay :)
I will prepare to PR.

[2020-03-29 12:52] #4 closed

[2020-04-16 06:44] adrianlzt opened #13 "Zabbix_action module missing operation value2 parameter"
##### SUMMARY
If ``condition.type`` is ``event_tag_value``, parameters ``value`` and ``value2`` must be set, but ``value2`` is not documented.

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
zabbix_action module

##### ANSIBLE VERSION

[code]

[2020-04-16 14:03] D3DeFi commented on #13
Thank you for reporting this @adrianlzt !

I will try to look at it when I have a time. It is indeed true that we miss `value2` as can be seen in [action API documentation](https://www.zabbix.com/documentation/4.4/manual/api/reference/action/object#action_filter_condition)

[2020-04-23 15:59] ericsysmin opened #14 "Zabbix Roles?"
##### SUMMARY
Is it possible to work with dj-wasabi and get the zabbix roles also included in this?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix.agent
zabbix.server
zabbix.web

##### ADDITIONAL INFORMATION

[code]

[2020-04-24 01:45] ericsysmin opened #15 "Initial commit into Ansible Galaxy"
##### SUMMARY
This collection is not yet available in Ansible Galaxy, can we have someone upload it?

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2020-04-24 11:27] D3DeFi commented on #15
Hi Eric and thanks for raising this issue, I agree that it is the high time to move with this.

@gundalow is this possible now? Last time we spoke on a chat you mentioned something about zuul tests if I remember correctly and that we need to wait for them to be able to release on galaxy.

Another problem is that I don't have permissions to release into the https://galaxy.ansible.com/community name

[2020-04-24 16:18] sky-joker commented on #15
Thank you @D3DeFi and @ericsysmin
I was just about to create an issue about this question.

[2020-04-24 17:35] gundalow commented on #15
Hi,
I've manually built and release `0.1.0` https://galaxy.ansible.com/community/zabbix
It's still on my todo list to add automatic building on git tag, let me see if I can push that towards the top of my list.

[2020-04-24 17:44] sky-joker commented on #15
Thank you @gundalow :)

[2020-04-24 21:52] ericsysmin commented on #15
@gundalow thank you, was trying to use this collection as I am moving everything to use collections. :)

[2020-04-24 21:52] #15 closed

[2020-04-26 08:08] sky-joker opened #16 "Determine the tasks and division of roles required to migration Zabbix roles"
##### PURPOSE

In this here, we would like to identify the tasks and division of roles required for the below role migration.

* [zabbix-server](https://galaxy.ansible.com/dj-wasabi/zabbix-server/)
* [zabbix-web](https://galaxy.ansible.com/dj-wasabi/zabbix-web/)
* [zabbix-proxy](https://galaxy.ansible.com/dj-wasabi/zabbix-proxy/)
* [zabbix-javagateway](https://galaxy.ansible.com/dj-wasabi/zabbix-j

[2020-04-26 19:41] ericsysmin commented on #14
Closing as dup of https://github.com/ansible-collections/community.zabbix/issues/16

[2020-04-26 19:41] #14 closed

[2020-04-27 13:45] D3DeFi opened #18 "Branching design"
##### SUMMARY
Agree upon and document a branching design (or what is the official name for it) for this repository.

Right now, we are silently using something like 'Every PR against master branch. After some time, tag latest commit as some version, which should be automatically then published on galaxy. Rinse and repeat.'

Do we want to introduce something more complex? Development branch, featur

[2020-04-27 14:25] sky-joker commented on #18
How about basically following the Ansible upstream branch operation?
I have the following image.

* devel branch
    * This branch receives pull request from fork project.
* stable-xxx
    * xxx is stable version number.
    * When a new version is released, this branch is created.
* devel-zabbix-roles branch
    * This branch is the branch that merges migrating roles.
    * Once the role migratio

[2020-04-27 15:54] D3DeFi commented on #18
Some of the existing collections are using this [settings](https://github.com/ansible-collections/community.grafana/blob/master/.github/settings.yml) file, which may indicate a use of devel branch, but I haven't seen it used anywhere except azure collection.

As for release branches, @gundalow mentioned automatic publish to galaxy when a `git tag` is issued in #15. If a release process is tightly

[2020-04-27 18:04] gundalow commented on #18
the `settings.yml` is more of a default I added a few branch names just to ensure we didn't end up with people force-pushing to to branches they shouldn't.
Most (if not all) collections are using `master` as the default branch.

[2020-04-28 12:06] D3DeFi commented on #18
One more thing to help us decide if we need more complex branching.

Just by looking at the repos of zabbix roles we will be integrating. Lets say that the monthly load will increase from ~2 PRs/issues to ~6 PRs/issues. This is only a rough and blind estimate, no math was used to get such statistics :)

As we are one of the smaller collection repos, lets mirror behavior of bigger ones and stay wit

[2020-04-28 12:13] sky-joker commented on #18
I see, Let's keep the versions in tags.

You're right, let's merge roles into one branch.

[2020-04-28 12:42] D3DeFi commented on #16
Ok, so we now compose some task list here and then move each item as a separate issue/note under [this project](https://github.com/ansible-collections/community.zabbix/projects/3)?

Lets start with original skeleton. I am adding a few new tasks, but please feel free to shuffle, change, delete as see fit:

- [ ] create `devel-roles-migration` branch,
- [ ] open PR for each role against `devel-roles

[2020-04-28 12:43] D3DeFi commented on #16
I volunteer to open an issue for each task we agree to go with after this discussion.

[2020-04-28 12:44] sky-joker commented on #18
I got it.
Let’s make the main branch of this repository the master branch.

Let's think together again as we get more developers and contributors and develop more often :)

[2020-04-28 12:48] D3DeFi commented on #18
Great, thanks for your confirmation @sky-joker !

I am closing this issue for now, but we will probably reopen it in the future.

Recap:

- new PRs against `master` branch
- new versions by `git tag`
- reopen this discussion in the future

[2020-04-28 12:48] #18 closed

[2020-04-28 15:16] sky-joker commented on #16
yes :)
I've added a task because I think I'd like to decide on the release cycle policy.

[2020-04-29 06:56] mit0223 opened #19 "Error when specifying macors in zabbix_template module"
##### SUMMARY
If macros are not defined in the target template, specifying macors in the zabbix_template module causes an error of KeyError: 'macros'.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT

target OS: CentOS Linux release 7.6.1810 (Core)
target Zabbix: 5.0
python: 3.6.8

##### STEPS TO REPRODUCE
zabbix server was

[2020-04-29 12:25] D3DeFi commented on #19
Thank you for the issue @mit0223 . I believe this behavior was fixed in ansible/ansible#66996 and is present in [zabbix_template](https://github.com/ansible-collections/community.zabbix/blob/master/plugins/modules/zabbix_template.py) included in this collection as of today.

However, it was not backported to ansible 2.9. I've created backport PR for it in the ansible/ansible#69235, but I am not su

[2020-04-29 21:11] mit0223 commented on #19
I'm sorry. I wasn't aware that it was already fixed.

[2020-04-29 21:11] #19 closed

[2020-04-30 07:02] ericsysmin commented on #16
@sky-joker @D3DeFi once the PR for the roles are added, I can do the PR on top of that fork that would include the molecule testing, similar to https://github.com/ericsysmin/ansible-collection-system. Looks like I figured out how to do testing for multiple modules etc with molecule

[2020-04-30 12:08] D3DeFi commented on #19
That is absolutely no problem :) I would even say that it is better you've opened this issue, because it motivated me to open backport PR for upstream.

[2020-04-30 12:18] D3DeFi opened #20 "Zabbix roles migration to community collection repository"
##### SUMMARY
Open pull request for each of the Zabbix roles currently living under @dj-wasabi once the low hanging fruit has been harvested as mentioned in [this comment](https://github.com/dj-wasabi/ansible-zabbix-agent/issues/341#issuecomment-620799845).

PRs should be opened against `devel-roles-migration` branch.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
[zabbix-server](https://g

[2020-04-30 12:48] D3DeFi opened #21 "Redundant files identification, roles documentation and changelogs"
##### SUMMARY
Identify all files in Zabbix roles that no longer fit in or their placement is not optimal after merge. Decide on their future. This is more of a discussion issue.

Dependent on the  completion of #20 .

There will be more of them, but a few ideas straight away :
- roles/\*/README.md -> centralize somewhere like `docs/`? How other collections handle this?
- roles/\*/CHANGELOG.md -> c

[2020-04-30 12:54] D3DeFi opened #22 "Rework CI for merged roles"
##### SUMMARY
Current candidate -  Github Actions from previous Travis CI. Example of working CI with Actions:
https://github.com/ericsysmin/ansible-collection-system/tree/master/.github/workflows

More information in:
- [comment1](https://github.com/ansible-collections/community.zabbix/issues/16#issuecomment-621652303)
- [comment2](https://github.com/dj-wasabi/ansible-zabbix-agent/issues/341#issu

[2020-04-30 12:59] D3DeFi opened #23 "Add new maintainer"
##### SUMMARY
@dj-wasabi can join our ranks as repo maintainer if he agrees (at least thumbs up required) :)

Dependent on the completion of #20.

##### ISSUE TYPE
- Feature Idea

[2020-04-30 13:02] D3DeFi opened #24 "Document roles in main README.md and galaxy.yml files"
##### SUMMARY
Update repo's main README.md and galaxy.yml files to include new roles and information about them.

Do this before merging `devel-roles-migration` to master branch.

Dependent on the completion of:
- #20
- #21
- #22

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME
README.md
galaxy.yml

[2020-04-30 13:08] D3DeFi opened #25 "Incorporate CODEOWNERS feature"
##### SUMMARY
At this point this collection should provide both zabbix modules and roles to the community.

We expect some increase in PR/issue monthly load, but nothing horrific, do we want to implement [CODEOWNERS ](https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners) github feature?

Dependent on the completion of #24 and merge of  `devel-roles-migrat

[2020-04-30 13:15] D3DeFi opened #26 "Determine release and merge policies for the collection"
##### SUMMARY
Determine and Document!

Repository should at this step already include both zabbix roles and modules. Lets find a common ground on how do we handle merging of new PRs and releasing a new collection versions.

Decision will be affected by the resolution of #25 to some extent.

Probably best discussed at the end of the [project](https://github.com/ansible-collections/community.zabbix/

[2020-04-30 13:22] D3DeFi commented on #16
Ok, I've tried to populate the [project](https://github.com/ansible-collections/community.zabbix/projects/3) with the steps we discussed in this thread. I've also updated my previous comment with tasks list to include references to PR numbers as well.

Issues/notes should be addressed from top to bottom as present in the To Do column. Does it make sense to you guys?

[2020-04-30 14:08] gundalow commented on #25
CODEOWNERS could be useful if you want different maintainers for different areas of the codebase.
ie, `roles` to go to the applicable maintainers.

[2020-04-30 16:29] ericsysmin commented on #22
working example from one of my new collections
[code]

[2020-04-30 18:12] D3DeFi commented on #22
Oh that is great :) Yes, lets use that.

[2020-05-01 15:48] sky-joker commented on #16
Thank you so much @D3DeFi for adding the tasks to the project!

[2020-05-01 16:19] sky-joker commented on #26
Sure, let's do that :)

[2020-05-02 09:25] sky-joker commented on #22
I've assigned this task to @ericsysmin

[2020-05-02 15:45] sky-joker opened #27 "zabbix_action: condition value considered required when it should not be"
_From @richlv on 10 Jan_

##### SUMMARY
According to the [Zabbix manual](https://www.zabbix.com/documentation/4.0/manual/api/reference/action/object), the condition type "Problem is suppressed" has: "No value required".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
latest

##### STEPS TO REPRODUCE
"Problem is suppressed" matches `maintenance_status` in `

[2020-05-02 15:53] sky-joker opened #28 "zabbix_template: incorrect export and import of non-ACSII strings in template [bug]"
_From @selivan on 17 Apr 2019_

##### SUMMARY
When Zabbix template is saved using `state=dump` of module zabbix_template, all non-ASCII strings become encoded like this: `"\u0422\u0435\u0441\u0442"`(this is Russian string "Тест"). On importing this template using `state=present`, trigger name presented by this string becomes `"\u0422\u0435\u0441\u0442"` instead of "Тест".

##### ISSUE TYPE
- Bug R

[2020-05-02 15:56] sky-joker opened #29 "Module zabbix_action does not contain "Notify all involved""
_From @lokly on 4 Jul 2019_

##### SUMMARY
The module zabbix_action does not contain the Zabbix operation "Notify all involved", that can be selected in the section "Recovery operations" and "Update operations".

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
lib/ansible/modules/monitoring/zabbix/zabbix_action.py

##### ANSIBLE VERSION
2.8.1

_Copied from original issue: https://github.com/

[2020-05-02 15:59] sky-joker opened #30 "Module zabbix_action maintenance_status requires unavailable operator"
_From @sawicchiraw on 5 Jul 2019_

##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT
Linux zabbix 4.4.0-154-generic [#181](https://github.com/ansible/ansible/pull/181)-Ubuntu SMP Tue Jun 25 05:29:03 UTC 2019 x86_64 x86_64 x86_64 GNU/Linux

##### STEPS TO REPRODUCE
zabbix 4.0, zabbix api

[2020-05-02 16:01] sky-joker opened #31 "allow specifying interface for templates in zabbix_host"
_From @richlv on 26 Jul 2019_

##### SUMMARY
When linking templates in Zabbix, items get attached to the "main" interface, if there are multiple interfaces of same type.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_host

##### ADDITIONAL INFORMATION
If there are multiple interfaces - let's say JMX - there is no way to specify to which interface should each template go. This makes

[2020-05-02 16:04] sky-joker opened #32 "Warning after a failed zabbix_action task: "TypeError: 'ZabbixAPISubClass' object is not callable""
_From @richlv on 18 Sep 2019_

##### SUMMARY
Warning after a failed zabbix_action task: "TypeError: 'ZabbixAPISubClass' object is not callable"

`[WARNING]: Module invocation had junk after the JSON data: Error in atexit._run_exitfuncs: Traceback (most recent call last): File "/usr/lib64/python2.7/atexit.py", line 24, in _run_exitfuncs func(*targs, **kargs) TypeError: 'ZabbixAPISubClass' object is

[2020-05-02 16:07] sky-joker opened #33 "zabbix_mediatype parameter renamed in Zabbix 4.4 and onwards"
_From @atkhan007 on 9 Nov 2019_

##### SUMMARY
Mediatype parameter is renamed from Zabbix 4.4 onwards and it breaks the zabbix_mediatype ansible module.

##### ISSUE TYPE
Zabbix 4.4 renamed the mediatype parameter from 'description' to 'name', hence breaking the module.

##### COMPONENT NAME
zabbix_mediatype.py

##### ANSIBLE VERSION
ansible 2.9.0
config file = /home/user/ansible/ansible.cfg
confi

[2020-05-02 17:06] D3DeFi commented on #33
Thank you so much for transferring some of the issues from upstream to here @sky-joker ! I've been wanting to do that for the last couple of weeks, but always managed to do something else instead :(

Can you please close each respective upstream issue (those living in ansible/ansible) that you've opened here since they no longer can be addressed in there?

Except the issues, there are couple of PR

[2020-05-03 16:43] sky-joker commented on #33
Sorry for the late reply.
Thank you for you have closed https://github.com/ansible/ansible/issues/64604.

For existing Pull Requests, let's ask the contributor to submit a Pull Request to this repository again.
If there is no action after waiting for a few weeks (About a month at most?), how about we fix the bug ourselves?

[2020-05-03 17:05] sky-joker opened #34 "Re-requesting an Existing Pull Request"
##### SUMMARY

The following are existing pull requests for the Zabbix module in ansible upstream that I have now confirmed.

- [x] ~~https://github.com/ansible/ansible/pull/68333~~
- [x] ~~https://github.com/ansible/ansible/pull/66860~~
- [x] ~~https://github.com/ansible/ansible/pull/64607~~
- [x] ~~https://github.com/ansible/ansible/pull/64428~~
- [x] https://github.com/ansible/ansible/pull/3193

[2020-05-03 17:25] D3DeFi commented on #34
@sky-joker I agree. If you want, I can iterate through them tomorrow, request each to be reopened here and close them in ansible/ansible.

[2020-05-03 22:26] mit0223 commented on #19
Thank you very much. However, I'm trying to use Zabbix 5.0, and I'm in a stumbling block to the daily intense version updates. So, after Zabbix side is stable, we would like to work on ansible 2.10. We are currently working on a patched version to work around this issue.

[2020-05-04 05:50] sky-joker commented on #34
Thank you @D3DeFi

Could you please handle this for me?

[2020-05-04 13:07] D3DeFi opened #35 "Playbook failing.. getting KeyError inventory_mode"
_From @dj-wasabi on 6 Mar 2020_

##### SUMMARY
I have created a simple playbook that points to the role dj-wasabi.zabbix-agent, which is installed by AWX on the flight.
The playbook has worked earlier (two days ago) and not it doesn't work anymore.

I receive following issue, when running the playbook on my ansible server (towards every host).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
z

[2020-05-04 13:10] D3DeFi commented on #35
Patch ansible/ansible#66860 for this issue haven't made it to the ansible before `devel` branch freeze so the bug persists and the PR needs to be reopened here.

[2020-05-04 13:16] D3DeFi commented on #33
Proposed fix in ansible/ansible#64607

[2020-05-04 13:18] D3DeFi commented on #27
@richlv [commented](https://github.com/ansible/ansible/issues/66343#issuecomment-573003099):

[2020-05-04 13:33] D3DeFi commented on #29
@rubentsirunyan [commented](https://github.com/ansible/ansible/issues/58719#issuecomment-517645205):

I've [stated](https://github.com/ansible/ansible/issues/58719#issuecomment-518262756) that it is not documented because of the huge sub-options documentation for `operations` is reused for both `recovery_operations` and `acknowledge_operations` as well. However, `operations` do not support `notify

[2020-05-04 13:55] D3DeFi commented on #28
@selivan [commented](https://github.com/ansible/ansible/issues/55439#issuecomment-488372127):

Problem analysed in the [comment](https://github.com/ansible/ansible/issues/55439#issuecomment-488366486) before.

[2020-05-04 14:01] D3DeFi opened #36 "zabbix_screen: documentation issues"
_From @richlv on 15 Apr 2019_

##### SUMMARY
See https://docs.ansible.com/ansible/latest/modules/zabbix_screen_module.html .

There seem to be a few issues here that would need help from somebody familiar with this module, otherwise I'd have submitted a pull request.
Some of these might turn out to be bugs in the module itself, too (like the `host_group` issue below).

- [ ] The tagline is "This m

[2020-05-04 14:02] D3DeFi commented on #36
Based on my [comment](https://github.com/ansible/ansible/issues/55345#issuecomment-502123768) this module needs a major rework.

[2020-05-04 14:18] D3DeFi commented on #34
I believe that everything I've had tagged as a todo is now closed in ansible/ansible.

Added a few PRs to your list as well.

[2020-05-05 07:13] sky-joker commented on #34
Thank you @D3DeFi for your cooperation!
I checked the box for closed ones.

[2020-05-05 07:16] D3DeFi commented on #34
Np, but I would still leave this issue open until we are sure that each of those PRs has been reopened here.

[2020-05-05 10:59] dj-wasabi opened #39 "Zabbix Agent: Supporting entries commented on zabbix_agentd.conf"
Hello,
I think it would be useful to have some parameters config on /etc/zabbix/zabbix_agentd.d/

Maybe we can add a magic value, so:

agent_timeout: onfile 3 # create /etc/zabbix/zabbix_agentd.d/timeout.conf and comment it on zabbix_agentd.conf
agent_timeout: commented # comment Timeout directive on zabbix_agentd.conf

What do you think ?

Would you accept a patch for this ? Or you don't see it a

[2020-05-05 11:06] dj-wasabi opened #40 "Zabbix Agent: No package matching 'zabbix-agent"
**Describe the bug**
While running the script, I get an error
fatal: [*****************]: FAILED! => {"changed": false, "msg": "No package matching 'zabbix-agent - zabbix-agent - zabbix-sender - zabbix-get' is available"}

**Installation method/version**
ansible 2.7.5
  config file = /home/user/ansible-zabbix-agent/ansible.cfg
  configured module search path = [u'/home/user/.ansible/plugins/module

[2020-05-05 11:08] dj-wasabi opened #41 "Zabbix Agent: Role is setting first public IP as agent IP when private IPs are available"
**Describe the bug**
As the title says, the role is setting first public IP as agent IP when private IPs are available. If I look at main.yml, it should only select a public IP when there is no private IP available. It's worth noting that the public and the private IPs are on different interfaces.

**Installation method/version**
* Ansible Galaxy, role version: 1.7.1

**Ansible Version**

[code]

[2020-05-05 11:09] dj-wasabi opened #42 "Zabbix Agent: Support for multiple servers (firewall, API etc)"
Note that Zabbix agent supports a ***list*** of IPs for the Server/ServerActive parameters. From zabbix_agentd.conf

[code]

and

[code]

For us, the idea being that the Zabbix agent would register and report to a primary and a backup Zabbix server.

Good news: This mostly already works with **ansible-zabbix-agent** since we can put a comma-separated list into the **zabbix_agent_server** and **zab

[2020-05-06 20:39] ericsysmin commented on #16
@dj-wasabi, I will work on the CI Tests for the Agent role.

I did take a look at the existing molecule test, and was curious where this file was coming from
[code]

[2020-05-06 22:23] ericsysmin commented on #16
I believe I found a problem caused by the use of `-` in the collection role name...this is a breaking change that people will need to change in their code in the future.

[2020-05-07 18:29] ericsysmin commented on #22
While doing the rework, I ran into this, so we'll likely need to fix it
https://github.com/ericsysmin/community.zabbix/issues/1

[2020-05-08 18:49] D3DeFi commented on #13
@adrianlzt can you please confirm, that you can use `value2` with condition type `event_tag_value` even if it is not documented as stated in #43?

[2020-05-08 19:05] D3DeFi commented on #16
Oh, that actually hurts.

I've had a brief thought about renaming modules into short names in the past. Since the collection now identifies scope by itself, we no longer need the `zabbix_` prefix. So instead of `zabbix_host` we would have just `host`. I didn't pursue the idea, because in the case of zabbix modules, it is just a cosmetic change. Roles on the other hand are a deal breaker.

If we ac

[2020-05-09 07:25] D3DeFi commented on #29
The documentation fix is kinda ugly, but module options are so complex that it is probably better to have it at least this way that not at all.

[2020-05-09 07:35] D3DeFi commented on #30
Slipped our attention back when zabbix modules were part of the upstream repo. This issue was addressed in ansible/ansible#58379

Only difference is that before Zabbix 3.4 condition type 16 was `Maintenance status` and required `in` and `not in` operators. Since Zabbix 4.0 condition type 16 is now called `Problem is suppressed` and requires operators `Yes` and `No`. Luckily, all of them are suppor

[2020-05-09 07:35] #30 closed

[2020-05-09 08:12] D3DeFi commented on #27
Only way I see this fixed is by changing `modules.argument_spec.conditions.options.value` from `required=True` to `required=False` and then specifying that it is required for almost every condition type:

[code]

`required_if` entry would need to be specified for [every condition type](https://www.zabbix.com/documentation/3.4/manual/api/reference/action/object#action_filter), except type 16 (Maint

[2020-05-09 10:20] dj-wasabi commented on #16
I would say removing it. The collection is already specific to Zabbix thus all the module/roles/plugins etc is Zabbix specific, having a `zabbix[-_]` prefix does not add any extra value to it.

My 2 cents

[2020-05-09 10:20] dj-wasabi commented on #16
Out of the blue, no specific logic behind it. 😄

[2020-05-10 15:56] #13 closed

[2020-05-10 15:56] #29 closed

[2020-05-11 16:48] sky-joker opened #44 "About the module name in the Example block"
##### SUMMARY

The module name of the example block of existing modules is not FQCN.
I think I should change the module name to FQCN.

For example, before

[code]

after

[code]

##### ISSUE TYPE
- Documentation Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

[2020-05-11 17:06] D3DeFi commented on #44
I'd say it is better to first address issue mentioned in this [comment](https://github.com/ansible-collections/community.zabbix/issues/16#issuecomment-624922360) and do it all at once if we are to decide that modules and roles should loose `zabbix[-_]` prefixes.

[2020-05-12 17:11] apiening opened #45 "Zabbix 5.0 support"
##### SUMMARY
Zabbix 5.0.0 has been released: https://www.zabbix.com/release_notes

The `README.md` file states:
[code]

I'm curious if there has been some progress made towards supporting Zabbix 5.0 or if there is some scheduling in place.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Supported Zabbix Versions

##### ADDITIONAL INFORMATION
I know that version 5.0.0 has just been released

[2020-05-13 13:28] toerb opened #46 "host.create with SNMP interface not working with Zabbix 5.0"
##### SUMMARY

Zabbix 5.0 introduced a change in the host interface handling. The [new documentation](https://www.zabbix.com/documentation/current/manual/api/reference/hostinterface/object) mentions a new `details` parameter which is used only for SNMP interfaces.

In order to create a new host with a SNMP interface this new property has to be set. Unfortunately the documentation seems to be not c

[2020-05-13 13:44] D3DeFi commented on #45
Thanks for opening this issue @apiening

I was thinking about this yesterday as I've seen the release announcement, but haven't had any time to actually look at it any closer.

To be honest, we haven't established any roadmap yet for this collection repo and most of the work is done with best effort reactive to issues as they arise.

I will kick into our CI and make it spin containers for 5.0 as w

[2020-05-13 13:46] JohannesKreuzer commented on #46
This is the structure needed for creating a host with snmp interface in Zabbix 5.0:
[code]

[2020-05-13 13:49] D3DeFi commented on #46
Hey guys, thanks for reporting this issue. I will try to look at it asap.

For more info about zabbix 5 support see my latest comment in #45

[2020-05-13 14:16] toerb commented on #46
Interestingly since the interfaces are just passed as is we can workaround this bug by adding `details` to the interface:
[code]

[2020-05-13 14:24] D3DeFi commented on #46
Can confirm that this is valid. Additional information in the interfaces dictionary will just miss any error checking and documentation which will come eventually.

[2020-05-13 15:08] sky-joker commented on #45
Thank you @apiening for reporting.

@D3DeFi

I tried the zabbix integration test with zabbix 5.0 in my lab and the following module integration test is errors occurred.

* zabbix_host
* zabbix_proxy
* zabbix_template

The above errors are investigating now.

It can't zabbix 5.0 run using current docker-compose file because It was changed listen port for a container from 80 to 8080 by zabbix develo

[2020-05-13 15:14] D3DeFi commented on #45
Please, go ahead and opethe PR. We can even have it failing CI until errors in integration tests are under investigation.

[2020-05-13 15:53] toerb commented on #46
Adding new hosts with zabbix_host works fine with this environment.
Running the playbook multiple times leads to "changed" messages and not "OK" as it would be expected.

So there seems to be something amiss with the check if the host should be changed.

[2020-05-13 16:43] ericsysmin commented on #41
@kobuki I see an issue with this approach as in many cloud environments you may not want to use the private ip, so maybe a flag is better than assumption and change of expectation

[2020-05-13 17:13] D3DeFi commented on #45
@sky-joker have you started working on failing zabbix_ modules? I am asking, because if not, I can start working on #46 and fix the issues you've reported in the same time.

[2020-05-13 17:20] kobuki commented on #41
It's a bug in the role, not a new expectation.

[2020-05-14 11:56] sky-joker commented on #45
I haven't started a detailed investigation yet.
I looked over the integration test result for zabbix_host, `changed` occurs when performing the same task that has not been parameters changed.
The configuration comparison process does not seem to work well.

@D3DeFi Can you handle https://github.com/ansible-collections/community.zabbix/issues/46 ?

[2020-05-15 19:58] chemnic opened #49 "zabbix_template creates template in check mode"
##### SUMMARY

The module zabbix_template creates a new template when in check mode with zabbix 4.0.
I use template_json to import a new template with just the enough data to create it.
The normal mode (not in check mode) works as expected: Shows "changed" when the template doesn't exist, and just "ok" when it already exists.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_template
###

[2020-05-17 14:34] sky-joker opened #50 "Integration test error occur of zabbix_proxy with zabbix 5.0"
##### SUMMARY

The integration test result for zabbix_proxy, changed occurs when performing the same task that has not been parameters changed.
It is necessary review the configuration comparison process.

[code]

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

zabbix_proxy

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT

* zabbix 5.0

##### ADDITIONAL INFORMATION

[2020-05-17 14:51] D3DeFi commented on #50
@sky-joker just to point you to a right direction and save you some time. I am dealing with probably the same problem in `zabbix_host` right now:

Zabbix 5.0 now contains `details` property for `hostinterface` objects:
https://www.zabbix.com/documentation/current/manual/api/reference/hostinterface/object#host_interface

and since Zabbix API is returning `details: []` for every interface type and n

[2020-05-17 14:58] sky-joker commented on #50
Thank you @D3DeFi for tell me that information.

https://www.zabbix.com/documentation/current/manual/api/reference/hostinterface/object#host_interface

I'll check the details property for `hostinterface`.

[2020-05-18 12:58] D3DeFi opened #52 "Regarding CHANGELOG"
##### SUMMARY
Its apparent that at some point we will be releasing next version of this collection. In the meantime, changes are accumulating.

Should we require that with each change to a module or roles, an entry will be added to the CHANGELOG.md under "`devel`" section or something like that?

##### ISSUE TYPE
- Documentation Report

[2020-05-19 12:49] #46 closed

[2020-05-19 15:46] sky-joker commented on #52
I wonder how they manage the other collections.
I took a quick look at it, but it's stored in the traditional `changelogs/fragments`, or it's using a  Changelog file.

[2020-05-20 08:52] #50 closed

[2020-05-22 20:15] apiening commented on #45
As far as I can see https://github.com/ansible-collections/community.zabbix/issues/46 has been closed since the component **zabbix_host** does work with **Zabbix 5.0** when the **details** parameters are set accordingly.

I have updated my **Zabbix server instance** to 5.0 (docker-compose based installation) and I would like to configure some clients now. Since I have used https://galaxy.ansible.c

[2020-05-23 09:10] D3DeFi commented on #45
@apiening we are unfortunately not there yet. 5.0 release came just as we are in the process of "consuming" zabbix roles from @dj-wasabi into this collection.

There is a [project](https://github.com/ansible-collections/community.zabbix/projects/3) open for this migration as was discussed in #16 and dj-wasabi/ansible-zabbix-agent#341

@dj-wasabi - any thoughts on when other zabbix roles may make i

[2020-05-23 14:00] sky-joker commented on #23
If @dj-wasabi agrees to become this repo collaborator, we'll ask @gundalow to set up a collaborator?

[2020-05-23 14:06] gundalow commented on #23
I see some thumbs up, should I add?

[2020-05-23 14:15] dj-wasabi opened #57 "Zabbix Server: New Support For Raspbian?"
**Is your feature request related to a problem? Please describe.**
I was trying to set a zabbix server in the raspberry pi and I find zabbix supports Raspian since 3.5, which can be known from both zabbix official doc and its repo

**Describe the solution you'd like**
Now we don't distinguish Raspbian from Debian using ansible_os_family. Maybe it's better to use ansible_lsb[id]

[code]

**Addition

[2020-05-23 14:18] D3DeFi commented on #23
Please go ahead :)
Thanks in advance!

[2020-05-23 14:25] dj-wasabi opened #58 "Zabbix Proxy: MySQL schema creation failure"
**Describe the bug**
MySQL schema import fails when database server is installed on dedicated host other then proxy itself. The reason seems to be lack of schema file on database host linked with delegation of schema import task to database host.

**Installation method/version**
1.6.0 installed by ansible-galaxy over git+ssh

**Ansible Version**

[code]

**Targetted hosts**
Concerns the following

[2020-05-23 14:42] dj-wasabi opened #61 "Zabbix Web: role shouldn't always remove conf-xxx/zabbix.conf on Debian"
**Describe the bug**
Role always remove default `/etc/apache2/conf-available/zabbix.conf` config on Debian
even user do not want to install vhost for zabbix

**Installation method/version**
* Github / latest

**Ansible Version**

2.8

**Targetted hosts**

* Ubuntu
* Debian

**Expected behavior**
Role should not remove default `conf-xxx/Zabbix.conf` when User do not want to install vhost conf

**Po

[2020-05-23 14:49] dj-wasabi commented on #16
I created all PR's to move the roles to this collection.

[2020-05-23 17:32] #20 closed

[2020-05-23 17:39] D3DeFi commented on #16
Thanks for the PRs @dj-wasabi !

@ericsysmin have you progressed with CI adjustments?

I believe we should start with removing "zabbix-" prefixes and #21 . @sky-joker  do we remove "zabbix_" prefixes from modules as well? If yes, I think that at least symlinks `zabbix_host -> host` should be created for backwards compatibility.

[2020-05-25 14:03] dj-wasabi commented on #52
I manually updated the changelog md when creating a new release. Was fine for the amount of PR's that I had with the roles, but I was just not motivated enough to create a (python) script for it to automate it. I don't know how it will be when also the modules are part of the repo?

[2020-05-25 15:04] chemnic commented on #49
Did someone managed to reproduced this? Is this really a bug or there is something wrong I'm doing?

[2020-05-25 15:27] D3DeFi commented on #21
I went through all of the files (`find roles/ -type f`) and the following files need to be addressed. Just a quick notes from my terminal:
[code]

@dj-wasabi, @sky-joker, @ericsysmin please feel free to state your opinions/guidiance or take initiative :) I've added recommendations to files I understand and question to files that I would rather not decide their faith purely on my assumptions.

I ca

[2020-05-25 15:44] D3DeFi commented on #52
I cannot say if development of the modules will speed up in the future, but when the modules were residing in ansible/ansible, it was very slow process. Less than 5 patches in a month, sometimes no patches at all. I, for example, would like to be more active in the future, but I am not sure if I will have more time for this collection.

Maybe if new maintainers join our ranks in the future, develo

[2020-05-25 15:49] D3DeFi commented on #49
@chemnic sorry, haven't had time to look at this yet. Thank you for opening the issue and letting us know!

I will try to reproduce it as soon as possible and let you know

[2020-05-25 17:12] ericsysmin commented on #22
So, we have some problems with dependencies on Ansible Molecule that cause any role with dependencies to fail. We may need to merge with existing roles and stick with lint tests for now until Molecule has a new release.

[2020-05-26 13:54] sky-joker commented on #16
I think it's a good idea to to remove `zabbix_` prefix from role name.
I have an image of the ultimately playbook following.

[code]

But I have to worry if the other role has the same role name.
If the role name is duplicate, the following playbook can work around it tentatively, but...

[code]

[2020-05-26 14:49] sky-joker commented on #52
I agree :)
First of all,  let's make it a policy to update CHANGELOG manually.

[2020-05-26 15:28] sky-joker opened #64 "The desc param didn't update of zabbix_maintenance module"
##### SUMMARY

I tried description update of maintenance but it didn't update.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

plugins/modules/zabbix_maintenance.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

[code]

##### STEPS TO REPRODUCE

I have executed the following playbook.

[code]

I changed the desc parameter and re-execute it.

[code]

###

[2020-05-27 06:44] dj-wasabi commented on #16
I personally like the 2nd example as it is exactly clear what role will be executed, which if you have multiple collections configured with the 1st example isn't the case.

If we document the examples in the roles documentation with the 2nd example, then we can sort of guarantee that it works?

[2020-05-27 12:17] D3DeFi commented on #16
I agree with the 2nd example as well. We definitely should promote more explicit approach in our documentation to not further confuse users.

What I originally meant with my question was what to do with plugins/modules since we already know that we do need to rename roles as confirmed by @ericsysmin in the [comment](https://github.com/ansible-collections/community.zabbix/issues/16#issuecomment-624

[2020-05-27 12:22] D3DeFi commented on #16
I went through the other collections in https://github.com/ansible-collection and none of them decided to remove prefixes they were using so far, so we can probably ignore my blabbering in the previous comment. I am starting to think that simply renaming roles to `zabbix_` would be a more consistent approach for now.

[2020-05-27 12:31] D3DeFi commented on #22
@ericsysmin can I do something to help with this? I am probably a bit lost.

Is this some known bug when Molecule is testing a role residing in collection with external dependencies like `geerlingguy.apache` for example?

[2020-05-27 14:41] sky-joker commented on #16
I think that is good.
I think there would be less confusion if the documentation told you how to use the roles and modules.

For example, if use collections keyword to execute the module.

[code]

For example, if use FQCN to execute the module.

[code]

For example, if use collections keyword to execute the role.

[code]

For example, if use FQCN to execute the role.

[code]

I think that's better

[2020-05-29 17:44] #49 closed

[2020-05-30 09:41] D3DeFi commented on #49
@chemnic it indeed was a bug :)

[2020-05-30 09:41] #64 closed

[2020-06-01 21:53] ericsysmin commented on #16
I ran into issues on testing, we currently molecule does not support the proper installation of roles and collections mixed together yet as part of dependencies. I am working on a solution.

[2020-06-02 21:05] chemnic commented on #49
It looks fixed. I think.
The template is no longer created in check mode.
But after being created in normal mode, it reports 'changed' in check mode (not idempotent), and reports 'ok' in normal mode (idempotent).

Is this related with the same issue?

[2020-06-03 16:25] D3DeFi commented on #21
I will start merging the documentation then :)

Already tried to move some files around:
https://github.com/D3DeFi/community.zabbix/tree/devel-roles-migration

[2020-06-04 15:44] D3DeFi commented on #49
@chemnic seems that you've hit bug from waaay back :+1: Thanks for thoroughly testing this :)

Fix in #69

[2020-06-04 17:56] D3DeFi commented on #21
btw CODE_OF_CONDUCT.md is referring to github@werner-dijkerman.nl as a contact for reporting violations, do we setup some different communication channel for this collection?

Only thing that comes to my mind right now is a google group like ansible has?

[2020-06-05 00:51] chemnic commented on #49
Ok. Its fixed. Thank you for the hard work.

[2020-06-05 09:38] dj-wasabi commented on #21
Hi @D3DeFi

Someone might not feel confident enough to add something to a google group where it is public and can be seen by everyone..  Thats why I used an email, so everyone can without any other problems can notify me.

[2020-06-05 20:31] ericsysmin commented on #22
Yes, that's the issue I ran into. So testing this is going to be hard until the issue is fixed on molecule.

[2020-06-05 20:40] ericsysmin commented on #22
Is it possible we schedule a meeting for like 30 minutes so we can discuss some items?

[2020-06-05 20:48] ericsysmin commented on #44
I am working on that as all of this causes molecule to fail. @D3DeFi

[2020-06-05 20:52] ericsysmin commented on #16
@D3DeFi @dj-wasabi there's the only roles that should exist would be

- community.zabbix.agent
- community.zabbix.javagateway
- community.zabbix.proxy
- community.zabbix.server
- community.zabbix.web

I do believe however that modifying the default/vars will create a lot of issues as people may be using higher level vars to fill in those values for example a hosts file providing vars for the host

[2020-06-05 21:08] ericsysmin commented on #16
@dj-wasabi how were you testing all of this before? it looks like you were deploying the entire Zabbix infrastructure, do we still want to test out an entire infrastructure @D3DeFi I was hoping to test each piece independently now all tied together.

[2020-06-06 10:00] dj-wasabi commented on #16
@ericsysmin

With the Zabbix Agent I had 3 scenario's for Molecule:
* Just the agent, with latest version;
* Server + Web and agents, to make sure it can create the configuration fine in the Zabbix Server + web so monitoring works outofthebox;
* Just the agent, with previous version. Goal was to use the LTS Zabbix versions, so that these would always work. But had no time for it yet to implement i

[2020-06-06 11:23] ironbishop opened #70 "zabbix repository listed twice when a previous installation from package exists"
##### SUMMARY

During the Zabbix Agent installation on RedHat/Centos, the official package "zabbix-release-{{zabbix_agent_version}}-1.el{{distribution_version_...}}.noarch.rpm" is not used, instead two files are created.

These files conflict with an existing installation from package, because zabbix-non-supported is listed twice:
* zabbix.repo - lists both repos when created by rpm, and only one

[2020-06-06 14:17] D3DeFi commented on #34
ansible/ansible#64428 merged to the collection as #68

[2020-06-06 14:42] D3DeFi commented on #16
@ericsysmin I strongly advice against renaming anything from _vars/_ or _defaults/_ as this will create a lot of chaos (You've already pointed that out too).

I was wondering before if simply renaming roles from `zabbix-` to `zabbix_` wouldn't be a better approach and this further affirms the thought for me. Variables could match name of the role with this approach:

[code]

I also believe that mo

[2020-06-06 14:44] D3DeFi commented on #16
Judging from other comments too, I think that it is better for now to at least test each role separately than not at all :) We can always think of how to merge it together later.

[2020-06-06 14:45] D3DeFi commented on #44
@ericsysmin just to clarify, do you plan to implement this change for **plugins/modules** too or do you have only **roles/** in mind? I believe that @sky-joker addressed only **modules** with this issue.

[2020-06-06 15:08] D3DeFi commented on #22
We can give it a shot, hit me up on `d3defi@gmail.com` so we can arrange details :)

[2020-06-06 15:17] D3DeFi commented on #21
@dj-wasabi that is really valid point. Any other ideas? Maybe list contact addresses for each of us and let user decide whom to contact?

[2020-06-06 15:20] D3DeFi commented on #23
@gundalow I can now see that I forgot to tag you explicitly. Please make this happen. Thank you!

[2020-06-06 15:38] gundalow commented on #23
@dj-wasabi please accept to become a maintainer via https://github.com/ansible-collections/community.zabbix/invitations

It's great to see this community growing.

[2020-06-06 16:02] sky-joker commented on #44
That’s right :)
When I created this issue, I was only considering modules.

[2020-06-06 16:34] ericsysmin commented on #22
Sent.

[2020-06-06 16:46] sky-joker commented on #22
I'm sorry for leaving everything to you two. I appreciate it.

[2020-06-06 16:47] ericsysmin commented on #22
@sky-joker the meeting was for everyone so we can also be on the same page. I was going to leave it to D3Defi to schedule as this is both of your repo. I'm just contributing.

[2020-06-07 10:32] dj-wasabi commented on #16
@D3DeFi We could always remove in a later stage the `zabbix-|_` prefix. So maybe for now we should keep the `zabbix_` ones and rename the roles with a dash to an underscore. This would mean we see `zabbix` twice, but I think for now this is easier to go live with.

[2020-06-07 10:35] dj-wasabi commented on #21
@D3DeFi fine by me! Otherwise I have no other ideas.

[2020-06-08 14:26] gundalow commented on #21
FYI, I'm happy if you wish to use Ansible existing Code of Conduct https://docs.ansible.com/ansible/latest/community/code_of_conduct.html and email `codeofconduct@ansible.com`

Though I understand if you want something separate.

[2020-06-08 15:01] D3DeFi commented on #52
I will add this to the (prepared) contribution rules

[2020-06-09 16:02] apiening commented on #45
Since I'm a little bit under time pressure and I didn't want to deploy my zabbix agents manually (without ansible) I tried to setup a **zabbix agent version 5.0** with the role **zabbix-agent** from the **devel-roles-migration** branch. With just some minor modifications, it worked so far.

In case there are other impatient ones around, here is what I did:
1. I did a `git clone git@github.com:ansi

[2020-06-10 11:31] D3DeFi commented on #44
@sky-joker as role names have been decided (`zabbix_role`), we are not gonna rename modules. This issue can now be addressed - can you please work on it?

I agree that all examples should use FQCN.

[2020-06-10 13:01] pweibbre opened #75 "zabbix_action: media_type in operations does not choose the right one"
##### SUMMARY

Hi,
i have created a new mediatype named BMC_Notification.
within my playbook i have created a new action named "Send alerts to BMC".
i have chosen the existing media_type BMC_Notification in this task, but when it was running i can see always that the mediatype "Email" was set.

i asume that the lines in the module
[code]
returns a wrong id for the given media_type

In the Zabbix g

[2020-06-10 14:12] D3DeFi opened #77 "Document a way to migrate to collection from standalone roles and modules"
##### SUMMARY
`docs/MIGRATION.md` or something similar required for users to ease them a pain with transferring to the collection.

##### ISSUE TYPE
- Documentation Report

[2020-06-11 07:43] D3DeFi commented on #75
Thank you for reporting this @pweibbre . I will try to look at it as soon as I get the chance.

[2020-06-11 12:10] pweibbre commented on #75
Hi,
i have zabbix-server-mysql-4.4.5-1.el7.x86_64 installed.

i just took a look at the mediatypeid's at the server.
my with ansible created mediatypes has the id's 11 and 12.
The email mediatype has ID 6 and this is the lowest ID at my zabbix.
So i asume that always the lowest ID is taken when zabbix_action assign a mediatype to an operation.

If you need more information, don't hesitate to ask.

[2020-06-12 16:26] D3DeFi commented on #33
most of this was fixed by you @sky-joker in ansible/ansible#67693, thus we won't need to port neither ansible/ansible#68333 or ansible/ansible#64604 here.

I have some additional changes for mediatype in mind, so I will double check this and close the issue

[2020-06-12 16:31] D3DeFi opened #79 "mediatype now supports new webhook type since 4.4"
##### SUMMARY
Webhook since 4.4:
https://www.zabbix.com/documentation/4.4/manual/api/reference/mediatype/object

Message template since 5.0 (even tho it looks more like error in documentation - will take a closer look at this):
https://www.zabbix.com/documentation/current/manual/api/reference/mediatype/object

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/modules/zabbix_mediatype

[2020-06-15 07:15] Richie765 opened #83 "Support for zabbix-agent2"
##### SUMMARY
A new generation Zabbix Agent 2 was introduced in 4.4.

##### ISSUE TYPE
- Feature Idea

##### ADDITIONAL INFORMATION
I need it for monitoring Docker containers.
I'm guessing for now I'll install the agent2 manually.

See:

https://www.zabbix.com/documentation/current/manual/concepts/agent2
https://www.zabbix.com/integrations/docker

[2020-06-15 15:12] gundalow opened #84 "Release"
Hi,
I've *hopefully* made the correct updates to Zuul CI so Zuul will monitor for `git tag` and do the magic of build and publish a collection release to Galaxy.

Feel free to test this at your convenience, I believe you wanted to update the changelogs first?

Please shout out once you have, or if there are any problems.

[2020-06-15 15:34] gundalow commented on #84
Is your hope that this will be done this week?

[2020-06-15 16:18] D3DeFi commented on #84
I believe we are ready to release very soon.

Lemme open a PR for changelog first

[2020-06-15 16:18] #24 closed

[2020-06-15 16:37] D3DeFi commented on #83
Thanks for opening this issue @Richie765.

Correct me if I do not recall it correctly, but haven't you had something like this on your mind?

[2020-06-15 17:04] D3DeFi commented on #45
Sorry @apiening that it is taking us so long and thanks for posting this workaround. Just a minor correction - `devel-roles-migration` branch is no longer valid. All roles were merged to the `master` already and this collection will be very soon released as a `0.2.0`.

I believe that 5.0 support for zabbix_agent role is planned for a near future.

[2020-06-15 17:13] dj-wasabi commented on #45
Hi @apiening

I am currently working on getting the CI work with the Ansible roles. Once I have finished that, I will be working on getting the roles to work with Zabbix 5.0. So no worries, it will be coming. :)

Regards,
Werner

[2020-06-15 17:50] D3DeFi commented on #84
Done. @gundalow is it ok if I push v0.1.0 retro actively? Wouldn't Zuul try to release v0.1.0 again?

[2020-06-15 19:09] gundalow commented on #84
https://dashboard.zuul.ansible.com/t/ansible/builds?project=ansible-collections/community.zabbix
https://galaxy.ansible.com/community/zabbix

Need to sure galaxy.yml's version line is correct and committed to master.

[2020-06-15 19:26] D3DeFi commented on #84
I have mixed `0.2.0` with `v0.2.0` names. Hopefully, it will do the publish this time.

[2020-06-15 19:30] apiening commented on #45
Hi @D3DeFi  and @dj-wasabi,

thank you for the update: Can't wait for the release.

As soon as there's something ready to be testet I would like to give it a try. I expect that the vars might change or have a different prefix, but that should not be an issue.
Once we confirmed that the roles are working, we may provide a simple `upgrade.md` which points out what users have to do when they have use

[2020-06-15 19:52] D3DeFi commented on #84
Seems to be live :) Also failed for `0.1.0` and that is ok as I've pushed that one just to have it available in repo as well

Thank you @gundalow !

[2020-06-15 19:52] #84 closed

[2020-06-15 19:55] D3DeFi commented on #45
That is indeed planned in #77 and `0.2.0` should be now live :)

[2020-06-15 19:56] gundalow commented on #84
Woot, thanks for the quick test. Glad it worked.

[2020-06-16 08:38] D3DeFi commented on #83
forgot to tag @ericsysmin, my bad

[2020-06-16 09:57] miettal opened #88 "zabbix_web is failed"
##### SUMMARY

I'm a user of "dj-wasabi/ansible-zabbix-web".
today I tried to change dj-wasabi/ansible-zabbix-web to community.zabbix.
after that, this error was happen.

[code]

It seems simple syntax error of jinja template of apache virtual host config file.
Actually I read the file, It seems to be forget put {% endif %}.

https://github.com/ansible-collections/community.zabbix/blob/d7932ae8e92

[2020-06-16 12:59] D3DeFi commented on #75
@pweibbre can you please give #90 a try? :)

[2020-06-16 13:02] #44 closed

[2020-06-16 13:33] D3DeFi commented on #34
both ansible/ansible#64607 and ansible/ansible#64428 deprecated by ansible/ansible#67693 and #82

[2020-06-16 13:37] pweibbre commented on #75
Hi,
at least in line 854 a ':' at the end is missing:

            if LooseVersion(self._zbx_api_version) >= LooseVersion('4.0')

[2020-06-16 13:39] D3DeFi commented on #75
yes, my bad, and also I've introduced a bug for 5.0 at the same time since we don't have tests for zabbix_action yet :( I've already updated the code in the PR, please try again and sorry!

[2020-06-16 14:05] pweibbre commented on #75
Hi, tryed it again.
but i have the same result:
mediatype Email is choosen and not the excepted one :(

[2020-06-16 14:14] D3DeFi commented on #75
seems to be working for me :/ Just to be on the same page - which type is your mediatype 'BMC_Notification' (e.g. email, script, etc..) ?

[2020-06-16 14:22] D3DeFi commented on #34
@sky-joker I was looking at ansible/ansible#66860. In the first commit, the patch started as something different and actually introduced something, but after 11 commits later (that the patch consists of) the actual changes (logical) are quite minimal.

Basically this:
[code]

Versus this (exact same thing with additional comment, changed positions of if statements and version bump from 4.4.0 to 4.

[2020-06-16 14:49] D3DeFi commented on #75
I've so far tried with BMC_Notification being set to types Email and Script and my version of Zabbix is 4.4.9. Based on the changelogs from version 4.4.6 until 4.4.9 there was no specific fix addressing this on the Zabbix side.

Can you also please double check there is no load order in play? E.g. that you have patched the file that Ansible is using `ansible-playbook zabbix-action.yml -vvv`?

[2020-06-16 16:29] pweibbre commented on #75
I think you got it!
I have changed the name in my modules folder in playbook structure from zabbix_action.py to zabbix_action_2, changed the modulenames in playbook and rerun the stuff with --module-path=./modules ( what it did also before ).
in the middle of my experiments i had changed the name, but this was the old version. i renamed it back to the original name and did not mention that i had u

[2020-06-16 16:32] ironbishop opened #91 "Error -32500: Application error., Cannot update "groups" for a discovered host"
##### SUMMARY
When disabling a Zabbix host, the task fails if the host has been created by a discovery (`host.flags=4`).

The same issue occours for properties: tls_connect, tls_accept, groups, proxy_hostid.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://github.com/ansible-collections/community.zabbix/blob/705bf3da8f04ceb352906410dfeae03fefc83044/plugins/modules/zabbix_host.py#L1123

[2020-06-16 16:32] D3DeFi commented on #75
No problem, glad it works for you :)

[2020-06-17 10:20] rockaut commented on #91
Im getting the same error-code with an action update.
If I delete the update the play runs without a problem. On a subsequent run (without a change) it throws this message.

[code]

[2020-06-17 10:29] rockaut opened #92 "Error in zabbix_action"
##### SUMMARY
Error on zabbix_action if there's no change.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
[code]

##### ENVIRONMENT
Zabbix 5.0.1 (centos containers)

##### STEPS TO REPRODUCE
Running the play the first time creates the action. Subsequent runs are failing.

[code]

##### EXPECTED RESULTS
Subsequent runs shouldn't fail.

##### ACTUAL RESULTS

[2020-06-17 10:30] rockaut commented on #92
Problem seams to be around 2093 as the difference value isn't correct.
[code]

[2020-06-17 10:38] rockaut commented on #92
I think the problem is around the computation of the difference as it always gets this difference:

[code]

[2020-06-17 10:46] rockaut commented on #92
But it's weird as sometime it also gets the wrong action at all:

[code]

The action id "found" is 6 here which is "Report not supported items"... but it should be "AUTO - add Proxy Group - intra" with id 29.

[2020-06-17 11:01] rockaut commented on #92
Value of existing_action in check_difference:

[code]

Value of kwargs in check_difference

[code]

So the difference fields are empty in kwargs because the come through the function call. The solution should be to drop them if they are empty && missing in the current action too?

[2020-06-17 11:30] rockaut commented on #92
If I add a `if v==""` to compare_dictionaries all works as expected for me.
I currently only do auto_register actions so I can't state on more.

[code]

WDYT?

[2020-06-17 11:33] rockaut commented on #91
removed my comment as this was another issue (see #92 )

[2020-06-17 14:39] sky-joker commented on #34
Thank you @D3DeFi for looking at https://github.com/ansible/ansible/pull/66860.
hm…This is a tough one...

The Zabbix 4.4 will no longer be supported after July.
https://www.zabbix.com/life_cycle_and_release_policy

Because of that, I wonder we don’t need the support of a `zabbix_host` module.
However, I think Zabbix 4.4.1 should also be considered if `zabbix_host` will be supporting Zabbix 4.4.
B

[2020-06-18 11:45] D3DeFi commented on #34
I wanted to commit that, but I've just spotted another difference in the snippets above (comparison character):
`    if LooseVersion(self._zbx_api_version) <= LooseVersion('4.4.0'):`
vs:
`    if LooseVersion(self._zbx_api_version) < LooseVersion('4.4.1'):`

So I think that we already support 4.4.1 properly. Judging from the source code you have linked in the previous conversation [4.4.0](https://g

[2020-06-18 12:19] D3DeFi commented on #91
Thank you for reporting this @ironbishop. Seems that original module design assumed that few parameters would always be updated no matter what ([zabbix_host.py:L521](https://github.com/ansible-collections/community.zabbix/blob/master/plugins/modules/zabbix_host.py#L521) specifically).

Looking at the [host.update](https://www.zabbix.com/documentation/4.4/manual/api/reference/host/update) API docum

[2020-06-18 12:53] D3DeFi commented on #92
You have got it right @rockaut . I've noticed before that Zabbix developers deprecated these six API parameters without stating it in the API changes (`def_longdata, def_shortdata, r_longdata, r_shortdata, ack_longdata, ack_shortdata`), but I have thought that API silently ignores them. So much for still not having integration tests for the role.

The fix itself should deprecate all of the mention

[2020-06-18 13:21] rockaut commented on #92
Shure I would help out here - we transitioned to 5.0.1 and I'm having more in the hands coming in the next weeks.

Just to get that right:
A. The 6 fields are deprecated altogether so from >=5.0 not there anymore? If so I would say you're right that would be better to handle that more stricktly. That said how is the stance on dealing with such changes? Just dropping them in `_construct_parameters(

[2020-06-18 13:24] rockaut commented on #92
I checked it in the docs:

https://www.zabbix.com/documentation/4.4/manual/api/reference/action/object
https://www.zabbix.com/documentation/5.0/manual/api/reference/action/object

Those 6 fields are removed.

Gnn... As much as I like Zabbix, their API documentation is Changed.md is bad.

[2020-06-18 13:31] rockaut commented on #92
:D https://support.zabbix.com/browse/ZBX-17932

[2020-06-18 13:35] D3DeFi commented on #92
This one didn't help either :)
https://www.zabbix.com/documentation/current/manual/api/changes_5.0

Yes, A is right, those 6 parameters are not needed anymore. That means:
- State under each in `DOCUMENTATION` that they are no longer supported in 5.0+
- Create `LooseVersion` magic in `_construct_parameters()` method. e.g #90 for reference how (or grep for LooseVersion in other modules)
- B is obso

[2020-06-18 13:39] rockaut opened #93 "How will the releases of the collection will be executed?"
##### SUMMARY
One of the big upsides of the role/collection separation from the ansible-core is the possibility for the collections to be way more "agile" (yeah I don't like the word too but ...).

How do you plan to go along with this? Doing minor version bumps also on smaller issues every now and then or just going for the big ones slowly?

It would be cool if we maybe even could have a "nightly

[2020-06-18 13:45] D3DeFi commented on #92
Maybe better example here:
https://github.com/ansible-collections/community.zabbix/pull/82/files#diff-242ef08eb1342359ee78277227fbfc56R431-R447

[2020-06-18 13:53] D3DeFi commented on #93
Heh, #26

We unfortunately still haven't got to this one as there were so many changes required to properly put the collection on its legs and include roles as well. And there still are 😪

I think it is more probable that we will go with "Doing minor version bumps also on smaller issues every now and then", but keeping this open for now so it presses us harder to discuss this 😄

[2020-06-18 14:35] rockaut commented on #92
I haven't seen your example before I pushed the PR but I had a look into it. The mediatypes module has another layout/does things a little bit different than the action module. I more or less have done it just the action modules way as I otherwise would have to introduce some more changes and making the module structure inconsistent. Hope that's good anyways.

[2020-06-18 14:43] rockaut commented on #93
Nice. Sorry haven't seen #26.
I completely understand and support this.

[2020-06-18 14:46] rockaut commented on #77
That would be great but I think that is a whole lot of a task as there are so many issues with ansible-base and collections as such and pretty much like any collection I use/stumble across is having the same problems in this task.
So I think this won't go well until ansible-base hasn't stabilized it's collection implementation with 2.10 and 2.9 updates.

[2020-06-18 19:54] D3DeFi commented on #92
I haven't realized that my patch haven't made it through yet. What you did is completely fine. Thanks for the patch!

It is true that all of the modules could use some unification and refactoring

[2020-06-18 19:56] D3DeFi commented on #77
Indeed true, at this point it is more like providing a few steps for users to help with transition from:
`dj-wasabi/zabbix-$role -> community.zabbix.zabbix_$role` and `zabbix_module -> community.zabbix.zabbix_$module`. And I am a bit behind with this as we've already released 0.2.0

Everything else is just to unstable rn.

[2020-06-19 05:39] rockaut commented on #92
@D3DeFi Hm, how would you start that. I would like to help here out.
Would it be ok to open a new issue for smaller tasks, let's say, "Refactor and unify Zabbix API Version dependencies" and then provide an PR. Or would go go the big route and do a milestone/project thing?

[2020-06-19 07:08] sky-joker commented on #34
I don’t have a plan, so would you create this patch and PR if possible?
If you busy, I’ll start to work on this patch creation :)

[2020-06-19 08:06] #92 closed

[2020-06-19 09:46] D3DeFi commented on #92
Good question. I am starting to feel bad for always replaying with I don't know yet 😆

These modules were mostly on life support with bugfixes when we were part of ansible/ansible. Now that roles are part of this repo and we are gaining some traction, lots of similar questions need to be answered. I tried to think a bit about where to direct the repository, but time is a concern so my work mostly

[2020-06-19 10:08] rockaut opened #96 "Refactor Version dependencies in modules/plugins"
I open this issues in advance to #92 . I would like to do one first small thing and refactor the way modules checks or acts on version dependency. Imo it's a good first and easy thing to contribute - I will open a PR and label it WIP.

##### SUMMARY
For example, from zabbix_host:

[code]

while zabbix_action does it this way:

[code]

Also there one plugin just requests the version everytime or in

[2020-06-19 10:26] rockaut commented on #96
Also as answers the last comment there by @D3DeFi :

1. I think for contributors like me smaller refactors are also the way to go. It's easier to dip your toe in the code and get your head around how it works. Also I thinks it's the better way as a big overhaul would certainly introduce way more issues and problems as they might not get catched in tests at first place.

2. I personally don't like

[2020-06-19 10:28] rockaut commented on #96
Would it be possible to an additional Label or Issue Type? Discussion would be a great thing currently as the collection is getting "bootstrapped".

[2020-06-19 13:06] D3DeFi commented on #96
Label yes, issue types - I need to look if yes or no.

`ZabbixBase` - that was very distant and wild idea for me and only because I am seeing this pattern in other collections. For example [community.kubernetes/plugins/module_utils/common.py](https://github.com/ansible-collections/community.kubernetes/blob/master/plugins/module_utils/common.py). I haven't thought about it very much and I am aware

[2020-06-19 13:07] D3DeFi commented on #96
Back to the original question. If you are up for it, sure. Please iterate through the modules and ensure that `LooseVersion` is used consistently in each. Or have you had some other approach in mind?

[2020-06-19 13:13] D3DeFi commented on #96
Waaaaaaaaaay better example than k8s is grafana:
https://github.com/ansible-collections/community.grafana/blob/master/plugins/module_utils/base.py

[2020-06-19 13:21] D3DeFi commented on #34
No worries. I will try some cherry-pick magic to see if we can preserve original author contributions.

[2020-06-19 14:22] sky-joker commented on #96
Essentially, I think `ZabbixBase` is necessary from the point of view of what it should be.
The parts that are standardized in other Collections are realized in `ZabbixBase`.
(I've always wanted to make a `Base(common.py like)` if I could find the time, but…, Other Collections to which I contribute are also making a `Base`)
But we can't have a `ZabbixBase` right away, so I think it's better to sta

[2020-06-19 15:08] sky-joker opened #98 "About Future Module Documentation"
##### SUMMARY

Up until now, the module documentation was generated automatically in Ansible upstream, but I think we need to create it for each Collection in the future.

I found this tool.
https://github.com/ansible-network/collection_prep

The above tool is an automation build module document for collections.
However, I don't know if this tool will be used by default in Collections.

Do you hav

[2020-06-19 15:57] D3DeFi commented on #98
None :(

@gundallow sorry to bother you. Are there some additional official instructions since [this March post](https://groups.google.com/forum/#!topic/ansible-devel/oKqgCeYTs-M) that I've perhaps missed?

[2020-06-19 16:02] D3DeFi commented on #98
cc @gundalow . I've miss-spelled it the first time, not sure if notification was sent after edit

[2020-06-19 16:11] D3DeFi commented on #96
Definitively needs further discussion, but we have a lots of other things to worry about right now.

Lets go with minor changes first. Unifying version deps as @rockaut proposes is a promising way.

[2020-06-19 17:18] gundalow commented on #98
As `community.zabbix` will be included in ansible 2.10 we will build docs for it. This has taken a little longer than expected. Making sure that `ansible-test sanity` passes should be enough for us to know we can generate the docs.

[2020-06-19 17:18] gundalow commented on #98
TL;DR Nothing for you to do, but wait a little longer

[2020-06-19 18:21] sky-joker commented on #98
@gundalow

Is it correct to recognize that the Zabbix module documentation will be built with Sphinx as before by Ansible team?

[2020-06-21 15:21] #75 closed

[2020-06-22 07:07] rockaut opened #101 "Refactor zabbix_mediatype to match other modules"
##### SUMMARY
Currently zabbix_mediatype is structured around only functions while other modules use classes. This makes it hard to streamline the module - so at least a quick-and-dirty refactor to class usage would help.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_mediatype

##### ADDITIONAL INFORMATION
Just an follow up on my work on #97

[2020-06-22 08:48] rockaut commented on #101
I'm already working on this - PR inbound.

[2020-06-22 13:13] rockaut commented on #101
I see that there are so many changes incoming from other thing. I'll do the PR if it has stabilized later on.

[2020-06-22 13:47] rockaut opened #103 "Import Media type through xml"
##### SUMMARY
Since 5.0 media types might also get imported through a xml file. It would be great if we not only can process them with a typical ansible action but also through an property like we have in `template_xml`?
This would be great as most of the newer default zabbix mediatypes are provided out-of-the box through a git repo (https://git.zabbix.com/projects/ZBX/repos/zabbix/browse/template

[2020-06-22 13:48] rockaut commented on #103
Alternatively importing it through `zabbix_template` would also kind of work? Tried it but it didn't work with current implementation.

[2020-06-22 15:18] D3DeFi commented on #101
sorry about that and thank you for this ideas and their implementation. Hopefully @sky-joker can look at the #82 soon so you can continue with this work

[2020-06-22 15:21] D3DeFi commented on #103
Means something like `state: import` to `zabbix_mediatype`?

[2020-06-22 15:24] D3DeFi commented on #103
We've unfortunately failed to merge more generic module ansible/ansible#43311 into the upstream Ansible when we had a chance.

I wanted to modify and merge that PR here (initiative in #34), but something along time.. and other priorities... came to my way :/

Fortunate part is that source branch of that PR still exists so I should be able to cherry-pick them. Do you think something like that could

[2020-06-22 15:30] D3DeFi commented on #35
This was fixed somewhere at some point and as discussed [this comment](https://github.com/ansible-collections/community.zabbix/issues/34#issuecomment-645963990) it should no longer be a problem.

[2020-06-22 15:30] #35 closed

[2020-06-22 15:54] rockaut commented on #103
Ad. https://github.com/ansible/ansible/pull/43311 I don't think that would be a good approach. I would guess the more Zabbix gives the possibilities to import from file the more they will split it in the frontend too. Imo having this in their own actions like you said with `state: import` would fit way better and also might make it more maintainable over time.

Here it would again help if there wo

[2020-06-22 16:05] rockaut opened #104 "[enhancement][module] Implementing some module_utils for refactoring/centralizing things"
##### SUMMARY
We've talked about this now quite often in other issues so I thought an issue might help to get it centralized or linked better.
It may be a benefit to have some centralized and reusable code to the the modules more streamlined and maybe even ease the maintainability of the code overall.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
all modules

##### ADDITIONAL INFORMATION

[2020-06-22 16:07] rockaut commented on #101
Nothing to worry and no stress. It was my fault to not have a better look at the open issues.
Will just rebase and redo after merge.

[2020-06-22 16:45] rockaut commented on #104
Also this way one could create his own collection copy over one or more modules or module_utils and "redirect" things through altering `import` statements and with proper FQCN usage. With this, quick-fixes for specialized environments or bugs are good manageable even in enterprise environments - heck, one could even use multiple versions at one if wanted.

Thought this might then be even worth doc

[2020-06-22 18:52] rockaut commented on #104
Pushed to my fork under https://github.com/rockaut/community.zabbix/tree/refactor_test
Somewhat useless for now but should be a starting point.

For example, changing in zabbix_action.py:

[code]

[2020-06-23 06:58] D3DeFi commented on #104
looks good to me and can be easily extended

Small steps at a time I would say :)

[2020-06-23 07:50] D3DeFi commented on #91
@ironbishop I must be doing something wrong. I've now tried to setup both network discovery and auto registration, but every time my hosts tab gets populated by a new host I can edit it just fine and the `host.flags` is set to `0` every time. Can you maybe provide more details regarding the discovery process you use?

I am for now working on a fix blinded :)

[2020-06-23 12:26] lupupitkanen opened #108 "zabbix_proxy role: Allow using remote dbhost without delegation"
##### SUMMARY

At the moment delegation is always assumed, if zabbix_proxy_dbhost is not localhost.

[code]

In our case, the remote MySQL server is only accessible from the actual zabbix proxy host, not from the Ansible control host. Therefore forced delegation means we are not able to use the role.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

roles/zabbix_proxy

##### ADDITIONAL INFOR

[2020-06-23 13:07] lupupitkanen opened #109 "zabbix_proxy role: zabbix_proxy_tls_config default not mapped from config to API"
##### SUMMARY

Default value of the zabbix_proxy_tls_config variable does not map to zabbix_proxy config file.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

roles/zabbix_proxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS 7

##### STEPS TO REPRODUCE

Ansible module zabbix_proxy allows the following values for tls_accept and tls_connect paramter

[2020-06-23 13:13] ironbishop commented on #91
The other one, that is: the Low Level Discovery (LLD). https://www.zabbix.com/documentation/current/manual/discovery/low_level_discovery

In LLD, for example in "Template VM VMware" distributed with the official Zabbix release, you create each discovered host. They are called "Host prototype". In this type of host almost all fields are read-only, see the screenshot:

![image](https://user-images.g

[2020-06-23 13:24] rockaut commented on #91
May I recap please? You are discovering hosts through VMware LLD which then are read-only?
That is per definition the case, so until here all is right.

You now want to disable them (which is possible) with ansible and here it fails? Yes that would be improvement on the ansible module side as it should only update fields it really needs.

But here's my BUT: even if you may disable them with ansibl

[2020-06-23 15:07] rockaut commented on #109
Sorry if i overlooked it but which Zabbix Version do you use?

[2020-06-23 15:14] rockaut commented on #109
Maybe also allow the zabbix_proxy.cfg values in the modules directly and just map them to the api keys in `zabbix_proxy.py:402`
https://github.com/ansible-collections/community.zabbix/blob/dc584280b71bedf542cc487a2ea5e310f6b0a7cd/plugins/modules/zabbix_proxy.py#L402

This way @dj-wasabi wouldn't need the hackery?

[2020-06-23 15:14] ironbishop commented on #91
When I manually disable them, the LLD will not enable them because "Create Enabled" is different from "Enabled".

"Create Enabled" sets the state only for new objects.

The new "Override" feature in Zabbix 5 is a different thing.

[2020-06-23 15:18] rockaut commented on #91
Of course you're right, sorry.

[2020-06-23 15:28] rockaut commented on #91
@D3DeFi I dont think that will work at all if I get it right.

https://www.zabbix.com/documentation/current/manual/api/reference/host/update is stating

So if the module isn't including the groups they will get removed. As I see it, this would be more of an issue for Zabbix themselves?

[2020-06-23 18:39] D3DeFi commented on #91
Yup, exactly this. I was looking at this today for almost an hour and couldn't do any reasonable change for it. I had urge to start writing the module anew.

I think we can implement some ugly hacky way for now that will check if user provided {groups,tls_*,proxy,etc} match those parameters on the existing host. If yes, they wont be passed to `zbx.update`

[2020-06-23 22:42] lupupitkanen commented on #109
Good thought, but I'm not sure about it. Zabbix have chosen different keys for config and API for some reason. Maybe it would be best to keep the module tied to the API to avoid confusion.

I like the mapping in zabbix_proxy_tls_config, the default just contains bug in not using the correct config file keys.

My workaround was always specifying zabbix_proxy_tlsconnect and zabbix_proxy_tlsaccept in

[2020-06-24 05:26] rockaut commented on #109
On the one hand you're right, with the correct keys.
On the other hand, in the module/api there aren't those keys at all because they get translated to INT (1, 2, 4) values by the modules as those are needed by the api. I suppose the given string representations where chosen because auf the API documentation back then.

Currently:

[code]

fix:

[code]

[2020-06-24 05:30] rockaut commented on #91
What about just passing the module object to the functions additionally? So you could check it in the function, while also keeping the basic structure for now.

[2020-06-24 07:33] #96 closed

[2020-06-24 07:53] D3DeFi commented on #109
@dj-wasabi what is your opinion on this?

We've always tied modules to the API and not to the other components of the Zabbix in the past. Sometimes, even keeping up with the API changes is too much, because they started to not document them for some reason :)

The way I see it for now is, that changing default for the proxy role is more consistent change right now.

[2020-06-25 13:46] #33 closed

[2020-06-25 13:46] #79 closed

[2020-06-25 14:54] sky-joker opened #112 "A zabbix_service module has no idempotency with Zabbix 5.0"
##### SUMMARY

The `changed` occur when executing the task of creating a new service twice.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

modules/zabbix_service.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

* Zabbix Version 5.0

##### STEPS TO REPRODUCE

Execute the following playbook twice.

[code]

##### EXPECTED RESULTS

No `ch

[2020-06-25 21:28] richlv opened #114 "Inconsistent macro support in zabbix_host and zabbix_hostmacro"
##### SUMMARY
Macro support between zabbix_host and zabbix_hostmacro is inconsistent, including a bug in zabbix_host and missing features in zabbix_hostmacro.
Listing these in a single issue, please let me know if they should be split out.

a) zabbix_host unconditionally uppercases all macro names, breaking macro context - zabbix_hostmacro has additional handling for macro context.
b) zabbix_host

[2020-06-25 21:31] richlv commented on #114
No clue whether modules can reuse code - like macro name validation and mangling here. Perhaps that is easier to maintain longterm, compared to duplicate code in each module.

[2020-06-26 07:17] D3DeFi commented on #114
Hi @richlv and thank you for the issue.

I recall thinking about zabbix_hostmacro when I was updating zabbix_host module, but somehow forgot to both at least open an issue or make a fix for it.

As for the code reuse, we've already started doing some small steps towards it (see #107). Maybe fix for user macros won't be implemented that way right now, but will surely be reworked such in the future.

[2020-06-26 07:19] D3DeFi commented on #114
Btw, since you are probably using secret user macros, does it make sense to you have are they handled in `zabbix_host` module? API is not returning `value` for the macro so we have no way of knowing whether user has updated it. There were two possibilities from my point of view at the time:
- always update macros of type secret - no idempotency
- ask user to update something else (description) alo

[2020-06-26 10:58] richlv commented on #114
Hi, thank you for the response and all the great improvements.
Sorry, not using secret macros yet - still on Zabbix 4.0.
While updating the description is hackish, treating anything with a secret macro as always changed does not seem good either.
Keeping the current behaviour seems like the best approach, until/unless somebody comes up with a better idea.

[2020-06-28 15:27] #112 closed

[2020-06-29 15:23] sky-joker commented on #52
FYI
I found this tool.

https://github.com/ansible-community/antsibull-changelog

It's unclear if Collections uses this tool as a standard.

[2020-06-29 15:33] D3DeFi commented on #52
@gundalow will we be *advised* to use this in the future?

[2020-06-29 15:35] D3DeFi commented on #104
Do we keep this open since #107 has been merged already. Will you link followup PRs to this one as well?

[2020-06-29 16:21] gundalow commented on #52
If you add fragments then the above script will do the rest for you. We are using this in community.general, community.network and someothet repos.
No requirement for you to use it, though I'd hope it would make your life easier, ie no need to to have changelog.rst being on continual merge conflict.

[2020-06-29 17:12] D3DeFi commented on #52
Sounds good. Reopening this

[2020-06-29 18:00] gundalow commented on #52
Just to give a bit more detail around this. My definition collections are separate and free to do things differently to gh/ansible/ansible.

That said, I don't expect every single collection owner to have to setup their own GitHub workflow, CI, documentation, changelog, etc, etc. So we (the Ansible Community team + wider Ansible community) are building and documenting one way of doing things that

[2020-06-29 18:11] gundalow commented on #26
Regarding versioning, for larger collections, we are doing https://github.com/ansible-collections/community.general/issues/582

Though please also have a read of
* [Sanity tests for removed_in_version and deprecated_aliases](https://github.com/ansible-collections/overview/issues/45#issuecomment-628262697)
* [Deprecations in collections](https://github.com/ansible-collections/overview/issues/45#iss

[2020-06-29 19:30] rockaut commented on #104
Please keep it open for now until we have added the basic function we like to add.
Also I think it might work as a gatekeeper issue to link the other refactors coming.

[2020-06-30 15:52] sky-joker commented on #52
Thank you @gundalow :)
I'll take the information you've given me as a guide.

[2020-06-30 19:45] gundalow opened #118 "test zabbix_maintenance unstable"
##### SUMMARY
The tests/integration/targets/test_zabbix_maintenance test sometimes fails, so has been marked disabled by updating
`tests/integration/targets/test_zabbix_maintenance/aliases` in https://github.com/ansible-collections/community.zabbix/pull/110

##### ISSUE TYPE
- Bug Report

[2020-07-01 14:48] sky-joker commented on #26
Thank you @gundalow :)
I'll take the information you've given us as a guide.

[2020-07-01 15:13] sky-joker commented on #26
Literature that might be helpful

* https://semver.org/

[2020-07-02 10:42] raph-topo commented on #45
Hello,
Are there updates on Zabbix 5.0 support? Do you need help on this?

I did not manage to reproduce @apiening's workaround with 0.2.0.
From what I debugged so far, the `community.zabbix.zabbix_agent` role seems to ignore `zabbix_agent_version`.

[2020-07-02 19:23] apiening commented on #45
Hi @raph-topo,

I have cloned your fork and replaced my own modified version with it and gave it a try.
The role that needs to be imported is named **zabbix_agent** now, instead of **zabbix-agent** like in my example which was based on an outdated branch (please notice the underscore).
Other than that, it worked for me!

Here is the complete playbook I used to do the test:
[code]

If this works fo

[2020-07-02 19:32] apiening commented on #45
@raph-topo I should have mentioned, that the following vars are still required to execute the playbook from my previous post successfully. I've put these variables in a **host_vars**-file:
[code]

[2020-07-03 00:46] raph-topo commented on #45
Thanks for your help, @apiening!
I figured out why it did not work… Ansible variable precedence. Now that I moved these variables to `group_vars` (could also be `host_vars` indeed), it runs fine, which allowed me to proceed with #121
Actually,
[code]
are enough I believe.

[2020-07-03 06:09] dj-wasabi commented on #45
I think the playbook can be much smaller if you would go for this:

Playbook.yml
[code]

group_vars (or host_vars):
[code]
Now the Ansible Zabbix Agent role will make sure the host is created via the API.

[2020-07-03 08:38] miettal commented on #88
In this commit, {% endif %} was missing.
https://github.com/dj-wasabi/ansible-zabbix-web/commit/a7e8c7bbbe63c2e417b25599f096bc0b2f2189b0#diff-14ed0a8aa635a0dcf1977b17dcd11112R139

[2020-07-04 08:54] sky-joker commented on #26
Regarding the Zabbix Collection versioning that how about something like following?

The Zabbix version format must be strictly X.Y.Z

The X is a major version.
For example, if added a new module or role or plugin(and so on) to this collection or removed modules or roles or plugins(and so on) from this collection we should up version of X.

The Y is a minor version.
For example, if applied a patch

[2020-07-04 16:28] D3DeFi commented on #91
sorry for the late answer, this is not good as you will have trouble recognizing situations where user wants to remove something. Groups will work like this:
[code]

as the default for `host_groups` is `None`, you can easily recognize it from `[]` and this will not remove user's possibility to wipe out groups:

[code]

The trickier ones are parameters that have default values. For example, if user

[2020-07-05 12:36] D3DeFi commented on #26
I am not sure if I remember this correctly, but I've seen in some resource/comment from (possibly) @gundalow, that Ansible releases will be tied to collection releases? It went something like this:

ansible 2.10 -> collection 1.x.x
ansible 2.11 -> collection 2.x.x
and so on

So we would probably need to be conservative with releasing major versions (X). But it is possible that I am totally off

An

[2020-07-05 13:43] gundalow commented on #26
@D3DeFi if there is a t anything covered by https://github.com/ansible-collections/community.zabbix/issues/26#issuecomment-651278516 please shout out

[2020-07-06 07:06] ironbishop commented on #91
Wait. There should not be a default at all, and it cannot be empty, because at least 1 group is mandatory for all hosts in Zabbix.

If the user omits a parameter, you just don't pass it! The API states: "_The hostid property must be defined for each host, all other properties are optional._"

* If I don't pass "groups", I expect the module not to mess with groups.
* If I pass a single group, I exp

[2020-07-06 09:46] D3DeFi commented on #91
Yes, but my previous comment was not related to the issue rather than to @rockaut ‘s last comment.

You however need a default values for situation when a host is created for the first time. We try to keep those values same as the API describes. If you don’t pass tls_connect to the API it will still set ‘no encryption’ for the host. Might as well be set explicitly by the module as well.

As for th

[2020-07-06 10:18] ironbishop commented on #91
Uh? Oh, the module should "Create/update/delete Zabbix hosts", even if it's 3 different API calls.

Could it exit with failure, if the mandatory arguments are not present?

There are modules with "conditional-mandatory" arguments, like in "vmware_guest", parameter "domainadmin" is only mandatory with "joindomain" (first example that came to mind).

From the docs, looks like 1.8 was like that. Was

[2020-07-06 10:57] itJunky opened #124 "community.zabbix was NOT installed successfully: - sorry, community.zabbix was not found on https://galaxy.ansible.com."
##### SUMMARY
Trying to get role from ansible-galaxy, but have error:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
installation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Ubuntu 19.04 where run ansible-playbook
Astra Linux SE 1.5 (Smolensk) is a target for playbook

##### STEPS TO REPRODUCE

Just run  `ansible-galaxy collec

[2020-07-06 12:23] ironbishop commented on #70
Also, files are expected to contain proxy credentials, but `mode` parameter is not set, leaving them readably by all.

[code]

[2020-07-06 12:26] ironbishop opened #125 "zabbix_agent: yum proxy environment can't be set with `apply`"
##### SUMMARY
Variable `zabbix_http_proxy` is not cleared from repo file after role execution, possibly leaving credentials in a cleartext file.

Also, you don't need to configure the proxy in repo file, because yum/dnf will happily read proxy enviornment variables and use them.

Also, the module overwrites the environment with this variable, making it impossible to properly pass the environment u

[2020-07-06 12:33] ironbishop commented on #125
Workaround as handler:

[code]

[2020-07-06 13:20] sky-joker commented on #124
Hi @itJunky

The full support of Collections is since Ansible 2.9.
Can you please version up from 2.7.8 to 2.9 or more and try it again?

https://www.ansible.com/blog/getting-started-with-ansible-collections

[2020-07-08 15:14] gundalow commented on #124
Don't think this would help this, though adding `meta/runtime.yml` into the repo would be good
[code]

[2020-07-09 06:46] rockaut opened #126 "Implement a connection dictionary on modules"
##### SUMMARY
Currently we need to write the common connection `server_url, login_user, login_password` on each tasks in plays. That's repeating. The AVI modules for example has a neat feature for this [see Ansible Docs](https://docs.ansible.com/ansible/latest/modules/avi_network_module.html#parameter-avi_credentials) / [github avi modules](https://github.com/ansible/ansible/tree/stable-2.9/lib/an

[2020-07-09 09:56] tcraxs commented on #126
I like your approach and like to see the PR.
Another option could be using the [playbook module_defaults](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html) instead of rewriting the same thing in every task. I also saw this the first time a few week ago, but helped me out for example in the integration tests (see [here](https://github.com/ansible-collections/communi

[2020-07-09 10:05] rockaut commented on #126
@tcraxs didn't know this either thank you. But imo the additional parameter might still work.
module_defaults have to be set in each play as I read it. With the new parameter one can initialize/set it in the inventory.

[2020-07-09 10:18] rockaut commented on #126
Thinking about it, with the new parameter you can also work on multiple zabbix instances at once.

[2020-07-09 15:45] D3DeFi commented on #126
I’ve already seen this in f5 modules and I think there is no harm in implementing it. With the ZabbixBase it should even be elegant and not require any hackish solutions.

We, however, need to support old way
for some time too before deprecating it in favor of zabbix_credentials.

[2020-07-10 09:04] rockaut commented on #126
You know what ... screw this for now! I tried to wrap my head around how we can make this failsafe from a user perspective and I cant get it working.

With basic ansible you can't define the required parameters detailed enough and the required_* arguments for AnsibleModule aren't able do recursively define requirements. Also with the current refactoring of all modules I feel it has potential to ge

[2020-07-10 09:04] #126 closed

[2020-07-11 19:18] stefanux commented on #88
#128 is fixing this.

[2020-07-11 20:18] dj-wasabi commented on #88
Will close this issue as PR is merged, thanks! 👍

[2020-07-11 20:18] #88 closed

[2020-07-12 20:34] richlv commented on #114
Would a copy-paste of the context handling from the macro module to the host module be acceptable for now?
I could try a crude pull request if so.

[2020-07-14 15:35] D3DeFi commented on #114
It should be for now. I am sorry for late replies and no implementation yet, haven't had that much time lately

[2020-07-14 16:10] sky-joker opened #130 "Regarding flake8 syntax checking test"
##### SUMMARY

In the current CI have problems with it can't detection of unused variable and imported library.
So, I'm working on a new test with flake8 and tox.
After tests with flake8, I found unused variables and library in some modules and module_utils.
If I will PR do you think it would be better to split the branches like CI refactoring before? (ex: devel_tox_flake8)

##### ISSUE TYPE

- Fe

[2020-07-14 22:38] possebon opened #132 "When using zabbix_win_install_dir with spaces, the task of register service fails"
##### SUMMARY

Installing the Zabbix Agent on Windows server works fine if you use the pre-configured variable of zabbix_win_install_dir that points to C:\Zabbix.

If you decide to use a folder path with space, like C:\Program Files\Zabbix Agent, the task of registering service will fail.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_agent role

##### ANSIBLE VERSION

[code]

##### C

[2020-07-18 00:52] possebon commented on #132
I have fixed this with a simple change on win_cmd. I'll submit a PR for that.

[2020-07-18 14:24] D3DeFi commented on #130
Thank you for looking into this

[2020-07-18 15:32] sky-joker commented on #130
Thank you @D3DeFi for looking at this issue.
I’m going to create a new PR for this issue :)

[2020-07-18 15:39] possebon opened #134 "The actual roles just consider that will install the components but it's not possible to uninstall/remove the components"
##### SUMMARY

When I had some issues installing the Zabbix Agent using the role, I looked at how to revert all actions made by the playbook and could not find any way to do it.
Since I'm installing the Zabbix Agent on a new environment, before installing it on all hosts, I do some tests on specific hosts to ensure that it will work as expected. During my tests, it's sometimes interesting (or even

[2020-07-18 15:52] dj-wasabi commented on #134
Hi @possebon

What kind of components do you want to uninstall? For the agent there is at least the `zabbix_agent_package_state` which can be set to `absent` and there is also a `zabbix_server_package_state` with setting it to `absent` will remove the package. But it is only the rpm/deb package. So very curious what other things you would have seen.

[2020-07-19 14:45] possebon commented on #134
Hi @dj-wasabi

Probably I choose the term component incorrectly.

My first need is about uninstalling the Zabbix Agent on hosts, and to uninstalling I mean, in Windows for instance, stop the Zabbix Agent service, delete the Zabbix Agent service, remove the zabbix-agent folder.

I saw the `zabbix_agent_package_state ` too and I understood that it will remove the package on Linux, but it's not clear

[2020-07-19 20:34] rockaut commented on #104
- [ ] zabbix_action
- [ ] **zabbix_discovery_rule**
- [x] zabbix_group
- [x] zabbix_group_info
- [ ] zabbix_host
- [ ] zabbix_host_events_info
- [ ] zabbix_host_info
- [ ] zabbix_hostmacro
- [ ] zabbix_maintenance
- [ ] zabbix_map
- [ ] zabbix_mediatype
- [ ] _zabbix_proxy_
- [ ] _zabbix_screen_
- [ ] _zabbix_service_
- [ ] _zabbix_template_
- [ ] _zabbix_template_info_
- [ ] _zabbix_user_
- [ ] _

[2020-07-20 06:45] dj-wasabi commented on #134
Hi @possebon

Ok, clear. Yes, Windows is best effort for me as I don't have any machines running Windows to test it. So if you can provide a PR for that, then I don't see any reasons to not merge it.

But yes, `zabbix_agent_package_state` setting this to `absent` will make sure at least the package is removed from the host. But maybe some other files needs to be removed as well, to make sure it is

[2020-07-21 17:58] possebon opened #144 "When using the zabbix_agent_firewalld_enable: true zabbix_agent_firewall_enable: true check if the service exists to execute the task"
##### SUMMARY

First, I have to say that I am registering as a feature idea and not as a bug because I understand that the issue may be directly related to how the host inventory is created.

When I set the `zabbix_agent_firewalld_enable: true` and `zabbix_agent_firewall_enable: true` and I use the playbook to install the zabbix-agent with a host group on Ansible to different versions os Linux or

[2020-07-22 17:23] #130 closed

[2020-07-22 19:31] richlv commented on #114
No worries and thank you for all the great modules and help :)
I've submitted a crude pull request which only deals with macro context. Kept normalize_macro_name() as-is from zabbix_hostmacro, might be a tiny bit easier to merge later.

[2020-07-23 01:43] sky-joker commented on #98
The Zabbix modules documentation is now available on the following page.

http://docs.testing.ansible.com/ansible/2.10/collections/community/zabbix/index.html#plugins-in-community-zabbix

[2020-07-23 01:43] #98 closed

[2020-07-24 11:47] b2ronn commented on #45
for zabbix-proxy5 with sqlite3 db on Centos 8
in collections/ansible_collections/community/zabbix/roles/zabbix_proxy/tasks/RedHat.yml
`    datafiles_path: "/usr/share/doc/zabbix-proxy-{{ zabbix_proxy_database }}-{{ zabbix_version }}*"`
but on the host I see it on a different path
`/usr/share/doc/zabbix-proxy-sqlite3/schema.sql.gz`

i've added in collections/ansible_collections/community/zabbix/rol

[2020-07-25 13:59] dj-wasabi commented on #45
Hi @b2ronn

Thank you, I will add it to my PR. 👍

Have some issues with PHP on a CentOS 8..  So hopefully I am able to get the PR merged this weekend..

[2020-07-26 07:57] D3DeFi opened #148 "Release 0.3.0"
- update docs/PUBLISHING_ON_GALAXY.md as it is obsolete
- update README.md [ansible-collections/overview#45](https://github.com/ansible-collections/overview/issues/45#issuecomment-663181420)
- update CHANGELOG.md
- tag & push

[2020-07-26 10:05] b2ronn commented on #45
on the existing host, I had no problems with selinux, but on the new host there is an error
[code]
need in the collections/ansible_collections/community/zabbix/roles/zabbix_proxy/tasks/RedHat.yml in the task - name: "RedHat | Install related SELinux package to fix issues on RHEL8" to add
[code]

[2020-07-26 10:19] dj-wasabi commented on #45
Hi @b2ronn

Have created a new pr: https://github.com/ansible-collections/community.zabbix/pull/149
Did you had to make any other additional changes? Then I'll add them too.

[2020-07-26 15:00] D3DeFi commented on #124
how would this affect roles @gundalow ?

@dj-wasabi do you have specific version you are trying to support for the ansible?

[2020-07-26 15:19] dj-wasabi commented on #124
With the specific `meta/main.yml` files in each role, there is also a version configured. Do we need to remove that (directory) - or update it - so it matches the minimum of 2.9.10? I tested the roles with 2.9.11.

[2020-07-26 15:30] D3DeFi commented on #124
Thanks for pointing that out. I am not sure if that file is taken into account anymore since these roles are no longer standalone and come as a part of collection. Collections were not properly supported prior 2.9.10 and users with older ansible versions won't be able to install it.

However, that doesn't mean that manually downloading the role and running it on lets say 2.7 wont work.

So only di

[2020-07-26 17:11] #132 closed

[2020-07-27 11:04] rockaut commented on #104
- [ ] zabbix_action
- [ ] **zabbix_discovery_rule**
- [x] ~~zabbix_group~~ see #123
- [x] ~~zabbix_group_info~~ see #123
- [ ] zabbix_host
- [ ] zabbix_host_events_info
- [ ] zabbix_host_info
- [ ] zabbix_hostmacro
- [ ] _zabbix_maintenance_ see #155
- [ ] _zabbix_map_ see #154
- [ ] _zabbix_mediatype_ see #153
- [x] zabbix_proxy see #143
- [ ] _zabbix_screen_ see #142
- [x] zabbix_service see #14

[2020-07-27 14:38] rockaut opened #161 "Implement Ansible Connection for connection handling"
##### SUMMARY
Since Ansible 2.6, HttpApi and Connection is the preferred way for calling http/api endpoints. Other collections like splunk have adopted this already in a clean way.

This will also "fix" the problem with opening new zabbix sessions on each executed tasks instead of one persistent session for a play. This behavior is causing some troubles with huge inventories/changes for me.

NOTE:

[2020-07-27 15:53] floschmied opened #162 "GPG key for Debian/Ubuntu for Zabbix 5.0 is missing"
##### SUMMARY

Can't install Zabbix Agent version 5.0 on Ubuntu 20.04.
GPG key is missing for zabbix repo 5.0 in roles/zabbix_agent/vars/zabbix.yml

sign_keys start with 44 and not with 50.

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT / Zabbix Version

target OS: Ubuntu 20.04
target zabbix: 5.0

##### STEPS TO REPRODUCE

[code]

[2020-07-27 19:21] D3DeFi commented on #162
Hi @floschmied . I believe this was fixed quite recently in #131 and will be released in the upcoming days as a 0.3.0.

Can you please try and confirm that the patch introduced in #131 works for you?

[2020-07-27 20:11] #148 closed

[2020-07-28 06:43] floschmied commented on #162
Hi @D3DeFi ,

[2020-07-28 15:44] D3DeFi commented on #162
Yeah, master is not used for publishing collection to Galaxy.

Glad it works for you! :)

[2020-07-28 15:44] #162 closed

[2020-07-28 20:49] stephankn commented on #45
@dj-wasabi why did you add this if-block?
https://github.com/ansible-collections/community.zabbix/commit/1ca0fe096e85b5de1edd68a3adddc726abfac61a#diff-44c8f6076009a75ecda31b820dd0e182R62

I tried to set up zabbix_web on Ubuntu 20.04 and it lacks the required php settings. Changing the two lines mentioned above to include version 5.0 includes the php settings and resolves the front-end error.

[2020-07-29 07:06] dj-wasabi commented on #45
Hi @stephankn

It seems that Zabbix is very inconsistent with certain things, this would be another one. Will try to check this weekend. Thank you for making a comment. 👍

[2020-07-29 07:37] rockaut opened #163 "[Discussion] Should be Python 2.7 abondoned?"
##### SUMMARY
Currently there are tests against <=2.7 and most of the code is also handled to be compatible. But imo it get's harder and somewhat limiting. So, as 2 is officially dead and other collections also already dumped it, should it be graved here too, maybe with 1.0 for 2.10? IDK but I don't think it's necessary for ansible as such.

To be clear, I don't mean to rewrite all to only fit Pyt

[2020-07-29 08:01] b2ronn commented on #45
сouple of questions about the default variables
1.  why do you have different `zabbix_repo_yum `in different roles?
     the zabbix agent has a `priority: 1` ,but not in other roles,
     and if I install the Zabbix agent and the Zabbix proxy on the same host, every time the repository files are overwritten.
2. is it possible to add `zabbix_repo_yum_schema: http`?
[code]
because in one envirement

[2020-07-29 08:02] dj-wasabi commented on #163
I personally think we should follow Ansible with this. If they still support 2.x, we should do that as well until they decide to stop supporting it with release x.x. Otherwise I am all up for dropping support for 2.x.

[2020-07-29 08:06] dj-wasabi commented on #45
Hi @b2ronn

1) I think because when I started it with them in the "version 1.0.0" of my roles back then they were all the same, but eventually the agent grew apart as there were more people creating PR for the agent and thus also making changes to that syntax.

2) Sure, why not. Do you want to create a PR or shall I do that with the other suggestions in this issue somewhere this weekend?

[2020-07-29 08:11] b2ronn commented on #45
@dj-wasabi . please do you.

[2020-07-29 08:12] dj-wasabi commented on #144
Hi @possebon

Sorry for late reply, but there are 2 variables that currently is set to `False`:

* `zabbix_agent_firewall_enable`
* `zabbix_agent_firewalld_enable`

The first one is specific for `iptables`, the 2nd one is for `firewalld`. It is not automatic, but you can configure it per host differently by setting one to `True`.

Does this hat help? Or you look to see it more in an automatic way?

[2020-07-29 08:40] rockaut commented on #163
I get your thinking and totally accept it ... but ;-) if not the collections starting to abandon a outdated and security-related-problem the "mothership" will not follow suit or at least will have it harder to do it.

[2020-07-29 12:38] sky-joker commented on #163
I'd like to confirm the advice of @gundalow.
Does Collection need to support the same python version as Ansible?

[2020-07-29 13:42] D3DeFi commented on #163
I would like to work with f strings and wallruses :( But I believe that we need to follow ansible in this since we will be included in the releases

[2020-07-29 14:39] b2ronn commented on #45
I've created a new PR for my last comment, because in addition to those changes, I added keys that are not in the templates.
https://github.com/ansible-collections/community.zabbix/pull/164

[2020-07-30 11:15] stephankn opened #165 "Zabbix 5.0 requires different config setting for extended range of numeric values"
##### SUMMARY

Zabbix 5.0 changed numeric precision. See:
https://www.zabbix.com/documentation/current/manual/installation/upgrade_notes_500

New databases (e.g. created by zabbix_server) have this already. So it needs to include the setting in the web frontend config as well:

[code]

This setting should only be made when creating new database with correct setup (Zabbix 5 and up and db creation).

[2020-07-30 11:38] dj-wasabi commented on #165
Hi @stephankn

If a PR is made, are you able to test this one before merging? Because to me it seems like a basic change to hat needs to be applied to the mentioned template.

Kind regards,
Werner

[2020-07-30 11:55] stephankn commented on #165
Yes, I think I can test this.

I wonder what is the conditions under which we need to add this to the front-end. We have to be careful to not break idempotency.

Also how to handle upgrades? In these situations you have an old DB and zabbix_server might upgrade packages, but the DB needs to be manually patched.

So in situations in which the role created the database we know that the database stru

[2020-07-30 14:11] dj-wasabi commented on #165
Hi @stephankn

Well, I don't want to do upgrades on a database server with any of these roles. This should be the primary responsibility of the people/teams owning the database and I don't want to be the one that might make an error and f*ck things up for them. Yes, Zabbix also does upgrades when you deploy a new version. But that is all tested and probably follows certain CI tests to validate the

[2020-07-30 15:02] dj-wasabi commented on #108
HI,

Sorry for the late reply, but with PR #166 I have made some changes that could help you as well. As part of the CI process, we start either a MySQL or PgSQL official Docker image and use that as a database. As we can not execute a lot within these containers, so if you set `zabbix_proxy_dbhost_run_install: false` then the everything will be used from `{{ inventory_hostname }}`.

Please let me

[2020-08-01 08:08] stephankn commented on #165
Sounds more complicated.

As the zabbix_web is de-coupled from the server we do not have the details at hand whether zabbix_server got installed together with a database.
If we know that this role installed a fresh database, then the structure is correct and we can add the config in the PHP file without thinking about Zabbix version.

Please confirm that the role zabbix_web has no knowledge about

[2020-08-01 08:41] stephankn commented on #165
Another idea easier to implement, but requiring manual steps from users:
add `zabbix_web_doubleprecision` variable and in case this is true, add the relevant config portion. Default probably set to false to not break anything existing.
Documentation must point out that for fresh and upgraded installs this variable has to be set top true.

[2020-08-01 09:07] stephankn commented on #165
As all is caused by the frontend requiring a manual confirmation of the datatype I filed a bug-report there. Best would be the frontend does a detection. https://support.zabbix.com/browse/ZBX-18177

[2020-08-02 15:59] sky-joker opened #167 "Regarding the branche name"
##### SUMMARY

It looks like the collections branch name decided to change master to main by Ansible maintainer.

see:

* https://github.com/ansible-collections/overview/issues/83
* https://github.com/ansible-collections/overview/issues/87

I create this issue for we don't forget.

[2020-08-03 08:23] rockaut commented on #104
- [ ] _zabbix_action_ see #160
- [ ] _zabbix_discovery_rule_ see #169
- [x] ~~zabbix_group~~ see #123
- [x] ~~zabbix_group_info~~ see #123
- [x] ~~zabbix_host~~ see #159
- [x] ~~zabbix_host_events_info~~ see #158
- [x] ~~zabbix_host_info~~ see #157
- [x] ~~zabbix_hostmacro~~ see #156
- [x] ~~zabbix_maintenance~~ see #155
- [x] ~~zabbix_map_ see~~ #154
- [ ] _zabbix_mediatype_ see #153
- [x] ~~zabb

[2020-08-03 08:26] rockaut commented on #104
With the last PRs checks now doing well I'm finished with this.

[2020-08-04 06:30] D3DeFi commented on #167
Do we want to rename it? If yes, before 1.0.0?

[2020-08-04 06:36] rockaut commented on #114
I have to look into secret macros too. I guess best way would be to implement it in a way the module can be used with and without the secret portion:
- used without: module reports changed=True/False accordingly
- used with: module will always report changed=True
collection.grafana.grafana_datasource is implemented this way for example.

This way a user can implement two play tasks: first one will

[2020-08-04 13:48] sky-joker commented on #167
If possible that I think desirable that we should rename the current branch before the 1.0.0 release.
If we would like to change the current branch name I wonder we need to request to @gundalow?
After confirming with `Settings`, I had not to privilege of changing the branch name.

[2020-08-04 14:25] gundalow commented on #167
Yes before 1.0.0 would be clearnen

@sky-joker You now have the powers, be careful :+1:

https://github.com/ansible/community/wiki/Changing-the-git-default-branch-to-main has the steps in

[2020-08-05 17:03] sky-joker commented on #167
I checked that I have the privilege of changing the branch name.
Thank you @gundalow for giving privilege.

[2020-08-05 20:46] felixfontein opened #170 "Inclusion of community.zabbix in Ansible 2.10"
This collection will be included in Ansible 2.10 because it contains modules and/or plugins that were included in Ansible 2.9. Please review:

* The list of requirements for inclusion in Ansible: https://github.com/ansible-collections/overview/blob/master/collection_requirements.rst
* The roadmap with all important dates for Ansible 2.10: https://github.com/ansible/ansible/blob/devel/docs/docsite/

[2020-08-06 07:07] rockaut opened #171 "[Discussion] Support of Zabbix Versions"
##### SUMMARY
How exactly is the stance which versions of zabbix to support?

![image](https://user-images.githubusercontent.com/453368/89501366-80ef9180-d7c3-11ea-963b-4288daadbd8d.png)

As this collection is now growing and growing and the tests are getting more complex I feel we should set a fixed scheme here.
IMO:
- Support of LTS releases over the timespan of "Full Support"... but not extende

[2020-08-08 05:10] D3DeFi commented on #171
Hmm, I am all up for shifting to full support instead of extended support. We would need to document that in README instead of linking to [zabbix docs](https://www.zabbix.com/life_cycle_and_release_policy).

"After some months" here would probably need to be breaking changes releases. So with incrementing major patch number to X.0.0 we can drop support for something. This of course can happen soon

[2020-08-08 05:12] D3DeFi commented on #171
Also 4.4.x we support anyways now, 5.2 we would probably too since there will be some issues for sure. So why not include that as well, but this one without code cleanups. Since logic for < 4.4 would still benefit 4.0 in full support mode and so on

[2020-08-08 05:14] D3DeFi commented on #167
Thank you for handling this @sky-joker @gundalow

Feel free to change this whenever (just notify us on Gitter). Handful of developers we are we can survive this change without any major announcements :)

[2020-08-08 05:19] D3DeFi commented on #114
The first one works now unless user provides "type: secret" to one of the macros.

Second one is just a matter of how we document it. I've previously decided to go with hackish solution of updating description, but this can easily be changed in the code to always do an update of every "type: secret" macros.

Only difference in api is that "zbx.hostmacro.get" does not return any "value" for secret

[2020-08-08 05:22] D3DeFi commented on #104
Once again, awesome job @rockaut! Thank you for beeing our pioneer for a future unification. I will try to get behing the zabbix_screen more this weekend so we can get that last one going as well

[2020-08-08 05:25] D3DeFi commented on #163
Theoretical: what would happen if drop py2.x after 1.0.0, start working only on 2.0.0 and only backport small changes?

How would this look with 1.x.0 releases? This would probably lock us only to 1.0.x and then having 2.x.x normally, right?

[2020-08-08 11:27] D3DeFi commented on #170
Thank you @felixfontein ! Doing checklist so we dont forgot anything:

- [ ] galaxy.yml tags
- [ ] galaxy.yml bumped to version 1.0.0
- [ ] meta/main.yml (see #152)
- [ ] double check there are only FQCNs used in `DOCUMENTATION`, `RETURN`, `EXAMPLES` and `seealso`
- [ ] double check we use proper `version_added`
- [ ] double check doc fragment inclusion
- [ ] convert to antsibull-changelog (see #5

[2020-08-08 11:30] D3DeFi commented on #104
Perfect, checklist done. Thank you sooo much for putting your time into this. I am already looking forward to future direction (lets leave discussions regarding that to gitter and possibly other issues once we release 1.x.x)

Closing this issue

[2020-08-08 11:30] #104 closed

[2020-08-08 11:39] D3DeFi opened #177 "Release 1.0.0"
##### SUMMARY
Release version 1.0.0 of this collection on 16.8.2020.

Date is set sooner than ansible deadline (#170) to give us time to make some late changes if we find anything not working, etc..

This is a tracking issue.

[2020-08-08 11:41] D3DeFi commented on #124
closing as this is marked as wont fix anyways, addition of meta/runtime.yml will not make this collection support ansible version < 2.9.10 anyways

[2020-08-08 11:41] #124 closed

[2020-08-08 11:56] D3DeFi commented on #52
So it seems that this is changed and ansible now requires changelog to be in a specific format. I am starting on reworking this to make antsibull-changelog work for us too.

[2020-08-08 15:07] D3DeFi commented on #52
So the thing with antsibull-changelog is that it doesn't care about roles, neither does ansible in its Ansible Community Distribution changelogs. I am not really interested in keeping separate files for the two and want it unified, but at the same time it would be unwise to force changes regarding roles to the upstream ansible itself.

What do we do here? Give me ideas

[2020-08-08 15:55] D3DeFi commented on #16
I am closing this issue as it is no longer used for any communication regarding migration of zabbix roles (which was successfully done, good job everyone!)

[2020-08-08 15:55] #16 closed

[2020-08-08 15:57] D3DeFi commented on #21
I believe this is no longer required to be open. Roles now have very clear directory structure mainly thanks to the @dj-wasabi ! All files which have been identified in this issue were deleted or reside in their correct places maybe except meta/main.yml, but we will see about that one in the future.

[2020-08-08 15:57] #21 closed

[2020-08-08 16:00] D3DeFi commented on #22
- [ ] zabbix_agent CI (#176 )
- [ ] zabbix_javagateway (#175 )
- [ ] zabbix_server CI (#150 )
- [ ] zabbix_proxy CI (#166 )
- [ ] zabbix_web CI (no PR)

[2020-08-08 16:06] D3DeFi commented on #45
I believe a huge effort was made to provide support for Zabbix 5.0 both in modules and roles, which is now in much better state than it was when this issue was first opened.

If you find any additional problems, please create a new issue. Closing this one, thank you everyone!

[2020-08-08 16:06] #45 closed

[2020-08-08 16:09] D3DeFi commented on #101
closed by #153

[2020-08-08 16:09] #101 closed

[2020-08-08 16:10] D3DeFi commented on #93
I am still no more wise then when I replied to you in the June :D I believe we should do gitter meet regarding this once we ship 1.0.0 and the ansible 2.10 is out

[2020-08-08 16:12] D3DeFi commented on #83
@dj-wasabi do you see this possible in the near future? Should we label this issue as a `help wanted`?

[2020-08-08 16:14] D3DeFi commented on #103
What about new modules zabbix_mediatype_import to not plague the old one even more?

Label this `help wanted`?

[2020-08-08 16:15] D3DeFi commented on #108
@lupupitkanen were you please able to test suggestions from @dj-wasabi ?

[2020-08-08 16:19] D3DeFi commented on #109
Is anything preventing us from implementing suggestion from @lupupitkanen ? @dj-wasabi ?

[2020-08-08 16:22] D3DeFi commented on #118
This is due to `zabbix_maintenance` defining start time by itself via `datetime.now()`. So if we run module in the tests, then experience lag and run it one second later, `start_time` would be different by then and `zabbix_maintenance` will report `changed=True`.

Few options that come to my mind:

- we declare in the documentation that this modules is not to be used in idempotent way
- we provide

[2020-08-08 16:25] dj-wasabi commented on #83
I can/will pick this up once I finally have the Zabbix Web CI working. 👍

[2020-08-08 19:09] gundalow commented on #52
antsibull-changelog should just work for you, ie same changelog process for plugins and roles.

[2020-08-08 19:10] felixfontein commented on #52
@D3DeFi what do you mean with "doesn't care about roles"? You can mention changes in roles in regular changelog entries, can't you? Or do you mean announcing new roles? This is not supported right now because there is no way to identify new roles (AFAIK, I'm not very familiar with roles in collections yet). (The same is true for filter and test plugins, since they are not documentable yet.)

[2020-08-08 19:25] felixfontein commented on #52
(I've created ansible-community/antsibull-changelog#37 to track support for explicitly reporting new roles, tests, filters, etc.)

[2020-08-09 04:01] sky-joker commented on #170
Thank you @D3DeFi for making the tasks list for going to v1.0.0.

[2020-08-09 04:21] sky-joker commented on #167
@D3DeFi

First, I'm going to check the changing branch name procedure with my GitHub test repository by the end of the day or tomorrow.
If the procedure is no problem, I will do a consultation for the date of changing the branch name.

[2020-08-09 04:52] D3DeFi commented on #52
@felixfontein I am sorry, maybe I should have used more proper wording. What I meant was that during familiarizing myself with antsibull-changelog I've noticed that only plugins are being mentioned.

This lead to a confusion on my side if you add to it the fact that in 2.9.x releases there were only core functionality and plugins mentioned in the changelogs. And now with 2.10.0 there would suddenl

[2020-08-09 05:43] sky-joker commented on #167
While looking at the renaming procedure, I tried the renaming branch name succeeded with my GitHub test repository :)
I think this project will be of the renaming repo name procedure the following.

* create the main branch
* change the main to the default branch
* if exists PR to the master, change to the main
* remove the master branch

We need to decide on the implementation date of the branch

[2020-08-09 05:59] D3DeFi commented on #167
Maybe if you have time to quickly go through all of the PRs from @dj-wasabi as I think they are ready to be merged and then? For example sometime tomorrow?

I dont really mind the date as long as it suits you.

[2020-08-09 06:00] D3DeFi commented on #167
Also many thanks for looking into this! 🚀

[2020-08-09 06:07] sky-joker commented on #167
okay :)
I'm going to check the PRs from @dj-wasabi.
If all PRs have not problem, I'll rename the branch name after merging.

[2020-08-09 07:00] dj-wasabi commented on #167
Hi @sky-joker

Thank you! And if you could that once the PR's are merged, then that would help. Saves me from recreating the PR's.. 😄

[2020-08-09 07:08] dj-wasabi commented on #109
@D3DeFi With the exception of time I don't think there is something else preventing it. I will take a look at it, but after 1.0.0/Zabbix Web CI.

[2020-08-09 08:09] sky-joker commented on #167
I have done renaming the branch name to the main.
Just to be sure, I haven't removed the master branch that because we can do to be able to switchback of the branch if a problem occurs.
I'm thinking of removing the master branch after v1.0.0 released, what do you think?(I wonder if I can delete the master branch now...)

[2020-08-09 08:16] dj-wasabi commented on #167
Nice! 👍

I think it is fine to delete it after v1.0.0. We should only take a good look when someone creates an PR if that is for the `main` or `master` branch.

[2020-08-09 08:59] D3DeFi commented on #167
Nice, lets leave that to after 1.0.0. I bet noone will object if master stays around for a little while

[2020-08-09 09:21] felixfontein commented on #52
If you add changelog fragments to this repo which mention roles, these will get included. antsibull-changelog does not care about the contents of the changelog fragments, it trusts the user to put meaningful content in there. So if you put `role zabbix_xyz from dj-wasabi/ansible-zabbix-xyz was migrated to the community.zabbix collection` (not sure though how that's related to this collections chan

[2020-08-09 16:41] sky-joker commented on #167
Thank you all :)
I understand.
I'm going to delete the master branch after the v1.0.0 release.
I close this issue and add removing a branch task to the following tasks.

https://github.com/ansible-collections/community.zabbix/issues/170#issuecomment-670917875

[2020-08-09 16:41] #167 closed

[2020-08-10 06:11] rockaut commented on #171
You're right. I think most of this change would only be to ease the things for this project. And users willing to keep with an extended support release are most likely to also keep an static release of this one here too.

IMO 1.0.0 would be a good step for this. Given that it WILL still work for older Zabbix Versions as we haven't changed something, shifting to the collection might be a good break

[2020-08-10 06:25] rockaut commented on #26
While I'm not shure 100% I haven't read anything that collection versions have to be tied to Ansible in any way other than for 1.0.0.
Thought I think it makes sense to "freeze" a version before a new Ansible Version like community.general is doing.

@D3DeFi idea with an bot reminding and doing a quick community review in gitter is great.

Regarding the Releases I'm mostly with @sky-joker ... I jus

[2020-08-10 06:46] D3DeFi commented on #167
Awesome, thanks 🚀

[2020-08-10 06:51] D3DeFi commented on #52
Thank you for clarification. Regarding "role zabbix_xyz from dj-wasabi/ansible-zabbix-xyz was migrated to the community.zabbix collection" - this may not be the best formulation, but I feel we should mention this information somewhere in the changelog as roles were not part of this collection until 0.2.0.

Also as you have said antsibull-changelog is currently not able to detect new roles and I fe

[2020-08-10 06:56] D3DeFi commented on #171
Just to confirm I understand you correctly @rockaut:

Announce changes in the supported version (from extended to full, 3.0 drop) with 1.0.0 and then aim for dropping them in 1.1.0, etc..?

[2020-08-10 07:12] rockaut commented on #171
Hmm... no, dropping 3.0 with 1.0.0.
I can see that this is aggressive and might not fit good. But I don't think dropping 3.0 will hurt many ... which are also migrating to Ansible 2.10 and 1.0.0 !

Also dropping anything would need a major imo so 1.1.0 wouldn't fit.

[2020-08-10 09:00] felixfontein commented on #52
Ah, sorry, I completely misunderstood `role zabbix_xyz from dj-wasabi/ansible-zabbix-xyz was migrated to the community.zabbix collection` - I thought that the role in another repository was adjusted to use this collection (instead of ansible <= 2.9). But I now think you mean that the role was moved from that repository into this collection. That's definitely related to this collection's changelog.

[2020-08-10 09:38] D3DeFi commented on #171
@sky-joker what do you think?

@rockaut but we cannot drop 3.0 without changing our focus from extended support to full support as 3.0 is still in the extended support period.

[2020-08-10 09:49] D3DeFi commented on #26
I like the idea and agree with major (X) only incrementing on breaking_changes.

So what do we need to get this started?
- Document release policy in README or docs/
- Look for some remainder bot for gitter

That all?

[2020-08-10 10:31] rockaut commented on #26
- Wouldn't write to much on it. Noting that we following SemVer and Major Versions may break things with linking to the Release notes.
- I will have a look if github projects features might help for planing and reminders.

[2020-08-10 16:29] sky-joker commented on #171
There are only a few more days before v1.0.0 is released.
We have not officially announced that we will no longer support Zabbix 3.0 as of v1.0.0.
I think we need to be notified in advance of which version you will no longer support.
So I think it will be after v1.0.0 that we drop support for 3.0.(May be v1.x.x)
It can't be helped this time because there is no time until the release deadline, but

[2020-08-11 06:37] D3DeFi commented on #171
Yes, this would feel extremly pushed. What we can do is announce that changes are gonna happen to zabbix supported versions.

But this too requires some time to document and think about, which I do not have in regards to other tasks that are required before 1.0.0.

So lets agree on some gitter session after the release where we address this and release policy for the collection as well.

[2020-08-11 09:23] SimBou commented on #83
You can precise zabbix_agent_package: zabbix-agent2.
The issue is on the service startup, I need to comment the variables zabbix_agent_service and zabbix_agent_conf from vars/* to be able to set them in the inventory file

[2020-08-11 13:12] sky-joker commented on #171
I agree :)

[2020-08-11 13:25] rockaut commented on #171
Virtual Beeeeeeeeer 🍻

[2020-08-11 13:29] sky-joker commented on #170
I think it's okay with adding gitter to README.

[2020-08-11 13:57] sky-joker commented on #170
The rest of the tasks that take time are about the "convert to antsibull-changelog"?

[2020-08-11 14:24] D3DeFi commented on #170
I should have changelog ready today. Other than that, can you please ensure that correct branch protection is enforced for the main branch?

Merge and release policies will be discussed after this release as we agreed and that should be all. Excluding release itself.

[2020-08-11 14:36] sky-joker commented on #170
I confirmed for protected the main branch in branch protection rules in settings.

[2020-08-11 14:50] D3DeFi commented on #52
Can you guys please check if #179 looks good for you?

[2020-08-11 15:15] felixfontein commented on #52
@D3DeFi antisbull-changelog works with RST, so you can use RST links (```... `this is a link <https://example.com>`_ ...```)

[2020-08-12 07:17] #52 closed

[2020-08-12 13:43] indreek opened #181 "Wrong zabbix_agent_include permissions IMHO"
##### SUMMARY

[code]

IMHO permissions on zabbix_agent_include (/etc/zabbix/zabbix_agentd.d/ shouldn't be different from /etc/zabbix/ folder. Because regular user can access with read main folder and I don't see any reasons why they shouldn't be able to access this folder. I cannot user zabbix_sender functions if I don't have access to zabbix-agentd.d folder.

[code]

##### ISSUE TYPE
- Bug Repor

[2020-08-12 15:49] dj-wasabi commented on #181
Hi, probably related to that it is possible to add configuration that contains passwords or other secrets that should not be visible.
I can create a PR where you are able to configure the mode, so you can can set it wider when needed.

[2020-08-12 15:57] dj-wasabi commented on #58
This will be possible with the 1.0.0 release of the `community.zabbix` collection.

[2020-08-12 15:57] #58 closed

[2020-08-12 16:25] evgenyidf opened #182 "zabbix-agent2 service name is 'zabbix-agent' by default"
##### SUMMARY
Installing **zabbix-agent2** on CentOS is broken because Linux service name defined  by 'zabbix_agent_service' variable is always 'zabbix-agent' instead of 'zabbix-agent2'

https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/tasks/main.yml#L23

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix-agent role

##### ANSIBLE VERSION

⇒  ansible --v

[2020-08-12 16:38] dj-wasabi commented on #182
It is not yet possible to deploy the zabbix-agent2 with the module. I will close this issue as we already have one open for Zabbix-Agent2 #83

[2020-08-12 16:38] #182 closed

[2020-08-13 09:01] JiffsMaverick commented on #34
@D3DeFi @sky-joker Hello! Is it possible to backport support for version 5.0 of Zabbix to ansible 2.9? You fixed these bugs in 2.10 and it was awesome, thanks. But we have been unable to work normally with Zabbix 5.0 on ansible 2.9 for several months due to this problem.

PS: it seems that for some reason, this bugfix (ansible/ansible@7b2cfdacd00ddf907247270d228a6bf5f72258a1 and ansible/ansible#65

[2020-08-13 15:47] D3DeFi commented on #34
@JiffsMaverick boi, 9 thumbsups after 6 hours? Why noone requested this sooner :( With sooo much happening around collections these days (well since march) we've completely forgot about backporting to old ansible. I am sorry.

For 5.0 zero you would require even #51 and that may be considered a feature request, I don't know if it would be accepted, but the one above mentioned should get through. I

[2020-08-13 20:26] derekpurdy opened #183 "Allow Debian apt repository override"
##### SUMMARY
With all the zabbix roles, the apt-repository repo is hard set to http://repo.zabbix.com/zabbix/, a setting in Defaults to allow an override of the URL in vars would be ideal for people with local mirrors.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

zabbix_agent
zabbix_javagateway
zabbix_proxy
zabbix_server
zabbix_web

##### ADDITIONAL INFORMATION

[code]

[2020-08-13 20:37] derekpurdy commented on #183
Sorry for creating this feature request, I just saw in the documentation about switching repositories, but I am confused on how to create the "other" repo

zabbix_repo: Default: zabbix
- epel: install agent from EPEL repo
- zabbix: (default) install agent from Zabbix repo
- other: install agent from pre-existing or other repo

[2020-08-14 05:56] dj-wasabi commented on #183
Hi @derekpurdy

When set to `other` the roles will not install a repository, but the roles assumes that the repository already is available on the host when installing the packages. So you could create a `pre_task` in your playbook to add it to your host and set the `zabbix_repo: other` for the Zabbix * roles.

[2020-08-14 11:04] tux-o-matic opened #184 "Agent install fails if using EPEL"
##### SUMMARY
EPEL doesn't provide the sender and get packages which are installed as part of the agent role. So the agent role fails.

##### ISSUE TYPE
Sender and get packages are utilities that are not mandatory in a Zabbix Agent setup, yet the role requires them with EPEL as repo.

##### COMPONENT NAME
[RedHat agent task](https://github.com/ansible-collections/community.zabbix/blob/main/roles/z

[2020-08-14 12:23] derekpurdy commented on #183
Thanks, I appreciate the feedback

[2020-08-14 12:29] dj-wasabi commented on #183
Hi @derekpurdy

Is this repository something like what EPEL is for a RedHat? If so, I can accept that for the Debian family we add this as an option, like we do for EPEL for RedHat. If that isn't the case, then please use something like I mentioned earlier.

[2020-08-15 06:30] D3DeFi commented on #34
@JiffsMaverick do you please have a possibility to test [ansible/ansible#71289](https://github.com/ansible/ansible/pull/71289) within your environment and comment on the (back)port PR that it is working for you?

[2020-08-16 13:53] #83 closed

[2020-08-16 13:54] #61 closed

[2020-08-16 13:59] #125 closed

[2020-08-16 14:01] #181 closed

[2020-08-16 17:26] #165 closed

[2020-08-16 17:35] #184 closed

[2020-08-16 18:14] D3DeFi opened #192 "CI changes"
##### SUMMARY
Split our `.github/workflows/plugins.yml` to 2 files:

- .github/workflows/repo-sanity.yml
  -  running on whole repo
  - doing `antsibull-changelog lint`
  - include our current ansible-test sanity magic
- .github/workflows/plugins-integration.yml
  - locked on `files: plugins/` and some others
  - only do integration testing

Or just limit whole plugins.yml to `files: plugins/` and

[2020-08-16 18:22] #177 closed

[2020-08-16 18:26] D3DeFi commented on #170
With 1.0.0 being pushed a few seconds ago (and the related build on galaxy happening in a few minutes) I believe we are ready to be included in the ansible 2.10 release.

@sky-joker you can delete `master` branch when you have time.

[2020-08-16 18:27] dj-wasabi commented on #170
@D3DeFi  nice! 👍

[2020-08-17 13:38] sky-joker commented on #170
Thank you @D3DeFi for taking the time out of v1.0.0 release work!

I understand :)

[2020-08-18 13:35] sky-joker commented on #192
I think it's a good idea to split up the current CI files by purpose :)

About `antsibull-changelog lint`, how about adding it to tox.in?
For example: https://github.com/ansible-collections/vmware/blob/main/tox.ini#L17

The above test is possible covering by the following the tox processing if add `antsibull-changelog lint` to tox.ini.
https://github.com/ansible-collections/community.zabbix/blob/e

[2020-08-19 14:16] 1977er opened #198 "zabbix_server: fails to populate mariadb if innodb_default_row_format is not dynamic"
##### SUMMARY
When you use zabbix_server to populate a new MariaDB database, you may run into "Error 1709: Index column size too large." errors. innodb_default_row_format=dynamic is a workaround.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_server role

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Installing Zabbix server 5.0 on a

[2020-08-19 18:39] gauch opened #199 "Default variables for agent2 installation"
Hi,

When using the option to install agent2:
zabbix_agent2: true

Following default vars sould be updated:

        zabbix_agent_logfile: /var/log/zabbix/zabbix_agent2.log
        zabbix_agent_pidfile: /var/run/zabbix/zabbix_agent2.pid
        zabbix_agent_include: /etc/zabbix/zabbix_agent2.d
        zabbix_agent_conf: zabbix_agent2.conf

[2020-08-19 19:00] dj-wasabi commented on #198
Hi @1977er

I created a PR, can you check if this would work for you?
Thanks in advance.

Kind regards,
Werner

[2020-08-19 19:21] gauch commented on #199
I have compared config files and for agent2 following options are unknown:
EnableRemoteCommands=
LogRemoteCommands=
StartAgents=
MaxLinesPerSecond=
AllowRoot=
User=
LoadModulePath=
LoadModule=

Added in agent2:
StatusPort=
HostInterface=
HostInterfaceItem=
EnablePersistentBuffer=
PersistentBufferPeriod=
PersistentBufferFile=
UserParameter=
ControlSocket=

and the whole part about plugin-specific p

[2020-08-20 03:14] maprangzth opened #201 "Shouldn't hard code "postgresql" into a task name: "Installing the postgresql database" in the zabbix_server role"
Shouldn't hard code "postgresql" into a task name: "Installing the postgresql database" in the zabbix_server role because it can be either `mysql` or `postgresql`, depending on the configuration.

https://github.com/ansible-collections/community.zabbix/blob/f1f4b9db36554f825c4d4e26cd6101478d28411f/roles/zabbix_server/tasks/main.yml#L30

Instead,  We might use like this:
[code]

[2020-08-20 07:49] 1977er commented on #198
Thanks @dj-wasabi for that fast reaction. :-)
Setting innodb_default_row_format with your patch works like a charm on my rusty old MariaDB.

Do you intend to restore the old value afterwards? ;-)

[2020-08-20 08:29] dj-wasabi commented on #198
Hi @1977er

Ah yes, that might be the best way forward. Thank you! 👍

[2020-08-20 11:31] tux-o-matic opened #202 "Role cannot install Zabbix web 5.0 on RHEL 7"
##### SUMMARY
Despite using the name "RedHat", the zabbix_web role can only install on CentOS, not RHEL 7 (EL 8 is another story).
This is due to the reliance on the [CentOS SCL](https://github.com/ansible-collections/community.zabbix/blob/1.0.0/roles/zabbix_web/tasks/RedHat.yml#L50) which in RHEL doesn't exist.
The CentOS SCL project documents the alternative for [RHEL on their GitHub](https://gi

[2020-08-20 11:52] tux-o-matic opened #203 "Zabbix web 5.0 Apache vhost cannot start"
##### SUMMARY
The php-fpm configuration for Zabbix web [shipped in this role](https://github.com/ansible-collections/community.zabbix/blob/1.0.0/roles/zabbix_web/templates/php-fpm.conf.j2) lists *nginx* which prevents *php72-php-fpm* from starting unless a user named *nginx* exists on the OS.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_web

##### ANSIBLE VERSION

[code]

##### CONF

[2020-08-20 12:09] tux-o-matic commented on #203
Might also be wrong to use a Docker [image with Nginx](https://github.com/ansible-collections/community.zabbix/blob/1.0.0/docker-compose.yml#L22) for tests.

[2020-08-20 12:15] dj-wasabi commented on #203
Hi @tux-o-matic

Currently the Zabbix Web role is not yet part of the CI process. There are some issues with php on which I do not get to work correctly when testing with Molecule. Once that is working, I will add some changes to be able to work with Nginx as well (Next to Apache, which is already the case).

[2020-08-20 12:21] tux-o-matic commented on #203
@dj-wasabi, this role so far only supports running Zabbix web on Apache yet the php-fpm configuration shipped in the role expects Nginx to be present. So should the first be to install correctly for Apache then eventually add support and CI for Nginx?

[2020-08-20 12:46] dj-wasabi commented on #203
Hi @tux-o-matic

If that is the only to be made, I can create a PR for that in the next few hours (Once I am done working).

[2020-08-20 13:20] JiffsMaverick commented on #34
@D3DeFi Thank you for fast fix! Changes from #71288 and #71289 works!

[2020-08-20 15:00] dj-wasabi commented on #203
@tux-o-matic

I created a PR for this issue.

[2020-08-20 15:06] dj-wasabi commented on #202
Hi @tux-o-matic

What does `{{ ansible_distribution }}` show in a RHEL environment, just `RedHat`?

[2020-08-21 06:39] tux-o-matic commented on #202
Indeed, the ```ansible_distribution``` fact will return *RedHat* on RHEL. At don't have a CentOS at hand but an internet search would say that ```ansible_distribution``` would return *CentOS* on one. But then they share the same value for  ```ansible_os_family```.

[2020-08-21 06:49] dj-wasabi commented on #202
Hi @tux-o-matic

Yes, with CentOS it does provide `CentOS`. But in the `RedHat.yml` some tasks can be added that only will be executed with `when: ansible_distribution == "RedHat"` so that it will be executed on the actually RedHat instances.

[2020-08-21 07:09] tux-o-matic commented on #202
In regards to the handling of SCL, tasks will have to be slightly different/split between CentOS and RHEL.
RHEL needs to have its ```rhel-server-rhscl-7-rpms```repo enabled instead.

[2020-08-21 11:59] MaartenMol opened #205 "The task includes an option with an undefined variable"
##### SUMMARY

Trying the Zabbix roles for the first time. Rolled out fresh CentOS 8 boxes using Ansible and VMware modules. Upon task "TASK [community.zabbix.zabbix_web : RedHat | Install zabbix-web-pgsql]" getting undefined variable error.

Already tried to quote the pkg line (line 80) but that didn't solve it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_web

##

[2020-08-23 17:48] #205 closed

[2020-08-24 07:22] tux-o-matic commented on #202
Any easy way to test your PR @dj-wasabi ?
[code]
Is not working to download your patch.

[2020-08-24 08:49] dj-wasabi commented on #202
And if you do a git clone and checkout to the branch on command line instead of doing a requirements file?

[2020-08-24 09:01] tux-o-matic commented on #202
Thanks @dj-wasabi , that way works to test.
But made me notice:
[code]
That's too restrictive, the SCL is needed on RHEL 7 for PHP 7.2 regardless of the repo used to fetch Zabbix packages.

[2020-08-24 09:21] dj-wasabi commented on #202
I have removed it and pushed it.

[2020-08-24 09:34] tux-o-matic commented on #202
So it's not right, I can confirm my earlier claim: you need to have the "rhel-server-rhscl-7-rpms" repo enable don RHEL7.
Either enabling it in ```/etc/yum.repos.d/redhat.repo```or using ```subscription-manager```

[2020-08-24 10:36] dj-wasabi commented on #202
Oh? But you provided a link to a Github repository and use that repo. The roles in this collection should only maintain their own repository files and not change other repository files, as this would increase confusion and destroy idempotence. So unless you have other ideas, then this would result in closing the issue.

[2020-08-24 10:59] tux-o-matic commented on #202
idempotence, no... as long as subsequent Ansible run do not duplicate a previously applied change.
By installing the CentOS SCL you already add another rpm repo, so this is just about providing to RHEL users the same feature as CentOS users of this role get.

[2020-08-24 11:02] tux-o-matic commented on #202
If you fear over reaching by default, then a ```manage_el_scl``` boolean var should be controlling if CentOS SCL or RH SCL gets added/enabled on their respective OS.

[2020-08-24 14:51] sky-joker commented on #170
I deleted the master branch!

[2020-08-24 15:20] itdoginfo opened #212 "Agent is not updated 4.0 -> 5.0"
##### SUMMARY
Zabbix agent is not updated on host

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_agent

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Ansible server: Debian 9.12
Ansible client: Debian 9.12
Zabbix Server 5.0.2

##### STEPS TO REPRODUCE
Install zabbix agent 4.0 installed using the old role **dj-wasabi.

[2020-08-24 15:23] dj-wasabi commented on #212
Have you added/configured `zabbix_agent_package_state: latest`? The current value is `present` so Ansible will see that it is already installed and will not do an upgrade.

[2020-08-24 15:39] #212 closed

[2020-08-27 05:00] D3DeFi commented on #170
Thanks 🙂 And with it, I believe that all related tasks regarding 2.10 freeze and 1.0.0 release have been done in time.

[2020-08-27 05:00] #170 closed

[2020-08-27 16:30] zixo opened #213 "Failed to install zabbix-web-pgsql on RHEL 8.2"
##### SUMMARY

It seems that problem is in if-expression:
`pkg: zabbix-web-{{ zabbix_server_database }}{{ '-scl' if zabbix_version is version('5.0', '>=') and ansible_distribution_major_version != '8'}}`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`community.zabbix.zabbix_web role`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Red H

[2020-08-28 07:42] miettal opened #216 "zabbix_template document is wrong. incorrect: name, correct: macro"
zabbix_template module can set template macro.
but in the document macro name key is wrong.

x name
o macro

https://github.com/ansible-collections/community.zabbix/blob/06db73bc1ca551ccecfd3a6e5e7fdc927feec38e/plugins/modules/zabbix_template.py#L83

[2020-08-28 15:13] dj-wasabi commented on #213
Hi @zixo

This is recently fixed with #209

[2020-08-29 14:15] sky-joker commented on #192
Hi @D3DeFi

Can I work on this issue?

[2020-08-29 16:31] D3DeFi commented on #192
@sky-joker sure, please feel free to go ahead :)

[2020-08-29 16:48] D3DeFi commented on #34
Seems that  ansible/ansible#71289 won't be merged, but with ansible/ansible#71288 it seems to no longer fail on Zabbix 5.0 (even though you will not be able to manage details for SNMP interfaces. So next minor release of 2.9.x should have this fixed.

[2020-08-31 08:46] ironbishop opened #218 "Failed to connect to Zabbix server: urllib2.URLError - Precondition Failed"
##### SUMMARY
module `zabbix_host_info` (and all other modules too) fails with error: `Failed to connect to Zabbix server: urllib2.URLError - Precondition Failed`

On Zabbix Frontend, no Content Type is received: that's why it replies with error 412.

* Could be related to Zabbix 5.0.3.
* Error does not occur using `humao.rest-client`.
* Error does not occur using `pyzabbix`.

##### ISSUE TYPE
- B

[2020-09-02 15:12] #213 closed

[2020-09-03 09:11] ironbishop commented on #218
My bad. Server_url was wrong.

[2020-09-03 09:11] #218 closed

[2020-09-07 14:55] #192 closed

[2020-09-10 15:58] derekpurdy commented on #34
I am having the same issue and I'm just confused on how to use this workaround. Where do you place that file?

[2020-09-10 16:08] alvinstarr opened #222 "zabbix_map link label escaped quote character problem"
##### SUMMARY

Trying to add a \" to a label  as part of the dot file causes errors

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_map
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

CentOS Linux release 7.3.1611 (Core)

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

The command should suceed.

##### ACTUAL RESULTS

[cod

[2020-09-11 03:57] D3DeFi commented on #34
@derekpurdy if you have ansible 2.9 failing with KeyError on zabbix 5.0 then you should be fine with just updating to ansible 2.9.13 as some minor bugfixes were included in the latest [release](https://github.com/ansible/ansible/blob/stable-2.9/changelogs/CHANGELOG-v2.9.rst).

This is somewhat ugly hack used for official modules if you need to override them. More information can be found in [this

[2020-09-13 20:09] maxhoesel opened #223 "zabbix_agent role fails to install under Fedora 32 due to package conflict"
##### SUMMARY
When attempting to run the zabbix_agent role on a Fedora 32 host, the role proceeds until the `RedHat | Installing zabbix-{sender,get}` task, at which point it fails with the an error message mentioning a package conflict involving zabbix-get and zabbix-sender:

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_agent role

##### ANSIBLE VERSION
[code]

##### CONFIGUR

[2020-09-15 13:29] sky-joker commented on #216
Thank you @miettal for reporting this issue.
Are you interested in PR of fixing documents?
Please Let me know.

[2020-09-15 15:15] FunkForever opened #225 "Unable to import dump of template with zabbix_template module"
##### SUMMARY
The template with the description of entities in Russian is not imported

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Module: zabbix_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT

CentOS Linux release 7.7.1908 (Core)

##### STEPS TO REPRODUCE

1. Run playbook for export zabbix templates to json

[code]
P.S.: Task of role "export_

[2020-09-16 05:26] sky-joker commented on #225
Thank you @FunkForever for reporting this issue.
This issue occurs the condition is using Python2.
Python3 hasn’t this issue occurs.
I will work on fixing this problem.

[2020-09-16 12:44] sky-joker commented on #225
Hi @FunkForever

I created a fixing patch(https://github.com/ansible-collections/community.zabbix/pull/226) for this issue.
Can you please check this issue doesn’t occur with a fixed module?
And let me know the results.

[2020-09-16 12:52] FunkForever commented on #225
Good afternoon! Unfortunately, I have already switched to Python 3 and tested it. The import was completed successfully. Let's do this: one of these days, my customer wants to move to a new version of Zabbix, and ansible on the customer's side is deployed in Python 2. I will test the import operation there, and report the results.
P.S.: thank you For your help and prompt response. I'll be in touch

[2020-09-22 14:00] itdoginfo opened #230 "Variable zabbix_agent_server do not work for zabbix_agent2"
##### SUMMARY
Variables **zabbix_agent_server**  and **zabbix_agent_serveractive** don't work for **zabbix_agent2: True**

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_agent
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version
Ansible server: Debian 9.12
Ansible client: Debian 10.15
Zabbix Server 5.0.2

##### STEPS TO RE

[2020-09-23 15:27] D3DeFi commented on #171
With #231 now addressing #26, we should also look at this. I am up for switching from end of limited support to end of full support.

We can do this change in our README.md in section _supported Zabbix versions_. What stays open, however, is the question how we gonna approach zabbix 3.0 deprecation

[2020-09-24 06:05] rockaut commented on #171
Yes definitely bumping to 2.x then.

[2020-09-25 17:15] exc1te opened #232 "Passwd is mandatary in zabbix_user"
##### SUMMARY
Hello, when I'm using zabbix_user module to create users it says that 'passwd' is mandatory field, but when you want to create user that will be authenticated via LDAP this field can be omitted.

[https://www.zabbix.com/documentation/current/manual/api/reference/user/create](url)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_user

##### ANSIBLE VERSION
[code]

##### OS

[2020-09-28 14:44] D3DeFi commented on #232
Thanks for reporting this @exc1te . I wonder if it will work as advertised, usually when API documentation states that something is required, then it will fail whole HTTP POST if not provided as a parameter to call.

If I understand it correctly, `hostgroup` should have `gui_access=2`, then it tells Zabbix that it uses LDAP. I have no easy way to test this with working LDAP setup, but I will try t

[2020-09-28 18:51] exc1te opened #233 "Unable to export template ascii codec can't encode character"
##### SUMMARY
I'm trying to do export template, but template cannot be exported.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template
zabbix_template_info

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT / Zabbix Version
Centos 7.8
Python 2.7.5
Zabbix 5.0.3

##### STEPS TO REPRODUCE
1. Do a fresh install of Zabbix 5.0.3
2. Make a dump of template:

[code]
or

[code]

##### EX

[2020-10-01 17:53] #26 closed

[2020-10-01 17:54] D3DeFi commented on #225
@FunkForever were you perhaps able to test changes proposed by @sky-joker ?

[2020-10-02 09:30] FunkForever commented on #225
Failed yet, problem with getting access to the customer's Zabbix. I wrote the email a few days ago, but there is no feedback yet. I'll keep you posted if there's any progress.

[2020-10-02 11:15] BrutalBirdie opened #235 "zabbix_agent role does not write configuration for zabbix-agent2"
##### SUMMARY
When `zabbix_agent2: True` is set the role will install the zabbix-agent2 and create the systemd file but fails to create the `etc/zabbix/zabbix_agent2.conf` but creates the correct `/etc/zabbix/zabbix_agentd.conf`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_agent
https://github.com/ansible-collections/community.zabbix/blob/104d26ec0378fc10774db1b485

[2020-10-02 13:11] miettal opened #236 "zabbix_agent require ansible.windows.win_service (ansible 2.10.1)"
##### SUMMARY

zabbix_agent module execution was failed when I use ansible-base==2.10.1 .

the message is "ERROR! couldn't resolve module/action 'win_service'. This often indicates a misspelling, missing collection, or incorrect module path."

from ansible 2.10, community module/collecton was separated into different package.
and win_service module also was sepalated into ansible.windows collectio

[2020-10-07 03:24] miettal opened #238 "zabbix-web is using dict.iteritems(), but dict.iteritems() was deleted from python3"
https://github.com/ansible-collections/community.zabbix/blob/c4fda05cab2e9b37c80aef860c8752ac38e129bb/roles/zabbix_web/templates/zabbix.conf.php.j2#L38

[code]

[2020-10-08 14:09] derekpurdy opened #239 "Add task to remove zabbix-agent if zabbix-agent2 is set to true"
##### SUMMARY
Feature Request: Add a task to remove the original package of the zabbix-agent if zabbix-agent2 is set to true in a variable.

##### ISSUE TYPE
- Add flag for zabbix-agent removal in defaults set to false
- Add task to remove zabbix-agent when zabbix-agent2 is set to true and removal flag is set to true

##### COMPONENT NAME
zabbix-agent

[2020-10-08 16:20] #171 closed

[2020-10-14 09:14] D3DeFi commented on #232
@exc1te would you be able to test my PR #240 that addresses this issue please?

[2020-10-14 16:54] exc1te commented on #232
Hi @D3DeFi I made a two checks:
1. Add user in group with LDAP auth without password and authenticate then via LDAP - succeeded.
2. Add user in group with Internal auth without password and it fails:
`
The full traceback is:
Traceback (most recent call last):
  File "<stdin>", line 102, in <module>
  File "<stdin>", line 94, in _ansiballz_main
  File "<stdin>", line 40, in invoke_module
  File "/u

[2020-10-14 20:24] fibbs opened #241 "Implement zabbix_template's unlink/unlink and clear technique for linked templates to zabbix_host module"
##### SUMMARY
I would love to see the possibility to control whether a template that is linked to an existing host in Zabbix and NOT listed in the "link_templates" attribute of the zabbix_host module gets "unlinked" or "unlinked and cleared".
If I have understood the documenation and source code of both the zabbix_host and the zabbix_template modules correctly, this functionality is already implem

[2020-10-15 07:37] Gwynnbleid1 opened #242 "Disable all not needed repos when using yum to install packages"
##### SUMMARY

We have some custom repositories configured on CentOS machines. Those repositories are not avialiable durning everyday use (they are turn on only when the application hosted on those machines is update'ed). I can't remove them so I need to disable them durning update. So far I have found a workaround for this:

In file roles/zabbix_agent/tasks/RedHat.yml I have added this two lines:

[2020-10-15 17:26] D3DeFi commented on #232
@exc1te thanks for catching that. I did a stupid syntax error:
https://github.com/ansible-collections/community.zabbix/pull/240/commits/0b1e71792a7f5c6513f6e23deedf540df1bc973b

Should work now.

[2020-10-15 17:43] exc1te commented on #232
@D3DeFi I made additional checks:
1. Add user in group with Internal auth without password - succeeded (User password is required. One or more groups are not LDAP based)
2. Add user un two groups (with LDAP and Internal auth) without password - succeeded (User password is required. One or more groups are not LDAP based)
Now all clear, thanks for the fix.

[2020-10-15 17:58] D3DeFi commented on #232
Thank you for checking & testing. Will be included in the `1.1.0` release hopefully sometimes next week :)

[2020-10-17 11:44] jessequinn opened #243 "zabbix action appears always with changed"
##### SUMMARY
Using the zabbix_action to add an auto-registration action always shows changed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action v1.0.0

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version
Zabbix Web/Server 5.0.4

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
As the items already exist from running the ansib

[2020-10-18 06:40] #232 closed

[2020-10-19 20:04] praffo opened #244 "Registering a host for the 2nd time fails when using force: false because of duplicate main interface"
##### SUMMARY

Running the register tasks a second time fails because there cannot be more than one main interface, the interface has not changed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Ubuntu 20.04.1 LTS on Windows WSL2

##### STEPS TO REPRODUCE

Register a new host
re ru

[2020-10-23 13:56] dj-wasabi commented on #242
Hi @Gwynnbleid1

Thank you for making time to create this issue. I have provided a PR for this. Are you able to test this before we will merge it?

Kind regards,
Werner

[2020-10-23 14:01] dj-wasabi commented on #238
Hi @miettal

Can you provide some more information, like versions etc etc.  Basically filling in the default set of questions? This helps us better troubleshooting.

Thank you.

Kind regards,
Werner

[2020-10-23 14:27] dj-wasabi commented on #235
Hi @BrutalBirdie

Is this issue still an issue? I tried spinning up an Ubuntu 18.04 with setting `zabbix_agent2: True` but it works here.

[code]

So I am not sure yet on how to continue.
Kind regards,
Werner

[2020-10-26 10:28] marcusjfloyd opened #250 "Unable to install zabbix_agent role CentOS 8.2.2004, ansible 2.9.14, AWX 15.0.1"
Unable to setup zabbix_agent role through awx no matter which version I specify for zabbix_agent_version (5.0, 4.4, 4.0, etc). awx is running in a docker container

##### STEPS TO REPRODUCE
- setup a zabbix project in /var/lib/awx/projects/zabbix
- add ansible.cfg in that directory with the following:
[code]
- add requirements.yml to the directory with following content:
[code]

- run "ansible-gal

[2020-10-27 11:45] BrutalBirdie commented on #235
I will try to deploy a new host and report back.

[2020-10-27 12:10] BrutalBirdie commented on #235
Here is my new updated playbook excerpt:

[code]

Here are the vars for this playbook

[code]

Ans still the `/etc/zabbix/zabbix_agent2.conf` has no correct configuration:

https://haste.deadsec.net/egaguqiril.shell

and the correct `/etc/zabbix/zabbix_agentd.conf`

https://haste.deadsec.net/alirotados.shell

[2020-10-30 11:44] weakcamel commented on #212
In my opinion, this issue should be reopened. My reasoning:

- specifying a Debian package version (in general and with `apt module` normally enforces this version, no matter if you select `state: latest` or not. `zabbix_agent` role overrides this behaviour which is confusing/counter-intuitive
- using `zabbix_agent_package_state: latest` doesn't allow you to install a **specific** version from a r

[2020-11-01 05:45] sky-joker opened #253 "zabbix_host hasn't the idempotence when a host has two interfaces or more"
##### SUMMARY

After I executed twice a playbook that has a host with two interfaces or more, I checked the changed always occurs.

##### ISSUE TYPE

- Bug Report

##### COMPONENT NAME

plugins/modules/zabbix_host.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

* Zabbix 5.0
* zabbix-api 0.5.4

##### STEPS TO REPRODUCE

I created the followin

[2020-11-02 11:58] rockaut commented on #161
*yay* had a breakthrough over the weekend. After the chats with @Qualtos last week I got some great advices and insights.

Got it working and it really, really, really helps to get big playbooks down in resource consumption!
Currently each task!!! is doing:
- login
- action(s)
- logout

So if you, for example are going through your zabbix_host playbook with 100 hosts you have around 300 http calls

[2020-11-02 12:04] rockaut commented on #161
Additionally this feature would enable the usage of some of the newer features of ansible network modules too. So for example you might just throw a .yaml structured file with the hosts and properties at the modules and you're good to go. (I can't find the link currently - it was shown in an talk while AnsibleFest2020 - will edit the comment later on).

[2020-11-02 14:34] D3DeFi commented on #161
Agree with leaving zabbix-api altogether. Although it is a good module, it is not well maintained and I had a need (2 times already) to change something there and only was able to get changes through once, when I scavenged internet for maintainer's email and contacted him/her directly.

This also nicely ties to rework that I would like to done sometimes... somewhere... as zabbix_host becomes more

[2020-11-03 06:35] rockaut commented on #161
You're right @D3DeFi. I sat long in the night because I ran against an issue with the implementation. I have another idea what to try next.
But even if this works out I really would like to remove zabbix-api from the equasion as soon as possible. I don't think getting something implemented is too much of a problem as zabbix-api as such isn't great magic.

[2020-11-03 06:40] rockaut commented on #161
Just for sake of documentation: my problem of implementing ansible "native" connection/httpapi lies within my idea to get it running with zabbix-api as "backend". Ansible connection/httpapi classes are made for jsonrpc communication as a whole and work by feeding them data into abstracted functions.
As I said my first step is to include zabbix-api as a backend but then move the abstraction done th

[2020-11-04 17:10] elrondvega opened #256 "user.create on zabbix 5.2 failing, requires role_id support, no longer supports user_type"
##### SUMMARY
When using the zabbix_user module on zabbix 5.2 it fails with the error:
 "Error -32602: Invalid params., Invalid parameter "/1": unexpected parameter "type". while sending {"params"

This appears to be because in 5.2 user type was dropped and replaced with user roles.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_user

##### ANSIBLE VERSION
2.10

##### CONFIGURATION

[

[2020-11-06 07:52] Gwynnbleid1 commented on #242
Hi, no problem really !
It should be to thank you for creating this awesome plugin! THANKS A LOT !
I will test this sometime today and post results.

[2020-11-06 09:39] Gwynnbleid1 opened #257 "zabbix_http_proxy and zabbix_https_proxy shouldn't be used together"
##### SUMMARY

When you provide both variables (zabbix_http_proxy and zabbix_https_proxy) as described here:
https://github.com/ansible-collections/community.zabbix/blob/main/docs/ZABBIX_AGENT_ROLE.md#proxy
then playbook won't work when trying to download things from repo

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_agent

##### ANSIBLE VERSION

[code]

##### CONFI

[2020-11-06 09:50] Gwynnbleid1 commented on #242
I'm back with update:
It is looking good but I had to add zabbix_repo_yum_enabled: zabbix in config to make it work. I believe that when you have this left with default value: zabbix_repo: zabbix, then you don need to set zabbix_repo_yum_enabled. It shoud be set to "{{ zabbix_repo }}" by default because you already said in "zabbix_repo: zabbix" that you are only interested in zabbix repo.

[2020-11-08 13:59] sky-joker opened #258 "Have the integration test adapt to Zabbix 5.2"
I checked about the succeed integration test for current modules with Zabbix 5.2.
The following was the result.

|           module           |  result |
|----------------------------|---------|
| test_zabbix_action         | success |
| test_zabbix_discovery_rule | success |
| test_zabbix_group          | success |
| test_zabbix_group_info     | success |
| test_zabbix_host           | failure |

[2020-11-09 07:03] Gwynnbleid1 commented on #257
I think that problem lies in file /community/zabbix/roles/zabbix_agent/tasks/Debian.yml:
I have changed task "Debian | Installing gnupg" to this (it was missing environment section which I copied from task "Debian | Installing deb-src repository Debian"):
[code]

with this the error mentioned above is not showing anymore regardless of apt cache state.

[2020-11-09 09:07] Gwynnbleid1 opened #259 "Can't create proxy in passive mode"
##### SUMMARY

I have found out that you can't create proxy in passive mode (active (Default) works fine).

I have found out that this is because
1) zabbix_proxy role is missing at least task "Set default ip address for zabbix_proxy_ip". Maybe it is missing more tasks like "Set first public ip address for zabbix_agent_ip" present in zabbix_agent role.
2) in task "Create proxy" there is at least on

[2020-11-09 15:48] dj-wasabi commented on #242
Hi @Gwynnbleid1

I don't want to force people using this. It should be their choice for either wanting it or not.

And I had to make it a list, because with the installation with the Zabbix Server (I believe, might be a different component) it failed, because there was no non-supporting repo enabled.

[2020-11-11 14:44] sky-joker commented on #256
Thank you @elrondvega for reporting this issue.
I found out the cause of this issue, so I begin fixing this bug.

[2020-11-11 14:57] sky-joker commented on #258
The issue that the zabbix_user module doesn't create a user: https://github.com/ansible-collections/community.zabbix/issues/256

[2020-11-11 15:42] sky-joker commented on #256
@elrondvega
I fixed this issue(https://github.com/ansible-collections/community.zabbix/pull/260), so could you please try that the fixed module works in your environment?
And please let me know the result.

[2020-11-11 16:29] sky-joker commented on #259
Thank you @Gwynnbleid1 for reporting this issue.
Could you please tell us the following too?

* Which are you using the Zabbix version?
* If possible, could you please provide you tried playbook?

[2020-11-11 16:30] elrondvega commented on #256
Yes, this seems to be working. I'd point out 2 things that I noticed working with this, it looks like this will only work with the default roles, so if someone added a new role they wouldn't be able to use it.  Also if someone removed one of the default roles this would break.

Also somewhat related in 5.x/5.2 the lang field now supports a value of 'default' where as previously it defaulted to en_

[2020-11-11 17:06] sky-joker commented on #256
Thank you for your quick feedback.
I'll work on fix about the role.

I won't change the module default language value because if en_GB change an impact occurs the Zabbix 5.0 and less.
Instead, I'll fix that the zabbix_user module can choose the system default in the language.

[2020-11-12 15:09] sky-joker commented on #256
Hi @elrondvega
I fixed the module that I use your feedback as a reference.  https://github.com/ansible-collections/community.zabbix/pull/260
So could you please confirm to try again that the fixed module works on your environment?

Thank you in advance.

[2020-11-12 15:14] sky-joker commented on #258
About the zabbix_user is working on https://github.com/ansible-collections/community.zabbix/pull/260

[2020-11-12 15:53] sky-joker commented on #258
I found out that the cause of the failure of the zabbix_host module in the integration test is templates specified not existing in Zabbix 5.2.

[2020-11-12 16:26] sky-joker commented on #258
I confirmed that I can fix the issues of zabbix_host and zabbix_host_info modules have the failure.
I'll make the merge request for adapting Zabbix 5.2 of the integration test after merging https://github.com/ansible-collections/community.zabbix/pull/260.

[2020-11-13 14:25] elrondvega opened #261 "Make user_medias optional/override"
##### SUMMARY

Currently with the way user_medias works it overrides anything the end-user may have manually configured, even when user_medias isn't set, its defaulting to an empty array which is removing any configuration the user may have done manually. Per the API documentation the user_medias field is optional.

Don't update the user_medias when not set and/or provide an override setting like

[2020-11-13 16:06] sky-joker commented on #261
Thank you @elrondvega for the feature idea.

The zabbix_user module isn’t currently an assumption of manual operation.
Because the configuration management and operation and playbook implement complex if assuming that allowing manual operation.
So if automation does, the configuration management ideal considering should use CMDB or YAML.
By managing the configuration in YAML with GitLab or GitHub,

[2020-11-13 18:26] D3DeFi commented on #258
Thank you very much for looking into this @sky-joker!

[2020-11-13 18:41] D3DeFi commented on #253
I believe this is happening because there is no elegant way on how to check if user provided interfaces match those present on the host. Right now, zabbix_host depends on the ordering being the same, maybe that have changed in Zabbix 5.0 and interfaces are not always returned in the same order?

Only alternative I was able to come up with is basically doing hash of IP + PORT or DNS + PORT, but the

[2020-11-14 06:03] #256 closed

[2020-11-14 14:11] #242 closed

[2020-11-16 11:32] chofstede opened #263 "Zabbix Agent install on Suse 12 SP2 does not work"
##### SUMMARY
When trying to install Zabbix Agent on Suse Linux Enterprise Server 12 SP2 the Playbook exists with an error:

The task includes an option with an undefined variable. The error was: 'dict object' has no attribute '12'\n\nThe error appears to be in '/tmp/awx_284_kwr_2kqd/requirements_collections/ansible_collections/community/zabbix/roles/zabbix_agent/tasks/Suse.yml': line 18, column 3

[2020-11-16 13:47] elrondvega commented on #261
Sorry maybe I need to clarify, the module shouldn't assume just because something isn't set that it should be erased.

Ansible should only manage and configure the things it has been configured to manage, it shouldn't assume just because something isn't set/configured, that is should just remove those settings.

[2020-11-16 15:27] sky-joker commented on #261
Unfortunately, an error occurred that I tried after I change the user_media default value from list to None.
(I'm sorry if I don't understand correctly.)
The user_medias seems necessary to be the list(array) type.

https://www.zabbix.com/documentation/5.0/manual/api/reference/user/create

If implementation of this request feature to the module, it needs to get the existing user_media configures fr

[2020-11-16 15:50] elrondvega commented on #261
I was able to implement this change without querying the current state as the field is optional. I will submit a pull request.

[2020-11-16 16:38] D3DeFi commented on #261
Exactly. I meant my previous comment for all options that are not required. We should default those to None and then remove every None from the request data before sending create/update API calls

[2020-11-17 01:35] sky-joker commented on #261
I see, That's what you mean.
I get it.

[2020-11-18 15:15] #261 closed

[2020-11-21 09:58] ronnybremer opened #267 "Introduce a variable to skip checks for public/private IP address in the zabbix-agent role"
##### SUMMARY
As far as I can see the dependency on python-netaddr is only needed to set a fact, which I would like to avoid. I manually removed the code from tasks/Linux.yaml and it works perfectly without the additional package.

##### ISSUE TYPE
- I would suggest a new Ansible variable like **zabbix_agent_dont_detect_ip** as a boolean, which is by default False to not break the current code and

[2020-11-21 16:29] #202 closed

[2020-11-23 10:24] #258 closed

[2020-11-26 14:48] senyoltw opened #270 "zabbix_web php-fpm does not refer to zabbix.conf"
##### SUMMARY

php-fpm does not refer to zabbix.conf created by zabbix_web role

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_web

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT / Zabbix Version
RHEL 7.4 / rh-php72-php-fpm / zabbix_server (Zabbix) 5.0.5

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS

php-fpm refers to the generated zabbix.conf
[code]
##### ACTUAL RESU

[2020-11-26 23:59] senyoltw opened #271 "zabbix_agent win_service module does not support "enabled""
##### SUMMARY

win_service module does not support "enabled"
Reference Documents https://docs.ansible.com/ansible/latest/collections/ansible/windows/win_service_module.html

https://github.com/ansible-collections/community.zabbix/blob/b343957624fe88978d6da73bb6e5263753a9c5b8/roles/zabbix_agent/handlers/main.yml#L17-L23

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Roles: zabbix_agent

####

[2020-11-27 08:02] dj-wasabi commented on #271
Ah yes, I think the "Windows" alternative would be `start_mode`.

[2020-11-27 15:32] dj-wasabi commented on #263
Hi @chofstede

Do you have by chance an Docker image available on which I can test my change before making an PR?

Kind regards,
Werner

[2020-11-27 15:58] dj-wasabi commented on #250
Hi @marcusjfloyd

It seems that you are installing the Zabbix collection|role in the Docker container of AWX. I see `[localhost]` with the tasks, where I would expect an hostname or ip address. Or did you masked the information?

Kind regards,
Werner

[2020-11-27 16:17] dj-wasabi commented on #230
Hi @itdoginfo

Can you check if this issue still arises? I think you installed the 1.0.0 version (And not from github/main) and there were some ossus fixed with the 1.1.0 release.

Kind regards,
Werner

[2020-11-27 18:37] dj-wasabi commented on #236
Hi, @D3DeFi @sky-joker

How should we handle dependencies to other collections? Is it safe to assume that in this case it is our responsibility to add a dependency?

Kind regards,
Werner

[2020-11-27 19:17] dj-wasabi commented on #223
Hi @maxhoesel

I have provided a PR to address this issue. Is there a possibility you can check if this works for you? No worries if you can't, a molecule test is added as well with Fedora32 as OS.

Kind regards,
Wermer

[2020-11-27 19:28] dj-wasabi commented on #267
Hi @ronnybremer

Thank you for your time making this suggestion. I have created a PR, are you able to test this and see if this works for you?

Kind regards,
Werner

[2020-11-27 22:34] chofstede commented on #263
Hello Werner,

I have no Docker image for Suse Linux. But I have a number of servers where I could test it, if you send me your change.

Kind regards,

Chris

[2020-11-28 09:27] dj-wasabi commented on #263
Hi @chofstede

I created PR https://github.com/ansible-collections/community.zabbix/pull/275 for this. If you could test this, thank you!

Kind regards,
Werner

[2020-11-28 13:47] maxhoesel commented on #223
Confirmed, the install is now working perfectly on my local machine. Thanks a lot for the fix!

[2020-11-28 14:10] dj-wasabi commented on #223
Nice! Good to hear, then I will merge the PR. Thank you for testing!

[2020-11-28 14:10] #223 closed

[2020-11-29 10:40] dj-wasabi commented on #257
Hi @Gwynnbleid1

I created a PR to address this issue. Are you able to verify it before we merge the PR?
Thank you.

Kind regards,
Werner

[2020-11-30 07:23] chofstede commented on #263
Hello Werner,

This does not work. The URL http://download.opensuse.org/repositories/server:/monitoring/SLE_12_SP2 does not exist anymore.
I then tried http://download.opensuse.org/repositories/server:/monitoring/SLE_12_SP5 but this also failed, since the repo does not contain the package zabbix-get which it tries to install.

`{
    "stdout": "<?xml version='1.0'?>\n<stream>\n<message type=\"erro

[2020-11-30 08:13] BrutalBirdie commented on #235
Hey @dj-wasabi

First of all, thanks for the great work.
Yes I will test this issue again and report back.

[2020-12-01 20:54] ronnybremer opened #276 "Optimization for the firewall configuration of the Zabbix agent"
##### SUMMARY
Our environment ist dual-stacked with both IPv4 and IPv6 configured on all our servers including the Zabbix proxies. When using the Zabbix agent role it will automatically add the Zabbix server as the source for the firewalld configuration, which is great, however, I can only add a v4 or v6 address there.

##### ISSUE TYPE
Duplicate the firewalld rules in the Linux.xaml file and allo

[2020-12-02 07:09] #267 closed

[2020-12-03 17:13] JG127 opened #277 "Unable to import template"
##### SUMMARY
Can not import a template with the zabbix_template module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]
##### OS / ENVIRONMENT / Zabbix Version
Linux amd64 / Mint 20
Zabbix 5.2.2 from https://github.com/zabbix/zabbix-docker
docker compose file docker-compose_v3_alpine_pgsql_latest.yaml
Docker C

[2020-12-06 18:35] dj-wasabi commented on #270
Hi @senyoltw

I provided a PR for this, are you able to verify this and let me know?
Kind regards,

Werner

[2020-12-07 10:09] D3DeFi opened #279 "Zabbix Proxy (module) undocumented change to interface"
##### SUMMARY
It seems there was an (undocumented?) change in Zabbix itself. Proxy object is now using `hostinterface`, instead of having its own option `interface`. Difference is that `interface` didn't had `type` and `main` sub-options, but `hostinterface` does.

I have been trying to dig deeper into this, but it needs further confirmation. There was no change since June in zabbix_proxy.py or te

[2020-12-07 10:10] D3DeFi commented on #279
Disabling zabbix_proxy tests for now proposed in #280

[2020-12-07 10:11] D3DeFi commented on #279
@sky-joker can you please double check if what I am saying is true? If yes can you please review #280 if you don't have an instant idea how cleanly fix this?

[2020-12-08 10:43] itdoginfo commented on #230
Hello!
Yes, in 1.1.0 everything worked for me. Thanks so much

[2020-12-08 10:43] #230 closed

[2020-12-09 12:46] KarlikB opened #282 "Buggy documentation for zabbix_proxy role"
##### SUMMARY

Zabbix proxy documentation https://github.com/ansible-collections/community.zabbix/blob/main/docs/ZABBIX_PROXY_ROLE.md
The documentation pro zabbix_proxy role  is buggy and misleading. It looks like it is cut'n'paste problem from zabbix_server role documentation.
Documentation for sqlite3 completely missing, but the sqlite3 support working, I tested it using reverse engineered infor

[2020-12-09 13:33] KarlikB opened #283 "Escalation problem in zabbix_proxy role"
##### SUMMARY
The playbook run for installation zabbix_proxy for sqlite3 fails on missing right escalation on these two tasks:
roles/zabbix_proxy/tasks/main.yml - task "Configure zabbix-proxy"
roles/zabbix_proxy/tasks/sqlite3.yml - task "Sqlite3 | Create database"
Both tasks manipulates with file ownership and fails on missing "become: yes" directive.

As a workaround it is possible to set "become

[2020-12-09 15:23] sky-joker commented on #279
@D3DeFi

Thank you for reporting this issue.

I confirmed that the zabbix_proxy integration test occurs the error.
But, I could confirm the error at Zabbix 5.0 only.
I tried the tests using Zabbix container latest after removing old container images.

I'm wondering why Zabbix 4.0 and 5.2 occurred the errors in your environment.
The error doesn't occur in my homelab with Zabbix 4.0 and 5.2.

[2020-12-09 15:35] sky-joker commented on #279
How did you do the test? (used the latest container image?)
Let me know.

[2020-12-09 15:50] sky-joker commented on #279
Sorry, I was mistaken.
I confirmed that the error occurs with Zabbix 4.0.

[2020-12-09 18:53] dj-wasabi commented on #282
Hi @KarlikB

Thank you for making an issue. I have created a PR to address this issue. Can you verify if the changes are better than what they are right now?

I removed the documentation a while ago because I thought it was deprecated. But it seems that SQLite3 is only deprecated for the Zabbix Server and not for the Zabbix Proxy, my mistake.

Thank you!
Kind regards,
Werner

[2020-12-09 18:53] dj-wasabi commented on #283
Hi @KarlikB

Thank you for making an issue.
I provided a PR to address this issue. Can you verify if this works in your case?

Thank you.
Kind regards,

Werner

[2020-12-10 11:43] sky-joker commented on #279
I found out the error occurs version.
This issue has since the following Zabbix version.

* Zabbix v4.0.27
* Zabbix v5.0.6

[2020-12-10 14:27] sky-joker commented on #279
I felt this like a bug, so I created the below ticket to Zabbix Support JIRA.
https://support.zabbix.com/browse/ZBX-18758

[2020-12-10 14:59] D3DeFi commented on #279
thank you for looking into this more @sky-joker . Do we proceed with disabling tests in the meantime?

[2020-12-10 15:04] sky-joker commented on #279
Let's temporarily disable the zabbix_proxy integration test.
I'll merge https://github.com/ansible-collections/community.zabbix/pull/280 because I seem it hasn't a problem.

[2020-12-10 15:35] D3DeFi commented on #279
@sky-joker thanks
@dj-wasabi please continue with role PRs, sorry to disturb you with plugins

[2020-12-10 15:48] dj-wasabi commented on #279
No worries bro! 👍

[2020-12-11 07:43] JG127 commented on #277
Nobody have had this issue ?

[2020-12-11 11:05] KarlikB commented on #282
The documentation is now great.
Thank you very much
Closing issue

[2020-12-11 11:05] #282 closed

[2020-12-11 12:28] KarlikB commented on #283
Hi @dj-wasabi
I have just checked the PR version of zabbix-proxy role and it works fine.
Thank you very much
Closing issue

[2020-12-11 12:28] #283 closed

[2020-12-11 12:30] dj-wasabi commented on #282
Thanks! 👍

[2020-12-11 12:30] dj-wasabi commented on #283
Thanks! 👍

[2020-12-11 12:39] #270 closed

[2020-12-11 12:51] #257 closed

[2020-12-11 14:26] KarlikB opened #285 "Zabbix-agent role fails on python-netaddr instal if playbook run as non root user"
##### SUMMARY
If ansible-playbook is runned using non-root user on the ansible controller, the playbook ends with error
[code]

If the same playbook is run under root user on the ansible controller machiche, zabbix-agent role works correctly. Both approaches uses the same hosts and playbook files, using the same "deployer" account on the remote managed machine

As a workaround it is possible to se

[2020-12-11 17:46] dj-wasabi commented on #285
Hi @KarlikB

Have you set `zabbix_agent_become_on_localhost: True`?

[2020-12-14 09:07] JG127 opened #286 "Can not use the community collection ?"
##### SUMMARY
I'm getting the very same errors for the community collection as for the build-in Zabbix modules. The errors typically relate to earlier releases of Zabbix. In my case it hits the complete collection.

I assume it must be a configuration issue. But I'm unable to find it.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
The complete collection

##### ANSIBLE VERSION

[code]

#####

[2020-12-14 13:57] dj-wasabi commented on #286
Hi @JG127

It seems that you are using the collection, but the error message is saying something thart you need to provide 1 or more interfaces: `"msg": "Specify at least one interface for creating host 'foo.bar.com'."`.

[2020-12-14 14:07] JG127 commented on #286
I know. But for Zabbix 5 hosts are not required to have interfaces.
________________________________
From: Werner Dijkerman <notifications@github.com>
Sent: Monday, December 14, 2020 14:58
To: ansible-collections/community.zabbix <community.zabbix@noreply.github.com>
Cc: Jan Goyvaerts <jgoyvaerts@spotit.be>; Mention <mention@noreply.github.com>
Subject: Re: [ansible-collections/community.zabbix] C

[2020-12-14 16:27] KarlikB commented on #285
Hi @dj-wasabi

I have just tested it using playbook:
[code]

Ad the result is the same:
[code]

The error message says, that the sudo requiress password, it is not true, I am using paswordless sudo for my "deployer" user account.
Strange is, that this behaviour occurs only if I start playbook using non-privileged "ansible" user account on my ansible controller. If I am trying to start playbook fro

[2020-12-14 17:44] D3DeFi commented on #286
In the API documentation I only see `interfaces` being optional with `host.create` for 5.2, but not for 5.0. Do you use .0 or .2?

ref: https://www.zabbix.com/documentation/5.0/manual/api/reference/host/create
ref: https://www.zabbix.com/documentation/5.2/manual/api/reference/host/create

[2020-12-14 19:58] dj-wasabi commented on #285
Hi @KarlikB

Please check again for your sudo configuration, as you said that if you run as a a root account it all works. So it is an authorisation issue on your host and not a code issue in this collection/role. I can not help you further with this.

[2020-12-14 19:58] #285 closed

[2020-12-15 07:58] JG127 commented on #286
We're using the 5.2 release.

I took the hosts module because that's the simplest case. It's easy to solve by just adding an interface.

What's not solvable are the templates. The module exibit the very same errors as the build in module. I can't even import a template file I've dumped with the very same modules.

This is such a basic use case I'm suspecting a configuration issue.
________________

[2020-12-16 09:30] sylflo commented on #277
I have the exact same problem.
To bypass it, I tried to call the JSON api of Zabbix directly, like so

[code]

So it's working however if I start to add some rules like triggers, alerts, ect.... I cannot import my templates at all

[2020-12-16 10:42] #271 closed

[2020-12-19 20:31] dj-wasabi commented on #263
Hi @chofstede

I update the PR with some logic to configure only zabbix-agent installs. Are you able to verify again?
Thank you!

[2020-12-20 17:38] dj-wasabi commented on #276
Hi @ronnybremer

Sorry for the late answer, but are you able to create a PR for this? Or would you like that I should make an attempt and ask you to verify/test it?
Please let me know.

Kind regards,
Werner

[2020-12-20 17:48] dj-wasabi commented on #250
Will close this issue. Please reopen if issue still exist and questions are answered.

[2020-12-20 17:48] #250 closed

[2020-12-20 18:21] dj-wasabi commented on #239
Hi @derekpurdy

I provided a PR, are you able to verify this?
Thank you.

Kind regards,
Werner

[2020-12-21 11:44] ronnybremer commented on #276
Hi Werner,

I can do that over the holidays. Need a moment for it.

[2020-12-21 12:09] dj-wasabi commented on #276
No worries, take your time! Thank you! 👍

[2020-12-23 15:46] D3DeFi commented on #22
Already done

[2020-12-23 15:46] #22 closed

[2020-12-23 15:50] D3DeFi commented on #34
https://github.com/ansible/ansible/pull/43311 - cannot apply any cherry-pick magic and original author not responding so this will not be moved to the collection.
https://github.com/ansible/ansible/pull/31933 - same

[2020-12-23 15:50] #34 closed

[2020-12-23 15:51] D3DeFi commented on #77
This is now obsolete, there was a upstream documentation for 2.10 on how to transition to collections

[2020-12-23 15:51] #77 closed

[2020-12-23 15:53] D3DeFi commented on #93
Closing as #26 was closed and we also created a release policy for this collection

[2020-12-23 15:53] #93 closed

[2020-12-23 15:55] derekpurdy commented on #239
Sorry, I don't have a test environment offhand I can use for this.

[2020-12-23 16:05] #239 closed

[2020-12-23 16:06] dj-wasabi commented on #239
No worries! 👍
I have merged the PR. If there are any issues, don't hesitate to re-open this one or create a new one.

[2020-12-25 08:44] D3DeFi commented on #286
I think we can exclude a possibility where explicitly installed collection is being ignored in favor of ansible shipped colleciton. I wasn't able to reproduce this at all and order ($PWD/collections, ~/.ansible/collections, built-in collections from ansible package) was always kept.

Your log entry also shows:
`Using module file /home/foo/.ansible/collections/ansible_collections/community/zabbix/p

[2020-12-25 09:27] D3DeFi commented on #286
I was also able to reproduce (with ansible 2.9.15) that the following load order is not working:

- $PWD/collections
- ~/.ansible/collections
- built-in collections from ansible package

It seems this is an issue with 2.9 specifically as it always loads built-in modules prior to looking for a collection. In this version, zabbix modules were still shipped alongside ansible itself and were not yet a

[2020-12-25 09:29] D3DeFi commented on #277
Zabbix 5.2 has received and undocumented change (not in Zabbix 5.2 API changes) to rules. Rule `templateScreens` was renamed to `templateDashboards`. Fix for this issue was presented in #262 and works when running latest version of this collection from the source.

However, it was not yet released to galaxy.ansible.com and latest 1.1.0 is considered affected by this "change". We will prepare 1.2.0

[2020-12-25 09:58] D3DeFi commented on #279
Added some more details to in the comment at https://support.zabbix.com/browse/ZBX-18758. Hoping for a reply

[2020-12-25 10:18] #235 closed

[2020-12-25 10:18] dj-wasabi commented on #235
I have closed this issue. If issue still exist, don't hesitate to reopen it. Thanks! 👍

[2020-12-25 10:42] dj-wasabi commented on #236
I have documented the dependency in the Zabbix Agent documentation in the `requirements` paragraph.

[2020-12-25 10:42] #236 closed

[2020-12-25 10:59] D3DeFi commented on #244
@praffo thank you for opening this issue. I've tried to reproduce it with ansible 2.9.6 and Zabbix 5.0 and 5.2 without any luck.

Can you please provide what version of Zabbix are you running? This is somewhat a known issue (just a theoretical one as practically I've seen it pop up for the first time).

The problem is that we have interfaces that are assigned to an existing host and interfaces tha

[2020-12-25 11:30] D3DeFi commented on #243
Thanks for opening this issue @jessequinn .

For the completeness, below is my testing playbook. I've tried to mirror what you wrote as closely as possible:
[code]

My observations:
- ansible 2.9.14 created autoregistration actions on the first pass and then failed on the second pass
- ansible 2.10.4 works correctly with community.zabbix 1.1.0

Can you please confirm that my testing playbook isn't

[2020-12-25 11:34] D3DeFi commented on #253
I am still not sure how to fix this and we may as well end up with documenting this as a known issue. Only reliable piece of information from `hostinterface` is `hostinterfaceid`. However, we cannot expect user to provide this as a parameter to the ansible module so our only option is to match interfaces of a given type by how are they ordered. And then also documenting that interfaces must be ord

[2020-12-25 12:18] D3DeFi commented on #241
Thank you for the feature idea @fibbs.

This should be doable without huge effort. However we would change existing functionality by introducing `clear_templates` module parameter and changing `link_templates` to match what `zabbix_template` does as someone may rely on the existing functionality already.

@sky-joker what do you think? Can we proceed with mirroring `zabbix_template` or we rather ha