[2020-12-25 14:00] D3DeFi commented on #225
I also believe that #28 is related or maybe even duplicate

[2020-12-25 14:10] dj-wasabi commented on #259
Hi @Gwynnbleid1

I provided a PR to address this issue. Can you please check and validate if this works?

Kind regards,
Werner

[2020-12-25 14:23] D3DeFi commented on #233
Thank you for opening the issue @exc1te and sorry for the delay. I can confirm that this is only Python 2.x related issue and is not happening with Python 3.x.

However, fix introduced in https://github.com/ansible/ansible/pull/64032 probably broke support for Python 2.x.

@sky-joker can you perhaps recall why this change was made? I've now tested it with removing `.decode('utf-8')` and both Pytho

[2020-12-26 07:37] sky-joker commented on #233
@D3DeFi

Yes.
At the time, I confirmed that the old zabbix_template module export string as a byte string when using Python3.
The following is the issue at the time.
https://github.com/ansible/ansible/issues/64030

**Python2 example**

[code]

**Python3 example**

[code]

The cause of the error in this issue, no-break space was inserted as `\xa0` in a template.
I found out about the ones that have

[2020-12-26 07:54] sky-joker commented on #233
I found out about the solution to this issue.
So, I'm going to create a patch of this issue, and PR.

[2020-12-26 08:27] sky-joker commented on #233
Thank you @exc1te for reporting this issue.
I fixed this issue, so can you please confirm the error doesn't occur using the fixed module?
https://github.com/ansible-collections/community.zabbix/pull/297

And let me know the result.

[2020-12-26 12:04] jessequinn commented on #243
@D3DeFi looks about right. i think the killer is just make sure you run against several servers. But i am wondering if is it an issue directly related to templates. if a template uses a marco, that could change, would alter the state?

[2020-12-26 15:26] #216 closed

[2020-12-27 07:52] #233 closed

[2020-12-30 19:55] praffo commented on #244
Hi thanks for taking the time to look into this. I'm running Zabbix 5.0.3
and during this time I've switched computers and the new computer is
working as expected.

ansible --version
ansible 2.10.3
  config file = None
  configured module search path =
['/Users/praffo/.ansible/plugins/modules',
'/usr/share/ansible/plugins/modules']
  ansible python module location =
/usr/local/Cellar/ansible/2.10.

[2021-01-02 07:30] sky-joker commented on #253
@D3DeFi

I'm sorry for the late response.

I think so too.
It’s a good idea to document and respond first.

[2021-01-03 22:58] krauthosting opened #299 "zabbix_web: Allow authentication at webserver level"
##### SUMMARY
Allow extra security controls at webserver level to reduce attack surface on web application

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_web role

##### ADDITIONAL INFORMATION
Introduce optional variables and tasks that allow management of webserver authentication.

[2021-01-04 00:02] krauthosting opened #301 "zabbix_web: Don't set listen.acl_users for PHP FPM on Debian"
##### SUMMARY
Don't set listen.acl_users on Debian as it breaks PHP FPM service.
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_web

[2021-01-04 01:48] krauthosting opened #303 "zabbix_web: Improve Nginx option with out-of-the-box setup"
##### SUMMARY
First sorry we started once on Nginx and then dropped the ball in upstreaming.
Idea is to provide an simple but secure webserver setup with Nginx for Zabbix.
Keep it optional with Apache default but provide out-of-the-box inside the role.
Allow additional optional use of Let's Encrypt with preconfigured certbot client.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_web

[2021-01-04 08:00] #301 closed

[2021-01-04 09:10] chofstede commented on #263
Hello Werner,

With some changes, I got it to work successful in Suse12. I sent my changes to you in a PR to your repo.

Thank you very much.

[2021-01-04 15:48] #303 closed

[2021-01-04 15:49] dj-wasabi commented on #263
Hi @chofstede

Thank you. Which PR did you updated with your comment? As I don't have seen it yet.
Kind regards,
Werner

[2021-01-04 18:24] dj-wasabi commented on #263
Ah i see it now! Can you please do a rebase from main, as there is a merge conflict, then I will be able to merge the PR. Thanks!

[2021-01-05 07:20] #299 closed

[2021-01-05 13:43] JT1301 opened #306 "Specific Zabbix Agent Configuration"
##### SUMMARY
Hey guys,

I try to figure out how to set some specific settings in the zabbix_agent2.conf, but I can't find a way to set it.

Specially I would like to set something like AllowKey=system.run.[*]

Thanks for helping.

##### ISSUE TYPE
- Question

##### COMPONENT NAME
Zabbix Agent

[2021-01-05 14:09] D3DeFi commented on #28
After conducting testing I believe this is the same issue as reported in #225 and will also be fixed by PR #226

[2021-01-05 14:09] #28 closed

[2021-01-05 14:09] #225 closed

[2021-01-05 19:26] FloMeyer opened #307 "Ansible-Galaxy tarball differs from github repo"
##### SUMMARY
The downloadable and installable via ansible-galaxy command tarball is not the same as here on github. The Code in ansible galaxy is much older.
https://galaxy.ansible.com/community/zabbix

##### ISSUE TYPE
- Bug Report

From ZABBIX_WEB_ROLE.md from ansible-galaxy (downloaded today) - zabbix 5.2 is missing

| Zabbix              | 5.0 | 4.4 | 4.0 (LTS) | 3.0 (LTS) |
|----------------

[2021-01-05 19:30] dj-wasabi commented on #307
Hi @FloMeyer

Yes, that is true. We are working on a new release (1.2.0, found in PR: https://github.com/ansible-collections/community.zabbix/pull/305) Once that PR is merged, we have release 1.2.0 available in the Galaxy as well.

We will merge it in the coming days.

Kind regards,
Werner

[2021-01-05 19:31] FloMeyer commented on #307
Okay, thanks for the information!

[2021-01-05 19:31] #307 closed

[2021-01-05 20:13] FloMeyer commented on #238
##### SUMMARY
i'm running into this issue, too.

My Playbook looks like this:
- hosts: all
  become: yes

  vars:
    php_enable_php_fpm: true
    apache_vhosts:
      - servername: "hostname.lan"
        documentroot: "/var/www/html"
        extra_parameters: |
              ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/var/www/html"

  roles:
    - role: geerlingguy.apache
    - role:

[2021-01-05 20:33] FloMeyer opened #308 "zabbix_web php-fpm restart is failing with zabbix >= 5.0"
##### SUMMARY
execution is failing at restarting php-fpm with php7.4-fpm because there is no service php-fpm.

Code from community/zabbix/roles/zabbix_web/handlers/main.yml:

**- name: restart php-fpm
  service:
    name: "{{ 'rh-php72-php-fpm' if zabbix_php_fpm else 'php-fpm' }}"
    state: restarted
    enabled: yes
  become: yes
  when:
    - zabbix_version is version('5.0', '>=')**

- name: re

[2021-01-06 03:46] brunoscota commented on #308
same happened to me. Adding:

`- role: geerlingguy.apache-php-fpm`

worked nice for me!

[2021-01-06 07:29] dj-wasabi commented on #308
Hi @FloMeyer

You do have php-fpm installed? What role did you use?

[2021-01-06 07:41] FloMeyer commented on #308
Sorry, i forgot to post my playbook.
I am using the roles geerlingguy.php and geerlingguy.apache-php-fpm.

My Playbook looks like this:
- hosts: all
  become: yes

  vars:
    php_enable_php_fpm: true
    apache_vhosts:
      - servername: "hostname.lan"
        documentroot: "/var/www/html"
        extra_parameters: |
              ProxyPassMatch ^/(.*\.php(/.*)?)$ "fcgi://127.0.0.1:9000/var/www/

[2021-01-06 08:07] dj-wasabi commented on #308
Hi @FloMeyer

And you use CentOS8 right?
I will try to replicate it, as I had issues with PHP-FPM all the time.

[2021-01-06 09:35] FloMeyer commented on #308
I am Using Ubuntu 20.04. I commented out the first part and now it runs fine.. so with just the "restart php-fpm-version" part its fine.

[2021-01-07 09:21] #286 closed

[2021-01-07 09:23] #259 closed

[2021-01-07 09:53] D3DeFi commented on #253
Maybe not related, but we now also getting:
[code]

https://github.com/ansible-collections/community.zabbix/pull/305/checks?check_run_id=1661558334 For Zabbix 5.2
https://github.com/ansible-collections/community.zabbix/runs/1661585811?check_suite_focus=true For Zabbix 5.0

[2021-01-07 10:24] chofstede commented on #263
Hello @dj-wasabi

I did a rebase and merge and now there is no conflict anymore.

regards,

Christian

[2021-01-07 11:06] dj-wasabi commented on #263
Hi @chofstede

It seems to fail now on the following:

[code]

So I basically can not merge it yet. 😉

[2021-01-07 13:05] chofstede commented on #263
Hi @dj-wasabi

I removed the empty line and all checks are now fine.
Thank you for your patience. I'm pretty new to that stuff and still trying to find my way around :-)

Regards,

Christian

[2021-01-07 13:28] #263 closed

[2021-01-07 13:29] dj-wasabi commented on #263
No worries! Thank you for making time to do this! 👍

[2021-01-07 15:30] D3DeFi commented on #253
I was now able to confirm my theory in https://github.com/ansible-collections/community.zabbix/runs/1662114652
I also think that #244 is related with this issue, however have slightly different behavior due to `force=false`.

With the standard set of host interfaces from our integration tests:
[code]

In the failing run of tests, the resulting host interface objects was returned in the following o

[2021-01-07 17:41] D3DeFi commented on #253
Fix I have in mind is in the last commit in #309 - I can create separate PR if you think this is a way to go @sky-joker

[2021-01-08 11:39] fourstepper commented on #306
If this is not a general option that should be available but something rather specific, using a custom role/tasks with lineinfile should work just fine :)

[2021-01-08 12:30] dj-wasabi commented on #306
Hi @fourstepper

It is indeed not yet possible, but I think we can do something similar with `zabbix_agent2_plugins` like on https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/templates/zabbix_agent2.conf.j2#L444

Do you have some examples that I can use while working on it? Or do you want to provide a PR for this?

Kind regards,
Werner

[2021-01-08 15:18] fourstepper commented on #306
@dj-wasabi OP is @JT1301 :)

[2021-01-08 17:39] dj-wasabi commented on #306
Yes, you are right, sorry!  Not sure if I can blame it on "friday", "lack of coffee" or "not much sleep".. 🙂

[2021-01-09 14:24] JT1301 commented on #306
Hi @dj-wasabi

Thanks for your fast reply.
In my case I just need to add **AllowKey=system.run[*]**. In older Agent versions I needed to remove **DenyKey=system.run[*]** as well.

You need this in your config to allow remote scripts like it is described here:
https://www.zabbix.com/documentation/current/manual/web_interface/frontend_sections/administration/scripts

[2021-01-09 15:44] dj-wasabi commented on #308
Hi @FloMeyer

I have tried to replicate it, see in branch https://github.com/dj-wasabi/community.zabbix/tree/reproduce-308
But it seems to work fine in the Molecule Ubuntu 20.04 image. I am not sure yet on how to proceed.

Kind regards,
Werner

[2021-01-10 22:25] Tristan-Henderick opened #310 ""No package matching 'zabbix-server-mysql' found available, installed or updated""
##### SUMMARY

when provisioning a vm with zabbix server i keep getting the following error:
TASK [community.zabbix.zabbix_server : RedHat | Installing zabbix-server-mysql] ***
FAILED - RETRYING: RedHat | Installing zabbix-server-mysql (3 retries left).
FAILED - RETRYING: RedHat | Installing zabbix-server-mysql (2 retries left).
FAILED - RETRYING: RedHat | Installing zabbix-server-mysql (1 retries

[2021-01-11 06:54] dj-wasabi commented on #310
Hi @Tristan-Henderick

Which OS version are you using, I think you are using CentOS7/RHEL7? Please see https://github.com/ansible-collections/community.zabbix/blob/main/docs/ZABBIX_SERVER_ROLE.md#zabbix-versions if that is the case, otherwise please provide some more information about OS.

[2021-01-11 13:19] sky-joker commented on #253
I seem this is a more complex issue.
I confirmed that the changed also always occurs when a host has one interface only.
I used a playbook is below in Zabbix 4.4 and 5.0.

[code]

To be honest, I'm confused...
But, I think to sort the interfaces by an id makes sense.
If you do PR of the interfaces sort, I will merge it.

[2021-01-11 13:49] D3DeFi commented on #253
Honestly this doesn't make sense with just one interface this error should not happen at all.

I have repurposed #309 as a PR for this.

[2021-01-11 13:59] #253 closed

[2021-01-14 14:23] Tristan-Henderick commented on #310
@dj-wasabi You're right, was running RHEL7. I changed it to use zabbix version 5.0.
If you don't mind helping me out a little bit more, I'm now getting the following error:
[code]
I'm not quite sure what to make from it.

[2021-01-15 08:35] ericsysmin commented on #109
I ran into a similar issue on this step when trying to use it, but due to no_log couldn't get much more info.

[2021-01-15 14:50] joshproehl opened #312 "Cannot set guest user as disabled"
##### SUMMARY

Attempting to add the "Disabled" group to the system guest user results in errors.

First error was "User password is required. One or more groups are not LDAP based."
After attempting to set password to '', the error was "Not allowed to set language for user "guest"".
Upon further investigation, the JSON included in the error contains lang, timezone, and theme keys, which cannot be

[2021-01-15 22:09] D3DeFi commented on #312
Unfortunately, setting empty password is not supported as API has a special use for such value. Specifically, if you attempt to create/update user via Zabbix API with an empty password, it assumes that you are creating user that will be authenticated against LDAP server and expects at least one of the user groups to be configured with LDAP access.

module ref: https://docs.ansible.com/ansible/late

[2021-01-19 07:39] gorfou opened #313 "zabbix_repo: other is ignored."
Our servers do not have Internet access and we create local repositories to install custom RPMs.  Whatever we try setting zabbix_repo: other but the role always try to install the Zabbix default repository.

[2021-01-19 08:23] dj-wasabi commented on #313
Hi @gorfou

Ok, so on the host you have already created a yum and if you would do a `yum install zabbix-agent` it would use these RPM files to install the package? Or there maybe zabbix repo files added due to an earlier installation of Zabbix?

But you are correct, when `zabbix_repo: other` is set, the roles don't install a repository and assumes the host is already configured to use some local r

[2021-01-19 10:22] gorfou commented on #313
Hi Werner,

The rpm comes from Zabbix's official repo, but the servers cannot access
the Internet directly, so we create a "local" repo containing the RPM
directly on each machine's filesystem (meaning the URL in the repo file
starts with a file://...). So that's what gets installed when we install it
manually with yum.  Don't ask why, but that shops take ages to add RPMs in
their network, so to p

[2021-01-19 12:01] gorfou commented on #313
Hi,

It would seem that setting zabbix_yum_repo to null does the job of skipping
any tasks related with repositories. I also have two other zabbix_variables
set but I'm unsure if it plays a role in that, but I suspect it does.

zabbix_repo: other
*zabbix_repo_yum:*
zabbix_repo_yum_enabled: zabbix.local

I guess the "bug" is that it's not documented.

Le mar. 19 janv. 2021, à 05 h 22, Stéphane Laca

[2021-01-19 12:17] elrondvega opened #314 "unicode escape breaks templates"
##### SUMMARY

commit #226 breaks templates that have slash escaped characters.

removing the line:
[code]
fixes the problem.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

zabbix 5.2

##### STEPS TO REPRODUCE

Here is a template that breaks.

[code]

##### EXPECTED RESULTS

[2021-01-19 15:37] #312 closed

[2021-01-19 15:43] D3DeFi commented on #314
Thank you for summarizing this in one issue @elrondvega . Sorry to hear that we broke this logic and complicated things for you.

@sky-joker would you be able to please look at this matter further?

[2021-01-20 18:38] joshproehl commented on #312
To clarify, the issue is specifically that I can't use the API to disable the guest user. The password was simply one of the issues that prevented this.

If being able to enable/disable this system user is out of scope, I think it would be helpful for the API to trigger a specific "can't update guest user" error perhaps? Or at least to cover it in the documentation to eliminate people in the futur

[2021-01-22 04:26] masakura opened #315 "run zabbix_server role, deleted /tmp/snap.lxd"
##### SUMMARY
if running zabbix_server role, /tmp/snap.lxd directory removed. After that, `lxc file push` or` pull` will fail.

`apt-get clean` task was all /tmp/* files and directories.

https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_server/tasks/Debian.yml#L97

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`zabbix_server` role

##### ANSIBLE VERSION

[2021-01-26 16:20] elrondvega commented on #314
changing the code type from "unicode-escape" to "raw-unicode-escape" also resolves my issue, however I don't know how this affects the intended code change.

[2021-01-28 02:33] santiagomr opened #317 "[Error in zabbix_web role] php-fpm is configured although it will not install"
##### SUMMARY

I'm running on a host with Debian 10 the [simple example playbook](https://github.com/ansible-collections/community.zabbix/blob/main/docs/ZABBIX_WEB_ROLE.md#single-instance) (zabbix_server + zabbix_web) and `zabbix_php_fpm` set to `False`. I get the following error:
[code]

When analyzing the code of the role I detect that this task is executed considering only the `zabbix_vhost` va

[2021-01-29 16:25] igloo777 opened #318 "Discrepancy of variable name/description, and variable function."
Hello!

##### SUMMARY

https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/tasks/userparameter.yml

Task "Installing user-defined scripts" -

[code]

**scripts_dir** there is ugly name of key, because it's actually script name.

But in README.md
[code]

Is it should be something like **script_name**?

If i'm wrong - just close this report.

##### COMPONENT NAME
com

[2021-01-29 16:34] igloo777 commented on #318
Umh... Seems like I got the idea - we may have 1 userparameter and >1 script for it.
I think it would be nice to have an explanation, or example, in README.md for such case.

[2021-01-30 06:37] D3DeFi commented on #314
Btw are you experiencing this problem only with python2?

[2021-01-30 10:55] Park0 opened #319 "Use the MSI installer for windows agent installation"
##### SUMMARY
Zabbix provides a MSI installer that also supports openssl. (The zip files has no openssl support)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Zabbix agent (windows)

##### ADDITIONAL INFORMATION

[code]

[2021-01-30 11:13] dj-wasabi commented on #319
Hi @Park0

Thank you for the suggestion. Are you able to provide a PR for this, as Windows is best effort and I personally don't have a Windows host available to develop on?

Kind regards,
Werner

[2021-01-30 11:43] Park0 commented on #319
I may be able to make something that works. But i have no clue on how to make it backwards compatible as the installation system is completely different from the current implementation.
Are there active windows users for the current implementation? If so i would like to gather thoughts about how to implement it.

[2021-01-31 05:30] sky-joker commented on #314
Thank you @elrondvega for reporting this issue.
As @D3DeFi written, can you please let me know your using environment?

* Python version
* Ansible version

I’ll check to see if the same error occurs.

[2021-01-31 09:27] sky-joker commented on #314
I confirmed that this error occurred even in my lab with Python2/3.
Umm... sorry adding this line may have been a mistake.

https://github.com/ansible-collections/community.zabbix/blob/2f8c3a4b9a00dcf2fb8156c210d90c0ea45655af/plugins/modules/zabbix_template.py#L625

The cause of the issues is the slash to be removed from the template_content by doing unicode-escape.
For example, please look at the

[2021-01-31 14:34] sky-joker commented on #314
I found out one how to resolve, so I’ll do PR.

[2021-01-31 14:37] D3DeFi commented on #314
@sky-joker , @elrondvega also mentioned `raw-unicode-escape`. Maybe that is also worth looking into? I can confirm that doing `unicode-escape` breaks the content with single slashes even in py3.

So if no solution is found and something along the lines:
[code]
will not be possible then we should remove this line as py3 support is at this point priority for us.

[2021-01-31 15:41] sky-joker commented on #314
@elrondvega
I fixed this issue(https://github.com/ansible-collections/community.zabbix/pull/322), so could you please try that the fixed module works in your environment?

[2021-02-01 13:47] elrondvega commented on #314
Yes, this appears to work without issue.

[2021-02-01 14:17] D3DeFi commented on #317
Can confirm from my side also. Worked around it like so:

[code]

Had to override php_version to 7.2 due to running on Ubuntu 18, which seems to be defaulting to this version instead of 7.3.

[2021-02-02 10:19] sky-joker commented on #314
@elrondvega
Thank you for taking the time out to check the module working.

[2021-02-02 14:56] MrClayPole opened #324 "pip install of python-netaddr fails on Ubuntu 20.04"
##### SUMMARY

When running the following playbook

[code]

It fails with the following error

[code]

##### ISSUE TYPE

It appears that only pip3 is supported on Ubuntu 20.04 and I can see a way to run pip2 on this version of ubuntu

##### COMPONENT NAME

zabbix_ageant

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix 5.0 on Ubuntu 20.04 at

[2021-02-02 16:16] #314 closed

[2021-02-03 03:36] carreirorco commented on #317
It worked here!

[2021-02-04 15:25] Park0 commented on #324
For me installing pip3 solved the issue.
Ansible:
[code]
Cli
[code]

[2021-02-11 09:42] D3DeFi opened #326 "module_defaults group for zabbix modules"
##### SUMMARY
It should be now possible for collections to somehow define [module_defaults for groups](https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html#module-defaults-groups). E.g.:
[code]

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
plugins/

##### ADDITIONAL INFORMATION
Additional reference:
https://github.com/ansible/ansible/pull/69919
https://github.

[2021-02-11 16:16] nosrio opened #327 "Zabbix_server role failling when running with packer"
##### SUMMARY
Zabbix server role fails when running using packer on Debian O.S. at TASK [community.zabbix.zabbix_server : apt-get clean].

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_server

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version
Debian 10

##### STEPS TO REPRODUCE

Run playbook with packer.

[code]

[code]

[2021-02-11 16:50] nosrio commented on #327
I believe that removing the "rm -rf /tmp/*" will fix this issue. Is there any need to run that command at that task?

[2021-02-15 00:17] marcusjfloyd commented on #250
Sorry for the delay. Took a long break and and back at it now. You were right that is was trying to install on the docker container. I figured that part out, but now I get an error that roles aren't installed when I definitely installed them via awx projects which puts them in (/var/lib/awx/projects). I've google'd all around for this issue and have seen people on stackoverflow and reddit with thi

[2021-02-15 00:22] marcusjfloyd opened #328 "Unable to install zabbix_agent role CentOS 8.3.2011, ansible 2.9.17, AWX 17.0.1"
This is spawning from #250. I don't have permissions to reopen it as requested so I had to start a new issue.

I get an error that roles aren't installed when I definitely installed them via awx projects which puts them in (/var/lib/awx/projects). I've google'd all around for this issue and have seen people on stackoverflow and reddit with this issue with no resolve. Thanks for any tips you might

[2021-02-15 07:48] dj-wasabi commented on #328
Hi @marcusjfloyd

No worries bro, we will just continue here with this issue. I am not familiar with AWX (But it seems that I have to go deep-diving into that though soon.. 😄), but it seems that you are importing or executing something from the molecule directory. Molecule is used as part of (our) CI tooling and spins up several Docker images and installs the roles into these Docker images to vali

[2021-02-15 14:43] barazbay opened #329 "include_tasks: apache.yml runs before installing apache"
##### SUMMARY

the issue is that role invokes apachectl without check if apache is installed

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

role zabbix_web
##### ANSIBLE VERSION

ansible 2.10.5
  config file = /home/ikarazbaev/Documents/projects_git/proj-zabbix/ansible/ansible.cfg
  configured module search path = ['/home/ikarazbaev/.ansible/plugins/modules', '/usr/share/ansible/plug

[2021-02-15 15:06] dj-wasabi commented on #329
Hi @barazbay

You need to provide a role that make sure that Apache is installed on the host before you can make use of the `zabbix_web` role. Or use a Nginx role when you want to make use of Nginx.

So I am not sure why we need to validate that Apache is installed.

Kind regards,
Werner

[2021-02-15 15:33] barazbay commented on #329
in order to install zabbix web we don't need to preinstall apache
https://www.zabbix.com/download?zabbix=5.2&os_distribution=centos&os_version=8&db=postgresql&ws=apache
we just need to run step B from the manual
` # dnf install zabbix-server-pgsql zabbix-web-pgsql zabbix-apache-conf zabbix-agent `
so, this step is done here
redhat.yml
[code]

[2021-02-16 19:32] marcusjfloyd commented on #328
No worries man. Thanks for the work you've put in on this. "dj wasabi" came up everywhere when I was looking at this issue so just giving credit where it's due. Turns out AWX will only pickup the yaml files from a collection if they have the playbook structure.

It might take me a while, but if you want, I can fork and see if I can come up with some playbooks that are suitable for AWX. If there's

[2021-02-17 14:40] DavidLeutgeb commented on #319
@Park0 while I like the idea of installing from an MSI file I have to say that the ZIP File indeed has openssl support as you can see on the file name zabbix_agent-5.2.4-windows-amd64-openssl.zip

May I ask which version you are using?

[2021-02-17 15:16] Park0 commented on #319
Strange, at the time i looked at it i could only find a zip without SSL. And the install on my test system complained about not having openssl. Ill check if i have the system or i already reinstalled it. If so ill check if i can reproduced what went wrong. But your correct there is a version with openssl and it's the one used in the code.

[2021-02-17 23:35] Nostro-Dcx opened #331 "Template import for perf_counter"
##### SUMMARY
When I use zabbix_template for an import I have an Error -32500.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

 community.zabbix.zabbix_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
CentOS 8, docker AWX 17 Latest version. Zabbix 5.0.8

##### STEPS TO REPRODUCE
Error -32500: Application error., Cannot read XML: (9)

[2021-02-18 13:44] sky-joker commented on #331
Thank you @Nostro-Dcx for reporting this issue.

In my environment, I succeeded in importing the following XML file.

[code]

**my environment**

* Zabbix Server 5.0.6
* Ansible 2.10.5
* latest Zabbix Collections

Can you please try with the latest [zabbix_template](https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_template.py) whether not the error occur?

[2021-02-18 22:37] Nostro-Dcx commented on #331
Hello @sky-joker,

First of all, thanks for your answer.

With community.zabbix 1.1.0 I have no problem on importing the file compare to 1.2.0.
By the way, when I try to import the file by hand it works perfectly too.
Maybe it's due to ansible in 2.9.17 and note in 2.10+. AWX is note up to date in their release.

What do you think?

[2021-02-22 16:54] carceneaux opened #332 "Unable to simply remove host from Zabbix via API"
##### SUMMARY

I want to be able to remove a host from Zabbix. This needs to happen with no connection to the ansible host where Zabbix agent is installed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_agent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix 4.0

##### STEPS TO REPRODUCE

Run the below playbook calling out th

[2021-02-23 11:53] KarlikB opened #334 "TimescaleDB support for Zabbix Server"
##### SUMMARY
Current zabbix_server role does not support to install and configure TimescaleDB extension for Postgres as described in https://www.zabbix.com/documentation/current/manual/appendix/install/timescaledb

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Zabbix Server PostgreSQL DB backend

##### ADDITIONAL INFORMATION
I consider this proposed feature very helpful, the TimescaleDB i

[2021-02-23 16:51] MrClayPole commented on #324
Sorry for the slow reply on this one. I ended up going back to Ubuntu 18.04 for other reasons so this is no longer relevant for me. Thanks for taking the time to reply.

[2021-02-23 16:51] #324 closed

[2021-02-23 20:00] amartin3225 opened #335 "Add dependency linking to zabbix_service module"
##### SUMMARY
Add support for linking [dependencies](https://www.zabbix.com/documentation/current/manual/it_services#configuration) to a service in zabbix. This is similar to how `zabbix_host` supports the `link_templates` parameter which allows you to link a template to a host.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_service

##### ADDITIONAL INFORMATION
It would be very use

[2021-02-24 15:47] KarlikB opened #336 "Zabbix Proxy StatsAllowedIP configuration parameter"
##### SUMMARY
Current zabbix_proxy.conf.j2 template does not support StatsAllowedIP configuration parameter.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Zabbix Proxy

##### ADDITIONAL INFORMATION
The StatsAllowedIP configuration parameter is necessary form monitoring of the remote Zabbix Proxy instances
I prepared pull request for this topic, follows below.

[2021-02-28 09:24] soinu opened #338 "Support distribution shipped packages"
##### SUMMARY
Multiple distributions already ship zabbix packages. This role always adds third party repositories and it is not possible to use distribution packages.
This is a feature request to add support for zabbix distribution packages.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_agent
zabbix_proxy
zabbix_server
zabbix_web

##### ADDITIONAL INFORMATION

In my opinion first p

[2021-03-11 07:07] rhaamo opened #340 "Templates to link are never found"
##### SUMMARY
When using `zabbix_link_templates` templates are not found.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
role zabbix_agent

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Zabbix 5.2.5

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Template should be found

##### ACTUAL RESULTS
When going into Configuration/Template

[2021-03-12 07:38] rhaamo commented on #340
Ok so after more tests, zabbix permissions using the API are weird, by default `Admin` or even `Super Admin` can't do anything with the templates/host groups, and you have to specifically create an `User group` and assign permissions to your `Templates*` and various host groups you wants to use/link/...

[2021-03-12 07:38] #340 closed

[2021-03-12 13:13] fozodlen opened #341 "rm /tmp/* -fr remove default ssh-agent session (zabbix_server on Debian 10)"
##### SUMMARY

When you simply use zabbix_server, on **apt-get clean** task in the [roles/zabbix_server/tasks/Debian.yml](Debian.yml) task file,  the /tmp is cleared. But if you deploy on localhost, it also remove you temporary ssh-agent folder (something like /tmp/ssh-blablabla). Therefore, no ssh-agent available after that ...

##### ISSUE TYPE
- Issue ???

##### COMPONENT NAME
zabbix_server

##

[2021-03-13 13:05] #332 closed

[2021-03-13 13:06] #336 closed

[2021-03-13 15:30] D3DeFi commented on #331
@Nostro-Dcx there were some changes to zabbix_template in #226, which was included in 1.2.0 release. Are you able to test this import outside of AWX environment with just plain ansible repo and community.zabbix:1.2.0?

[2021-03-13 15:31] D3DeFi commented on #335
thank you for the suggestion @amartin3225 . The requests seems reasonable and doable, although I am not sure when we would be able to address it.

If you are considering submitting a PR it would be more than welcome! :)

[2021-03-13 15:34] D3DeFi commented on #277
@JG127 with 1.2.0 out, are you still seeing this problem?

[2021-03-13 15:36] D3DeFi commented on #244
I believe this can be closed as #309 was merged in and released with 1.2.0.
It this problem arises again, please let us know

[2021-03-13 15:36] #244 closed

[2021-03-13 15:39] D3DeFi commented on #243
Sorry for a delayed response. I don't think that macro value can change whole template from the perspective of ansible unless it is the template itself that is defining a macro (or rather a default value for macro).

Anyway, are you still hitting this problems even with community.zabbix:1.2.0?

[2021-03-16 08:35] daria-maslovskaya commented on #277
Same problem still here in 1.2.0 version of collection =(

[2021-03-16 09:57] AmberDante opened #348 "Unsupported zabbix API parameter in zabbix_action plugin"
https://github.com/ansible-collections/community.zabbix/blob/03872f1dc576b47fc41b60168f0f73c888037d24/plugins/modules/zabbix_action.py#L679

Zabbix API can’t filter by ‘name’ parameter. It’s unsupported field.

A table dchecks consist of next columns:
                                                         Table "public.dchecks"
        Column         |          Type           | Collation | Nulla

[2021-03-18 09:28] fmalengreau opened #351 "Syntax error in firwall.yml"
##### SUMMARY

In the zabbix_agent role.
In the file firewall.yml, when adding the rich rule in firewalld, the syntax of the rich rule has a syntax error :
rich_rule: 'rule family="ipv4" source address="{{ zabbix_agent_firewalld_source }}" port protocol="tcp" port="{{ zabbix_agent_listenport }}" accept'
The word "port" before "protocol" should not be present. The syntac should be :
rich_rule: 'rul

[2021-03-18 11:23] fmalengreau commented on #351
My problem was not due to a syntax error. It was due to a bug in iptables version 1.8.2, default version for buster. Installing version 1.8.5 from backports solved the problem.

[2021-03-18 11:23] #351 closed

[2021-03-20 16:01] #348 closed

[2021-03-27 09:11] rience opened #354 "Creating / Updating Host Times Out"
##### SUMMARY
I'm using `zabbix_agent` role with `create_hosts` parameter set to automatically register an agent in Zabbix. Unfortunately - most of the time that task (to create hosts) times out. I tried to hit Zabbix API manually - and it always worked. But via Ansible - it times out. Note - that sometimes it works.

For example if I have an inventory with 5 hosts - it can create 2 hosts in Zabbi

[2021-03-27 12:35] D3DeFi opened #355 "zabbix plugins timing out - sometimes"
##### SUMMARY
Zabbix API timing out
https://github.com/ansible-collections/community.zabbix/runs/2208183637#step:7:1139

This is now a recurring issue that sometimes appears and sometimes not. I suspect that API cannot handle that much concurrent API requests and we are somehow DoS-ing it. Needs more investigation tho

Possibly related to #354

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
a

[2021-03-27 12:36] D3DeFi commented on #355
I've yet no idea why this can be happening randomly. When we run integration tests on a PR there is a chance that at least one of them will present this error. I haven't observed anything in common (different zbx/python/ansible versions)

[2021-03-27 12:47] D3DeFi commented on #326
This unfortunately never made it into the ansible as a feature. So it is not possible yet

[2021-03-28 07:54] #315 closed

[2021-03-28 07:54] #341 closed

[2021-03-30 22:13] DieWeb21 commented on #331
Hi,

Unfortunately I can't test it. I'll test it with the new 1.3.0 soon.

[2021-03-30 22:21] DieWeb21 opened #357 "Import template failed for "not well-formed (invalid token)""
##### SUMMARY
Trying to import a template (this is the default template for FTP of zabbix himself ... ):

[code]
And got:

{
  "msg": "Invalid XML provided",
  "details": "not well-formed (invalid token): line 1, column 0",
  "exception": "Traceback (most recent call last):\n  File \"/tmp/ansible_community.zabbix.zabbix_template_payload_sy4n40dk/ansible_community.zabbix.zabbix_template_payload.zip

[2021-03-31 05:54] D3DeFi commented on #357
This is because you need to provide template content to the module and not a name of the file:

template_xml: "{{ lookup('file', 'zabbix_apache2.xml') }}"

[2021-04-12 08:01] martinm82 opened #360 "zabbix-agent: role fails with 'Destination directory /usr/local/etc/zabbix does not exist' on macOS"
##### SUMMARY
When running the `zabbix_agent` role on a fresh macOS (Catalina) installation one gets the following error:

[code]

The problem is that in https://github.com/ansible-collections/community.zabbix/blob/1.3.0/roles/zabbix_agent/tasks/main.yml#L43 Darwin.yml is included and at that moment we haven't yet installed the Zabbix-agent via brew. This is done much alter in this line: https://g

[2021-04-12 09:39] martinm82 commented on #360
Another issue I hit now:

[code]

I haven't seen anything in the readme that a requirement is to create a dedicated user zabbix (group: zabbix). If that is the case should we update the documentation or shall we add the creation of the user? Or is this something that gets done while installing the zabbix-agent by brew?

[2021-04-15 12:14] #306 closed

[2021-04-18 14:09] BenGig opened #362 "zabbix_agent Debian ignores zabbix_agent_install_agent_only"
##### SUMMARY
On Debian, `zabbix_agent_install_agent_only` is ignored. Tasks are not separated for agent vs. sender/get, as it is in Suse and Redhat.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_agent/tasks/Debian.yml

##### ANSIBLE VERSION
[code]

PR follows.

[2021-04-19 13:15] #362 closed

[2021-04-20 14:46] adrianojiu commented on #355
I had timeout problems, it looks something about privileges scalation.
I solve that, actually its a workarround:

File:
community.zabbix-main\roles\zabbix_agent\tasks\api.yml

Error de time out na tarefa "- name: "API | Installing the Zabbix-api package on localhost""

Solution was to comment on line 11 "become:" {{zabbix_agent_become_on_localhost}} "" in the file above.

[2021-04-20 14:51] adrianojiu opened #364 "FAILED - RETRYING: Install local python-netaddr package (3 retries left)."
File:
community.zabbix-main/roles/zabbix_agent/tasks/main.yml

Error:
TASK [dj-wasabi.zabbix-agent : Install local python-netaddr package] ***************************************
FAILED - RETRYING: Install local python-netaddr package (3 retries left).

Solution(workarround) was to comment on line 57 "become:" {{zabbix_agent_become_on_localhost}} "" within this file just above the task "- name:" I

[2021-04-20 17:58] dj-wasabi commented on #364
Please create an actual bug report issue instead of removing all contents and provide a very basic set of output. I can not do anything for you, thats why I close this issue as "incomplete".

[2021-04-20 17:58] #364 closed

[2021-04-21 13:36] derekpurdy opened #365 "Allow disabling of mysql binary logging"
##### SUMMARY

Allow users to disable mysql binary logging if not required as it uses significant disk space.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

zabbix_server role

##### ADDITIONAL INFORMATION

To disable binary logging, you can specify the --skip-log-bin or --disable-log-bin option at startup. If either of these options is specified and --log-bin is also specified, the optio

[2021-04-21 13:46] dj-wasabi commented on #365
Hi @derekpurdy

Can you explain in which part of the role it should be able to do something with disabling of MySQL binary logging? Because the roles for both the Server as the Proxy asumes that there is an MySQL instance already running before Zabbix Server and/or Proxy are installed.

Kind regards,
Werner

[2021-04-21 13:57] derekpurdy commented on #365
Hello @dj-wasabi

Sorry, I just realized that you configure the zabbix database but not install mysql directly. I will just take this off to a custom task to run before zabbix server installation.

Thanks

[2021-04-21 14:02] #365 closed

[2021-04-29 16:53] nlvw opened #367 "Ansible Collection Dependencies and Search Paths Missing"
##### SUMMARY
The collection does not currently set its dependencies in `galaxy.yml`.  This prevents Ansible Galaxy from automatically downloading collections that this collection relies on to run.  When using Ansible AWX version 18+ the majority of the default collections, shipped with Ansible version <=2.9, have been removed from the Ansible installation so it is very important that Ansible Gala

[2021-05-01 23:40] tar-xzvff opened #369 "Installation of zabbix web fails"
##### SUMMARY

Installation of zabbix web fails

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

TASK [community.zabbix.zabbix_web : RedHat | Install PHP]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

target server os
[code]

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

Successful installation of zabbix web

##### ACTUAL RES

[2021-05-06 14:15] sangdrax8 commented on #308
I am seeing this same issue with my Ubuntu 20.04, and looking at the handlers I don't see how they even could ever work?

`- name: restart php-fpm
  service:
    name: "{{ 'rh-php72-php-fpm' if zabbix_php_fpm else 'php-fpm' }}"
    state: restarted
    enabled: yes
  become: yes
  when:
    - zabbix_version is version('5.0', '>=')

- name: restart php-fpm-version
  service:
    name: php{{ zabbix_

[2021-05-07 13:11] msl0 opened #371 "Add option to disable StatusPort in Zabbix Agent 2"
##### SUMMARY

It would be good add possibility to disable StatusPort in Zabbix Agent 2

I prepared solution but I'm not familiar with Ansible collection development process
[community.zabbix/roles/zabbix_agent/templates/zabbix_agent2.conf.j2](https://github.com/ansible-collections/community.zabbix/blob/f938c28b82bec2f8a03697abf3e26e4b5214e7e0/roles/zabbix_agent/templates/zabbix_agent2.conf.j2#L10

[2021-05-07 16:07] ironbishop opened #372 "zabbix agent role: Windows: duplicate file inclusion"
This task
https://github.com/ansible-collections/community.zabbix/blob/2e705fa2e512c5686cc6ead3c83b58c852eaaf96/roles/zabbix_agent/tasks/main.yml#L43
is the same as this
https://github.com/ansible-collections/community.zabbix/blob/2e705fa2e512c5686cc6ead3c83b58c852eaaf96/roles/zabbix_agent/tasks/main.yml#L79

so, the tasks are repeated twice and the playbook fails.

[2021-05-15 17:56] D3DeFi commented on #367
@nlvw thank you for rising this issue. I think it would be fine for some of those dependencies, however `community.postgresql` and `community.mysql` are not hard-coded, rather they depend on user's personal choice.

As for the Windows, I recall @dj-wasabi mentioning that it is used only in a very niche situation.

Anyway, I cannot argue against adding dependencies to all of those as normally Ansib

[2021-05-15 17:56] D3DeFi commented on #357
@DieWeb21 do you still encounter this problem?

[2021-05-15 17:58] D3DeFi commented on #355
some of the tasks just seems to be more labor intensive for Zabbix, we also need to be aware of the fact, that we are running on a shared testing environment so sometimes 10s isn't enough.

I increased timeout for some of the bigger tasks in #374 and hope this will not be a problem again

[2021-05-15 17:58] #355 closed

[2021-05-16 05:15] sky-joker commented on #367
Thanks, @nlvw for reporting this.

I agree with that.

Well, I think that shouldn't be the hard coding in galaxy.yml.
I like that users can choose M/W as needed.
For example, in Web whether apache or nginx, in DB whether MySQL or PostgreSQL, and so on.

We can install the dependency collections to specify by using the requirements.yml.
https://docs.ansible.com/ansible/latest/user_guide/collections

[2021-05-16 05:26] sky-joker commented on #367
If we are going to define dependencies, I think the minimum required is better.
If we specify all dependencies in galaxy.yml, there is a concern that unnecessary collections will be installed.
(For example, takes time to install, and so on)

What do you think?

[2021-05-16 07:26] dj-wasabi commented on #367
I agreee. We should only provide the bare minimum, so without apache/nginx/mysql or postgres. It is up 2 the user to make sure the rest is used, as this collection is flexible enough for them and as @sky-joker said, we should not install unnecessary collections.

[2021-05-16 11:04] D3DeFi commented on #367
I vote with the majority here :) So we add netcommon, windows, posix and general? Or not even those?

[2021-05-16 11:09] dj-wasabi commented on #367
I would not add Windows, the rest would be fine by me.

[2021-05-16 12:29] sky-joker commented on #367
+1

[2021-05-16 23:08] nlvw commented on #367
The problem with specifying an incomplete dependency set is that your collection isn't guaranteed to run.  The are use cases where the collection will break specifically due to the collection not specifying its dependency on community.mysql or community.postgres.

A good example is when installing the Zabbix Server with either postgres or mariadb.  There is no guarantee that the user is using ansi

[2021-05-17 01:01] sky-joker commented on #367
Thanks, @nlvw for your feedback.

Could you please confirm this? @dj-wasabi

[2021-05-18 13:54] derekpurdy opened #379 "Manage Zabbix authentication settings via community.zabbix"
##### SUMMARY

Manage Zabbix HTTP/LDAP/SAML authentication settings via community.zabbix

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

zabbix_server?

##### ADDITIONAL INFORMATION

I didn't see any documented way, or any reference in the roles to manage HTTP/LDAP/SAML authentication settings.

Documentation for API to manage Authentication settings are located on this link.
https://www.z

[2021-05-19 18:00] D3DeFi commented on #379
I think this would first need custom module plugin. It is kind of unwritten rule that everything manageable via API should eventually have its own module. Zabbix roles are usually not calling API directly, but also utilize modules for this.

Thank you for pointing this out to us. However, I am not sure we will be able to address it anytime soon. Anyway, contributions are welcome if you are up to i

[2021-05-21 11:33] weehal opened #380 "zabbix_user should not overwrite user defined settings"
##### SUMMARY
Every time when `zabbix_user`  task is called it overwrites user custom settings in zabbix - that makes them unusable.

Don't update the user settings:
`lang, theme, refresh, rows_per_page, after_login_url`  etc. when differs from default or provide an override setting like passwd has.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_user

##### ADDITIONAL INFORMATION
 i

[2021-05-21 16:21] D3DeFi commented on #380
Thank you for opening this @weehal . Yes, this is definitely a bug since API doesn't require us to provide those values:
https://www.zabbix.com/documentation/current/manual/api/reference/user/object#user

So we should default them to `None` and don't send them via request if user doesn't specify them.

[2021-05-24 15:41] sky-joker commented on #380
Thanks, @weehal for reporting the issue.
I'll work on making a patch to resolve the issue.

[2021-05-25 10:34] sky-joker commented on #380
@weehal
I made a patch to resolve this issue.
So could you please look at https://github.com/ansible-collections/community.zabbix/pull/382?

Unfortunately, there are some default values that I can't remove because backward compatibility will be broken.
But, those will be removed in the future.

[2021-05-25 11:38] diamatrix opened #383 "zabbix_agent2 won't start when ListenIP contains an IPv6 address"
##### SUMMARY

When using an IPv6 address as the ListenIP, zabbix_agent2 throws an error and will not start up.

**ListenIP=fc0f:f850:1:218::52**

`ERROR: cannot start server listener: Listen failed: listen tcp: address fc0f:f850:1:218::52:10050: too many colons in address`

**ListenIP=[fc0f:f850:1:218::52]**

`ERROR: cannot parse "ListenIP" parameter: incorrect value of ListenIP: "[fc0f:f850:1:21

[2021-05-25 11:50] D3DeFi opened #384 "zabbix_user unable to reset password for the same user"
##### SUMMARY
zabbix_user module is unable to change password for the user when `login_password` and `alias` are set to the same user. This prevents user from changing default 'zabbix' password from Admin user.

This is caused by `type` directive, which is `required=True` in the module argspec. Although it is required for `user.create`, it is not needed for `user.update` ZabbixAPI call.

@sky-joke

[2021-05-25 15:46] sky-joker commented on #384
Thanks, @D3DeFi for reporting this issue.
I'll include a patch into https://github.com/ansible-collections/community.zabbix/pull/382 for resolving the issue.

[2021-05-26 12:27] tambetliiv opened #385 "KeyError: 'inventory_mode' when updating existing host via zabbix_agent role"
##### SUMMARY

After zabbix server upgrade to `5.4.0` updating existing host data fails with error:
[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Module: `zabbix_host.py`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

[Zabbix server: zabbix/zabbix-server-pgsql:alpine-5.4.0](https://hub.docker.com/layers/zabbix/zabbix-server-pgsql

[2021-05-28 13:18] #372 closed

[2021-05-28 14:56] jbwarren77 opened #387 "zabbix_template fails to import new template to zabbix 5.4 with error: Invalid parameter "/rules": unexpected parameter "applications""
##### SUMMARY

When using zabbix_template to import a template to a zabbix 5.4 API, setting "state: present" on a template that does not yet exist gives an error about:
ZabbixAPIException: (u'Error -32602: Invalid params., Invalid parameter "/rules": unexpected parameter "applications"

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_template

##### ANSIBLE VERSION

[c

[2021-05-28 16:48] ericsysmin commented on #109
When using PSK as the value it passes it properly into API but fails when you try to start the proxy with
[code]

[2021-05-28 20:31] D3DeFi commented on #385
Thank you for reporting this @tambetliiv . I will try to look into it more closer over the weekend

[2021-05-28 20:32] D3DeFi commented on #387
Thank you for submitting an issue @jbwarren77 . I will try to look into this more closely during the upcoming days

[2021-05-28 21:10] smarrk opened #389 "zabbix_host is not idempotent when called with two or more interfaces"
##### SUMMARY

When creating a host that has two or more interfaces ansible always returns "changed".
This should have been fixed by #309 but i'm still experiencing this issue.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

plugins/modules/zabbix_host.py

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix 5.0 and 5.2
zabbix-api 0.5.4

[2021-05-29 14:10] #109 closed

[2021-05-29 15:33] D3DeFi commented on #389
@smarrk thank you for the report. I was able to reproduce the issue and am looking into a fix

[2021-05-29 16:22] D3DeFi opened #392 "Zabbix 5.4 support"
##### SUMMARY
5.4 out since 17th May
https://www.zabbix.com/documentation/current/manual/api/changes_5.2_-_5.4
- [x] #385
- [x] #387
- [ ] #412
- [ ] zabbix_action 5.4 tests failing on:
[code]
- [x] zabbix_host 5.4 tests failing on:
[code]
- [x] zabbix_host_info 5.4 tests failing on:
[code]
- [ ] zabbix_screen no longer supported in 5.4:
[code]
- [ ] zabbix_service 5.4 tests failling on:
[code]
-

[2021-05-29 17:31] D3DeFi commented on #389
@smarrk would you please be able to give #391 a try with your playbooks?

[2021-05-29 22:36] smarrk commented on #389
looks good to me, Ansible is now behaving as expected :+1:

[2021-05-31 15:01] #380 closed

[2021-05-31 15:01] #384 closed

[2021-06-01 18:34] maxhoesel opened #393 "zabbix_web: several apache variables are undefined when not using geerlingguy.apache"
##### SUMMARY
I'm trying to install a Zabbix server using both the zabbix_server and zabbix_web roles on a host, but the installation fails due to several Apache SSL-related variables being undefined (`apache_ssl_protocol` and `apache_ssl_cipher_suite` for example):

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_web

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##

[2021-06-03 03:31] tambetliiv commented on #385
Any current workaround, because for now our regular zabbix playbook fails and some quick fix would be appreciated until more permanent one is released.

[2021-06-03 11:41] #389 closed

[2021-06-07 19:17] #371 closed

[2021-06-14 10:03] tambetliiv commented on #385
ping @D3DeFi would really like a fix or some workaround. Currently our envs zabbix playbook is broken because of this bug. Can't update any existing host info.

[2021-06-14 10:14] dsteinkopf commented on #385
I am also experiencing a very similar (or same?) problem since upgrading to 5.4:
[code]

[2021-06-14 11:54] D3DeFi commented on #385
@tambetliiv feel free to get to the bottom of this and prepare a pull request or document workaround for others. Since this is an open source community, any contribution is welcome. I, unfortunately, really don't have time to work on this right now.

Zabbix doesn't have proper API as they are changing things left and right in each release without proper deprecation or anything and we are just not

[2021-06-14 12:41] tambetliiv commented on #385
@D3DeFi reached to about the same conclusion. [Created issue to zabbix support](https://support.zabbix.com/browse/ZBX-19555). Lets see what they have to say about this. Hopefully bug, that will be fixed quickly, but never know.

[2021-06-14 13:16] tambetliiv commented on #385
[Created very very dirty workaround](https://github.com/tambetliiv/community.zabbix/commit/ce634a7ca0e656eff55c3de808ba170ed1ba2a81) which is ok for our env, since most hosts/all have `inventory_mode` set to 0 anyway.

[2021-06-14 16:18] BayramGrbz45 opened #396 "Windows auto psk enable"
##### SUMMARY

- I wanted to enable psk for windows server.
- I tried using the psk auto-activation method for this process.

##### ISSUE TYPE
Unable to create required files for psk.

##### COMPONENT NAME

zabbix_agent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

5.2

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RE

[2021-06-15 09:58] NoxInmortus commented on #392
Hello, I did not find any issue about the subject, forgive me if it was already mentioned somewhere.

Zabbix 5.0 introduced secret text macro : https://www.zabbix.com/documentation/5.0/manual/config/macros/user_macros
And Zabbix 5.2 also introduced secret Vault macro : https://www.zabbix.com/documentation/5.2/manual/config/macros/user_macros

Both are very interresting features,  but it does not s

[2021-06-15 15:13] mprenditore commented on #385
I'm experiencing the same issue after upgrading the server to 5.4. How can I start to use this updated file?
My folder structure is:

[code]

[2021-06-15 16:37] mprenditore commented on #385
found it, just created a folder `library` inside the role and put inside the fixed module from @tambetliiv
Thanks for the workaround!

[2021-06-16 13:49] vanohaker opened #397 "Zabbix 5.2, Error: a bytes-like object is required, not 'str'"
##### SUMMARY
Can not import a template with the zabbix_template module.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template module

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

playbook executed in:
Distributor ID: Neon
Description:    KDE neon User Edition 5.22
Release:        20.04
Codename:       focal
docker container ex

[2021-06-16 15:39] href opened #398 "Zabbix 5.4: user.alias has been renamed to user.username"
In Zabbix 5.4 the `user.alias` field no longer exists, querying for it does not work (the filter cannot be applied, causing all users to be returned). This leads to weird errors where the `zabbix_user` task will try to update the admin account when adding a new user.

See https://support.zabbix.com/browse/ZBXNEXT-6474

To fix this, both the legacy approach, as well as the 5.4 approach need to be s

[2021-06-16 16:50] #397 closed

[2021-06-16 16:52] vanohaker commented on #397
found a solution in your git
https://github.com/ansible-collections/community.zabbix/blob/9c4fdc3f2a65b58ef201dfacb8be568a1219191a/plugins/modules/zabbix_template.py#L533

[2021-06-17 07:46] href commented on #398
FYI, I wrote a quick fix for this issue. I didn't create a PR as I assume that this might warrant some discussion on how to deprecate 'alias' in favor of 'username'. In any case, here's the code with which I'm at least able to create users on Zabbix 5.4:

https://github.com/cloudscale-ch/community.zabbix/commit/e1d62560cea21b65b8832baf7c2774ddb0cc9d71

[2021-06-17 12:27] qnox81 opened #399 "Create a new host using agent2 use wrong port for interface create/update"
##### SUMMARY
when using `zabbix_agent2: true` interfaces variable is setup incorrectly using `zabbix_agent_listenport` when it should use `zabbix_agent2_listenport` instead

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`roles/zabbix_agent/defaults/main.yml`

##### ANSIBLE VERSION
irrevelant as its variable definition issue

##### CONFIGURATION
irrevelant as its variable definition issue

#

[2021-06-17 14:48] #399 closed

[2021-06-22 11:16] fourstepper opened #401 "remove.yml tasks don't work properly"
The variable `zabbix_agent_service` used in the remove.yml tasks file will return and act upon the string `zabbix-agent2`, if the following variables are set as follows:
[code]

https://github.com/ansible-collections/community.zabbix/blob/0e94f2ef6329e5f3fcb3f7ecc18167fd050374b7/roles/zabbix_agent/tasks/remove.yml#L5

I believe this is not the intended behaviour - I suggest we set a fact for anoth

[2021-06-23 10:19] PrismaComputer opened #404 "zabbix_agentd.conf ServerActive= and Server= is actively set to empty"
##### SUMMARY

zabbix_agentd.conf ServerActive= and Server= is actively set to empty

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_agent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Ubuntu 20.04

##### STEPS TO REPRODUCE

The aim is to set up a zabbix agent in ACTIVE mode. Problem:

zabbix_agentd.conf server and serveractive i

[2021-06-23 14:53] dj-wasabi commented on #404
Hi @PrismaComputer

You'll need to configure it with:
[code]
See the documentation on: https://github.com/ansible-collections/community.zabbix/blob/main/docs/ZABBIX_AGENT_ROLE.md

[2021-06-23 14:53] #404 closed

[2021-06-23 14:57] dj-wasabi commented on #401
Hi @fourstepper

That makes sense. 👍
Maybe the "remove.yml" should only be imported/executed if we have some logic that the role checks if the agent is installed. If it is installed, then I guess we can hardcode the service name right? (Or am I missing some other logic with this approach?)

[2021-06-23 14:58] dj-wasabi commented on #398
@D3DeFi and @sky-joker

Can either of you when you have some time check or look into this?

[2021-06-23 15:52] Cadjoe commented on #328
I ran into almost a similar issue, syncing inventory from Zabbix. It turns out `zabbix-api` was missing from the `awx_task` container. I installed it with `pip3 install zabbix-api` and everything is running normally since then.

**Note:** I didn't have this issue until upgraded from AWX 14.1.0 to 17.1.0

[2021-06-23 17:16] D3DeFi commented on #398
Proposed patch seems ok. There is not much to deprecate as user will not notice this change when interacting with module.

Additionally, I would add module parameter alias. Reference:
https://github.com/ansible-collections/community.zabbix/blob/6061c4908523bba3592f08a7d1c074544ed575a2/plugins/modules/zabbix_action.py#L375-L382
https://github.com/ansible-collections/community.zabbix/blob/6061c49085

[2021-06-24 05:49] fourstepper commented on #401
I think we can either limit only the excution of stopping the agent service, or the whole remove.yml - I think the first method could be cleaner. This is how I would implement it:

[code]

What do you think?

[2021-06-24 06:36] href commented on #398
Thanks, I added that to my change and created a proper pull request.

[2021-06-24 08:08] dj-wasabi commented on #401
Hi @fourstepper

Looks good to me! 👍

[2021-06-24 16:49] #401 closed

[2021-06-25 12:44] D3DeFi commented on #392
@NoxInmortus sorry, I somehow overlooked your comment. This is unfortunate truth, that our zabbix_host has better implementation of macros than actual zabbix_hostmacro.

Can you please open (one) separate issue for these (two) topics you mentioned here? This issue is not the best place to track such things.

[2021-06-25 13:40] #398 closed

[2021-06-25 14:11] NoxInmortus opened #410 "zabbix_hostmacro module does not support macro type (text/secret/vault)"
Hello, following  [this comment](https://github.com/ansible-collections/community.zabbix/issues/392#issuecomment-868473496)

Zabbix 5.0 introduced secret text macro : https://www.zabbix.com/documentation/5.0/manual/config/macros/user_macros
And Zabbix 5.2 also introduced secret Vault macro : https://www.zabbix.com/documentation/5.2/manual/config/macros/user_macros

Macro types text/secrets/vault s

[2021-06-28 15:11] #387 closed

[2021-06-28 15:12] D3DeFi opened #412 "API configuration.import behavior changed in 5.4"
Seems that Zabbix 5.4 has made something different as our CI is failing even after implementing #407.

Also read https://github.com/ansible-collections/community.zabbix/pull/407#issuecomment-869747870

Referenced template is https://github.com/ansible-collections/community.zabbix/blob/main/tests/integration/targets/test_zabbix_template/files/template1_52_higher.json

Now this is very interesting.

[2021-06-28 15:20] D3DeFi commented on #410
@NoxInmortus thank you for opening this as a separate issue :)

If you consider contributing necessary changes, they would be more than welcome. If not, I unfortunately, cannot give you any precise estimates when this might be implemented as bug fixes for 5.4 are now priority

[2021-06-29 14:47] #25 closed

[2021-06-29 14:47] D3DeFi commented on #25
Closing this issue as I don't possibly see it implemented in the current scope of this repo. We can reopen later

[2021-06-29 15:49] #357 closed

[2021-06-29 15:59] D3DeFi commented on #354
Adding role label as this also affects zabbix_agent role.

At this point I am not sure how this would be fixable in the plugin itself. It is not very hard to DoS Zabbix server if we run 10,20,30... API calls at once. I believe I've seen this even with `serial: 5` that Zabbix Server wasn't able to handle that much connections.

One of the problems may be that I've counted 18 API calls in total in t

[2021-06-29 16:03] D3DeFi commented on #331
As there were no updates in this issue for a longer period of time and we were not able to reproduce the problem, I am closing it.

Please feel free to reopen this if you are still able to reproduce the bug with 1.3.0 or soon incoming 1.4.0

[2021-06-29 16:03] #331 closed

[2021-06-29 16:09] D3DeFi commented on #277
this issue is dormant and we are not experiencing the reported problems with Zabbix server 5.2 (Zabbix server 5.4 is a different story and has its own issues opened in this repo), thus I am closing this.

Please feel free to reopen if you are still experiencing the problems with 5.2

[2021-06-29 16:09] #277 closed

[2021-06-29 16:11] D3DeFi commented on #243
issue dormant, solution offered, please feel free to reopen if you are still experiencing this as there was no response for more than half a year now

[2021-06-29 16:11] #243 closed

[2021-06-29 16:14] D3DeFi commented on #118
#375 reintroduced tests for zabbix_maintenance
unfortunately, due to the nature of the module it will never be idempotent if run 2nd time in a row after a few seconds

[2021-06-29 16:14] #118 closed

[2021-06-29 16:16] D3DeFi commented on #32
this is now very very old issue that we were never able to reproduce. Our tests are also not suffering from this and there is no communication regarding this issue for the past ~2 years

[2021-06-29 16:16] #32 closed

[2021-06-29 16:18] dj-wasabi commented on #354
Hi,

I think it might be related to the network routing between the host you want to install Zabbix Agent (or your own host running Ansible) with the Zabbix Server? What if you execute some curl's from your host and host running Zabbix Agent to the Zabbix server? Does these always work?

[2021-06-29 16:54] richlv commented on #32
Still seeing this on Ansible setups, but it might indeed be an obsolete problem. Thank you for checking on this :)

[2021-06-29 18:32] D3DeFi commented on #32
@richlv does is still involve python2.X? What about version of zabbix-api? Is there anything unusual about the setup?

[2021-06-30 14:40] richlv commented on #32
Yeah, it's all Python2, Ansible 2.8 etc. Moving away from that setup - will let you know if this pops up on a more recent Python/Ansible combo.

[2021-07-02 18:55] isuftin opened #414 "Add the ability to specify minor version release of Ansible agent/send/get"
##### SUMMARY
Need a way to specify the minor version of the Zabbix agent, sender and get packages. Currently, at least on RedHat, there's no way for a user to specify the installation of any Zabbix package that isn't the latest in the repository.

For example, I want to install 5.0.11 from https://repo.zabbix.com/zabbix/5.0/rhel/7/x86_64/

Unfortunately, because of how the yum repositories are se

[2021-07-02 19:03] dj-wasabi commented on #383
I am not sure if this is an issue within our Ansible code or just an issue for Zabbix itself. I don't think we (Ansible maintainers) do something specific with an ipv4/6 ip address, we just place the value inside the configuration file. I would suggest to open an issue at Zabbix.

I will close this issue. If for some reason this is an actual bug in our code, don't hesitate to reopen the issue but

[2021-07-02 19:03] #383 closed

[2021-07-02 19:05] dj-wasabi commented on #379
Hi, recently a PR #408 is merged that allows SAML configuration via the Zabbix Web. Would this help you?

[2021-07-05 09:40] syreel commented on #385
It seems the reason for this is that on Zabbix 5.4 when you call the API for a host it no longer includes the inventory_host field. According to people on the Zabbix support page @tambetliiv raised, this is a bug and will be fixed in future versions however it still leaves 5.4 with this issue. I managed to get around this by adding a rule on the "get_host_by_host_name" function which requests the

[2021-07-06 09:19] jqiuyin opened #416 "no innodb_default_row_format in 5.5.65-MariaDB"
##### SUMMARY
no Variable named innodb_default_row_format in 5.5.65-MariaDB

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix-proxy
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

centos7
zabbix4.0
5.5.65-MariaDB

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2021-07-06 09:21] jqiuyin commented on #416
This  may be caused by #200
@dj-wasabi

[2021-07-06 16:36] isuftin opened #417 "Add ability to load multiple Zabbix module as set in zabbix_agentd.conf"
##### SUMMARY
The `LoadModule` parameter in zabbix_agentd.conf should allow multiple modules to be loaded. Curently, the config file only
allows a single module to be defined.

https://github.com/ansible-collections/community.zabbix/blob/1.4.0/roles/zabbix_agent/templates/zabbix_agentd.conf.j2#L265

The variable `zabbix_agent_loadmodule` should be changed to a list or if still a string, template s

[2021-07-06 18:54] isuftin opened #418 "Zabbix agent config zabbix_agent_listenip and zabbix_agent_listeninterface not working as expected"
##### SUMMARY
I want Zabbix agent configuration to use the IP specified for eth0.

My variables are set as:

[code]

I expect this line to evaluate and execute: https://github.com/ansible-collections/community.zabbix/blob/1.4.0/roles/zabbix_agent/tasks/Linux.yml#L45-L50

It does not and I think what's happening is this issue: https://medium.com/opsops/wft-bool-filter-in-ansible-e7e2fd7a148f

#####

[2021-07-08 07:23] Droncz commented on #308
Hello,
I think I've run basically into the same problem, and I FOUND A SOLUTION:

I am using the role "geerlingguy.php", followed by a "community.zabbix.zabbix_web" role on Ubuntu 18.04, and it was failing on calling the handler "restart php-fpm" with an error because of non-existent service.

The problem lies in fact, that both roles define the handler of the name: "restart php-fpm":
 * geerlingg

[2021-07-08 13:51] dj-wasabi commented on #308
Hi @Droncz
Thank you for your comment. Is there a way you can provide a PR for this? Unfortunately I don't have much time these days, so it would help if you are able to create a PR for this so you can immediately see that your solution helps (And that it is passing the CI as well). If not, hopefully someone else will able to help, otherwise I need to find some time for it.

Thanks in advance.

[2021-07-09 14:43] dotslashcmd opened #423 "Add ability to use environment variabes for ( at least ) auth"
##### SUMMARY
Add a way to use environment variables for, at least, authentication.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
- inventory plugin
- modules

##### ADDITIONAL INFORMATION
This features would add much liberties for user to authenticate to Zabbix.

[2021-07-14 17:44] baszoetekouw opened #425 "php-fpm socket not accesible by nginx"
##### SUMMARY
In the php-fpm config, the fpm-processes are configured to run as the same user who owns the socket (either `zabbix_php_fpm_conf_user` or `zabbix_web_conf_web_user`).  Typically, that won't work, because the webserver (nginx) runs as a different user (`www-data` on Debian/Ubuntu).

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix-web

##### ANSIBLE VERSION

[code]

##### CO

[2021-07-14 20:09] #425 closed

[2021-07-27 13:20] david-sieg opened #430 "[role-zabbix-agent] zabbix_win_package variable is set during execution of role"
Summary
-----------

During execution of role-zabbix-agent on Windows system role fails with an 404.
(agent download package not found on repository)

I tried to install zabbix_agent2!

output of vars
----------------

output of error
-----------------

As shown above, inventory should be fine, but download failed.
Reason is an set_fact task which defines a new name for already set variable.

[lin

[2021-07-28 05:28] david-sieg opened #432 "[role-zabbix-agent] No deployment of zabbix agent 2 possible for Windows systems"
##### SUMMARY

No deployment of zabbix agent2 possible, because of wrong path to zabbix_agent2.exe which is set in task.
There are some other permanent paths used by other tasks.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

role-zabbix-agent

Zabbix agent 2 rollout

##### ANSIBLE VERSION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Windows Server 2016

##### STEPS TO REPRODUCE

[code

[2021-07-29 16:53] #418 closed

[2021-07-29 17:27] #308 closed

[2021-07-29 17:46] david-sieg commented on #432
can be closed because of:

https://github.com/ansible-collections/community.zabbix/pull/433

[2021-07-29 17:46] #432 closed

[2021-07-29 17:47] david-sieg commented on #430
can be closed because of:

https://github.com/ansible-collections/community.zabbix/pull/433

[2021-07-29 17:47] #430 closed

[2021-08-01 11:12] silverlight-jjm opened #435 "Set macro value twice will be error(MySQL by zabbix agent 2)"
##### SUMMARY

create or modigy Mysql by zabbix agent 2 template mcro values by zabbix_host twice will be error.

##### ISSUE TYPE
- Bug Report
zabbix_macros:
  - macro_key: "MYSQL.DSN"
    macro_value: "localhost"
  - macro_key: "MYSQL.USER"
    macro_value: "zabbix_server"
  - macro_key: "MYSQL.PASSWORD"
    macro_value: "zabbix_server"

An exception occurred during task execution. To see the fu

[2021-08-13 09:51] HenryAndry opened #439 "Error 2002"
Hi, have the problem with installation. Maybe cen help ) Thank, you!
![error_zabbix](https://user-images.githubusercontent.com/16820171/129339195-516a14c6-ed13-404c-b132-d4f55b3eb1e7.png)

[2021-08-13 10:50] dj-wasabi commented on #439
Please read the documentation, where you can see that the role isn't responsible for installing MySQL or PostgreSQL.

[2021-08-13 10:50] #439 closed

[2021-08-13 12:17] HenryAndry opened #440 "Have error with privellege"
Have error with permisiions dont understand why? Can somemone help if meet similar error before) Thank you!
![erore](https://user-images.githubusercontent.com/16820171/129355769-1f43b9bb-17dc-4fa4-930c-77b7240d183b.png)

[2021-08-16 07:08] ChaotX opened #441 "Agent role error on windows when running the role second time"
##### SUMMARY
Error occurre when running zabbix_agent role on a windows second time

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_agent

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT / Zabbix Version
target os: Windows server 2019

##### STEPS TO REPRODUCE

requirement.yml
[code]

[code]

##### EXPECTED RESULTS
The play on second run should finish with no change

##### ACTUAL

[2021-08-18 15:19] allout58 opened #442 "Unable to create users in Zabbix 5.4 due to setting "type" automatically"
##### SUMMARY

Unable to create users in Zabbix 5.4 due to setting "type" automatically

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_user

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

WSL2 with Ubuntu 20.04.2

##### STEPS TO REPRODUCE

Attempt to create a user in Zabbix 5.4, eiither setting the "type" explicitl

[2021-08-18 15:27] allout58 commented on #442
Whoops, looks like somehow I had a global version 1.0.0 installed, sorry for the trouble!

[2021-08-18 15:27] #442 closed

[2021-08-19 18:03] derekpurdy commented on #379
Unfortunately not, I'm looking to automate the LDAP Settings configuration.

[2021-08-20 08:33] throttlemeister opened #443 "Agent role fails to install on current versions of Linux"
##### SUMMARY
Current versions of Linux are not supported and install using the agent role will fail.
RHEL versions past 7 (current: 8.4)
Ubuntu versions past 18.04 (current: 21.04)
Debian versions past 10 (current: 11)
OpenSuse past 13.2 (current: 15.3)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/meta/ma

[2021-08-23 14:59] dark4rest commented on #441
Same error

[2021-08-24 14:39] dark4rest commented on #441
My fix:

Edit file roles/zabbix_agent/tasks/Windows.yml

- name: "Windows | Set path to zabbix.exe"
  set_fact:
    **zabbix_win_exe_path: '{{ zabbix_win_install_dir }}\bin\zabbix_agentd.exe'**

Add lines:

- name: "Windows | Stop Zabbix (Update)"
  win_service:
    name: Zabbix Agent
    start_mode: auto
    state: stopped
  when:
    - zabbix_service_info.exists
    - zabbix_service_info.state =

[2021-08-24 20:28] href opened #445 "Add support for dashboards (used to be screens)"
##### SUMMARY
With Zabbix 5.4 Screens are no longer available. Instead, "Dashboards" are used.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
community.zabbix.zabbix_dashboard

##### ADDITIONAL INFORMATION
See https://www.zabbix.com/documentation/current/manual/api/reference/dashboard

[2021-08-24 20:29] href commented on #445
I know this is not much in terms of specs, and I wouldn't assume that someone will just provide that. I also doubt I have the time to implement it myself. Still, I figured that this should be tracked somewhere, as with Zabbix 5.4 the screens module becomes obsolete.

[2021-08-27 07:24] Andersson007 opened #446 "Ansible Contributor Summit 09.21 registration is open"
##### SUMMARY
I'm happy to announce that the registration (free) for the Ansible Contributor Summit is open.

Which day should you attend?

- If you are wondering what it means to "contribute" to Ansible, or if you have been using Ansible for a while and are thinking of ways to get more involved with the project and community, then Day 1 (September 28, Tuesday) is for you! We will have hands-on la

[2021-08-29 17:01] yigitgokcu opened #447 "tag paramater support for zabbix_host?"
##### SUMMARY

I can't add hosts with **tags**. but I can see it in [here](https://docs.ansible.com/ansible/latest/collections/community/zabbix/zabbix_host_module.html). Is it actually not supported or am I missing something? If it is not supported, is there any possibility to bring **tag paramater** support for **zabbix_host**

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

`zabbix_host`

[2021-08-29 17:16] #447 closed

[2021-09-02 08:24] alexnuttinck commented on #443
I confirm, Bullseye sign_key is currently missing.

I needed to add

[code]

in the [zabbix.yml file](https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/vars/zabbix.yml
) to make it work.

[2021-09-02 17:28] nerijus opened #449 "Zabbix 5.4 template import fails with "Template already exists""
Using community.zabbix 1.4.0, zabbix 5.4.4.
Similar issue as https://github.com/ansible-collections/community.zabbix/pull/407#issuecomment-868505133 - while trying to import a template, I get:
[code]
How do I overwrite existing template without deleting it first?
The playbook code is like this:
[code]

[2021-09-07 12:54] chicha75 commented on #396
You need to set some variables in your inventory:
- ansible_connection to winrm
- ansible_become_methode to runas
You'll also need to define which user you want to become and which transport to use with winrm.

For example, in my case, my windows host are in the group [windows] and I have this in my inventory file:

[Windows:vars]
ansible_connection=winrm
ansible_winrm_server_cert_validation=ignor

[2021-09-07 15:01] nerijus opened #451 "Zabbix 5.4 template import fails with Invalid parameter "/1/uuid""
Using community.zabbix 1.4.0, zabbix 5.4.4. After I deleted existing template (reported in issue #449), when trying to import a template, I get:
[code]
I enabled debug logging in python3-zabbix-api-0.5.4 module by doing:
[code]
But I still do not see where Invalid parameter "/1/uuid" comes from, I do not see anything passed as "/1/uuid" anywhere.

[2021-09-10 06:07] maxxer opened #454 "Add ability to GET proxy information from Zabbix"
##### SUMMARY

It would be great to be able to fetch proxy information from Zabbix

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

zabbix_proxy

##### ADDITIONAL INFORMATION

I'd like to fetch proxy attributes and then use those values to write the config file.

[2021-09-12 14:22] D3DeFi commented on #454
@maxxer can you please test proposed module in the #455? You can place it to the **library/** folder in your ansible project.

[2021-09-12 14:48] D3DeFi commented on #451
Nice! This is it! I cannot actually believe they have silently changed ids to uuids without noting anything in the changelog! Working with Zabbix API is a real pleasure sometimes :)

This is reason why any template imports fail. We are actually trying to create new template with random assigned uuid when one already exists under different uuid, thus the error AlreadyExists.

In its basis this is d

[2021-09-12 14:48] D3DeFi commented on #412
Oh my, they have switched from using IDs to UUIDs! See #451

[2021-09-13 14:26] #385 closed

[2021-09-13 20:45] nerijus commented on #253
This issue reappeared with zabbix 5.4.4.

[2021-09-13 21:25] maxxer commented on #454
Works like a charm! Many thanks!!

[2021-09-14 08:58] ChaotX commented on #441
I could run the zabbix agent on windows with collection revision e1eefe488de39b2226b9d7dfa739928e7962100b.
I still struggle with linux install. I open separate issue for that.

[2021-09-14 08:58] #441 closed

[2021-09-14 15:28] nerijus opened #459 "Registering a host for the 2nd time fails when using force: false because of duplicate main interface (zabbix 5.4)"
Using community.zabbix 1.4.0, zabbix 5.4.4, ansible 2.10.9 (issue similar to #244 and #253):
Failed to update host example.com: ('Error -32602: Invalid params., Host cannot have more than one default interface of the same type. while sending {"jsonrpc": "2.0", "method": "hostinterface.create", "params": {"main": 1, "type": 1, "useip": 0, "ip": "185.xx.xx.xx", "dns": "example.com", "port": "10050",

[2021-09-14 15:33] nerijus commented on #459
As using `force: true` works (but removes templates), I am using the following patch for now:
[code]

[2021-09-14 15:43] D3DeFi commented on #459
Minor releases of Zabbix are extreme wonder of breaking semver :)

This one should be obvious tho. When we compare interfaces in [zabbix_host#L757+](https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_host.py#L757) we compare each key in existing interface (one retrieved from zabbix) to keys present in interface provided by user. If they are not matching and `f

[2021-09-14 16:41] nerijus commented on #459
As we don't provide additional fields as parameters, it is probably better to not compare them (i.e. ignore them) at all?

[2021-09-14 16:59] nerijus commented on #459
Commenting out lines:
[code]
did not help.

[2021-09-15 12:50] szuro commented on #451
@D3Defi it was in both [changelog](https://www.zabbix.com/rn/rn5.4.0)
![obraz](https://user-images.githubusercontent.com/24614981/133436199-d0f326c7-e50d-4eed-85ad-1de96a3bd820.png)
 and "[what's new](https://www.zabbix.com/whats_new_5_4)" page:
![obraz](https://user-images.githubusercontent.com/24614981/133436374-29c11d43-deab-4a6b-8f35-dcfc36819ec4.png)

[2021-09-15 13:40] D3DeFi commented on #451
Ok, my bad. Usually, when first reports start to pop up, we tend to look here, since we are working with API directly:
https://www.zabbix.com/documentation/current/manual/api/changes_5.4

So in a sense, it is an undocumented change from our point of view. It is also questionable if breaking changes like this should at all be a part of the minor releases.

This collection definitely struggles to ev

[2021-09-17 15:03] manuelschneider opened #460 "Updating PSK is broken with Zabbix 5.4.2"
##### SUMMARY

Since Zabbix 5.4.0 PSK fields are writeonly (also in the API), see

https://github.com/ansible-collections/community.zabbix/blob/2f1898f36ba2c8751e84c2892aa04fd003e52f6b/plugins/modules/zabbix_host.py#L834

That means, the key isn't returned, so you cannot check it for changes - it is empty. In your check if something has changed at
  https://github.com/ansible-collections/community

[2021-09-20 18:49] nerijus commented on #451
The problem was that I generated UUIDv5, while zabbix expects UUIDv4. After changing to UUIDv4 I was able to import template.

[2021-09-20 18:49] #451 closed

[2021-09-20 18:52] nerijus commented on #449
It happens if I try to import template with UUIDs, which differ from the ones in existing template. If I import template with the same UUIDs (or without any - need to test), it works.

[2021-09-20 18:52] #449 closed

[2021-09-27 15:00] fridtjof opened #463 "Proxy role fails importing schema file due to permissions"
##### SUMMARY

When installing a zabbix proxy using the zabbix_proxy role, it fails to import its schema due to file permissions.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_proxy role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

- Zabbix (Proxy) 5.0
- Ubuntu 20.04.3 LTS

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESU

[2021-09-28 15:28] #454 closed

[2021-09-28 15:30] #446 closed

[2021-09-28 15:38] Andersson007 commented on #446
there's the second day on Friday:) So who doesn't register yet can do it up to Friday:)

[2021-09-28 15:43] D3DeFi opened #466 "Looking for Maintainers!"
##### Help wanted
Hello Ansible Zabbix community!

We are looking for maintainers, reviewers, contributors and everyone else that may help with moving this collection forward.

Unfortunately, in the last months, this collection has become more stale and maintainer activity ceased down to the minimum.

Please comment on this issue or contact me directly at d3defi@gmail.com if you are interested.

[2021-09-28 15:46] D3DeFi commented on #466
@gundalow maybe this could also be highlighted in the bullhorn?

I don't plan to step down, but this collection mostly come to halt as work on the plugins and roles seem to be around 10% compared to what it used to be when we first created the collection.

It has, unfortunately, became increasingly difficult for me to find spare time and energy.

[2021-09-29 08:59] D3DeFi commented on #440
Hello @HenryAndry, it is very hard to deduce just from the following error and no additional information.

First of all, I believe this is not related to the Zabbix community per see, but something is missing on the host where you are trying to install Zabbix itself and `become` doesn't work for you.

From the quick googling around I've found that you may be missing a sudo on the managed system -

[2021-09-29 08:59] #440 closed

[2021-09-29 09:04] D3DeFi commented on #443
Hey guys, as pointed by @alexnuttinck, actual problem is in the file https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/vars/zabbix.yml

Please feel free to open a PR for this.

[2021-09-30 19:27] miettal opened #468 "send_to_users of zabbix_action module is not working on zabbix 5.4"
##### SUMMARY

I used zabbix_action module on zabbix 5.4.
but argument send_to_users is not working.

because I set "admin" user on argument, but actually "guest" is setted.

probably, the reason is alias attribution of "user" is obsoluted from zbx 5.4. and "username" attribution is appeared from zbx 5.4,
I think change this , will be resoved.

https://www.zabbix.com/documentation/current/manual/a

[2021-09-30 19:31] miettal commented on #466
I have little experience in English skills and developing OSS, but I would like to cooperate as much as I can.
I think a simple issue can be fixed.

[2021-10-02 09:22] stefanux commented on #466
happy to help, will contact you directly.
If someone knows any sponsors who are willing to put a couple of bucks into this: this might help too!

The role (and now the collection) already helped countless Admins/Devops/SREs all over the world, would hate to see it dying a slow death.

[2021-10-02 14:21] stefanux commented on #443
@throttlemeister Ubuntu 20.04 is already covered in main-branch, debian11 is working with the PR above.
someone with RHEL und Opensuse could provide easily confirmation on their system and provide a PR.

[2021-10-02 14:42] stefanux commented on #369
@tar-xzvff it seems the directory /etc/opt/rh/rh-php72/php-fpm.d is not existing, could you verify thats the correct directory, especially if php_version: '7.2' is correct?

background: the "task RedHat | Install PHP" in "roles/zabbix_web/tasks/RedHat.yml" want to template out into zabbix_php_fpm_dir .
If that's not defined it falls back to "_php_fpm_dir" which is defined in "roles/zabbix_web/vars

[2021-10-02 15:02] stefanux commented on #338
@soinu i can see your point, i would assume this is a thing in compliance heavy environments.

some users with similar use-cases might even want to use their own repos (with custom or approved packages) so maybe its the best general approach to make a simple variable like "zabbix_use_official_repo" (which is the default) and if you set it to False all tasks that are related to pgp (and adding repo

[2021-10-02 15:58] #443 closed

[2021-10-02 16:57] D3DeFi commented on #466
Wow, I have expected this post to go unnoticed for some time :sweat_smile: Thank you all for offering your help! I really appreciate it :)

It goes without saying that we need bugs fixed and features implemented (especially closing issues that are open). There is also space for new modules to be included as we do not cover all of the options that API offers (trends, web scenarios, etc..).

Here ar

[2021-10-03 08:04] dj-wasabi commented on #338
Hi @soinu / @stefanux

There is a property called `zabbix_repo` which you can set to `"other"` (Default set to `"zabbix"`) and then it won't install any yum|apt repositories on any of the Linux systems. So then Zabbix will be installed with the current set of repositories set and not from Zabbix.

I will therefor close this issue. If you do have any question/remarks, or that I mis understood you,

[2021-10-03 08:04] #338 closed

[2021-10-03 09:37] dj-wasabi commented on #466
Well, if someone has a Windows node available that might help validating the Agent on Windows issues/PR's. Other than that, any help is welcome. 👍

[2021-10-03 09:45] dj-wasabi commented on #417
Hi @isuftin

This is already the case. You can use it as a string, but also as a list. See the template:

[code]

With using it like the following would work as well:
[code]

As this is already the case, I will close this issue.

[2021-10-03 09:45] #417 closed

[2021-10-04 08:10] D3DeFi commented on #468
Fixed by #472

[2021-10-04 08:10] #468 closed

[2021-10-04 10:15] emper0r opened #473 "--skip-tags="always""
##### SUMMARY
Hi we are using the module and works fine... is just this kind option we are getting some issue.

##### ISSUE TYPE
in our deployment we use a playbook where load many others groups of playbooks... and we need to add by force this
'  --skip-tags="always"  ' on runtime when we not deploy zabbix ... and if we need to config zabbix for some server then remove it to can use module correct

[2021-10-04 11:15] dj-wasabi commented on #473
Hi,

The tag `always` is part of Ansible and is a common usage pattern when using tags. I don't see the point of removing the `always` tags and add more maintenance work in the roles and thus not relying on common practices for a single user. I also experience tags as in something specific for a environment/client/customer: everyone has an idea what works best for them which might be not working f

[2021-10-04 12:32] Roxyrob commented on #473
Hi @dj-wasabi,
As you I also think ansible tags are very hard to manage and often counterintuitive, but still useful and powerful.

Tags will work differently under import vs include and sure as @emper0r say, with import_playbook, but I think this issue is more related to the meaning of `always` that was implemented as a special tag to execute a task **even if Ansible was called with --tags option

[2021-10-04 14:28] miettal commented on #463
there are a method of using zcat and pipe as another way.

like this ↓ (not yet test)
[code]

It seems code of sqlite3 part is using zcat and pipe

[code]

[2021-10-04 16:01] miettal commented on #423
Is this authentication meaning that you want to set the user password of zabbix api from the environment variable?
(I'm sorry if I misunderstood)

there is ansible.builtin.env module.
Do you suit this module to your use case?
https://docs.ansible.com/ansible/latest/collections/ansible/builtin/env_lookup.html

[2021-10-04 16:31] miettal commented on #238
sorry for missing re-producing procedure.

the procedure is follows:

environment:
[code]

minimum config:
[code]

result:
[code]

[2021-10-04 16:51] D3DeFi commented on #423
Oh nice, I haven't know about this.

Indeed, I wonder if we can implement, that our modules will be accepting ZABBIX_SERVER, ZABBIX_USER and ZABBIX_PASS env variables somewhere from module_utils/ (so each module can benefit from it) and simultaneously lift restrictions on module parameters `server_url`, `login_user` and `login_password`, which are now being required.

This would essentially transl

[2021-10-04 19:15] apiening opened #474 "zabbix_proxy fails to load SQL on Ubuntu 20.04 LTS"
##### SUMMARY
The task **[community.zabbix.zabbix_proxy : Get the file for schema.sql]** fails on **Ubuntu 20.04 LTS**.
The schema could not be selected from `/usr/share/doc/zabbix-proxy-mysql` because it is at another location.
From what I see in the task, it should be sufficient to set the variable `datafiles_path` to `/usr/share/doc/zabbix-sql-scripts/mysql`.

##### ISSUE TYPE
- Bug Report

###

[2021-10-05 14:03] miettal commented on #474
it seems schema.sql path was changed in 5.2
 from /usr/share/doc/zabbix-proxy-mysql
 to /usr/share/doc/zabbix-sql-scripts/mysql

but actual code is judging "grater than 5.4" or not.
I think this is mistake, its have to be ↓

[code]

[2021-10-05 15:36] miettal commented on #354
you can use throttle keyword in task. it's perform restriction of task level parallel processing.

how about?
https://docs.ansible.com/ansible/latest/user_guide/playbooks_strategies.html#restricting-execution-with-throttle

[2021-10-05 16:58] miettal commented on #435
it seems related to https://github.com/ansible-collections/community.zabbix/pull/415

[2021-10-05 17:05] miettal commented on #327
How about trying changing staging_directory? in packer config

it seems packer copy ansible provisioning script to staging_directory, it can be changed.
https://www.packer.io/docs/provisioners/ansible/ansible-local

[2021-10-06 12:07] apiening commented on #474
Thank you very much for your investigation.

I also tried to dig a little bit into this and I found that I had the `zabbix-proxy 5.4` package installed. And I think that happened because the variable `zabbix_proxy_version: 5.2` was not set on my first run because of a typo in my `host_vars` file.
When the playbook was applied again, the zabbix proxy installation was not **downgraded** to version 5

[2021-10-06 13:10] miettal commented on #474
it was good！

Sorry, this is a misunderstanding.

[2021-10-14 05:58] #410 closed

[2021-10-21 11:20] #396 closed

[2021-10-21 14:24] klando commented on #334
this issue can be closed probably.

[2021-10-21 14:28] #334 closed

[2021-10-26 11:46] chicha75 opened #501 "Last merge (#500) breaks initial zabbix agent installation for agent with auto_tlspsk"
##### SUMMARY
Last merge about being compliant with ansible-lint breaks the correct configuration of the agent.
The TLS PSK Identity is not correctly generated
The pull request [500](https://github.com/ansible-collections/community.zabbix/pull/500) splitted the setting of zabbix_agent(2)_tlspskidentity over several lines but removed the the enclosing {{}} around the right value.. It's not avaluate

[2021-10-27 06:24] wemian opened #503 "LogFile in zabbix_agent/templates/zabbix_agent2.conf.j2"
Dublicate LogFile={{ zabbix_agent2_logfile }}

[code]

[2021-10-29 14:10] mantri425 opened #506 "Not able to install community.zabbix under vitual environment"
Please raise issues via the [new interface](https://github.com/ansible/ansible/issues/new/choose)

I created a venv, when i try to do `ansible-galaxy collection install community.zabbix` it is throwing the following error, it is trying to look into existing collections since it is permission denied it fails.

[code]

ansible version

`(ansible2.9) someuser@dcsfeoc47:~/workspace/icn_inventory$ ansi

[2021-10-29 18:14] dj-wasabi commented on #503
Merged the PR, so I will close this issue.

[2021-10-29 18:14] #503 closed

[2021-10-30 05:34] D3DeFi commented on #423
Unfortunately, it will not work like that for modules. Although modules are plugins from the perspective of Ansible, they are not the same from the perspective of Python.

Plugins, that implement `get_option` method are all in the end children of [AnsiblePlugin](https://github.com/ansible/ansible/blob/devel/lib/ansible/plugins/__init__.py), but modules are children of [AnsibleModule](https://githu

[2021-10-30 06:22] D3DeFi commented on #506
Hi,

I've created testing Ubuntu18.04 VM as those come with Python3.6.9 and tried to replicate your setup:
[code]

MANIFEST.json is automatically generated by ansible-galaxy. I am also not sure that support for collections was officially added sooner than 2.9.11 or something. I am surprised that ansible-galaxy for 2.9.0 even knows what collection is at all.

You seem to be installing env in /home/

[2021-10-30 08:23] dj-wasabi commented on #506
Officially, collections where supported since 2.10. Also as @D3DeFi mentions this could be an permission issue and therefor I will close this issue. If you do have solved it and it works and do find new issues, don't hesitate to open a new bug/feature request etc. But what is provided now is not specific to this collection.

"May the force be with you!"

[2021-10-30 08:23] #506 closed

[2021-10-30 19:19] dopice commented on #423
@D3DeFi Thanks for pointing that out which helped me save some time!
I know you have an alternative way of using the lookup plugin but please check #508. I keep it as a draft since I'm not sure if this is the wanted behavior you want.

[2021-10-31 07:26] D3DeFi commented on #114
zabbix_hostmacro now supports macro types #456

this issue has become stale and should be fixed already so I am closing it

[2021-10-31 07:26] #114 closed

[2021-10-31 07:30] D3DeFi commented on #279
@klando not exactly sure what line to look at there. It doesn't seem that any of them confirms that proxy was migrated to using hostinterface, but I think that at this point it is safe to assume so

[2021-10-31 07:33] D3DeFi commented on #317
@dj-wasabi is it enough for this issue to just update roles/zabbix_web/vars/{Debian10,Ubuntu18}.yml with the following?

[code]

If so I can open a PR

[2021-10-31 07:35] D3DeFi commented on #328
@marcusjfloyd is this something that is still happening to you? Have you perhaps had a chance to upgrade to ansible >= 2.10 to see if the issue persists?

[2021-10-31 07:37] D3DeFi commented on #369
perhaps related to the contents of https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_web/vars/RedHat-7.yml?

php version is set there to 7.3, but directories point to 7.2

[2021-10-31 08:53] #501 closed

[2021-10-31 08:56] dj-wasabi commented on #317
If 7.2. is the default, then lets update these 2 files with 7.2 instead of 7.3.

[2021-10-31 08:59] dj-wasabi commented on #369
There was also an issue with Debian10/Ubuntu18 that has 7.2 as default, maybe update the PR that it also includes RedHat7?

[2021-10-31 09:16] dj-wasabi opened #510 "Update PHP setup regarding Zabbix Web role"
##### SUMMARY

The current actions/setup/logic in the Zabbix Web role regarding PHP is completely outgrown and probably error prone/buggy (I try to prevent to say that it is a mess 😄). Also that Zabbix has made some changes in the last few releases also don't make it more anything easier. Someone with enough PHP setup experience should ideally take some time to make something more easier to mainta

[2021-10-31 09:21] dj-wasabi opened #511 "Find better way to handle signing keys for Zabbix"
##### SUMMARY

Each role has a `zabbix.yml` file in the `vars/` directory containing the version of Zabbix, the name of the OS and the signing key. It not maintainance friendly to update the file with new OS's with signing keys and maintain them over de 5 roles. Something smarter should either be used, or ....

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[2021-10-31 21:24] #423 closed

[2021-11-01 11:20] klando commented on #279
correct, the changelog is not complete...

[2021-11-01 14:58] dj-wasabi commented on #510
If you are interested in doing this, just let me now and I will asign this issue to you. In the mean time, I will try to experiment a bit with it.. 🤬😅😃

[2021-11-01 14:59] dj-wasabi commented on #511
If someone is interested in picking this up, please let me know and I will assign it to you. This also means that people see that there is someone working on it. 👍

[2021-11-02 09:51] dopice commented on #511
I've been looking and thinking about about this and maybe I can help out with this. I do have a couple of questions that we maybe can answer together on why and how we would like to proceed.

1. Is there a reason why we import the signing keys for Debian based distributions but not for Enterprise Linux (EL) based? In the defaults/main.yml we have `zabbix_repo_yum_gpgcheck` set to `0` which disable

[2021-11-02 14:35] weehal opened #514 "Regression in zabbix_agent/tasks/userparameter.yml when ansible.windows collection is not installed"
##### SUMMARY
`zabbix-agent/task/userparameter.yml` fails when using ansible < 2.10  ansible.windows collection is not installed with error

[code]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`zabbix-agent/task/userparameter.yml`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Debian buster/ Ubuntu focal/  Zabbix 5.2 / 5.4

##### STEPS

[2021-11-02 15:44] shk3bq4d opened #515 "Role Zabbix Agent (linux): do not create PSK directory and file on false-ish key file value"
##### SUMMARY

At the moment, the only way to not create the passive linux agent PSK key file is to have variable zabbix_agent2_tlspskfile left undefined.

This is sometimes a difficult requirement when inventory is complex.

My case: I'd like to set a default value in group_vars/all.yml and override this in other group_vars, however having the default value in group_vars gives me no way to reset

[2021-11-02 15:53] shk3bq4d commented on #515
https://github.com/shk3bq4d/community.zabbix/commit/44016f6dc570b289a01faec30dc82a26060b3500 would satisfy my feature request

[2021-11-02 19:00] dj-wasabi commented on #511
Hi @dopice

1. To be honest, I really don't know. I think it was mostly because of my lack of knowledge and experience of using Debian/Ubuntu where I thought to provide an id.
2. I think the answer on 1. also applies here.
I am not a Debian/Ubuntu user, let alone knowing things how apt works. So if you think the above will work, Molecule agrees with it and we can get rid of an vars file, then I am

[2021-11-02 19:10] dopice commented on #511
Okay, thanks for the clarification! Let me put some effort into this and at least come up with a real proposal. I'll ping you as soon as I have something to show. 👍 You can assign this issue to me if you want.

[2021-11-02 19:24] dj-wasabi commented on #511
Thanks! 👍

[2021-11-02 19:29] dj-wasabi commented on #514
Hi @weehal

A PR #477 is merged a while ago, that resulted in that Ansible 2.10 is the minimum version to be used with the roles in this collection. So I would suggest to either use 1.4.0 as version (if you can not use a newer version of Ansible), or upgrade to a new version of Ansible.

[2021-11-03 10:54] weehal commented on #514
I managed to work around the problem by installing the `community.windows` and `ansible.windows` collections even though I am not using MS Windows in that environment.

BTW – when testing on Windows in other place I've noticed in `roles/zabbix_agent/tasks/Windows.yml`:

[code]

OFC it's a story for another issue.

[2021-11-03 16:39] But4ler opened #516 "set_fact error in 1.5.0 with new syntaxe"
##### SUMMARY
Hello
Since the switch to ansible 1.5.0, host creation fails when creating a new TLS PSK

##### ISSUE TYPE
- Bug Report

- commit bug: https://github.com/ansible-collections/community.zabbix/commit/623cc606023304ca05c5e44ac69aaa5e6e8cd193

##### COMPONENT NAME
zabbix_agent
https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/tasks/tlspsk_auto_agent2.ym

[2021-11-03 21:01] dopice commented on #310
In #517 I have implemented a fallback for EL 7 since Zabbix version 5.0 is the latest supported. See https://github.com/dopice/community.zabbix/blob/repository-gpg-checking/roles/zabbix_server/tasks/RedHat.yml#L8

[2021-11-08 08:41] D3DeFi opened #519 "Wrong usage of template.create/update API calls?"
##### SUMMARY
See #518

Apparently, we link templates in a wrong way?

[code]

I wonder why our zabbix_template module even works in actual state, since doc for 4.0 also notes using `templates: [templateid: val]`

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/modules/zabbix_template.py

[2021-11-08 12:18] mu1f407 commented on #519
@D3DeFi thanks for creating an issue. Internally I fixed it in another way than in original PR. Successful tests, where I saw that template linking is used, is exactly what makes me curious as well. I wanted to run tests against Zabbix 5.0 before submitting another PR, but I will need some time to prepare the test environment.

[2021-11-08 20:24] mu1f407 commented on #519
I've managed to install Docker testing environment and I found that it fails only on template.create API call and there is no test which could catch this error, because the [template create test](/ansible-collections/community.zabbix/blob/ac7728247a27dfd5c7257c625decdf73da52d102/tests/integration/targets/test_zabbix_template/tasks/main.yml#L19) does not links any templates.

I added another test f

[2021-11-08 20:40] D3DeFi commented on #519
@mu1f407 awesome! Thank you :) I will then assign this issue to you

[2021-11-09 12:00] fastman commented on #317
For Debian 11 it's 7.4 btw.

[2021-11-12 12:14] benaryorg commented on #515
Does setting the `zabbix_agent2_tlspskfile` to *null* explicitly in YAML (within the `host_vars` for instance) solve your problem?

[code]

[2021-11-13 10:04] dj-wasabi commented on #515
Although an alternative/fix/workaround is provided by @benaryorg 👍  I am also willing to merge the PR that you provided in your comment @shk3bq4d

[2021-11-13 10:11] shk3bq4d commented on #515
Hello,

I can't test until Monday, I will let you know them.

My feeling is that the workaround won't work because any false-ish value still result in the variable passing the "is defined" when-conditions which my PR aim to disable but I'm happy to be proven wrong.

Best regards,

[2021-11-13 10:12] dj-wasabi commented on #515
No worries, take your time. If the provided solution doesn't work, i will see a PR appear. Have a nice weekend! 🌞

[2021-11-13 17:38] maxxer opened #525 "tls_accept param should accept multiple values"
##### SUMMARY

[API docs](https://www.zabbix.com/documentation/4.0/manual/api/reference/host/object#host) says:

tls_accept | integer | Connections from host.   Possible **bitmap** values are:  1 - (default) No encryption;  2 - PSK;  4 - certificate.

While `tls_connect` is a simple integer.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
* zabbix_proxy
* zabbix_host

[2021-11-14 08:24] maxxer commented on #525
While thinking about it, it has different *meaning* for the agent/proxy config file and for the api/backend: the multi value option is only for this last entity. I guess this can be probably left *as is*. Unless the plugin just takes the first option for the config and all for the api/backend.

[2021-11-14 08:27] maxxer opened #526 "tls_accept and tls_conect needs to be the opposite"
... at least for the backend api!

##### SUMMARY
When configuring encrypted communication between proxy and server, there's a mismatch of tls accept/connect params between the config file and the definition created on the Zabbix backend.

In my test I encrypt communications between proxy and server but I allow unencrypted ones between agents and proxy. This is my config:
[code]

![immagine](https:

[2021-11-15 07:56] shk3bq4d commented on #515
@benaryorg : thank you for the suggestion. Unfortunately it doesn't work with the following error (on ac77282, aka 1.5.0)

[code]

[2021-11-15 15:50] doyl54 opened #530 "Error with vars when generating PSK files for windows"
##### SUMMARY
When you install agent version 2 on windows the secret file is not created because the when condition is never filled (he is waiting for agent version 1's vars and not the agent version 2)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
PSK setting up on Windows

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix agent 5.4

[2021-11-15 16:48] doyl54 commented on #516
How we fixed it on local, idk if it works on all cases

- name: AutoPSK | Generate new TLS PSK identity
  set_fact:
    zabbix_agent2_tlspskidentity: >-
      {{
        (( (zabbix_agent2 == True) | ternary(zabbix_agent2_hostname, zabbix_agent_hostname) ) | default
      + '_'
      + lookup('password', '/dev/null chars=hexdigits length=4'))
      }}

[2021-11-16 22:40] ragingpastry opened #533 "AutoTLSPSK configuration is broken"
##### SUMMARY
https://github.com/ansible-collections/community.zabbix/pull/495 has broken autotlspsk configuration for the role

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/tasks/tlspsk_auto.yml#L48-L58

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
N/A

##### OS / ENVIRONMENT / Zabbix Version
N/A

##

[2021-11-16 22:51] ragingpastry commented on #533
I think we need to add an additional host (with hostvars) to test this functionality. Currently your tests don't cover the code which I fixed in the MR.

The most straightforward solution wold be to create a new host with the `zabbix_agent_tlspsk_auto: True` parameter defined in host_vars. If you'd like I can make this change as a part of #534

[2021-11-16 23:10] ragingpastry commented on #516
Hey there I see you ran into this as well. I've submitted a merge request to fix this issue here: https://github.com/ansible-collections/community.zabbix/pull/534

[2021-11-17 22:16] benaryorg commented on #515
@shk3bq4d I'm just throwing ideas around at this point, and I don't have a working test-setup for this, but what about:

[code]

[2021-11-18 07:50] maxxer commented on #526
I made a working patch by swapping the params in the plugin, but before submitting a PR I was wondering if it's correct

[2021-11-19 15:37] dj-wasabi commented on #516
Do we all agree that #534 is the solution we need? (I see a lot of PSK issues/PR's recently.. I hope we are not in some kind of a loop where everyone fixes the issues they have caused by other people fixing the issues they have caused by other people fixing the issues they have etc etc 😄. )

[2021-11-19 15:38] #515 closed

[2021-11-19 15:51] doyl54 commented on #516
Yes this MR is working, i closed the solution i had proposed in an other MR wich was working too, but anyway this one worked for me on 4 windows OS

[2021-11-23 15:55] #519 closed

[2021-11-23 18:46] #533 closed

[2021-11-24 09:18] Nitish0292 opened #538 "Failed to import the required Python library (zabbix-api) on automation-job"
"exception": "Traceback (most recent call last):\n  File \"/tmp/ansible_community.zabbix.zabbix_maintenance_payload_7i0zonyy/ansible_community.zabbix.zabbix_maintenance_payload.zip/ansible_collections/community/zabbix/plugins/module_utils/wrappers.py\", line 15, in <module>\n    from zabbix_api import ZabbixAPI, Already_Exists, ZabbixAPIException\nModuleNotFoundError: No module named 'zabbix_api'\

[2021-11-24 16:55] ragingpastry commented on #538
Are you able to provide an example playbook which causes this?

[2021-11-24 18:44] D3DeFi commented on #538
@Nitish0292 it is usually not enough to install just collection. Have you also installed the python `zabbix-api` library as well?

[2021-11-25 04:37] Nitish0292 commented on #538
- name: Zabbix maintenance START 2 changetest
    community.zabbix.zabbix_maintenance:
     name: "AnsibleUpdate_{{inventory_hostname}}"
     host_name: "{{ inventory_hostname }}"
     state: present
     minutes: 90
     server_url: "{{ zabbix_hostname }}"
     login_user: "{{ zabbix_username }}"
     login_password: "{{ zabbix_password }}"
     desc: "AnsiblePatching"
     validate_certs: no

[2021-11-25 04:41] Nitish0292 commented on #538
I mentioned code above,
i tried to install zabbix-api on container but failed to do it due to permission issue,
and tried to install using playbook also but dint work.
with awx latest version things are so complicated

[2021-11-25 18:09] D3DeFi commented on #538
@Nitish0292 unfortunately this is not something we can cover for you in this collection. Running our modules requires you to have the zabbix-api python library installed. There is unfortunately no way around that at the moment.

I believe that it should be installed via: `/var/lib/awx/venv/ansible/bin/pip install zabbix-api`.

However, running in a Docker container, this is not a persistent change

[2021-11-26 14:08] D3DeFi commented on #466
Hello everyone!

Sorry for my very delayed response. I am spread too thinly these months and only have time to react to the most pressing issues in the community.

@miettal @stefanux I've seen you guys lurking around the repository a bit commenting on PRs/opening some bugfixes. Since you already had a chance to "taste a maintainership" in this repository, what are your opinions? Would you like to

[2021-11-26 16:23] dj-wasabi commented on #530
Close this one, as PR is merged.

[2021-11-26 16:23] #530 closed

[2021-11-26 16:24] dj-wasabi commented on #516
Close this one, as PR mentioned in this issue is merged.

[2021-11-26 16:24] #516 closed

[2021-11-26 16:25] dj-wasabi commented on #514
Hi @weehal

A PR is merged that fixes the typo. Can you confirm that it is now correctly?

[2021-11-26 16:47] ned300889 opened #539 "Zabbix agent for windows not idempotent"
##### SUMMARY

Running zabbix_agent against a windows machine will partly uninstall the agent during runtime then fail at Windows | Set service startup mode to auto and ensure it is started]
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_agent
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Target OS - Windows Server 2016

##### STE

[2021-11-26 21:07] lzadjsf commented on #466
Huh... Seems it's time to make my contribution into development zabbix and ansible roles for it.
Yes, let's try.

[2021-11-26 22:57] stefanux commented on #466
sure, not familiar with molecule atm, but happy to help from sysadmin / hosting stuff / testing-angle. i believe @dj-wasabi mentioned a windows testing-VM?

[2021-11-27 08:48] dj-wasabi opened #540 "Zabbix Agent role Testing on Windows"
##### SUMMARY

We need to be able to test the Zabbix Agent role on Windows. Zabbix Agent for Windows is currently best effort, as we don't have an automated way of validating the changes like we have for the various Linux setups. If we have an way to test the Zabbix Agent role on Windows, we can validate every PR before getting merged. It won't be best effort anymore, but with full support.

#####

[2021-11-27 09:02] dj-wasabi commented on #538
@Nitish0292

I will close this issue as @D3DeFi stated that this is not specific to this collection (and provided a fix). But what I will do is that I will create an issue for updating the documentation regarding usage of this role in (or with) AWX. Although not specific to this collection, this documentation should contain the basic steps needed to make (any) collection work in AWX.

[2021-11-27 09:02] #538 closed

[2021-11-27 09:10] dj-wasabi opened #541 "Update documentation for AWX"
##### SUMMARY

Some issues have been created in the past (#538 #250 ) that leads to collection not being (properly) installed. We need to update (or add some information to) the documentation on how to properly use a collection in AWX. Although this is not specific to this collection, we could also add a link on how to properly install the collection(s).

Endgoal: Anyone that is using AWX and woul

[2021-11-27 09:13] ned300889 commented on #539
Morning all,

Whilst i can't help with the automation side of things regarding this module, i have created a testing platform internally and will work on a fix for this. @dj-wasabi please feel free to assign this issue to me.

[2021-11-27 09:15] dj-wasabi commented on #539
Thank you! 👍 I will see the PR when you are ready, don't feel any pressure from my side though 😉

[2021-11-27 09:48] dj-wasabi commented on #526
To be honest, I really don't know. Don't work with encryption (yet). Maybe someone from the community knows?

[2021-11-27 10:55] ned300889 commented on #539
Morning again,

I've ran some tests and it appears to be an ansible-galaxy issue and not a codebase issue. As i started this work last month the version being ran on my servers was 1.4.0 which contained the idempotency bug.

Upgraded via galaxy to 1.5.0 and this version has an error with the task "Windows | Check if windows service exist" with the following error.
[code]
The error points to
[code]

[2021-11-27 11:15] ned300889 commented on #539
https://github.com/ansible-collections/community.zabbix/commit/6c172471488baa9877923a5d6706c66358cf6a84 This commit resolves the issue and would be the only merge needed to resolve the issue.

@dj-wasabi I'll leave this with you as there is no further commits needed to resolve this issue

[2021-11-27 15:07] dj-wasabi commented on #539
Hi @ned300889

Ok, thank you for your research. I am waiting for mering #537 and then we create an 1.5.1. So hopefully we can soon merge it and create a new release to be available for the Galaxy.

[2021-11-27 18:12] ragingpastry opened #542 "zabbix_user module requires a password on "disabled" authentication types"
##### SUMMARY
Currently the zabbix_user Ansible module will require a password to be set on any new user that is a member of a usergroup using any authentication type other than "LDAP". I believe it should be required for "internal" authentication types only

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_user module

##### ANSIBLE VERSION
N/A

##### CONFIGURATION
N/A

##### OS / ENVIR

[2021-11-28 09:53] dj-wasabi commented on #525
It is currently not clear to me what actually is needed. Can you provide some more information what the problem is and what is expected? (Maybe just follow the template and fill in the questions).

[2021-11-28 13:12] #542 closed

[2021-11-28 13:38] D3DeFi commented on #525
I presume that this is related to plugins as roles have #526 open already and zabbix_host doesn't have its counterpart within roles as proxy does.

Excerpt from zabbix_host doc:
[code]

Excerpt from zabbix_proxy says:
[code]

They both implement it in the same way in the background (we send the integer value to the actual API), but our "frontend" (meaning choices for parameter options) are in desy

[2021-11-28 13:41] D3DeFi opened #544 "introduce string representations for zabbix_host parameters"
##### SUMMARY
tl;dr instead of having
[code]

It would be much prettier to have:

...
- zabbix_host:
    tls_accept: certificate
    tls_connect: PSK
    interfaces:
      - main: true
        useip: false
...
[code]

[2021-11-28 13:42] D3DeFi commented on #525
I also created #544 for unifying the "frontend"

[2021-11-28 13:55] D3DeFi commented on #541
I will  be at some point (hopefully in December) challenged by exactly this same thing. Usually installing new python modules into on-prem AWX is not a problem, but AWX by itself is only shipped in Docker containers these days, so it complicates a few things. I will think about posting my observings here once I am presented with the problem.

[2021-11-28 16:56] weehal commented on #514
the typo was not the error I was reporting, but I confirm that the typo is fixed

[2021-11-29 08:50] dj-wasabi commented on #435
Hi @silverlight-jjm

@miettal mentioned this could be related to some issues/PR's that are currently closed, assuming you won't have the issue anymore. Can you validate if issue is now resolved and let me know? Thanks! 👍

[2021-11-29 08:52] maxxer commented on #525
The API accepts an integer because it's a bitmap (like `chmod`).

![immagine](https://user-images.githubusercontent.com/240201/143836436-52a2cd46-02dd-444e-9d27-62f0f45dd18c.png)

In proxy config the *Connections from proxy* option accepts multiple values, this is what I was referring to. I'll try to sort out #526  before, then take a look at this

[2021-11-29 12:06] juresaht2 opened #545 "Zabbix Agent firewalld avoid rich rules"
##### SUMMARY

Currently the Zabbix Agent Ansible uses rich rules to configure FirewalD. While the zone name is configurable, this only really works if the zone has a dedicated interface. Rich rules are basically a hack and do not allow FirewallD to be used as intended. Furthermore the current code can only use existing zones.

Instead of using rich rules, the code should configure the FirewallD z

[2021-11-29 16:56] juresaht2 opened #547 "zabbix_agent_tlspsk_auto usage not documented"
##### SUMMARY

The usage of the variable `zabbix_agent_tlspsk_auto` is not documented beyond simply mentioning that it exists.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

zabbix-agent role

##### ADDITIONAL INFORMATION

The following was determined by reading the source code:

`zabbix_agent_tlspsk_auto` is false by default. If set to true and if `zabbix_agent_tlspskfile` and `zabbix_ag

[2021-11-30 14:11] juresaht2 opened #548 "zabbix_host documentation regarding Zabbix user privileges"
##### SUMMARY

It would be helpful if the [zabbix_host module](https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_host.py#L11) and [zabbix_host_info module documentation](https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_host_info.py#L21) indicated somewhere, that the errors "Hostgroup not found" and "Host not found" coul

[2021-11-30 15:06] juresaht2 opened #549 "Zabbix-agent AutoPSK fails with a syntax error"
##### SUMMARY

AutoPSK fails with a syntax error if `zabbix_agent_visible_hostname` is not defined.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix-agent role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

CentOS 8 Stream

##### STEPS TO REPRODUCE

Install Zabbix Agent with parameters:

[code]

Minimal variables are configured, so

[2021-11-30 15:19] juresaht2 commented on #549
My bad this issue appears to be a duplicate of #533 . The fix simply hasn't yet made it's way into stable.

[2021-11-30 15:19] #549 closed

[2021-11-30 19:38] dj-wasabi commented on #548
Hi @juresaht2 thank you for making time to create an issue. I disagree with you, as this is related to the Zabbix API and not specific with this collection. If you would use curl to create a host with the same information then you would get an error as well, as it is related to the user that you use with Zabbix. We just do some extra checking - like verifying the hostgroup exist - so we fail fast,

[2021-11-30 19:42] dj-wasabi commented on #545
Hi @juresaht2

You mention: _Rich rules are basically a hack_ can you provide some explanation about this? As far as I know this is just normal functionality provided by firewalld.

[2021-12-01 00:34] ragingpastry commented on #540
Hey can we not use Github Actions with its free windows runners (albeit at x2 the minute usage)? We could use molecule with the delegated/static driver possibly

[2021-12-01 09:31] juresaht2 commented on #548
Since you mentioned that only quick checking is done, it would be helpful to include a note that these errors might not mean what they say.

[2021-12-01 09:38] juresaht2 commented on #545
Firewalld allows you to abstract away from the underlying iptables or nftables system and split access into security zones, where each zone is limited by certain criteria and provides certain services.

Rich rules are provided because they are similar to iptables, for users who do not wish to migrate to using zones, however they do not work when a zone is not defined by interface, but rather by so

[2021-12-03 11:27] xBeAsTx opened #550 "zabbix-agent role doesn't work with zabbix_agent2_tlspsk_auto"
##### SUMMARY
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_agent

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Ubuntu 20.04

##### STEPS TO REPRODUCE
Create playbook with zabbix_agent2_tlspsk_auto: True For example:
[code]

ansible-playbook -vvv -i inventory zabbix_agent.yml

##### EXPECTED RESULTS
Installed zabbix-agent wi

[2021-12-03 11:34] xBeAsTx opened #551 "Template not found: Template OS Linux by Zabbix agent"
##### SUMMARY
It's not possible to register newly installed zabbxi-agent with zabbix-agent role.

As I can see current Template name is 'Linux by Zabbix agent' (without OS prefix)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix-agent

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Ubuntu 20.04

##### STEPS TO REPRODUCE
You can try any

[2021-12-03 11:35] dj-wasabi commented on #550
I think this will be fixed with PR #537 .

[2021-12-03 11:37] dj-wasabi commented on #551
Hi,

You can override that with either `zabbix_agent_link_templates` or `zabbix_link_templates`, see https://github.com/ansible-collections/community.zabbix/blob/main/docs/ZABBIX_AGENT_ROLE.md?plain=1#L268

[2021-12-04 23:29] ragingpastry commented on #550
Actually this should already be fixed in master as a part of https://github.com/ansible-collections/community.zabbix/pull/534.

@xBeAsTx are you sure you have the latest version of this role from master?

[2021-12-05 12:23] D3DeFi commented on #548
I think this is not even specific to Zabbix API @dj-wasabi , but rather should be a knowledge of Zabbix Administrator him/herself - "I should not use user for Ansible that cannot read/write to objects I want to manage". I don't think this is anything we should be helping with at all. As was mentioned, we are providing tool that does a work for the user, but cannot think for themselves.

At this po

[2021-12-05 12:24] D3DeFi commented on #550
guys if you think that these TLS problems are stabilized, we can go for 1.5.1 anytime, just let me know. Or feel free to prepare necessary files/changelogs yourselves and then push tag

[2021-12-05 13:29] dj-wasabi commented on #550
Working on it! :)

[2021-12-05 18:57] dj-wasabi commented on #514
1.5.1 is created and available. I will close this issue.

[2021-12-05 18:57] #514 closed

[2021-12-05 18:58] dj-wasabi commented on #539
1.5.1 is created and available. I will close this issue. Thanks (again)!

[2021-12-05 18:58] #539 closed

[2021-12-06 08:13] xBeAsTx commented on #551
That what I did. But may be better to fix with right name by default or if it's changed every time may be do not use any templates by default in role...
Thanks anyway

[2021-12-06 08:14] xBeAsTx commented on #550
Nope. I was using installed from galaxy. Now I see fix. Thanks.

[2021-12-06 13:44] dgibbs64 opened #553 "bug: local python-netaddr package failing to install error /root/.cache/pip"
##### SUMMARY
`TASK [community.zabbix.zabbix_agent : Install local python-netaddr package` failing to install
It appears to be a permissions related issue

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix agent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version
Ubuntu 20.04

##### STEPS TO REPRODUCE
Run the ansible role and get the error

[2021-12-06 14:21] dj-wasabi commented on #553
Hi, what is the value for `zabbix_agent_become_on_localhost` ? Because this value determines if become is used or not.

[2021-12-06 14:56] dj-wasabi commented on #550
Thanks! Will close this issue. 👍

[2021-12-06 14:56] #550 closed

[2021-12-06 14:57] dj-wasabi commented on #540
@gundalow Do we have restriction regarding using of Windows runners with Github actions? Or can we freely add an action on a Windows node?

[2021-12-06 18:46] #474 closed

[2021-12-06 18:49] dj-wasabi commented on #435
Will close this as the issue related to inventory_host is fixed. If you still have this issue, don't hesitate to reopen. If a new error arise, please provide this.

[2021-12-06 18:49] #435 closed

[2021-12-06 19:28] dj-wasabi commented on #547
Hi @juresaht2

Are you able to create a PR so as you say that we have proper documentation?
Thank you!

[2021-12-07 12:28] dj-wasabi commented on #392
Hi @D3DeFi Is this still an open issue? Or can we close this one?

[2021-12-07 17:41] dj-wasabi commented on #327
The `rm -rf /tmp/*` has been removed (already). Will close this issue.

[2021-12-07 17:41] #327 closed

[2021-12-07 17:52] dj-wasabi commented on #310
Will close this issue. There will be a reason why Zabbix is not releasing newer versions for CentOS 7 after 5.0, so we should not implement a workaround to get it installed anyway. If Zabbix says it is not supported, we shouldn't support it either.

[2021-12-07 17:52] #310 closed

[2021-12-07 18:15] dj-wasabi commented on #108
As PR with fix is already merged and no answer for some time, will close this issue.

[2021-12-07 18:15] #108 closed

[2021-12-07 18:31] dj-wasabi opened #555 "Zabbix roles drop support for older releases"
##### SUMMARY

Based on the Zabbix Lifecycle page found on [this](https://www.zabbix.com/life_cycle_and_release_policy) page, we can drop the support for older Zabbix releases with the roles. At this moment, `Zabbix 4.0 LTS` is the oldest Zabbix version to be supported by Zabbix, so should we. The current roles should work with Zabbix 4.0 and newer.

##### ISSUE TYPE
- Feature Idea

##### COMPONEN

[2021-12-08 08:05] D3DeFi commented on #392
judging by the list in the description, it is still not fully done

[2021-12-08 10:58] rockaut opened #556 "clarify inclusion of own connection plugin"
##### SUMMARY

Currently we have "borrowed" ansible.netcommon.connection.httpapi plugin because Zabbix API need the session key directly in payload and netcommon class only allows setting a Authorization header instead.

Clarify with Ansible Maintainers if this is encouraged or maybe should be implemented in netcommon instead: see https://github.com/ansible-collections/ansible.netcommon/issues/345

[2021-12-08 11:10] rockaut opened #557 "setup a PoC for httpapi"
##### SUMMARY

Setup a proof of concept implementation for the httpapi implementation with:
- ensuring backward compatibility to older releases
- implementing a new module api_info
- implementing a new lookup api_info
- include plays with old and new style
- include runtime metrics (duration, call count) old vs. new

I will do this through an seperate repo over in my github account. I basically al

[2021-12-08 11:14] rockaut opened #558 "clarify and test backward compatibility with httpapi"
##### SUMMARY

Clarification on how backward compat for httpapi to zabbix-api can be implemented and guaranteed over the next releases.

See also #557

Current idea plan:

1.) implement a connection switch in `ZapiWrapper`
With `module._socket_path` it's possible to check if httpapi got initialized in any form. This way its possible to even use httpapi if the ansible provided options are not set -

[2021-12-08 11:18] rockaut opened #559 "clarify usage of httpapi in docs"
##### SUMMARY

Clarify the usage of httpapi in docs of modules and plugins - from both points of view: endusers and module/plugin maintainers.

- How is inventory affected
- What is needed for modules
- Where are the differences against current usage

##### ISSUE TYPE
- Enhancement

##### COMPONENT NAME
- connection.httpapi
- httpapi.jsonrpc

[2021-12-08 12:05] dj-wasabi opened #560 "Installation of Zabbix 6.0 with the roles"
##### SUMMARY

When Zabbix releases 6.0, we need to make sure that the roles are able to install Zabbix 6.0. Default we will install Zabbix 6.0 and we validate with the PR's if changes work on Zabbix 6.0.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2021-12-08 12:07] dj-wasabi opened #561 "Verify modules behaviour with Zabbix 6.0"
##### SUMMARY

When Zabbix 6.0 is released by Zabbix, we need to make sure that the modules work with Zabbix 6.0. If there are any changes in the API, we need to update the code.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2021-12-08 15:57] #369 closed

[2021-12-08 15:57] #463 closed

[2021-12-08 15:57] #313 closed

[2021-12-08 15:57] #317 closed

[2021-12-08 15:57] #393 closed

[2021-12-08 15:57] #416 closed

[2021-12-08 15:57] #548 closed

[2021-12-08 19:17] dj-wasabi commented on #545
Hi @juresaht2

Thank you for providing information and after carefully considering the options, I would not like to remove the rich rules functionality. It is normal functionality provided by the kernel and this functionality is provided and updated in the past by users of this collection/role. The role/collection should be able to work for almost every one and I don't want to rule out a specific

[2021-12-08 19:17] #545 closed

[2021-12-09 02:19] mit0223 opened #563 "zabbix_template unlink templates when configure macros"
##### SUMMARY
zabbix_template unlink templates when configure macros on the existing Zabbix template without link_templates parameter.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
default configuration

##### OS / ENVIRONMENT / Zabbix Version
OS: Mac OS Monterey 12.0.1
docker desktop: version 4.0.1

[code]

##### STEPS TO R

[2021-12-09 09:00] D3DeFi commented on #563
@mit0223 this is exactly the correct behavior that module is intended to do. This is not a bug.

By specifying only name and macros, you declared that you want a template present on Zabbix server that only has one macro and nothing else. You either need to provide template as a whole and ONLY manage it from this task or create a new template with just a macro.

But right now, I am pretty sure you

[2021-12-09 09:19] #414 closed

[2021-12-09 09:28] mit0223 commented on #563
@D3DeFi Thank you for the immediate reply. I understand that it is as specified and not a bug.

[2021-12-09 09:28] #563 closed

[2021-12-10 15:09] john-p-potter opened #564 "AutoPSK broken for existing PSK"
##### SUMMARY

AutoPSK was broken in PR #537.  `tlspsk_auto_common.yml` has the wrong variable being checked on lines 31 and 43.  `zabbix_agent2_tlspskidentity_check.stat.exists` should be `zabbix_agent_tlspskidentity_check.stat.exists`.
- Bug Report

##### COMPONENT NAME

Zabbix Agent Role
##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT / Zabbix Version

Linux

##### ST

[2021-12-10 15:16] rockaut opened #565 "HTTP Basic Auth not working with httpapi"
##### SUMMARY
In the initial implementation http basic auth isn't working because we use username/password instead for the api password.

- Implement two additional connection options for basic auth.
- Test it (maybe with traefik as proxy, Zabbix containers doesn't feature an easy way to circumvent this)
- Include examples in PoC ( #557 )

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- http

[2021-12-10 15:17] rockaut commented on #565
Already have this in Branch httpapi1 implemented. Issue for documentation and testing.

[2021-12-10 15:20] ragingpastry commented on #564
We absolutely need testing for this. I would suggest not merging any fixes for this unless that fix includes testing

[2021-12-10 16:51] rockaut opened #566 "create wiki page for documentation how to migrate to httpapi"
##### SUMMARY
Create a wiki page on GH with detailed instructions how to migrate and use httpapi connection.

##### ISSUE TYPE
- Enhancement

##### COMPONENT NAME
- httpapi.jsonrpc
- connection.httpapi

[2021-12-10 17:03] rockaut opened #567 "Question - How should we implement the integration testing of httpapi"
##### SUMMARY
This is a tricky one for me where I need your opinions.
To do it cleanly we basically should copy all integration tests over with the new connection setting. But that would basically double our tests.

In my opinion that isn't going to work well. So my approach would be to implement specific test scenario with a small amount of modules for now.

Given that we don't actually change th

[2021-12-10 17:37] dj-wasabi commented on #564
@john-p-potter Are you able to create a PR with tests? I thought it was fixed with the PR.. But agree what @ragingpastry  says, we need a test for this.

[2021-12-10 17:58] ragingpastry commented on #564
We are working on a PR for this right now to include tests. @john-p-potter will be submitting in a few

[2021-12-10 18:08] dj-wasabi commented on #367
Hi @nlvw

Sorry for the late reply, but I have created a PR with the suggested change.

[2021-12-10 18:10] dj-wasabi commented on #276
Hi @ronnybremer  Still working on it? 😄

[2021-12-10 21:47] nlvw commented on #367
@dj-wasabi Thanks for the update.  The changes look great!

[2021-12-11 06:06] D3DeFi commented on #567
sounds reasonable for me

[2021-12-11 08:12] #367 closed

[2021-12-13 13:30] juresaht2 commented on #547
https://github.com/ansible-collections/community.zabbix/pull/571

[2021-12-14 00:01] dgibbs64 commented on #553
Can confirm `zabbix_agent_become_on_localhost: false` worked. Thank you 👍🏻

[2021-12-14 00:01] #553 closed

[2021-12-15 22:03] lpossamai opened #572 "Add Slack zabbix_mediatype - Zabbix 6.0"
I'm trying to setup a Slack Media Type using the `zabbix_mediatype` plugin.

The media type already exists, but I need to modify it in order to be able to use it. I need to modify, for example, the `bot_token`.

How can I achieve this using `community.zabbix.zabbix_mediatype`? I noticed that the `webhook_script` is required, but it only supports `.js`?

[code]

[2021-12-16 08:00] ppuschmann opened #573 "FR: Support more Resources in Screens/Dashboards"
##### SUMMARY
Please add support for other resource-types but "Graph".

Currently users have to create screens manually if these contain other resources like e.g. Simple-Grpah.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
module: zabbix_screen

##### ADDITIONAL INFORMATION
With the support of further/all resource-types the user can fully configure the layout and definition of the screens

[2021-12-16 08:15] manuel-alcocer opened #574 "URL for windows agent not correct"
##### SUMMARY
URL for downloading the windows agent is not correct

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
 Windows | Download Zabbix Agent Zip file

##### OS / ENVIRONMENT / Zabbix Version
Target OS: windows

##### ACTUAL RESULTS
[code]

It must be: https://cdn.zabbix.com/zabbix/binaries/stable/5.2/5.2.4/zabbix_agent-5.2.4-windows-amd64-openssl.zip

[2021-12-19 09:15] #564 closed

[2021-12-19 09:19] #144 closed

[2021-12-19 12:35] dj-wasabi commented on #572
Hi @lpossamai

We have a gitter "room" where you can request help in solving "how to do" things with this collection, found here: https://gitter.im/community-zabbix/community. Please use this issues for describing actual issues with the code or requesting features. If after discussion it results into an issue with the code, we can easlily reopen the issue with the appropiate information.

[2021-12-19 12:35] #572 closed

[2021-12-19 12:36] #574 closed

[2021-12-19 21:39] rockaut commented on #161
close for #444

[2021-12-19 21:39] #161 closed

[2021-12-19 21:46] rockaut opened #576 "[Discussion] Modify Zabbix Versions in integration tests"
##### SUMMARY

Currently we test against

[code]

and the tests taking pretty long now - also 6.0 is upcoming.

What if we only test against the LTS Versions and the latest not LTS version?

Currently this would be (already with 6.0 as example):
[code]

With 6.2 this:
[code]

##### ISSUE TYPE
- Discussion

##### COMPONENT NAME
- integration testing

##### ADDITIONAL INFORMATION
- Zabbix Lifecycle

[2021-12-19 22:51] D3DeFi commented on #576
This is very great idea! We may miss a few things, but supporting non-LTS versions is kind of not covered right now anyway. We even state that in the readme/contributing docs somewhere.

[2021-12-20 06:52] valentusys opened #577 "Zabbix Agent for Windows install config error(file not found)"
##### SUMMARY
When trying to create a zabbix-agent configuration, ansible says that the file does not exist. Although it is at this path that the file is present.
All previous tasks are performed correctly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

TASK [community.zabbix.zabbix_agent : Windows | Configure zabbix-agent]

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

#####

[2021-12-20 09:02] D3DeFi opened #578 "zabbix_user no longer working with default authentication"
##### SUMMARY
Patch #542 broke creating users that have authentication defaulting to the global setting (if that global setting is internal authentication).

[code]

![image](https://user-images.githubusercontent.com/9269600/146740325-f5405969-776f-4b52-a796-a97ed1151669.png)

I have module failing on:

[code]

So for me the snippet from the #542
[code]

results in `False` as `gui_access == '0'` w

[2021-12-20 10:51] rockaut commented on #576
@dj-wasabi what you think - any need of all those versions for the roles?

[2021-12-20 12:32] dj-wasabi commented on #576
I am all for it to drop support for older releases, as I also created https://github.com/ansible-collections/community.zabbix/issues/555 for this.

Don't know yet how to do this for the roles, as I don't want to start 67 jobs for each PR on for example zabbix_agent role.

[2021-12-20 15:15] rockaut opened #580 "Zabbix 5.4: zabbix_host error on same host with force=false"
##### SUMMARY

came up with #579 - Problem with same host on Zabbix 5.4

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- zabbix_host

##### ANSIBLE VERSION
- all versions

##### CONFIGURATION
- see PR #579 integration-tests

##### OS / ENVIRONMENT / Zabbix Version
- 5.4

##### STEPS TO REPRODUCE
- see PR #579 integration-tests

##### EXPECTED RESULTS
- test should pass
- zabbix_host should n

[2021-12-20 15:18] rockaut commented on #580
fix incommint in PR #579

[2021-12-20 15:56] dj-wasabi commented on #577
I am not a Windows user (Unless I want some fresh air or want to know where I am driving to in my car) but this is probably related to the single vs double slashes?

[2021-12-20 15:58] dj-wasabi commented on #547
Will close this issue as we have merged a PR for this. Thanks! 👍

[2021-12-20 15:58] #547 closed

[2021-12-20 18:23] rockaut commented on #576
Sounds good. I already PRed something but ran into troubles with 5.4. so I will redo that tomorrow and splitting it up. First removing old versions and then starting on 5.4 integration which should ease the 6.0 burden later.

@dj-wasabi do I understand that right that I may remove the versions for integration and sanity because your role tests are independent from those?

[2021-12-20 22:57] valentusys commented on #577
Maybe.
But even when I wrote the path manually in \root\.ansible\collections\ansible_collections\community\zabbix\roles\zabbix_agent\tasks\Windows_conf.yml
It doesn't work either.

And all the previous steps, with paths, work correctly.

[2021-12-21 04:29] valentusys commented on #577
I'm sorry - the problem was with ansible.windows.

Updating to the current version solved the problem.

Thank you

[2021-12-21 04:29] #577 closed

[2021-12-21 08:07] D3DeFi commented on #580
btw have a look at this #392 if you are interested in properly covering 5.4

[2021-12-21 08:15] dj-wasabi commented on #577
No worries, glad it is solved now.

[2021-12-21 08:17] D3DeFi commented on #578
Yeah, I was also not sure about this. Thus, I've created issue instead of the PR.

At first, the `or g['gui_access'] == '0'` was my thought as well, but then I noticed that LDAP can be system default authentication as well. In that case if user switches to LDAP and leaves groups at '0 - default', we would still ask for password.

Ia it even possible to access global settings with 4.0? I haven't fo

[2021-12-21 08:18] D3DeFi commented on #576
Yep, repo-sanity and plugins-integrations YAML files should not touch anything related to roles. If they do, then it is a bug.

I agree with splitting up the PR, you would hit a ton of errors with 5.4. Unfortunately not much PRs for 5.4 were coming in the past and I simply didn't had the capacity to cover all that is broken. (#392 )

[2021-12-21 13:23] johansenha opened #581 "apache configuration mismatch"
##### SUMMARY
When using zabbix_web and apache2 configuration zabbix website is not loaded.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

I assume an error in
https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_web/tasks/apache_Debian.yml
line 28 to 36

zabbix.conf file is removed from conf-available. Zabbix website is not loading then.
Copy file from sites-avail

[2021-12-21 23:09] ragingpastry commented on #578
Unfortunately I don't think there is a way to access global settings via the API with 4.0. We actually had to do some DB modifications to configure LDAP via ansible in our previous versions of the zabbix server role we host internally.

I think your solution makes the most sense for this scenario. Eventually it just won't become a problem if/when we stop supporting older Zabbix versions

[2021-12-22 02:05] ragingpastry commented on #581
I'm having troubles reproducing. Could you attach the output from an ansible run, along with the playbook (and any host_vars/group_vars you are using). Additionally please include the version of the collection and the version of the OS you are using

[2021-12-22 14:35] rockaut commented on #576
Thanks to the community I found this:

https://github.com/ansible-collections/overview/blob/main/collection_requirements.rst#python-requirements

So we should do 2.7, 3.5, 3.9 I guess. Later than change 3.9 to 3.10 accordingly to this page.

[2021-12-22 14:55] rockaut commented on #392
Nice, thanks for pointing this issue out @D3DeFi.
As said in other #580 I will open a separate branch and working on this there.

Supporting 5.4 will help us shifting to 6.0 then.

[2021-12-22 14:56] rockaut commented on #580
Kind of duplicate for #392 ... will follow up there.

[2021-12-22 14:56] #580 closed

[2021-12-23 09:26] rockaut opened #585 "distutils is deprecated from Python's standard library, to be removed in Python 2.12"
##### SUMMARY

We need to check if we use this

https://github.com/ansible-collections/overview/issues/45#issuecomment-999911221

##### ISSUE TYPE
- Bug Report

[2021-12-23 09:27] #576 closed

[2021-12-23 12:59] rockaut opened #586 "Application error., Incorrect action condition type"
##### SUMMARY
zabbix_action 5.4 tests failing on:

[code]

Standalone issue for #392

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- zabbix_action

##### ANSIBLE VERSION
- see Branch zbx-5.4 integration tests

##### OS / ENVIRONMENT / Zabbix Version
- Zabbix 5.4

##### STEPS TO REPRODUCE
- see Branch zbx-5.4 integration tests

[2021-12-23 13:01] rockaut opened #587 "Host cannot have more than one default interface of the same type"
##### SUMMARY

 zabbix_host 5.4 tests failing on:
[code]

Standalone issue for #392

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host

##### ANSIBLE VERSION
see Branch zbx-5.4 integration tests

##### OS / ENVIRONMENT / Zabbix Version
5.4

##### STEPS TO REPRODUCE
see Branch zbx-5.4 integration tests

[2021-12-23 13:04] rockaut opened #588 "Template not found: Zabbix Server"
##### SUMMARY
zabbix_host_info 5.4 tests failing on:

[code]

Standalone issue for #392

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host_info

##### ANSIBLE VERSION
see Branch zbx-5.4 integration-tests

##### OS / ENVIRONMENT / Zabbix Version
5.4

##### STEPS TO REPRODUCE
see Branch zbx-5.4 integration-tests

[2021-12-23 13:06] rockaut opened #589 "Failed to get screen TestScreen1 from Zabbix"
##### SUMMARY

 zabbix_screen no longer supported in 5.4:
[code]

Standalone issue for #392

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_screen

##### ANSIBLE VERSION
See Branch zbx-5.4 integration-tests

##### OS / ENVIRONMENT / Zabbix Version
5.4

##### STEPS TO REPRODUCE
See Branch zbx-5.4 integration-tests

[2021-12-23 13:09] rockaut opened #590 "Trigger Zabbix http poller processes more than 75% busy not found"
##### SUMMARY

 zabbix_service 5.4 tests failling on:
[code]

Standalone issue for #392

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_service

##### ANSIBLE VERSION
See Branch zbx-5.4 integration-tests

##### OS / ENVIRONMENT / Zabbix Version
5.4

##### STEPS TO REPRODUCE
See Branch zbx-5.4 integration-tests

[2021-12-23 13:10] rockaut opened #591 "Invalid parameter "/1/macros": an array is expected"
##### SUMMARY

zabbix_template and zabbix_template_info 5.4 tests failling on:
[code]

Standalone issue for #392

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- zabbix_template_info
- zabbix_template

##### ANSIBLE VERSION
See Branch zbx-5.4 integration-tests

##### OS / ENVIRONMENT / Zabbix Version
5.4

##### STEPS TO REPRODUCE
See Branch zbx-5.4 integration-tests

[2021-12-23 13:12] rockaut opened #592 "'dict object' has no attribute 'alias'"
##### SUMMARY

zabbix_user_info 5.4 tests failing on:
[code]

Standalone issue for #392

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_user_info

##### ANSIBLE VERSION
See Branch zbx-5.4 integration-tests

##### OS / ENVIRONMENT / Zabbix Version
5.4

##### STEPS TO REPRODUCE
See Branch zbx-5.4 integration-tests

[2021-12-23 16:34] rockaut commented on #588
Problem was only in testing not in module: 5.4 uses "Zabbix server health " as template name.

[2021-12-23 16:39] rockaut commented on #587
Found the problem: the module added the interface based on the python comparison for dicts - but the existing and the new interfaces had different properties (and so the interfaces got duplicated).
Fix: we already removed some properties (interfaceid, ...) my solution now does the oposite - it now removes all properties not in the default key-list.

This way we don't have to deal with "returned bu

[2021-12-25 15:32] badfiles commented on #578
I use this task on fresh Zabbix 5.4.9 instance, it does not work after patch #542
How should I create a user on a fresh installation now?

[code]

[2021-12-26 13:15] dj-wasabi commented on #466
@stefanux  Yes, we need to do something with Windows as discussed in #540 . It seems that quite a lot of people are using it, so we just need to find a way to test the Agent on Windows so we don't break things. If you do have any experience with testing it on Windows, please let me know. I think we should focus on a single Windows version for now.

But as we have some new maintainers added, I will

[2021-12-28 09:00] rockaut commented on #585
I fear that will get a PITA. There are some ways to replace it easily but only for python 3. I haven't found anything for python 2 yet.

For Ansible 2.12 there will be a drop in replacement but that won't be backported. *sigh* i hat python 2.

[2021-12-28 09:50] rockaut commented on #585
I have an idea: I will implement a new function which returns the api version as an float so if we want to compare versions we just do this:

`self.version_float >= 5.019 ## 5.4 >= 5.0.19`

[2021-12-28 10:03] rockaut opened #596 "Wrong Zabbix version reported"
##### SUMMARY

Zabbix versions with high patch versions are reported wrongly.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- all

##### ANSIBLE VERSION
- all

##### OS / ENVIRONMENT / Zabbix Version
- 5.0.19

##### ACTUAL RESULTS

[code]

[2021-12-28 10:03] rockaut commented on #596
It's because we do this:

´´´
self._zbx_api_version = self._zapi.api_version()[:5]
´´´

[2021-12-28 10:16] D3DeFi commented on #596
Oh, very nice catch :)

[2021-12-28 10:18] D3DeFi commented on #585
I think that we don't have to worry about Py2.12 at all :) They had a type there. distutils will be deprecated only for Py3.12

[2021-12-28 10:19] rockaut commented on #585
I work on this currently (also on #596). I have an idea where we don't have dependencies at all.

[2021-12-28 10:20] D3DeFi commented on #585
Also the fixes proposed to you there - e.g. https://github.com/ansible-collections/community.postgresql/pull/178 looks as a good solution

[2021-12-28 10:25] rockaut commented on #585
You are right @D3DeFi  ... that's better! Will implement this.
I intended to just convert the version to an list `5.0.19 = ["5", "0", "19"]` so we then just compare the lists:

[code]

[2021-12-28 10:29] D3DeFi commented on #578
@badfiles do you have default authentication set to internal auth? What is the error message you are receiving? Also is there an explicit authentication type enabled for `Zabbix administrators` group or is that one using default auth?

@ragingpastry will you have chance to look at this issue? E.g. maybe implement my proposed solution?

[2021-12-28 10:32] rockaut commented on #585
Good find. I will implement this.

[2021-12-28 12:10] #585 closed

[2021-12-28 12:10] #596 closed

[2022-01-03 13:30] barzog opened #598 "Support for Multiple Alias parameters in zabbix-agent"
Currently in zabbix_agent/agent2 template there is no support for multiple alias parameters. Now its looks like:
{% if zabbix_agent2_zabbix_alias is defined and zabbix_agent2_zabbix_alias %}
Alias={{ zabbix_agent2_zabbix_alias }}
{% endif %}

This should look like:
{% if zabbix_agent2_zabbix_alias is defined and zabbix_agent2_zabbix_alias %}
{% for item in zabbix_agent2_zabbix_alias %}
Alias={{ it

[2022-01-03 14:16] dj-wasabi commented on #598
Please follow the correct procedure when creating an issue. As this seems a feature request, please fill in all relevant info.

[2022-01-03 14:16] #598 closed

[2022-01-03 14:16] #329 closed

[2022-01-03 14:17] #360 closed

[2022-01-03 16:48] barzog opened #599 "Support for Multiple Alias parameters in zabbix-agent"
##### SUMMARY
Currently in zabbix_agent/agent2 template there is no support for multiple alias parameters.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles/zabbix_agent/templates/zabbix_agent2.conf.j2
roles/zabbix_agent/templates/zabbix_agentd.conf.j2

##### ADDITIONAL INFORMATION
We should use
[code]
instead of
[code]
in templates mentioned

[2022-01-04 02:24] ragingpastry commented on #578
@D3DeFi yes I will take a look at this tomorrow and open up an MR. Sorry I've been busy with holiday stuff

[2022-01-04 04:58] lpossamai commented on #578
I'm also facing the same issue. Zabbix Server version 6.0.0beta1

[code]

The error is:

`fatal: [zabbixprimary]: FAILED! => {"changed": false, "msg": "Failed to create user operational: ('Error -32602: Invalid params., Incorrect value for field \"passwd\": cannot be empty. while sending {\"jsonrpc\": \"2.0\", \"method\": \"user.create\", \"params\": {\"username\": \"operational\", \"name\": \"OPS

[2022-01-04 05:13] lpossamai opened #600 "zabbix_action returns Invalid parameter"
I'm trying to add a zabbix_action using the following:

[code]

The media type `Slackv2` already exists. The error that I get is:

[code]

Ansible version:

[code]

Zabbix version: `6.0.0beta1`

Not sure if this is a bug or if I'm missing something?

[2022-01-05 09:00] D3DeFi commented on #600
@lpossamai hi and thank you for reporting this. It may very well be a bug and needs more investigation, we are currently in process to optimize 5.4, which will (atleast we hope) fix some of the bugs present on 6.0 in advance. Unfortunately, we haven't had time to cover 6.0 yet.

[2022-01-05 09:58] dgibbs64 opened #602 "bug: Install local python-netaddr package fails even if requirement is satisfied"
##### SUMMARY
Install local python-netaddr package task fails even if the netaddr requirement is already met.

I am running as a non-sudo user so the task is unable to install netaddr itself. However, I have installed netaddr on teh controller and as shown below pip can see the requirement is met, but the task still fails. Please could the task be updated to allow it to pass if the requirement is

[2022-01-05 10:13] dj-wasabi commented on #602
Hi,

Have you tried setting `zabbix_agent_become_on_localhost` to `false` ?

[2022-01-05 10:29] dgibbs64 commented on #602
Yes I did. That seems to work if the local user has sudo access. That solved my previous issue https://github.com/ansible-collections/community.zabbix/issues/553 as the user had sudo.
[code]

[2022-01-05 11:21] dgibbs64 commented on #602
Possible solution maybe to use `extra_args: --no-cache-dir`. I am having trouble testing this myself (still learning ansible) but I think it might work.

[2022-01-05 19:50] felixfontein commented on #585
Please consider creating a follow-up PR based on https://github.com/ansible-collections/community.general/pull/3984.

[2022-01-05 21:03] lpossamai commented on #600
Thanks @D3DeFi . I'll re-install Zabbix version 5.4. Was using version 6 just because of its HA feature. But I can wait. Thanks.

[2022-01-05 21:38] lpossamai commented on #600
I can confirm this is **working** on Zabbix version 5.4.9. It is **not working** on Zabbix 6.0.

[2022-01-05 22:11] lpossamai commented on #578
I can also confirm this is happening on Zabbix 5.4.9 as well.

[2022-01-06 09:19] dgibbs64 commented on #602
Also worth noting I have teh same issuw with installing local zabbix-api as well. To work around the issue I have forked at added ignore_errors: yes for the affected tasks (not really a proper solution but will do for now).

[2022-01-06 10:21] dj-wasabi commented on #600
Ha! Waiting on that feature as well with my new deployment.. 😉

[2022-01-06 10:29] lpossamai commented on #600
It's so cool! And so easy to setup! Been trying it out on 6.0.

[2022-01-07 08:56] rockaut commented on #585
Thanks @felixfontein will do!

[2022-01-07 15:02] ragingpastry opened #604 "Improve testing for zabbix_user module"
##### SUMMARY
We ended up breaking the zabbix_user module on accident for users who default to internal authentication. This fix has been applied to master already, however chose to not include additional tests in that fix. This issue is to track the creation of additional tests for our zabbix_user module so that we can ensure we don't accidentally break functionality in the future.

##### ISSUE T

[2022-01-08 13:34] dj-wasabi commented on #599
I created a PR for this. Feature will be available with release 1.6.0.

[2022-01-09 06:03] #578 closed

[2022-01-09 09:43] dj-wasabi commented on #602
You don't have the `ansible_python_interpreter` set (or overwite) by any chance?

[2022-01-09 10:22] solick opened #607 "AutoPSK | Use existing TLS PSK identity fails due to no_log: true zabbix 5.4"
##### SUMMARY
zabbix agent role fails to to no_log: true setting:

    AutoPSK | Use existing TLS PSK identity
    FAILED! => {"censored": "the output has been hidden due to the fact that 'no_log: true' was specified for this result"}

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_agent role

##### ANSIBLE VERSION

ansible [core 2.12.1]

  configured module search path = ['/Users/XXX/

[2022-01-09 12:55] dj-wasabi commented on #607
It has nothing to do with the `no_log: true`, as it just prevents the error to be displayed. Can you run the playbook command with `-vvvv`? Then it provides the error on why it is failing.

[2022-01-09 12:56] #599 closed

[2022-01-10 09:56] badfiles opened #608 "User tasks fail"
Simple user task fails in 49ff79e8faf5859bf4dce4beb5511515404106c3

[code]
[code]

[2022-01-10 13:00] dgibbs64 commented on #602
No I haven't changed that setting. Its whatever the default is

[2022-01-12 15:07] ironbishop opened #609 "case mismatch in zabbix proxy TLSAccept/TLSConnect"
Value "psk" needs to be lower case in the `zabbix_proxy.conf` file
https://www.zabbix.com/documentation/current/en/manual/appendix/config/zabbix_proxy

Value "PSK" is requred upper case in module zabbix_proxy:
https://github.com/ansible-collections/community.zabbix/blob/49ff79e8faf5859bf4dce4beb5511515404106c3/plugins/modules/zabbix_proxy.py#L381

Using the same variable both for standalone and do

[2022-01-13 17:38] ragingpastry commented on #607
This is resolved in master but not in 1.5.1.

If you install this role from this git repository it should work

requirements.yml file
[code]

[2022-01-13 17:45] solick commented on #607
I can confirm the the error does not appear with current master. THanks

[2022-01-13 17:45] #607 closed

[2022-01-14 17:59] ragingpastry commented on #608
Thanks for the report I will look into this.

Can you give some more details on your environment? What is the default authentication type for your Zabbix server?

[2022-01-15 18:03] badfiles commented on #608
Server OS: AlmaLinux 8.5
Zabbix-server: 5.4
Auth type: Normal
Control node: Ubuntu 20.04

[2022-01-15 18:23] ragingpastry commented on #608
Thanks! I see where the problem is. Once I get back to my room ill open up
an MR

On Sat, Jan 15, 2022, 10:03 AM badfiles ***@***.***> wrote:

[2022-01-16 09:53] dj-wasabi commented on #609
Please create a proper "bug report". It is unclear what/where the issue is.

[2022-01-16 09:53] #609 closed

[2022-01-16 09:54] dj-wasabi commented on #608
@badfiles In the future, please create a proper "bug report". Because @ragingpastry is already working on it, I keep this issue open for now.

[2022-01-16 11:20] dj-wasabi commented on #602
Hi @dgibbs64

I created a PR that might include a fix. Is there a way you can verify if this helps solving your issue?

[2022-01-16 22:16] ragingpastry commented on #608
Alrighty I think I have this fixed here: https://github.com/ragingpastry/community.zabbix/tree/fix-608

Can you try this out by pointing your requirements.yml to my branch @badfiles ? I will be working on improving testing for this module next, however until then I can only test locally (and ask others to test)

[code]

[2022-01-17 12:10] dgibbs64 commented on #602
@dj-wasabi I tested and sadly got this error

[code]

[2022-01-17 12:13] dgibbs64 commented on #602
@dj-wasabi I tested and got this error

[code]

[2022-01-17 13:37] dj-wasabi commented on #602
But for some reason 'sudo' is used in your execution, are you absolutely sure that you have set `zabbix_agent_become_on_localhost` to false?

[2022-01-17 13:44] dgibbs64 commented on #602
Absolutely.
![image](https://user-images.githubusercontent.com/4478206/149779744-fef56280-c2c3-4084-840c-1a5b35d2de27.png)

[2022-01-17 13:56] dj-wasabi commented on #602
And if you remove the `become: yes` ? As the tasks in this role is already configured with this option, it might be that the `zabbix_agent_become_on_localhost` is ignored because of that.

[2022-01-17 14:02] dgibbs64 commented on #602
removed become: yes and got this error instead
[code]

[2022-01-18 21:03] weetalyg opened #612 "zabbix_agent2_role for windows: bug in task "Windows | Set facts current zabbix agent installation (agent 2)""
##### SUMMARY

https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/tasks/Windows.yml

bug in  task "Windows | Set facts current zabbix agent installation (agent 2)"
[code]

I think  "when condition" 3 row should be:
`    - zabbix_win_exe_info.results[1].item.stat.path == zabbix2_win_exe_path`

because it is agent 2 version

##### ISSUE TYPE
- Bug Report

##### COMP

[2022-01-19 07:07] dj-wasabi commented on #612
Hi @weetalyg  Thank you.

Yes indeed, that is indeed a better suggestion. Will try to create a fix for it soon.

[2022-01-19 11:13] PrismaComputer opened #613 "The conditional check 'zabbix_agent2_tlspskfile' failed"
##### SUMMARY
The conditional check 'zabbix_agent2_tlspskfile' failed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix:1.5.1

##### ANSIBLE VERSION

[code]
##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Ubuntu 20.04

##### STEPS TO REPRODUCE

We had the role configured same same on other servers. See yml below. Worked before. Then updated community.zabbi

[2022-01-19 14:59] D3DeFi opened #614 "1.6.0 release"
release!

[2022-01-19 16:08] ragingpastry commented on #614
We should get https://github.com/ansible-collections/community.zabbix/pull/611 included in the release which should solve https://github.com/ansible-collections/community.zabbix/issues/608

[2022-01-19 18:57] dj-wasabi commented on #614
I thought we would release 1.6.0 when Zabbix 6.0 was released.

[2022-01-19 19:04] dj-wasabi commented on #612
I provided a PR for this, can you check if this works?

[2022-01-19 19:19] dj-wasabi commented on #602
I added the label `Help wanted`. I don't understand this issue.
You are not running it as root and/or sudo, the become is set to false and it complains about a permision error in `/root/`.

Maybe someone else can help. @ragingpastry  @rockaut @D3DeFi ideas?

[2022-01-20 07:39] maxxer commented on #526
In agent default configuration file:

* TLSConnect: How the agent should connect to server or proxy. Used for active checks.
* TLSAccept: What incoming connections to accept.

In proxy:
* TLSConnect: How the proxy should connect to Zabbix server. Used for an active proxy, ignored on a passive proxy.
* TLSAccept: What incoming connections to accept from Zabbix server. Used for a passive proxy, igno

[2022-01-20 09:12] PrismaComputer commented on #614
#613 seems to be a bug, which forces us to pin community.zabbix to old version 1.4.0. But of course we would like to always use the newest release, also 1.6.0 when released. Would you please have a short look if this problem persists in 1.6.0 or confirm or even decline it in any other way?

[2022-01-20 11:15] dj-wasabi commented on #614
@PrismaComputer

I believe this is currently fixed on main and will be available with release 1.6.0.
As we have Gitter to discuss these kinds of things, I will close this issue (As it isn't an issue/bug/feature request at all).

[2022-01-20 11:15] #614 closed

[2022-01-20 12:34] rockaut commented on #602
@dgibbs64 Hmm... what happens if you add the package manually directly on the host? Does this work?

[2022-01-20 12:56] dgibbs64 commented on #602
@rockaut the packages are added manually already. But the task insists on trying to install anyway and failing 😄 as the user doesn't have sudo.

[code]

[2022-01-20 13:12] rockaut commented on #602
I think this might be some rare issue. For me it works on 3 machines. I only did some quick searches:

https://askubuntu.com/questions/991734/when-i-use-sudo-pip-to-install-software-i-get-the-message-the-directory-is-n
https://stackoverflow.com/questions/51485658/pip-install-ansible-directory-owner-error

I don't think we can solve the root problem. That is a general problem with ansible and pip:

[2022-01-20 13:41] rockaut commented on #614
I already pushed some of the changes and fixes to main. But for the majority, I can't promise anything tbh. I struggle with spare time again sadly.

[2022-01-20 14:12] D3DeFi commented on #614
yeah, ok. That is fair enough

[2022-01-20 14:30] PrismaComputer commented on #613
As I learned from #614, this "seems" to be a known issue and "might" already have been fixed 1.6.0.
It would be very appreciated if this report would be marked as bug, if it's really a bug.
Because, even if it's not fixed in 1.6.0, then it may be fixed later...

[2022-01-20 14:42] ragingpastry commented on #613
You can check to see if its fixed by installing the collection from master

[2022-01-20 17:00] weetalyg commented on #612
I testes this PR. Works fine. You can close PR and issue.

[2022-01-20 17:01] #612 closed

[2022-01-22 23:53] dgibbs64 commented on #602
@rockaut yeah I think it is an oddity of pip. If there is something that can check "Requirement already satisfied" or confirm beforehand that netaddr etc is already installed and carry on that would solve my issue.

[2022-01-26 08:37] Andersson007 opened #617 "Important information for collection maintainers"
##### SUMMARY
Dear maintainers,

This is important for your collections!

- In accordance with the [Community decision](https://github.com/ansible-community/community-topics/issues/51), we have created the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repository for announcements of changes impacting collection maintainers (see the [examples](https://github.co

[2022-01-26 12:06] smejdil opened #618 "Import Zabbix 5.4 - 6.0 Template format YAML"
Deafult templates in Zabbix 5.4 and 6.0 are in YAML format. For automated import of templates this format is needed. (XML and JSON is ready)

##### SUMMARY
Add parametr template_yaml

##### COMPONENT NAME
Modules: zabbix_template

[2022-01-26 20:10] PrismaComputer commented on #613
Is 1.6.0 available in galaxy as beta? I would rather prefer installing via command.  ansible-galaxy install community.zabbix:1.0.6-beta.X ? Which nomenclature?

[2022-01-27 18:47] PrismaComputer opened #619 "Windows | missing task for adding a TLS-PSK file"
##### SUMMARY

The TLS-PSK file is not transfered / created
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_agent 1.51 but also github master!!

##### IMPORTANT
You fixed a bug here, unclear for me if fixed in GitHub master:
https://gitlab.gtmh-telecom.com/kaungchit/ansible-zabbix-agent/-/commit/d184071ca53c6926385bc6253a4084859561a1f0
But does this fix really work als

[2022-01-28 17:43] barzog opened #620 "macro_type support in zabbix_agent role"
##### SUMMARY
Currently in zabbix_agent/agent2 template there is no support for macro type (i.e. macros created always with type text)

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles/zabbix_agent/tasks/api.yml

##### ADDITIONAL INFORMATION
We should use

[code]

instead of
[code]

[2022-01-30 09:38] PrismaComputer commented on #619
Inspected the code:

windows.yml misses the transfer of tlspskfile content when tlspsk_auto is false.
linux.yml does transfer tlspskfile when tlspsk_auto is false.

[2022-01-31 08:19] ziyedbe opened #621 "Database error code 2002"
##### SUMMARY
Database error code 2002 when installing Zabbix 5.0 LTS on Red Hat 8.5 (using mysql 8.0)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
- zabbix_web
- zabbix_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

- community.zabbix : 1.5.1
- OS : Red Hat 8.5
- Mysql : 8.0.26
- Zabbix : 5.0.19

##### STEPS TO REPRODUCE

[code

[2022-01-31 13:39] ziyedbe commented on #621
Resolved the issue :
The problem was in TASK: community.zabbix.zabbix_web : Configure zabbix-web"
`$DB['SERVER']      = 'localhost';`
changing localhost to 127.0.0.1 seems to work
`zabbix_server_dbhost: 127.0.0.1`

[2022-01-31 13:41] #621 closed

[2022-02-01 14:44] PrismaComputer commented on #613
Problem is introduced through a mixture of zabbix_agent and zabbix_agent2 properties. Through this, some "isset" decisions are misled.
Which is on the one hand clearly our fault but on the other hand caused by a questionable design.

[2022-02-01 14:44] #613 closed

[2022-02-01 15:25] Gwynnbleid1 opened #622 "Missing environment setting in step "Debian | Installing gnupg""
##### SUMMARY
Step Debian | Installing gnupg is missing environment settings
It should be:
[code]

and not:
[code]

I believe that the same problem may be present in Ubuntu and other versions

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_agent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Debian 11

##### STEPS TO REPRODUCE

Tr

[2022-02-02 08:36] Andersson007 commented on #617
@D3DeFi @dj-wasabi @ragingpastry hello, could you please, as the collection maintainers, subscribe to the news-for-maintainers repo? See above ^.

@rockaut @sky-joker hello, thanks for subscribing! :)

I've grepped through files in this repo and have discovered `centos8` mentioned in several files. It should be removed if we wanna see the CI green here. For details, see https://github.com/ansible-

[2022-02-02 08:49] dj-wasabi commented on #617
@Andersson007 thanks bro! I have subscribed just a few moments ago. 👍

[2022-02-02 08:50] Andersson007 commented on #617
@dj-wasabi that's great, you're welcome, thanks:)

[2022-02-02 08:55] D3DeFi commented on #617
Oh, thanks for reminding us @Andersson007, I've subscribed to community-topics repo and though those are the same things. Subscribed also to news-for-maintainers

[2022-02-02 08:59] Andersson007 commented on #617
@D3DeFi thanks!

[2022-02-02 16:19] Iodun commented on #622
I noticed the following error when trying to install the Zabbix agent on a Ubuntu system.
Is this the result of the bug described here?
We are not using any proxy.

TASK [community.zabbix.zabbix_agent : Debian | Install gpg key] ****************
fatal: [mailout01]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute '5'\n\nThe e

[2022-02-02 18:39] dj-wasabi commented on #622
Hi @Iodun

No, that error has nothing to do with the bug. You probably overwrote a variable, maybe `zabbix_version`, `zabbix_agent_version` or `zabbix_short_version` to something that is not accepted.

[2022-02-02 19:56] Iodun commented on #622
Hey @dj-wasabi

Thanks a lot, I finally found the problem.
We used this variable:
zabbix_agent_version: 5.0

But for some reason AWX silently removed the minor version at runtime, which is not valid anymore, because the role needs Major.Minor version.
zabbix_agent_version: 5

I fixed it by using single quotes around '5.0', but I still have no clue where this problem suddenly came from.
This exact

[2022-02-03 03:49] ragingpastry commented on #617
Subscribed @Andersson007 !

[2022-02-03 06:47] Andersson007 commented on #617
@ragingpastry thank you!

[2022-02-03 13:47] #620 closed

[2022-02-03 13:47] #622 closed

[2022-02-04 12:20] howkymike opened #625 "Errors while using --tags option"
##### SUMMARY
While ordinary executing  `ansible-playbook my.yml` everything's fine. However, while executing only one role (using the `--tags` parameter) **community.zabbix.zabbix_agent** is throwing errors, even though it should not be executed at all.

Probably the problem is with the missing "ansible_os_family" (which maybe is not passed if the tags paremters is used? ). I did not specify anyw

[2022-02-07 16:18] masa-orca opened #627 "Add module for autoregistration"
##### SUMMARY

May I add new module which manage autoregistration?
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

- zabbix_autoregistration

##### ADDITIONAL INFORMATION

I have tried to create a module to manage [autoregistration](https://www.zabbix.com/documentation/5.0/en/manual/api/reference/autoregistration/object).
However, I forgot asking you that you are welcoming to this contribut

[2022-02-10 07:10] D3DeFi commented on #627
Hi @masa-orca, this is definitely very nice and clean solution. I can see autoregistration being added to the zabbix somewhere around 4.4, so we should have added it way sooner. There are also other API endpoints like authentication, setting, etc.. that may also be a good module contributions.

+1 from me, feel free to open PR

@ragingpastry @rockaut what do you guys think?

[2022-02-10 07:11] D3DeFi commented on #608
@ragingpastry feel free to contribute the fix you have prepared

[2022-02-11 16:47] vasiliy-klimov-idf commented on #604
Hot FIX!
I dont know how, but check_mode & diff in positon TRUE fix bug for me.

      passwd: "password"
    check_mode: true
    diff: true

[2022-02-11 16:48] vasiliy-klimov-idf commented on #578
Hot FIX!
I dont know how, but check_mode & diff in positon TRUE fix bug for me.

  passwd: "password"
check_mode: true
diff: true

[2022-02-11 17:01] ironbishop opened #629 "duplicate task in windows zabbix-agent"
##### SUMMARY
This code
https://github.com/ansible-collections/community.zabbix/blob/ac522985075fd52da7b1b63238c4637a15bba393/roles/zabbix_agent/tasks/Windows.yml#L218
is the same as this
https://github.com/ansible-collections/community.zabbix/blob/ac522985075fd52da7b1b63238c4637a15bba393/roles/zabbix_agent/tasks/Windows_conf.yml#L16

both files are executed during zabbix-agent role, on a Windows

[2022-02-11 17:53] badfiles commented on #608
checked on 'ldap' auth host, it works
thank you

[2022-02-12 18:32] ragingpastry commented on #625
It looks like this is happening because we have `tags: always` defined here: https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/tasks/main.yml#L20.

I'm not entirely sure why though. @dj-wasabi do you have some insight?

[2022-02-12 18:40] ragingpastry commented on #627
Definitely open up a PR!

[2022-02-13 06:16] rockaut commented on #627
Wait, have you had a look at the action module? This should be used for auto registration.

[2022-02-13 06:21] D3DeFi commented on #627
My first though exactly, then I did more digging and noticed that is related to the settings -> autoregistration, not actions -> autoregistration, so it makes sense to have modules that will configure zabbix settings. I am only worried if it will not create some confussion among users. Bc if I would be searching for configuring autoregistration action in the future, my first bet would be zabbix_au

[2022-02-13 06:26] rockaut commented on #627
Oh, hm. Then we should maybe do something like zabbix_settings_autoreg? I'm on vacation but i will have a deeper look at it tonight.

[2022-02-14 09:36] badfiles opened #631 "Maintenance breaks on missing items"
##### SUMMARY
Maintenance api should not stop, if host or group is missing on a server,
It should just skip an item.

This feature would be useful for complex multi-server installations, where dependent components might be called differently or missing.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

community.zabbix.zabbix_maintenance

##### ADDITIONAL INFORMATION

[2022-02-14 09:45] dj-wasabi commented on #625
Hi @ragingpastry I can only think of running the `set_facts` always no matter if tags are provided or not. Maybe some of the tasks rely on the `set_fact` when specifying a specific tag.

[2022-02-14 13:57] masa-orca commented on #627
I apologize for confusing you.
Zabbix provided some api's for updating settings(e.g. authentication). In addition, from version 6.0, Zabbix adds [setting](https://www.zabbix.com/documentation/devel/en/manual/api/reference/settings/object) api. However, it is not for authentication and autoregistration but for GUI settings. Therefore, I think we need to divide autoregistration and auth and some set

[2022-02-14 15:57] ragingpastry commented on #625
I feel like we shouldn't even enter the zabbix_agent role unless specified. Having `tags: always` inside of there could lead to some environmental pollution.

I think this specific issue can be seen here though: https://stackoverflow.com/questions/63739860/ansible-not-gathering-facts-on-tags.

I believe you will have to have a separate play which runs `setup` on those hosts. Or a `pre_task` inside

[2022-02-14 19:41] dj-wasabi commented on #625
I am an all or nothing kind of guy, so I never use tags. Nevertheless, if you think there needs to be some changes on how the 'tags' should be configured, be all means improve it. 👍

[2022-02-15 08:58] D3DeFi commented on #627
I agree with what was stated and recommended by @rockaut . Note would be really helpful in the module, once that is added, we can review PR for merge

[2022-02-15 09:21] D3DeFi commented on #631
This is a good idea
+1

[2022-02-15 10:55] rockaut opened #632 "zabbix_action condition type doesn't account zabbix version"
##### SUMMARY
Currently the condition type string to int conversion (`_construct_conditiontype`) doesn't take the zabbix version into account at all.
So if at some point the api uses an id (int) for another condition it would screw up.
But we already have a problem for example in the tests when a condition isn't available any more (like "application" condition is dropped in 5.4)

##### ISSUE TYPE

[2022-02-15 13:02] rockaut opened #634 "New module zabbix_scripts"
##### SUMMARY
Since 5.4 Zabbix has a central scripts "repository" under Administration > Scripts with different types (actions, hosts, etc.) and accordingly also an API module for that.

It is crucial that we implement a new Ansible Module for this too. As without this module we can not provide support for Zabbix 5.4 and higher at all. For example: we need to create such a central script to refere

[2022-02-15 16:54] ragingpastry commented on #625
I'm going to close this for now. This behaviour is expected with our use of tags and our how Ansible handles tags on roles + gather_facts.

If you want to discuss further please let me know and I can reopen!

[2022-02-15 16:54] #625 closed

[2022-02-16 15:13] howkymike commented on #625
@ragingpastry Thank you very much for the workaround, it works (pre_tasks with always tag), but as you said, it should not even enter the zabbix_agent role (in my playbook I have 10+ roles and only Zabbix agent role executes with the `tags` options)

[2022-02-16 16:03] philippebraxmeier opened #636 "zabbix user info result is always from Admin User and not from the alias variable"
##### SUMMARY
zabbix user info result is always from Admin User and not from the alias variable

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_user_info

##### ANSIBLE VERSION
ansible 2.10.8
  config file = None
  configured module search path = ['/root/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/lib/python3

[2022-02-20 14:02] polcape opened #637 "Can't create maintenance on Zabbix 6"
##### SUMMARY
Launch creation of maintenance failed

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Zabbix maintenance

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix version 6
Os Rocky Linux 8.5
Python 3.9

##### STEPS TO REPRODUCE

Launch playbook to create maintenance I get this error, seems cast error on time string

[code]

###

[2022-02-20 14:03] polcape commented on #637
I solved to change the line 311 of zabbix_maintenance.py of this collection from this

        start_time =  time.mktime(now.timetuple())

to this

        start_time =  int(time.mktime(now.timetuple()))

[2022-02-21 14:58] barzog opened #638 "Sangoma support should be included in zabbix_proxy role"
##### SUMMARY
Currently zabbix_agent role supports Sangoma, but zabbix_proxy role lacks that kind of support
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles/zabbix_proxy/tasks/main.yml

##### ADDITIONAL INFORMATION
This definition should be enough (in the beginning of main.yml)
[code]

[2022-02-21 15:06] barzog commented on #541
With AWX>=18.0.0 they moved to kubernetes setup. And running zabbix collection involves creating custom execution image.
Full steps for building (on Ubuntu 20.04.03 LTS):
•	apt install python3-venv
•	mkdir -p ~/venv/ansible-builder
•	python3 -m venv ~/venv/ansible-builder/
•	source ~/venv/ansible-builder/bin/activate
•	pip3 install ansible-builder
o	execution-environment.yml:
---
version: 1
build_

[2022-02-21 15:11] #587 closed

[2022-02-21 15:11] #588 closed

[2022-02-21 15:11] #589 closed

[2022-02-21 15:11] #591 closed

[2022-02-21 15:11] #592 closed

[2022-02-21 16:56] masa-orca commented on #627
Thank you very much for your comments!

@rockaut I renamed zabbix_autoregistration zabbix_autoregister! and, I added note to highlight that (thanks to @D3DeFi ).

[2022-02-22 14:02] masa-orca commented on #586
Hi, @rockaut

I think it is not a bug. Since 5.4, application fields disappear.
reference: 'Item tags have replaced "applications"'([What's new in Zabbix 5.4.0](https://www.zabbix.com/documentation/5.4/en/manual/introduction/whatsnew540))

Therefore, we cannot set 15 to conditiontype.

[2022-02-22 20:17] solick opened #640 "Zabbix 6.0 official release?"
Hi, just would like to ask if there is a official release for zabbix 6.0 planned which can be installed via ansible-galaxy?

[2022-02-23 05:31] D3DeFi commented on #627
Oh, my bad. I didnt notice that module was called correctly before - zabbix_autoregistration. And that @rockaut accidentally asked for correction to - zabbix_autoregister, which is not how API endpoint is called.

@rockaut so which one do we want? I think the previous name was fine. I also think this name can stay - your call. Im going to review withou merging.

[2022-02-23 05:56] D3DeFi commented on #586
Good catch! 😀

Then only tests need to be corrected for this situation and appropriate note should be added to the module itself.

[2022-02-23 06:01] D3DeFi commented on #640
Hello, we officially don't plan out releases of this collection alongside Zabbix releases as we are not able to keep up with the changes.

Also depends on what you want to see. I think roles do have some support already and some modules should work without problems.

That being said, I would like to have next minor version of this collection released soon as master branch contains lots of nice fix

[2022-02-23 07:02] rockaut commented on #627
Oh heck I screwed this up, extremely sorry @masa-orca! I just typoed this (should not do this on my phone I guess) - my last comment was meant that zabbix_autoregistration is perfectly ok for me.

[2022-02-23 09:51] #638 closed

[2022-02-23 14:55] #640 closed

[2022-02-23 15:10] #627 closed

[2022-02-25 18:13] masa-orca commented on #586
Ah.., Sorry. I find out Mr. rockaut assigned himselve now. I overlooked and created PR.

[2022-02-28 08:45] #586 closed

[2022-03-02 23:13] ragingpastry opened #643 "No filter named ipaddr found"
##### SUMMARY
One of this collection's dependencies, `ansible.netcommon` recently upgraded to 2.6.0. With this version of the collection we can no longer use the `ipaddr` filter. Instead we must used the namespaced version of this filter: `ansible.netcommon.ipaddr`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix-agent role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS

[2022-03-02 23:19] ragingpastry commented on #643
I'll be looking at validating this and submitting a fix if required

[2022-03-03 15:50] q1x opened #644 "Allow configuration of encrypted database connections"
##### SUMMARY
Zabbix supports encrypted connections to it's database backend from server, frontend and proxy since version 5.0.
Currently, it is not possible to set the required option variables to allow for encrypted connections through the roles in this collection.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles:
`zabbix_server`
`zabbix_web`
`zabbix_proxy`

##### ADDITIONAL INFORMAT

[2022-03-04 09:37] crashwind commented on #600
same problem

[2022-03-07 22:58] JKetelaar commented on #643
Same issue here

[2022-03-08 21:51] JKetelaar commented on #643
PR created.

@ragingpastry you can use the collection from my repo instead until merged:
[code]

[2022-03-09 11:31] valintinr commented on #600
Hello,
same issue when creating autoregistration action

Zabbix 6.0.0

[valintinr@xps-arch zabbix]$ git branch
* main
[valintinr@xps-arch zabbix]$ git log | head -n 3
commit fa779d31b32457a4f8d89b5d0385df6ac3c6ba5a
Author: Dusan Matejka <d3defi@gmail.com>
Date:   Tue Mar 8 14:56:02 2022 +0100

[code]

Example
[code]

[2022-03-09 16:04] #643 closed

[2022-03-11 09:42] valintinr commented on #600
Is this really fixed If I still has same error during ansible task?

[2022-03-11 09:51] D3DeFi commented on #600
are you using zabbix community from master branch or 1.5.0 version? Because this patch has not been released yet to ansible galaxy

[2022-03-11 10:00] valintinr commented on #600
Ok, tried latest git commit

[code]

now error msg changed
playbook same
[code]

removed esc_period from playbook
[code]

[2022-03-11 10:11] valintinr commented on #600
I can set up a clean zabbix 6.0 test server for you (if required)

[2022-03-11 10:15] D3DeFi commented on #600
@valintinr I reopened the issue, but I will not have time to address it in the near future. Perhaps @crashwind can investigate a bit more?

[2022-03-11 10:36] valintinr commented on #600
Tried to query the api directly

Original ansible query (auth_token and req_id my internal variables)
[code]

working query
[code]

diff (removed esc_* and empty recovery_operations and empty update_operations)
[code]

[2022-03-11 10:45] valintinr commented on #600
So I assume when
event_source = discovery or event_source = auto_registration (event_source = discovery I will test a bit later)
params
esc_period, esc_step_from, esc_step_to, recovery_operations, update_operations should NOT be added to api query.

[2022-03-11 11:01] crashwind commented on #600
ok, i will check it as soon as i can

[2022-03-11 11:12] valintinr commented on #600
Great, thanks

[2022-03-11 16:14] latam-cse-dev opened #651 "Unable to create new template"
##### SUMMARY

Unable to create a new template with module community.zabbix.zabbix_template.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_template

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

[code]

##### STEPS TO REPRODUCE

Run the following playbook:

[code]

##### EXPECTED RESULTS

It should create a new

[2022-03-14 16:26] valintinr commented on #600
Works fine, thank you (merged pr locally)

[code]

[2022-03-15 08:36] valintinr commented on #600
I found another issue - an incorrect message when authentication fails. This happens when I try to create a new discovery action.

Some example:
[code]

and result
[code]

[code]
Hostgroup Servers/Old exists and when I fixed the login/password this code started working fine.

[2022-03-16 11:01] crashwind commented on #600
yeah right, it`s another issue, not related to #600

[2022-03-16 14:22] chimmmpie opened #655 "[DEPRECATION WARNING]: evaluating u'zabbix_agent_tlspskfile' as a bare variable"
##### SUMMARY
Deprecation warning on debian using ansible 2.9.27

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

Zabbix agent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Debian 10

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

Removing:
* https://github.com/ansible-collections/community.zabbix

[2022-03-16 14:57] mmarkgraf-tpgroup opened #656 "zabbix_host: Handling of snmp interfaces is not idempotent"
##### SUMMARY
community.zabbix.zabbix_host will only run successfully once when attaching snmp-interfaces.
Running the module again with the exact same config will result in an error like this one:

[code]
As you can see the module uses "hostinterface.create", when it should use "update".

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_host

##### ANSIBLE VERSION

[co

[2022-03-21 08:08] #600 closed

[2022-03-21 08:18] D3DeFi commented on #656
Hi, thank you for reporting this. Can you please also provide Zabbix server version you are running on?

[2022-03-21 08:20] D3DeFi commented on #600
Thank you both for participating on solving this problem! Much appreciated :)

[2022-03-21 08:21] D3DeFi commented on #600
would you mind opening new issue for this please? Or PR would work too :)

[2022-03-21 08:29] mmarkgraf-tpgroup commented on #656
Sure.  I'm using the dockerized [zabbix-server-pgsql](https://hub.docker.com/r/zabbix/zabbix-server-pgsql)/alpine-5.2-latest

[2022-03-21 08:50] Andersson007 opened #658 "Ansible Contributor Summit. Tuesday, April 12, 2022."
##### Ansible Contributor Summit

We are happy to announce that the registration for the [Ansible Contributor Summit](https://hackmd.io/@ansible-community/contrib-summit-202204/%2FlV3o41__RLiX8P2rm-gGKA) is open!

##### Why

- This is a great opportunity for interested people to meet, discuss related topics, share their stories and opinions, get the latest important updates and just to hang out to

[2022-03-21 12:32] valintinr opened #660 "zabbix_action: wrong error msg when user has no admin access"
Hello, this issue created from #600

Code example:
[code]

Var example:
[code]

Playbook result:
[code]

I think this error happens during ```hostgroup.get``` request:
[code]
right after this request I see ```user.logout``` request

User access screenshot attached, when changed User role to Super admin role the error goes away
![screenshot_614](https://user-images.githubusercontent.com/3368964/159

[2022-03-21 12:33] valintinr commented on #600
#660

[2022-03-21 16:34] felix-s84 opened #661 "Unable to create actions in Zabbix 6.0"
##### SUMMARY
Unable to create actions in Zabbix 6.0

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_action

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version
zabbix_server --version
zabbix_server (Zabbix) 6.0.2
Revision d726a4d 14 March 2022, compilation time: Mar 14 2022 12:17:53

##### STEPS TO REPRODUCE
run playbook

[2022-03-22 13:54] masa-orca commented on #634
@rockaut Is anyone assigned this issue? If not, I'll create this module!

[2022-03-22 18:31] D3DeFi commented on #634
@masa-orca I don't think that this is assigned to anyone. Feel free to work on it if you are interested.

Btw would you be willing to also contribute some zabbix_action fixes that rely on this module for 5.4/6.0? @rockaut described it in the description of this module

[2022-03-22 18:32] D3DeFi commented on #634
@masa-orca I've went ahead and assigned this to you. If you change your mind please let us know.

Many thanks in advance for taking charge! :)

[2022-03-24 15:56] D3DeFi commented on #661
Hi @felix-s84 , thank you for reporting this issue. Would you be able to test with with community.zabbix checked out from master branch? There were a few PRs merged specifically for zabbix_action with zbx 5.4/6.0

[2022-03-24 18:02] fleroux514 opened #662 "zabbix_agent role: Execution error when setting zabbix_agent2_tlspsk_auto variable to True with agent2"
##### SUMMARY

Getting the following templating error when using `agent2` with `zabbix_agent2_tlspsk_auto` set to True

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_agent role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Ansible host running the role is WSL2 Ubuntu-20.04, target host is Centos 8

##### STEPS TO REPRODU

[2022-03-25 19:21] waldo323 commented on #661
for zabbix 6.0.2 I'm getting the same error code while trying to create an email media type.

I am using the git repo https://github.com/ansible-collections/community.zabbix.git
the setup uses vagrant + ansible on Rocky 8.x virtualbox vms:
[is in this github repo ](https://github.com/waldo323/blog-installing-zabbix-with-ansible)

[2022-03-25 19:34] waldo323 commented on #661
for zabbix 6.0.2 I'm getting the same error code while trying to create an email media type.

I am using the git repo https://github.com/ansible-collections/community.zabbix.git
the setup uses python 3.9,  vagrant, ansible on Rocky 8.x virtualbox vms:
[ is in this github repo ](https://github.com/waldo323/blog-installing-zabbix-with-ansible)

**ansible [core 2.12.3]
  config file = /ansible/ansibl

[2022-03-28 18:23] felix-s84 commented on #661
Hi! Tested with latest version from master branch:

`"msg": "Failed to create action 'Jira_notifications': ('Error -32602: Invalid params., Invalid parameter \"/1\": unexpected parameter \"def_longdata\". while sending {\"jsonrpc\": \"2.0\", \"method\": \"action.create\", \"params\": {\"name\": \"Jira_notifications\", \"eventsource\": \"0\", \"esc_period\": 3600, \"filter\": {\"conditions\": [{\"c

[2022-04-01 08:10] gmueller2000privat commented on #637
Any plans to fix this in the next release?

[2022-04-04 00:14] BGmot commented on #661
The error does not make any sense
unexpected parameter \"def_longdata\"
Parameter def_longdata is removed for Zabbix version >= 5.0 here https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_action.py#L865
Can you double check zabbix_action.py for this piece of code for the collection you have in place?

[2022-04-04 08:23] felix-s84 commented on #661
Hi! Cheked my zabbix_action.py:
`requirements:
    - "zabbix-api >= 0.5.4"`

Found "def_longdata" here:

`if LooseVersion(self._zbx_api_version) >= LooseVersion('5.0'):
            # remove some fields regarding
            # https://www.zabbix.com/documentation/5.0/manual/api/reference/action/object
            **_params.pop('def_longdata', None)**
            _params.pop('def_shortdata', None)

[2022-04-04 13:05] #655 closed

[2022-04-04 13:05] #662 closed

[2022-04-04 13:07] dj-wasabi commented on #637
Hi @polcape

Are you able to create a PR for this? Thank you! 👍

[2022-04-04 13:53] BGmot commented on #661
Hi!
does not make any sense to me. You either use the collection from different place or your Zabbix version is < 5.0.
For debugging can you temporarily insert one line prior to https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_action.py#L862 so it looks this way:
[code]
and give us the message you get when the run fails?

[2022-04-05 08:37] felix-s84 commented on #661
I think i figured out:
my new ansible-collection modules are in:
/home/user/.ansible/collections/ansible_collections/community/zabbix/
But playbook output shows:
Using module file /usr/local/lib/python3.8/dist-packages/ansible/modules/monitoring/zabbix/zabbix_action.py
which is outdated.

In the very beginning of run ansible shows:
`ansible-playbook 2.9.17
  config file = /home/user/ansible_config

[2022-04-05 09:39] polcape commented on #637
Hi @dj-wasabi,
done with https://github.com/ansible-collections/community.zabbix/pull/665

[2022-04-05 10:07] gmueller2000privat commented on #637
browsing through the code I think this change is not enough. At least update_maintenance needs also this change or could you please try this?

[2022-04-05 10:20] polcape commented on #637
Probably @gmueller2000privat , in my script I am using only create_maintenance

[2022-04-05 15:10] BGmot commented on #661
Run `ansible --version` it will tell you all the paths it searches collections in. In my case it takes ~/.ansible/collections/ansible_collections first then goes to /usr/local/lib/...
In any case if you don't need this collection for all users then just remove it from /usr/local/lib/... or update it with
[code]
See the docs for your ansible version.

[2022-04-06 12:09] felix-s84 commented on #661
Hi!
I've updated zabbix_action.py and other modules to recent version and got another error:
[code]

[2022-04-07 06:53] Andersson007 commented on #617
Hey folks! As you can see the sanity checks are failing.
Could anyone please:
- Copy ignore-2.13.txt to ignore-2.14.txt as mentioned there https://github.com/ansible-collections/news-for-maintainers/issues/13
- Also there were 2 other announcements recently that need maintainer attention:
  - https://github.com/ansible-collections/news-for-maintainers/issues/15
  - https://github.com/ansible-colle