[2022-04-07 07:46] felix-s84 commented on #661
What do you mean "remote"?

[2022-04-07 10:31] BGmot commented on #661
Sorry, meant "remove" in here:
[code]

[2022-04-07 11:23] felix-s84 commented on #661
But what if we have custom formula `formula: '(A or B) and C and D and E'`?
Now i removed this line and got another error
`"msg": "Failed to create action 'Jira_notifications': ('Error -32602: Invalid params., Invalid parameter \"/1/filter/conditions/3\": unexpected parameter \"value\". while sending {\"jsonrpc\": \"2.0\", \"method\": \"action.create\", \"params\": {\"name\": \"Jira_notifications\

[2022-04-07 12:20] ogenstad commented on #661
I can confirm that the error we saw against Zabbix 6.x related to acknowledge_operations as below is broken in 1.5.1 but works when the `main` branch (tested from commit d8c9a3545b943bcdc4e150298cc963ff320a6f43)

`Error -32602: Invalid params., Invalid parameter \"/1\": unexpected parameter \"acknowledge_operations\".`

Is there any estimate as to when the next version will be published?

[2022-04-07 13:56] BGmot commented on #661
There are numerious fixes for zabbix_action in https://github.com/ansible-collections/community.zabbix/pull/664 for Zabbix 6.0. Most of them due to introduced "added strict validation of the methods parameters" https://www.zabbix.com/documentation/current/en/manual/api/changes_5.4_-_6.0#action

[2022-04-08 08:42] D3DeFi commented on #617
@Andersson007 thank you for reminding us! I've noticed these changes, but haven't had a chance (until now) to address them. I think that #666 should pretty much cover these. We already skip tests for 2.12 and above for 2.7 an 3.6 python versions.

Can you please confirm that it looks good know in #666? I will also let this issue be closed by it. We can reopen it anytime its needed.

[2022-04-08 08:58] D3DeFi commented on #661
Thank you folks for working this issue out! @BGmot big thanks for contributing PR to address this.

@ogenstad release was pre-prepared in #659 . Since I got at least one approval now, I would like to merge few of the PRs and then proceed with release. Hopefully over the weekend.

[2022-04-08 08:58] #617 closed

[2022-04-08 09:00] D3DeFi commented on #661
@felix-s84 can you please test with latest changes in `main` branch once again? thank you in advance!

[2022-04-08 09:08] D3DeFi commented on #637
@gmueller2000privat  `start_time` is propagated to both `create_maintenance` and `update_maintenance` method calls. Do you happen to still get error when updating maintenance with the patch from @polcape ?

[2022-04-08 09:21] #637 closed

[2022-04-08 12:15] felix-s84 commented on #661
still the same
https://github.com/ansible-collections/community.zabbix/issues/661#issuecomment-1091615971

[2022-04-08 12:26] Andersson007 commented on #617
@D3DeFi you're welcome:) The PR LGTM, thanks!

[2022-04-08 13:25] BGmot commented on #661
@felix-s84 what does your "community.zabbix.zabbix_action:" look like right now?

[2022-04-08 15:05] felix-s84 commented on #661
`- name: Deploy trigger action
  community.zabbix.zabbix_action:
    login_user: "{{ zabbix.login_user }}"
    login_password: "{{ zabbix.login_password }}"
    server_url: "{{ zabbix.server_url }}"
    name: '{{item.name}}'
    event_source: '{{item.event_source | default("trigger")}}'
    state: present
    status: enabled
    esc_period: '{{item.esc_period}}'
    conditions: '{{item.conditions}

[2022-04-08 15:22] BGmot commented on #661
we need to see what your variables are when the error happens... please attache the log from ansible-playbook run, similar to https://github.com/ansible-collections/community.zabbix/issues/661#issue-1175642269 "Actual result" section

[2022-04-10 14:49] BGmot commented on #661
@felix-s84 I reproduced your error. One of your conditions is:
conditions:
[code]

According to https://www.zabbix.com/documentation/current/en/manual/api/reference/action/object it should not have 'value'
`No value required: using the "Yes" operator means that problem must be suppressed, "No" - not suppressed.
`

so it should be:
[code]
But if we run it this way we'll get a response:
`fatal: [loc

[2022-04-10 19:21] BGmot commented on #661
This issue happens during value attribued marked 'required' in module arguments.
FIxed in https://github.com/ansible-collections/community.zabbix/pull/667

[2022-04-12 08:42] D3DeFi commented on #661
With latest patch from @BGmot merged to master, I will now push for 1.6.0 release. @felix-s84 please feel free to re-open this issue if #667 and advice given is this thread wasn't enough to help your issue.

[2022-04-12 08:48] patsevanton opened #669 "PostgreSQL | Delegated | Create database: unable to initialize policy plugin"
Hello! Thanks for role zabbix

##### SUMMARY
PostgreSQL | Delegated | Create database: unable to initialize policy plugin

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### requirements.yml
[code]

##### STEPS TO REPRODUCE
Playbook
[code]

##### Inventory
[code]

RUN
[code]

##### ACTUAL RESULTS
[co

[2022-04-12 11:02] felix-s84 opened #670 "Community.zabbix and mitogen issue"
##### SUMMARY
Community.zabbix collections and Mitogen

##### ISSUE TYPE
Ansible Mitogen not working when using community.zabbix collections

##### COMPONENT NAME
community.zabbix collections

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
zabbix_server --version
zabbix_server (Zabbix) 6.0.2
Revision d726a4d 14 March 2022, compilation time: Mar 1

[2022-04-12 14:42] BGmot commented on #661
@D3DeFi can we not wait for a bit with pushing 1.6.0? @felix-s84 is a master in finding bugs and I feel like we need much more testing -(.

[2022-04-12 14:48] D3DeFi commented on #661
Yeah, I will not wait with 1.6.0 on further development in this issue. We are lucky @felix-s84 reports hip findings :) Thank you both for testing/contributing and involving yourself! Much appreciated

[2022-04-12 17:40] #658 closed

[2022-04-13 04:12] BGmot commented on #661
@felix-s84 you last problem should be fixed by https://github.com/ansible-collections/community.zabbix/issues/661 . Plus fixed similar issues with 'update_operations:'

[2022-04-13 09:19] felix-s84 commented on #661
msg": "module (community.zabbix.zabbix_action) is missing interpreter line"

[2022-04-13 11:27] BGmot commented on #661
you copied something wrong - it is there https://github.com/BGmot/community.zabbix/blob/main/plugins/modules/zabbix_action.py#L1

[2022-04-13 11:50] felix-s84 commented on #661
Yeh, sorry, wrong download. Everything works now. Thank you very much!
Please take a look #670

[2022-04-14 19:39] dicksol opened #672 "Failed to create action unexpected parameter formulaid"
##### SUMMARY
Using https://github.com/ansible-collections/community.zabbix/releases/tag/1.6.0 and trying to create an action in Zabbix 6.0 with value for formulaid results in error message:
Failed to create action : ('Error -32602: Invalid params., Invalid parameter, unexpected parameter formulaid
Without formulaid the action is created.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
commun

[2022-04-15 00:04] possebon opened #673 "Debian | Install gpg key failed"
##### SUMMARY

[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ROLE: zabbix_agent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix 6.0.3

The host where issue occurs runs:

NAME="Ubuntu"
VERSION="20.04.4 LTS (Focal Fossa)"
ID=ubuntu
ID_LIKE=debian
PRETTY_NAME="Ubuntu 20.04.4 LTS"
VERSION_ID="20.04"
HOME_URL="https://www.ubunt

[2022-04-19 14:32] krauthosting opened #674 "Ubuntu | support 22.04 LTS (Jammy Jellyfish)"
##### SUMMARY
Add support for upcoming Ubuntu 22.04 LTS.
Initially just the agent till PHP8.1 web support:
https://support.zabbix.com/browse/ZBXNEXT-7080
Even for the agent we're still waiting for packages:
https://support.zabbix.com/browse/ZBXNEXT-7624

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles/zabbix_agent

[2022-04-19 14:34] krauthosting commented on #674
While Ubuntu via Debian ship zabbix-agent 5.0 it's different packaging:

[2022-04-19 14:43] michal-barczewski commented on #602
To me this is a more fundamental problem - this role should not be trying to configure the controller host in the first place.
At the very least zabbix_install_pip_packages should be false by default.

The requirement for netaddr on controller can simply be documented, and possibly even verified at runtime with appropriate message.

I routinely run into this and having to set zabbix_install_pip_pa

[2022-04-19 19:43] dutrajulio opened #675 "Maps with linked nodes returns "KeyError: 'pos'""
##### SUMMARY
zabbix_map module always return "KeyError: 'pos'" when map content have linked (-- or ->) nodes.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_map.py

##### ANSIBLE VERSION
[code]
##### CONFIGURATION
Default

##### OS / ENVIRONMENT / Zabbix Version
Target OS: CentOS 8 Stream
Zabbix Version: 4.2.8

##### STEPS TO REPRODUCE
Try to create a map with linked nodes.

[code]
#

[2022-04-20 12:59] tuomastielinen commented on #313
I tried using zabbix_repo:other, but the role tried to use zabbix default repository still. When I set zabbix_repo_yum to null, repo-setting tasks  were skipped.

So looks like zabbix_repo:other, isn't working as it's supposed to.

[2022-04-20 16:51] BGmot commented on #672
Look at https://github.com/ansible-collections/community.zabbix/issues/661
formula_id is mentioned there and seems to be valid in 6.0 only with evaltype="custom expression"

[2022-04-21 08:01] patsevanton opened #676 "Can`t change ServerName zabbix.example.com"
##### SUMMARY
ServerName zabbix.example.com in /etc/apache2/sites-available/zabbix.conf

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Zabbix web

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version
Server where ansible
[code]

Remote server
[code]

##### STEPS TO REPRODUCE
[code]

##### Inventory
[code]

##### ACTUAL RESULTS
cat /etc/apache2/si

[2022-04-21 08:05] pantherra commented on #673
i have the same issue.
By default zabbix agent version installed is 5.4
But when im using zabbix_agent_version: 6.0

fatal: [host1]: FAILED! => {"msg": "The task includes an option with an undefined variable. The error was: 'dict object' has no attribute '6'\n\nThe error appears to be in '/usr/local/lib/python3.9/dist-packages/ansible_collections/community/zabbix/roles/zabbix_agent/tasks/Debian.ym

[2022-04-21 08:37] patsevanton commented on #676
Same issue with inventory
[code]

[2022-04-21 18:57] dicksol commented on #672
Sorted, Tx.

[2022-04-21 18:58] #672 closed

[2022-04-22 13:22] tuomastielinen opened #678 "zabbix_web: Task "RedHat | Install basic repo file (Zabbix 5.x)" is run on RHEL 8.5"
##### SUMMARY

[Task](https://github.com/ansible-collections/community.zabbix/blob/2dee1f1ace/roles/zabbix_web/tasks/RedHat.yml#L25-L45) is run on RHEL 8.5, although it shouldn't according to these conditions:
[code]

I have set zabbix_repo: other; zabbix_version should be 6.0, which is set according to zabbix_web_version and ansible_distribution_major_version is 8.

For example like this:
[code]

[2022-04-25 03:16] TakaseNochi commented on #673
proxy?
https://github.com/ansible-collections/community.zabbix/blob/b2d30089011ee7a85d63e2ef7ff84912df4ba6ba/roles/zabbix_agent/tasks/Debian.yml#L30

[2022-04-25 04:36] TakaseNochi opened #679 "zabbix_proxy: add config_file directive to MySQL | Get version_comment and MySQL | Get current value for innodb_default_row_format tasks"
##### SUMMARY
mysql_variables only read ~/.my.cnf but I use /etc/mysql/my.cnf.
https://github.com/ansible-collections/community.zabbix/blob/b2d30089011ee7a85d63e2ef7ff84912df4ba6ba/roles/zabbix_proxy/tasks/mysql.yml#L77

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_proxy

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

community.za

[2022-04-25 09:06] shk3bq4d opened #680 "Regression of #515"
d8c9a3545 reverts the fix that was put in #528 to fix #515

cc: @danilomendes , @dj-wasabi

[2022-04-25 11:49] possebon commented on #673
Not my case, I don't have proxy HTTP/HTTPS proxy.

[2022-04-25 15:36] CompPhy commented on #643
I would like to reopen this issue, as it is no longer sufficient to use 'ansible.netcommon.ipaddr' as a filter.  This is due to migration of ipaddr, and other functions, over to the ansible.utils collection.  See PR here:  https://github.com/ansible-collections/ansible.netcommon/pull/359

[2022-04-25 16:37] JKetelaar commented on #643
Instead we should now use `ansible.utils.ipaddr`, correct?

[2022-04-30 07:44] #674 closed

[2022-05-03 12:40] krauthosting commented on #643
@JKetelaar Changing from `ipaddr`to `ansible.utils.ipaddr` should do it.
@dj-wasabi Guess we max loose support for old Ansible releases?

[2022-05-03 17:56] dj-wasabi commented on #643
I think so, but then we should advice to update. We can not keep supporting old Ansible releases. So either we update, some old Ansible releases can not be used. Or we don't update, newer version of Ansible can not be used. So I would say, lets change it. 👍

[2022-05-03 18:55] CompPhy commented on #643
For a work around, I was able to lock ansible.netcommon at version: 2.5.1.  This allowed me to use the latest community.zabbix version for now.

However, I'm in agreement that forcing users to older version doesn't seem like the right path forward.  Yes, maybe we have to do that during some "transition" time; but permanent solution should be to support the new way of doing things.

[2022-05-03 19:48] krauthosting commented on #643
@CompPhy Sure v2.6.1 of ansible.netcommon doesn't work? Does for for us with this deprecation:
`[DEPRECATION WARNING]: Use 'ansible.utils.ipaddr' module instead. This feature will be removed from ansible.netcommon in a release after 2024-01-01. Deprecation warnings can be disabled by setting deprecation_warnings=False in ansible.cfg.`
@dj-wasabi If we can confirm it should give us plenty of time t

[2022-05-04 17:07] barzog commented on #680
I have exactly same problem:
I define pskfile like this:
        zabbix_agent2_tlspskfile: "{{ zbx_tls_psk_identity | default(false) | ternary('/etc/zabbix/zabbix_agentd2.psk', None) }}"
so if psk_identity is defined set pskfile to some predefined path, if not - set to None. In currect situation role fails with "There was an issue creating  as requested: [Errno 2] No such file or directory: b''"

[2022-05-05 13:21] kjaquier commented on #673
Same issue here.

Ansible version:
[code]

Output:
[code]

Playbook (relevant part)
[code]

Host:
[code]

[2022-05-05 13:34] dj-wasabi commented on #673
Around 5 days ago a PR is merged that should address this issue, so please use the latest version from Github. As PR is merged, I will close this issue.

[2022-05-05 13:34] #673 closed

[2022-05-06 11:02] damo2929 opened #685 "Issue with ip filters"
##### SUMMARY
the issue with fact filter failing to run. for netcommon.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
TASK [community.zabbix.zabbix_agent : Get Total Private IP Addresses] ***********************************************************************************************************************************************************************
fatal: [zabbix1.internal.zone]: FAILE

[2022-05-06 12:51] damo2929 opened #686 "default repo configuration for zabbix server has regex that doesn't work."
##### SUMMARY
{{ zabbix_version | regex_search('^[0-9]+.[0-9]+') }} crashes ansible

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Zabbix.server role

##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Rocky linux 8.5 x84_64

##### STEPS TO REPRODUCE
[code]

to get past this issue I had to redefine the variable in the playbook like so by removi

[2022-05-06 15:01] dmsimard opened #687 "Sanity tests failing in community.zabbix"
##### SUMMARY
We are running sanity tests across every collection included in the Ansible community package (as part of [this issue](https://github.com/ansible-community/community-topics/issues/96)) and found that ``ansible-test sanity --docker`` against community.zabbix 1.6.0 fails with ansible-core 2.13.0rc1 in ansible 6.0.0a2.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
n/a

##### ANSI

[2022-05-07 18:08] D3DeFi commented on #687
@dmsimard I wonder why is that? Those modules were renamed to _info as was requested by Ansible upstream developers some times ago.

They have correct ignore lines in here https://github.com/ansible-collections/community.zabbix/blob/main/tests/sanity/ignore-2.13.txt. Should I add line with _facts there also?

[2022-05-07 21:46] felixfontein commented on #687
This is caused by the tests being run on the extracted Ansible tarball, and not on the installed collection, and by https://github.com/ansible-community/antsibull/issues/218. So there's nothing to fix in this collection.

[2022-05-09 08:11] feelan03 commented on #661
I have similar problem
[code]
Everything seems to be correct, but I get an error
[code]

Zabbix 6.0

[code]

[2022-05-09 10:26] feelan03 opened #688 "Zabbix actions - Use scripts - Zabbix 6.0"
Good afternoon. In zabbix 6.0 it is not possible to use custom_commands as it was possible before. Now, in order to use a custom script in an Action, you first need to add it to Administration > Scripts. Set scope: Action operation. Then in Actions select the desired script.

[2022-05-09 11:26] BGmot commented on #688
Good afternoon. It is not a problem of this Ansible collection. It is a change to Zabbix 6.0 comparing to 5.0. Module that will let you to create Scripts is coming soon https://github.com/ansible-collections/community.zabbix/issues/634

[2022-05-10 07:34] D3DeFi commented on #688
Hi, in addition to what @BGmot has stated I am closing this issue as a duplicate of #634. Feel free to comment there if you have any additional insight that may help with module development.

[2022-05-10 07:34] #688 closed

[2022-05-11 07:21] nosko-stojachkov commented on #685
Hello,
It worked for me like this.
**requirements.yml:**
[code]

[2022-05-12 10:30] appreciated commented on #685
I've got the same issue, I made it work by adding `zabbix_agent_dont_detect_ip: True`

My collections are:
[code]

[2022-05-13 07:56] beerygaz opened #690 "Set proxy for host in zabbix_agent role"
##### SUMMARY
When using the API to add a host entry while executing the zabbix_agent role it would be useful to be able to specify the proxy.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Add a parameter to the the zabbix_agent role calle 'zabbix_proxy' that takes a sting value of a proxy name and allocates the host to this proxy when created via the API.

##### ADDITIONAL INFORMATION
Th

[2022-05-13 15:45] #687 closed

[2022-05-13 16:51] #634 closed

[2022-05-16 05:30] felixfontein opened #691 "[IMPORTANT] Missing PSF-license.txt file"
##### SUMMARY
plugins/module_utils/_version.py mentions licenses/PSF-license.txt, which doesn't exist yet.

Please also add that file (from https://github.com/ansible/ansible/blob/devel/licenses/PSF-license.txt) to all branches that contain plugins/module_utils/_version.py and create new releases ASAP. Thanks!

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
plugins/module_utils/_version.py
PS

[2022-05-16 06:03] felixfontein commented on #691
As pointed out in https://github.com/ansible-collections/community.general/pull/4675#issuecomment-1127245658 by @gotmax23, ansible-core includes an older version of the license file. It's better to pull the updated license from https://github.com/python/cpython/blob/v3.9.5/LICENSE (which contains multiple other licenses as well that can be stripped).

[2022-05-16 10:23] felixfontein commented on #691
@D3DeFi a feature release is also fine, whatever suits you best :)

[2022-05-16 10:57] gregolsky opened #692 "esc_step_from and esc_step_to are cleared if esc_period is set only on the action level"
##### SUMMARY

The `esc_period` is available to set on the action level (which sets the default operation `esc_period`) and on the specific operation level.
Now `esc_step_from` and `esc_step_to` parameters are cleared if it's not set *explicitly* on the operation level, but only on the action level:

https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_action.py

[2022-05-17 02:54] yujikamada opened #693 "Cannot create passive proxy for Zabbix 6.0.4"
##### SUMMARY
Cannot create passive proxy using zabbix_proxy module for Zabbix 6.0.4.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_proxy

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
- CentOS 8 Stream
-  Zabbix 6.0.4

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
It can create passive proxy on the Zabbix web frontend.

#

[2022-05-17 03:17] BGmot commented on #693
Interface type was deprecated long time ago, what version of this collection are you using? Please execute
```ansible-galaxy collection list community.zabbix```

[2022-05-17 07:16] D3DeFi commented on #693
seems this is still passed to the module, defaulting to the `0`. High time to remove that for 1.7.0 release as ansible-2.14 will freeze with that collection version and we marked those options to be deprecated by then.

Unless @BGmot wants to address this, I will try to find some time and clean up the module (there may be more deprecations like this marked)

[2022-05-17 10:46] BGmot commented on #693
I'll take a look but at the first glance it seems that the type is "pop'd" out of interface dict everywhere.

[2022-05-17 18:13] BGmot commented on #693
Could not reproduce the issue with community.zabbix version 1.6.0

[2022-05-17 18:18] BGmot commented on #693
btw why do we have zabbix_proxy integration tests disabled?

[2022-05-19 08:51] yujikamada commented on #693
I'm using community.zabbix version 1.6.0.

[code]

[2022-05-19 09:53] yujikamada commented on #693
In add_proxy(), the process of popping type and main in the interface dictionary does not work. This is because compile_interface_params() is only called from update_proxy().

https://github.com/ansible-collections/community.zabbix/blob/1.6.0/plugins/modules/zabbix_proxy.py#L269

Therefore, we added a process in the add_proxy() function to pop type and main from the interface dictionary when the A

[2022-05-19 10:20] D3DeFi commented on #693
nice catch @yujikamada ! :) Care to open PR with the patch?

[2022-05-19 11:00] Support-Green-IT-Solutions commented on #690
Hi,

Use `zabbix_agent_proxy: ""` variable to define your proxy name. It's an undocumented variable but you can find it on the file https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/defaults/main.yml

Regards

[2022-05-19 22:27] BGmot commented on #693
sorry I tried to reproduce on Zabbix 5.0

[2022-05-20 10:25] vicmunoz opened #696 "Missing condition for Ansible dependency only in PostgreSQL"
Installing a PostgreSQL dependency always is not needed.

https://github.com/ansible-collections/community.zabbix/blob/c97e43026a5ec018b6e6652e8038d1f635fb72b7/roles/zabbix_server/tasks/Debian.yml#L200

Missing additional 'when' condition:
`- zabbix_server_database == 'pgsql'`

Or include it with client package like you do with mysql:
https://github.com/ansible-collections/community.zabbix/blob/c9

[2022-05-23 18:20] #690 closed

[2022-05-24 08:25] #693 closed

[2022-05-24 08:32] #692 closed

[2022-05-24 08:46] gregolsky commented on #692
Thanks!

[2022-05-24 09:28] D3DeFi commented on #680
can you please check #699 for correctness? (Sorry, I am usually floating near plugins, not roles)

[2022-05-24 09:33] D3DeFi opened #700 "Test suite failling on HTTP timeouts"
##### SUMMARY

Sometimes our plugin integration tests are failing with:
[code]

Can be seen for example here (https://github.com/ansible-collections/community.zabbix/runs/6569619513?check_suite_focus=true) at the start. I suspect that this is some lag that Github Actions may show when heavily utilized?

How to best fix this? I am not sure that giving `retries:` to each task would be very nice solu

[2022-05-24 17:48] #680 closed

[2022-05-25 01:16] yujikamada commented on #693
I verified this using the latest branch. The issue reported in this Issue was not reproduced. @BGmot @D3DeFi Thank you for your support.

[2022-05-25 11:34] unbreakabl3 opened #701 "zabbix_agent_version ignored on Ubuntu 20.x"
##### SUMMARY
When using `zabbix_agent_version: 5.0` for example, on RHEL, CentOS, Rocky its is installing the 5.0, but on Ubuntu its always installing the latest. Currently, its always installing 6.0.4

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_agent

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Ubuntu 20.04 -

[2022-05-25 17:39] nto4 opened #702 "zabbix-server installation file permision error on ubuntu 20.04"
##### SUMMARY

installing zabbix-server playbook end with that error

my command

`ansible-playbook /home/sebit/u.yml -vvv --extra-vars 'ansible_sudo_pass=qwe123** ansible_user=root'
`
my playbook

[code]

/etc/ansible/hosts

[code]

error
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS

[2022-05-27 09:42] david-sieg opened #703 "Zabbix_Agent deploy fails under Windows"
##### SUMMARY
Deploy of Zabbix Agent isn't possible since release of Collection 1.7.

Variable 'ansible_distribution_release' isn't provided by Windows systems, so it breaks deployment.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Zabbix Agent role

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Windows Server 2016/2019/2022
Zabbix version 6

##### STEPS TO REPRODUCE

[2022-05-28 00:39] MaartenMol opened #704 "Possible to filter on specific tag value?"
Is it possible to filter on hosts that have a specific value for let's say the "OS" tag?

Would there be any way to filter on this? Or to create a group with the name from a specific tags value?

[2022-05-31 07:55] D3DeFi commented on #704
Hi, I presume you are asking about inventory plugin. Is that correct? (Because this collection hosts numerous plugins and roles)

In such case, no such filtering is possible directly in the plugin (https://github.com/ansible-collections/community.zabbix/blob/main/plugins/inventory/zabbix_inventory.py), but you can use `selectInventory` and then build your groups from ansible's `add_host` module.

[2022-05-31 08:03] piotrkochan opened #705 "Zabbix Agent installs with --check flag"
##### SUMMARY

Ansible role zabbix_agent installs Zabbix when --check flag is provided. This is very dangerous as --check is used usually to determine what the playbook will do and it definitely should not make changes to the system.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://github.com/ansible-collections/community.zabbix/tree/2287bc4165a03e2ae8a2ed94ec1088428b29dad9/roles/zabbi

[2022-05-31 11:47] sebneus commented on #656
Maybe this is linked to a problem I found:

when you request info with zabbix_host_info the field interfaces.details returns an empty list for non-snmp interfaces - but zabbix_host expects an dictionary for this!

I have two roles adding different interfaces/templates to a host. Since we cannot add interface you always have to check the existance of the interface/host before running zabbix_host. I

[2022-05-31 14:52] dutrajulio commented on #618
As a temporary workaround you can use the "from_yaml" Ansible filter.

[2022-05-31 18:03] MaartenMol commented on #704
Sorry that I didn't specify this earlier. You are correct, it's about the inventory plugin.

We are using AWX so I found another solution. I am creating a few groups based on values coming from Zabbix using the build in functions of the inventory plugin. After that I use Dynamic Inventory (function of AWX/Tower I guess?) to target specfic groups or other values to split the full Zabbix inventory.

[2022-05-31 20:42] YoSiJo opened #707 "Firewall iptables ipv6 support"
##### SUMMARY
Currently the [roles/zabbix_agent/tasks/firewall.yml](https://github.com/ansible-collections/community.zabbix/blob/2287bc4165a03e2ae8a2ed94ec1088428b29dad9/roles/zabbix_agent/tasks/firewall.yml) can not handle ipv6 addresses.

##### ISSUE TYPE
- Use IPv6 Only infra.

##### COMPONENT NAME
firewall/iptables

##### ADDITIONAL INFORMATION
Currenty not, i think we can mak a ip type detect

[2022-06-01 19:08] keeganquinn commented on #703
I ran into this problem as well. There appears to be a missing `ansible_distribution_release is defined` conditional in zabbix_agent/tasks/main.yml. Until that gets fixed, this can be worked around by setting a dummy value.

I also needed to set `zabbix_win_firewall_management: false` to get the role to finish successfully; this may be another separate issue or something specific to my environment

[2022-06-03 18:03] andrew-landsverk-win commented on #526
@maxxer Thanks for your great work on this! We are experiencing the exact same issue right now, where we get an API fail because we are trying to use an active proxy with PSK connections from the proxy. Are we thinking this will be in an upcoming release soon?

[2022-06-03 20:34] andrebossi commented on #701
I did this workaround by setting the following variables to get the right version and it worked but needs to be fixed in the task.

zabbix_agent_version: 5.0
zabbix_agent_package: zabbix-agent=1:5.0.24-1+focal
zabbix_sender_package: zabbix-sender=1:5.0.24-1+focal
zabbix_get_package: zabbix-get=1:5.0.24-1+focal

[2022-06-03 20:37] unbreakabl3 commented on #701
Great. Thanks a lot. I will test it next week.
Probably, the documentation should be updated as well.

[2022-06-04 19:59] maxxer commented on #526
Can you have a try with the patch above and confirm it works fine? Then maybe we can push for merge

[2022-06-06 21:03] andrew-landsverk-win commented on #526
I will give it a shot tomorrow, thanks!

[2022-06-07 08:19] david-sieg opened #708 "FR: add tags to zabbix_host tasks"
##### SUMMARY

It would be nice to set some host tags during agent deploy.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/tasks/api.yml#L37

##### ADDITIONAL INFORMATION

https://docs.ansible.com/ansible/latest/collections/community/zabbix/zabbix_host_module.html#parameter-tags

[code]

[2022-06-09 11:28] marek1712 commented on #423
Hi.

I still have issues in AWX (tried i.e. under 19.4.0).
Unless I embed credentials in the playbook that uses inventory plugin, my custom creds (assigned to dynamic inventory) aren't used.

I defined them like this:

Input configuration:
`fields:
  - id: ZABBIX_USERNAME
    type: string
    label: Username
  - id: ZABBIX_PASSWORD
    type: string
    label: Password
    secret: true
  - id: ZABB

[2022-06-11 22:17] BGmot commented on #700
This issue is extremely weird, look at another failed test with the same error https://github.com/ansible-collections/community.zabbix/runs/6426759041?check_suite_focus=true at exactly the same place (plus there are identical runs).
Moreover look at re-runs with debug info, the run does not even reach this test, it fails at totally irrelevant:
https://github.com/ansible-collections/community.zabbi

[2022-06-12 00:39] BGmot commented on #700
Surprisingly playing with local docker container I found out that deleting template does take several seconds to complete but only for the first time after container creation. I cannot explain this behaviour but changed timeout from default 10 seconds to 20, ran through github tests two times and they passed.

[2022-06-12 08:48] #700 closed

[2022-06-12 08:49] D3DeFi commented on #700
Yeah, had something similar happening in the past also. I believe it was too related with github actions + zabbix_template. I was never able to reproduce this locally.

Anyway I think it is a good idea to increase timeout even further, it may tip rng luck on our side more consistently. Thanks for looking into this! :)

[2022-06-16 08:47] marek1712 opened #713 "AWX - Passing credentials as variables doesn't work"
Hi.

I still have issues in AWX (tried i.e. under 19.4.0) - see #423.
Unless I embed credentials in the playbook that uses inventory plugin, my custom creds (assigned to dynamic inventory) aren't used.

I defined them like this:

Input configuration:
[code]

Injector configuration:
[code]

Any idea what could be wrong? I'm updating the plugin via requirements.yml.
I see that current version of the

[2022-06-16 14:49] sohwaje opened #714 "how to use zabbix_inventory"
##### SUMMARY

I want to synchronize Zabbix's hosts to Ansibe's inventory. You must use "zabbix_inventory" to do so. Can someone tell me how to use "zabbix_inventory" in detail?

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2022-06-17 07:39] mzoff opened #715 "zabbix_host: Handling of macros is not idempotent"
##### SUMMARY
I run task for update host macros. When I run this task again, it will changed again.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_host
##### ANSIBLE VERSION

[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix-server: Debian 11, zabbix version 6.0, DB postgres
Zabbix-agent: Debian 10, zabbix-agent2 version 6.0

##### ST

[2022-06-18 05:07] sohwaje opened #716 "I got the following variations. Can I change the IP shown here in zabx_interfaces to the format "ansible_ssh_host:IP"?"
##### SUMMARY

I got the following variations. Can I change the IP shown here in zabx_interfaces to the format "ansible_ssh_host:IP"?

[code]
[code]
Because the host name cannot be found in the answerable.
##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

##### ADDITIONAL INFORMATION

[code]

[2022-06-18 07:06] sohwaje opened #717 "Zabbinx Inventory is imported into Ansible Inventory, but when you run PlayBook, the error "Could not resolve hostname" is displayed."
##### SUMMARY

##### ISSUE TYPE
- Bug report

##### COMPONENT NAME

community.zabbix.zabbix_inventory

##### ADDITIONAL INFORMATION

[code]

[code]
[code]

![스크린샷 2022-06-18 오후 4 08 37](https://user-images.githubusercontent.com/19942049/174427052-aa3d375c-e726-48af-a1a6-50eb400f5352.png)
![스크린샷 2022-06-18 오후 4 16 08](https://user-images.githubusercontent.com/19942049/174427386-edc9

[2022-06-18 07:19] #716 closed

[2022-06-18 20:32] BGmot commented on #715
Please share logs. Tests from here https://github.com/ansible-collections/community.zabbix/blob/main/tests/integration/targets/test_zabbix_host/tasks/zabbix_host_tests.yml#L1150 and below prove that what you stated is not possible.

[2022-06-18 21:02] BGmot commented on #656
@mmarkgraf-tpgroup can you try zabbix_host.py from https://github.com/ansible-collections/community.zabbix/pull/718 ?
Zabbix 5.2 is not supported but should work.
We test on 4.0, 5.0 and 6.0.

[2022-06-18 21:04] BGmot commented on #656
@sebneus  you can add interfaces, just specify
[code]
and the interface will be added to already existing ones (if it is not already there).

[2022-06-20 07:46] D3DeFi commented on #717
@sohwaje in your screenshot with inventory configuration and variables definition `ansible_ssh_host: "{{ zbx_interfaces.item }}"`. Did you try something like `{{ zbx_interfaces[0].ip }}` also?

I am sorry, but I have no way of testing/replicating this myself at this point.

Maybe you can even try something like this (may not have correct syntax, I've typed it from my head)?
[code]

[2022-06-20 07:57] D3DeFi commented on #715
With `force: false`, playbook will try to append macros you defined in `macros` section to any existing macros existing on the host.

Although we kind of test that macro was appended here: https://github.com/ansible-collections/community.zabbix/blob/a3277b4a552c8baebd4b8ff76f9d122cb9919001/tests/integration/targets/test_zabbix_host/tasks/zabbix_host_tests.yml#L1263 we don't test that re-running th

[2022-06-20 08:49] #656 closed

[2022-06-20 14:16] BGmot commented on #715
You are right. I'll test.

[2022-06-22 00:34] sohwaje commented on #717
@D3DeFi  Thank you.

As shown below, I added a variable to the inventory and ran the playbook, so it worked normally.

![스크린샷 2022-06-18 오후 4 16 08](https://user-images.githubusercontent.com/19942049/174918477-8a373167-84d4-4ffa-bda7-0fe5b9c1594b.png)

[2022-06-22 10:12] D3DeFi commented on #717
I understand your issue has been resolved. I am going to close it now. Feel free to reopen if necessary

[2022-06-22 10:12] #717 closed

[2022-06-24 03:48] BGmot commented on #715
Please test with zabbix_host.py from https://github.com/ansible-collections/community.zabbix/pull/720

Note: I've changed behavior for secret macro. API never returns its value so it is impossible to say whether we are trying to create macro with the same value (thus it shoud return no_change) or we are actually updating secret value. If secret macro is present that we always send host_update and

[2022-06-24 06:13] optica-phoffmann opened #721 "zabbix_mediatype: attempt_interval not allowing time suffixes"
##### SUMMARY
The [documentation of Zabbix 6](https://www.zabbix.com/documentation/6.0/en/manual/config/notifications/media) states for the parameter `attempt_interval` that input with time suffixes (e.g. 10s, 5m, 2h) is supported. However, when using the parameter `attempt_interval` in module `zabbix_mediatype` an error appears, stating that only integer is allowed. The feature request is to supp

[2022-07-01 11:08] opulasli414 opened #723 "Unable to Define Multiple Host Groups in Zabbix with Ansible"
##### SUMMARY

I am trying to create Zabbix User Group with Ansible. Since usually user groups rights are defined with multiple host groups, I am trying the same with Ansible. However my playbook throws error when I try to write multipe host groups under host group section in playbook.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_usergroup

##### ANSIBLE VERSION

[

[2022-07-01 11:13] D3DeFi commented on #466
Here we go again :)

[2022-07-01 11:22] lzadjsf commented on #466
For sure!

[2022-07-01 14:45] BGmot commented on #466
Looking at previous comments in this issue - do we still have problems with modules regarding 6.0? I committed some code to fix all issues known to me and now we have all the tests running against Zabbix 6.0, no failures.

[2022-07-01 16:37] #685 closed

[2022-07-01 18:19] D3DeFi commented on #466
Sorry, we dont have any major problems with 6.0 I am aware of. You did a great job covering requirements for 6.0 lately.

I updated the issue description. Btw would you also consider stepping up to the maintainer status?

[2022-07-01 18:40] BGmot commented on #466
No need to apologize -) I just was worried that I missed some incompatibilities with 6.0

I guess I would as I am really interested in keeping this developing... but I never maintained anything and many aspects still mystery for me (like when you need to provide a changelog update or not, for instance). I am not a developer.

[2022-07-01 18:53] #715 closed

[2022-07-01 19:01] D3DeFi commented on #723
Thank you for bringing this to our attention! Definitely looks like a bug.

Can you also share zabbix version this happens on? Major.minor is enough for us to reproduce usually

[2022-07-01 21:52] BGmot commented on #723
We have this test https://github.com/ansible-collections/community.zabbix/blob/main/tests/integration/targets/test_zabbix_usergroup/tasks/main.yml#L70
Never fails.
Moreover in your code you are trying to give read-only and read-write permissions to the same host_group.
[code]
I don't get it, it is simply not correct. What am I missing?

[2022-07-03 17:13] D3DeFi commented on #723
Hmm, good catch. I havent had time to verify this issue yet

@opulasli414 can you ensure that you are not assigning conflicting permissions to the same group?

[2022-07-03 18:12] pyrodie18 commented on #466
Would love to spend time helping out in whatever capacity you need.  I maintain a number of things for work (not public, unfortunately) but am open to whatever you need.

[2022-07-05 14:17] opulasli414 commented on #723
Hello Dusan,

Thanks for your help. The Zabbix version is 6.0.3.

Best Wishes,
Onur

On Fri, Jul 1, 2022 at 10:01 PM Dusan Matejka ***@***.***>
wrote:

[2022-07-05 17:42] D3DeFi commented on #723
@opulasli414 did you try with fixed version? E.g. either:

[code]

or:
[code]

As @BGmot wrote, both will not work. You are assigning them to the same group at the same time

[2022-07-05 17:53] #619 closed

[2022-07-06 11:00] hiddenshadow21 opened #728 "Zabbix_action: recovery_operations uses default media_type with type `send_messages`"
##### SUMMARY
When recovery_operations `type` is set to `send_message` it always uses default media_type (`All`). It ignores `media_type` property.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Zabbix_action: recovery_operation

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

##### OS / ENVIRONMENT / Zabbix Version

TargetOS: `Ubuntu 20.04 LTS`
Zabbix Version: `6.0.6 LTS`

##### STEPS T

[2022-07-06 11:23] mu1f407 commented on #651
Hi, I can't reproduce this issue using lastest stable version. Probably #633 fixed this issue.

[2022-07-06 11:55] mu1f407 commented on #631
Hi,
I wouldn't recommend to implement this feature into module. There are only 3 states how module can (cleanly) exit in Ansible:
- _changed_ - changes were made to achieve desired state of resource
- _ok_ - resource is already in desired state
- _failed_ - resource cannot be set to desired state for some reason

I think you propose to return _ok_ state for hosts which does not exists. IMHO this w

[2022-07-06 16:55] decouxb commented on #723
Hi.  Just wanted to add that we would like to have the host group and permission in a vars file, such that we could have some host groups with read-write and some host groups with read-only permissions as part of the same user group.

We were able to have multiple host groups added for a host fine, but when trying with user groups it doesn't work, since it's more of a complex object.

Has anyone u

[2022-07-06 17:07] decouxb commented on #723
Something around the lines of:

user_groups:
  - name:  Admins
     - host_group:
             - name:  MyTestingHostGroup101
                  permission:  read-write
             - name:  MyTestingHostGroup102
                 permission:  read-write
             - name:  MyTestingHostGroup103
                 permission:  read-only

Not sure this syntax would be correct.  We've tried many diffe

[2022-07-06 17:33] BGmot commented on #723
This is what works in this repo tests:
[code]

[2022-07-07 09:07] maximko opened #729 "Invalid parameter "/output": value must be "extend"."
##### SUMMARY

Can't add a host to Zabbix 6.2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix 6.2
community.zabbix 1.7.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2022-07-07 10:14] lzadjsf commented on #729
Seems I fixed it. Working on adding my fix into repo.

[2022-07-07 12:14] D3DeFi commented on #723
@decouxb would this suffice?

vars/user_groups.yml:

[code]

tasks/user_groups.yml
[code]

[2022-07-07 12:20] D3DeFi commented on #651
@mu1f407 thanks for looking into!

@latam-cse-dev do you still experience this problem yourself?

[2022-07-07 12:22] D3DeFi commented on #631
This is a good point! I didn't realize that the module would essentially mimic one of these behaviors.

@badfiles what do you think? Can we close the issue?

[2022-07-08 07:56] badfiles commented on #631
yes if there is no way to trigger 'skipping' state from a module

[2022-07-11 08:04] jurruh commented on #728
Same problem here, looks like something wrong on https://github.com/ansible-collections/community.zabbix/blob/e62cd33202a4e795f3d9cc179996680069748eff/plugins/modules/zabbix_action.py#L1333 or https://github.com/ansible-collections/community.zabbix/blob/e62cd33202a4e795f3d9cc179996680069748eff/plugins/modules/zabbix_action.py#L1338

[2022-07-11 09:01] jurruh commented on #728
https://github.com/ansible-collections/community.zabbix/pull/734

[2022-07-11 09:46] D3DeFi commented on #466
@gundalow are you around? I tried to contact you via Gitter.

Can you please help me with including new maintainers to the collection?

[2022-07-11 12:47] BGmot commented on #728
In your very first post I see in the module invocation `media_type` set properly.
[code]
how is that possible without your PR?

[2022-07-11 13:45] jurruh commented on #728
The invocation of @hiddenshadow21 is done correctly. But https://github.com/ansible-collections/community.zabbix/blob/e62cd33202a4e795f3d9cc179996680069748eff/plugins/modules/zabbix_action.py#L1332-L1333

removes it before sending to the Zabbix api.

[2022-07-11 15:11] oupfiz5 opened #736 "Zabbix 6.2. Can't create template using community.zabbix.zabbix_template"
##### SUMMARY
Can't create template using community.zabbix.zabbix_template

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_template

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Ubuntu 20.04.4 LTS
Zabbix 6.2
community.zabbix 1.7.0

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS
Create new template

##### AC

[2022-07-11 16:26] masa-orca commented on #636
I tried to happen same bug, however, I could not.
Will you give me a playbook which will happen the bug?

[2022-07-11 18:17] oupfiz5 commented on #736
[From API ](https://www.zabbix.com/documentation/current/en/manual/api/reference/template/create) is waiting [Template groups](https://www.zabbix.com/documentation/current/en/manual/api/reference/templategroup/object) . [From ansible ](https://docs.ansible.com/ansible/latest/collections/community/zabbix/zabbix_template_module.html#ansible-collections-community-zabbix-zabbix-template-module) is wai

[2022-07-11 18:35] BGmot commented on #736
I think yes: https://www.zabbix.com/documentation/current/en/manual/api/changes_6.0_-_6.2#template-1

[2022-07-12 03:33] masa-orca commented on #636
@BGmot
zabbix_user_info module seems to change parameter from alias to username.
I think it is not ploblem to use alias parameter.
- https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_user_info.py#L127
- https://github.com/ansible-collections/community.zabbix/blob/main/plugins/modules/zabbix_user_info.py#L106

[2022-07-12 03:46] BGmot commented on #636
@masa-orca  you are right, unless it's an old version of collection although in this case I'd expect the module to fail.
Just noticed that bug-report is probably modified by hand - different `server_url` and `login_user`.

[2022-07-13 14:18] mprenditore commented on #241
This would be really nice, and I agree with the proposal of @D3DeFi to add just a variable `clear_templates` defaulted to `True` to avoid any breaking change.

[2022-07-13 19:26] mu1f407 commented on #636
@philippebraxmeier This was fixed in #633. I've just tried zabbix_user_info before and after this PR. Please update your community.zabbix collection to latest version.

Previously user.get used `'filter': {'alias': alias}`. As `alias` became `username` in 5.4, Zabbix just ignores `alias` and the request is executed as it would without any filter, so it returns all users. Admin is always the first

[2022-07-13 20:20] maximko commented on #729
Can confirm that PR #730 has fixed the issue. Thank you.

[2022-07-13 20:43] maximko opened #739 "tls values not updating on zabbix 6.2 if host is already present"
##### SUMMARY
If zabbix host is already present and has encryption enabled `tls_psk_identity` and/or `tls_psk` values seems to stay the same and won't update.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

community.zabbix.zabbix_host

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Zabbix 6.2
community.zabbix a3df0f1

##### STEPS TO REPR

[2022-07-14 14:30] mu1f407 commented on #739
Strange, because this is [covered by tests](https://github.com/ansible-collections/community.zabbix/blob/a3df0f1a9704085d232980491a29229df2d80e90/tests/integration/targets/test_zabbix_host/tasks/zabbix_host_tests.yml#L624). And _zabbix_host_ tests runs fine for 6.2 (after #740).

Just to be sure, the module returns `changed: true` in your case?

[2022-07-15 05:10] maximko commented on #739
No, it returns `"changed": false,`.

[2022-07-15 11:31] mu1f407 commented on #739
I see now. This behavior was introduced in #481. There should be the `else` part in version check like @D3DeFi proposed. I will send a PR with fix and new tests specifically for this case when only write-only parameters are changed.

[2022-07-15 14:44] D3DeFi commented on #723
Oh, I finally understand! :) Well, this is something that we are not supporting in the modules unfortunately.

We mimic the way it is done via official Zabbix API:
https://www.zabbix.com/documentation/current/en/manual/api/reference/usergroup/create

It requires user to provide list of Permission objects, where each object has ID of the group and the permission level itself (denied/ro/rw):
https:/

[2022-07-15 14:51] D3DeFi commented on #241
Hey folks, I'll be happy to merge such PR. Unfortunately I don't have many opportunities to code it myself atm.

[2022-07-15 14:53] D3DeFi commented on #636
I think that explanation and recommendations from @mu1f407 are correct. This is one of those older issues that were buried by amount of newer ones.

Thank you all for digging in!

[2022-07-15 14:53] #636 closed

[2022-07-15 15:02] #736 closed

[2022-07-15 19:24] beerygaz opened #742 "Set Macros and Tags using community.zabbix.zabbix_agent"
When creating the host via API using community.zabbix.zabbix_agent, is it possible to set macros and tags?

Or do we need to make a call to community.zabbix.zabbix_host to add tags and macros?

[2022-07-15 19:50] mu1f407 commented on #742
@beerygaz Currently only host macros using `zabbix_agent_macros`. See [example](https://github.com/ansible-collections/community.zabbix/tree/main/roles/zabbix_agent#vars-in-role-configuration) in zabbix_agent documentation.

[2022-07-17 07:12] #708 closed

[2022-07-17 07:12] #742 closed

[2022-07-17 07:14] #739 closed

[2022-07-18 08:21] niklasweimann opened #746 "'contains' and 'does not contain' not supported"
##### SUMMARY
The zabbix_action module does not support the 'contains' and 'does not contain' as operator.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_action

##### ANSIBLE VERSION
[code]

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
I can use 'contains' and 'does not contain' as a operation since it is listed in the zabbix-api (https://www.zabbix.com/documentation/curre

[2022-07-18 10:58] mu1f407 commented on #746
As a workaround, use `like`. In Zabbix 4.0 the naming was changed, but internally it sends an integer which is `2` in both cases.

Zabbix 3.4:

Zabbix 6.2:

The [module currently uses](https://github.com/ansible-collections/community.zabbix/blob/1.7.0/plugins/modules/zabbix_action.py#L1529) original (3.4-ish) naming mixed with newly added operators in later versions.

In the future this can be fix

[2022-07-19 07:12] niklasweimann commented on #746
Hey @mu1f407,
thanks for providing the workaround. This came in useful for me yesterday. But i would love to see this fixed in a future is there anything i can provide to make the fix easier?

[2022-07-19 14:00] sentia-be-ops opened #747 "Hide more possibly sensitive arguments in module logs and output"
##### SUMMARY
When using some of the zabbix modules, some sensitive values get exposed in the output and the logs.
We can work around this by setting `no_log` on the related tasks, but this hides ALL module output and not just the sensitive values, which is not what we want.

Because of this, it would be interesting if these specific field could be hidden in the module code.

Related fields observ

[2022-07-19 14:10] leroy0211 opened #748 "zabbix_agent_include var should be able to contain a glob pattern"
##### SUMMARY

Zabbix-agent can use a glob pattern in the `Include` key. By default this is something like `/etc/zabbix/zabbix.agent.d/*.conf`. When you change this, it will try to create a directory called `*.conf`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

ansible_agent

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

##### STEPS T

[2022-07-22 09:16] #721 closed

[2022-07-22 09:45] #703 closed

[2022-07-22 09:47] #746 closed

[2022-07-25 06:19] Andersson007 commented on #466
@D3DeFi hi, sorry for the late reply, was on PTO which started exactly 14 days ago when you wrote the comment:)
I invited @pyrodie18 with "write" access. @pyrodie18 could you please check your mailbox? And thank you for your interest and help!
@D3DeFi do we wanna make anyone else maintainers? Next time ping me, not gundalow, I respond and am not gonna have another PTO soon. It's a great idea to in

[2022-07-25 06:25] D3DeFi commented on #466
@Andersson007 thank you!

Can you also include @BGmot and @lzadjsf ?

[2022-07-25 06:32] Andersson007 commented on #466
@D3DeFi invited the folks too

yes, sure, aklychko at redhat dot com or andersson007_ on [Matrix](https://docs.ansible.com/ansible/devel/community/communication.html#ansible-community-on-matrix)

[2022-07-25 11:02] Andersson007 commented on #466
BTW we have the [maintainer guidelines](https://docs.ansible.com/ansible/latest/community/maintainers.html). Maybe it doesn't fully match your practices in this collection but might be useful to read (especially for new mainteiners).

[2022-07-26 09:10] D3DeFi commented on #466
Yes, thanks for linking maintainer guidelines. We don't have any specific rules in the community, so everything that is required by upstream goes. Anyway, I am always open to any suggestions if you have any ideas how to improve our workflows in here.

If you guys start reading from https://github.com/ansible-collections/community.zabbix/blob/main/README.md#supported-zabbix-versions and follow the

[2022-07-26 09:11] D3DeFi commented on #466
@Andersson007 thanks for providing official channels to you. I will contact you if something arises

[2022-07-26 09:12] D3DeFi commented on #466
Also closing this issue for the time being :) Feel free to still comment here if you want to add something

[2022-07-26 09:12] #466 closed

[2022-07-26 09:17] D3DeFi commented on #466
@mu1f407 you have been such a great help lately around the repo. If you think you would be also interested in joining us as a maintainer, feel free to hit me up anytime with any questions :)

[2022-07-26 12:19] pyrodie18 commented on #41
Patch merged.  No further comments received....Closing

[2022-07-26 12:19] #41 closed

[2022-07-26 14:17] mu1f407 commented on #466
@D3DeFi Yeah, I've been thinking about it for a while. I saw some of original maintainers (dj-wasabi, rockaut) had to step out due to lack of time or change of interest. As currently we use modules from this collection in our company and I hope I will have a little bit of time in foreseeable future, I'll be glad to help. Thanks. 🙂

[2022-07-26 18:40] D3DeFi commented on #466
@Andersson007 can you please also invite @mu1f407 ? :)

[2022-07-27 00:49] #631 closed

[2022-07-27 05:34] Andersson007 commented on #466
@D3DeFi done, @mu1f407 could you please check your email for the invite? Thank you for your interest and help!

Please take a look at:
- the comment by @D3DeFi , well-written, I would also add (fixing CI and releasing as it would be nice if someone else can do it too)
- the [Maintainer guidelines](https://docs.ansible.com/ansible/latest/community/maintainers.html)
Thanks

[2022-07-27 05:36] Andersson007 commented on #466
@mu1f407  @BGmot @lzadjsf please subscribe and track the [news-for-maintainers](https://github.com/ansible-collections/news-for-maintainers) repo as important CI update announcements that we must do happen there

[2022-07-27 07:49] mu1f407 commented on #466
@Andersson007 I'm in, thank you! Subscribed too. I will read through guidelines, news and so on in the next days.
@D3DeFi Great introducing post. Agree with everything. Nice to see maintainer community expanding.

[2022-07-27 08:24] #602 closed

[2022-07-27 10:59] pyrodie18 commented on #705
Resolved with https://github.com/ansible-collections/community.zabbix/pull/706....closing

[2022-07-27 10:59] #705 closed

[2022-07-27 11:58] mu1f407 commented on #713
@marek1712 It seems like this is not an issue in community.zabbix. I tested calling ansible-playbook with envionment variables set and it works fine with zabbix modules. Maybe it should be used differently in AWX? Could it be similar issue as in ansible/awx#1752?

[2022-07-28 00:09] BGmot opened #754 "Compatibility with Zabbix 6.2"
##### SUMMARY
All modules need to be compatible with recently released Zabbix 6.2

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Two modules fail integration tests against Zabbix 6.2:
- zabbix_authentication
- zabbix_host_info

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT / Zabbix Version
Zabbix 6.2.

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
All tests should pass.

###

[2022-07-28 00:35] BGmot commented on #754
Ability to configure several LDAP servers was introduced in Zabbix 6.2 thus zabbix_user_directory module needs to be created for zabbix_authentication to work properly with.

[2022-07-28 00:45] BGmot opened #755 "zabbix_user_directory module"
##### SUMMARY
Ability to configure several LDAP servers was introduced in Zabbix 6.2 thus zabbix_user_directory module needs to be created to manage these sources of authentication.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
zabbix_user_directory

##### ADDITIONAL INFORMATION
zabbix_user_directory module would be used to add/update/delete "user directories". In terms of Zabbix 6.2 a "u

[2022-07-28 19:49] mu1f407 commented on #754
Hi @BGmot, the message you've got from zabbix_host_info test is not the real issue. You just didn't had your environment clean before tests and host already existed. I've sent a PR which solves failing tests for this module in Zabbix 6.2.

It's great you started working on 6.2 compatiblity. Thank you! The breaking change in authentication module is fairly extensive. I've looked a little bit at it

[2022-07-28 22:17] BGmot commented on #754
Hi @mu1f407, you are right - I was doing tests module by module and probably repeated zabbix_host_info two times and at that point did not analyze any errors, was concentrating on a list of what needs to be fixed for 6.2.
Indeed on 6.2 I get this groups returned:
[code]
I tested - your PR fixes it so I vote for it. Thanks!

[2022-07-29 02:02] pyrodie18 opened #758 "Update Min PHP version to 7.4"
##### SUMMARY
Release of Zabbix 6.2 updated the minimum PHP version to 7.4

https://support.zabbix.com/browse/ZBXNEXT-7627

##### ISSUE TYPE
- Bug Report

[2022-07-29 02:05] pyrodie18 opened #759 "Support for Multiple LDAP Sources"
##### SUMMARY
Zabbix 6.2 added support for multiple LDAP sources

https://support.zabbix.com/browse/ZBXNEXT-2289

**authentication**

- [ ] ZBXNEXT-2289 authentication.get, authentication.create, authentication.update: removed properties ldap_host, ldap_port, ldap_base_dn, ldap_search_attribute, ldap_bind_dn, ldap_bind_password.

**auditlog**
- [ ] ZBXNEXT-2289 added new resourcetype (49 - LDAP us

[2022-07-29 02:11] pyrodie18 opened #760 "Add Support for Template and Host Groups"
##### SUMMARY
Functionality for both Host groups and Templates Groups added in Zabbix 6.2
https://support.zabbix.com/browse/ZBXNEXT-2592
https://support.zabbix.com/browse/ZBXNEXT-7596

**configuration**
- [ ] ZBXNEXT-2592 configuration.export: option groups is not supported, instead new options introduced host_groups and template_groups.

**hostgroup**
- [ ] ZBXNEXT-2592 hostgroup object does not

[2022-07-29 02:35] pyrodie18 commented on #759
Duplicate of #755

[2022-07-29 02:35] #759 closed

[2022-07-29 02:36] pyrodie18 commented on #755
**authentication**

- [ ] ZBXNEXT-2289 authentication.get, authentication.create, authentication.update: removed properties ldap_host, ldap_port, ldap_base_dn, ldap_search_attribute, ldap_bind_dn, ldap_bind_password.

**auditlog**
- [ ] ZBXNEXT-2289 added new resourcetype (49 - LDAP user directory).

**authentication**
- [ ] ZBXNEXT-2289 authentication.get, authentication.create, authentication.up

[2022-07-29 03:42] pyrodie18 opened #761 "Check Installation from Roles with 6.2"
##### SUMMARY
Ensure that all roles are able to properly install/configure Zabbix 6.2

##### ISSUE TYPE
- Feature Idea

[2022-07-29 03:58] pyrodie18 opened #762 "FR: Add install Support for RHEL 9"
##### SUMMARY
Zabbix 5.0, 6.0 and 6.2 has support for RHEL 9.  Need to update roles to allow for installation

##### ISSUE TYPE
- Feature Idea

[2022-07-29 04:01] pyrodie18 opened #763 "FR: Add install Support for Ubuntu 22.02"
##### SUMMARY
Zabbix 5.0, 6.0 and 6.2 has support for Ubuntu 22.02. Need to update roles to allow for installation

##### ISSUE TYPE
- Feature Idea

[2022-07-29 04:02] pyrodie18 opened #764 "FR: Add install Support for Debian 11"
##### SUMMARY
Zabbix 5.0, 6.0 and 6.2 has support for Debian 11. Need to update roles to allow for installation

##### ISSUE TYPE
- Feature Idea

[2022-07-29 07:02] mu1f407 opened #765 "ZBXNEXT-2592 added new resourcetype (50 - Template group)."

[2022-07-29 07:03] mu1f407 commented on #765
Misclicked. Sorry. :)

[2022-07-29 07:03] #765 closed

[2022-07-29 07:06] mu1f407 commented on #760
@pyrodie18, I believe this was already resolved in #738. Not sure if it solves every change made by Zabbix, but it fixed the tests so at least breaking changes was solved. Please take a look at it, as I think this issue can be closed.

[2022-07-29 07:58] pyrodie18 commented on #760
Yep good catch.  Sorry about that I was going through the list of changes and neglected to see what work had been done in the last 30 days or so since release.  Closing.

[2022-07-29 07:58] #760 closed

[2022-07-30 13:04] pyrodie18 opened #766 "Remove Support for Unsupported Versions"
##### SUMMARY
Remove support for Zabbix 4.X

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Various roles and modules

##### ADDITIONAL INFORMATION
In our README we outline that we support the two most current LTS releases which are currently 6.0 and 5.0.  We still include support for 4.X installs.  I suggest that we go ahead and deprecate that functionality from the collection as part of o

[2022-07-30 13:16] pyrodie18 opened #767 "Clarify Supported Operating Systems"
##### SUMMARY
When I read through our documentation (i.e. https://github.com/ansible-collections/community.zabbix/blob/main/docs/ZABBIX_AGENT_ROLE.md) it is unclear to me what operating systems we are supporting.  For example, RHEL v5 is listed on the table as having support for Zabbix versions 3, 4, 5, and 6.  RHEL 5 itself was officially retired 9 or 5 years ago (depending on the definition of r

[2022-07-31 14:20] pyrodie18 opened #768 "Simply Variable Definition"
##### SUMMARY
The server and web roles make use of both `zabbix_server_database` and `zabbix_server_database_long`.  While the two variables may hold different values (pgsql vs postgresql), the two values will always be tightly related.  Suggest that we simply the configuration process and add logic at the top of the playbook that will automatically set `zabbix_server_database_long` based on the v

[2022-07-31 22:51] BGmot commented on #766
I am not sure. Zabbix 4.0 still has limited support until October 31, 2023 https://www.zabbix.com/life_cycle_and_release_policy
Why remove what's working? Or you mean to put some 'deprecation notice'?

[2022-08-01 00:22] pyrodie18 commented on #766
Because that's what we said we would do in https://github.com/ansible-collections/community.zabbix#supported-zabbix-versions.  It would allow us to clean up the code base a lot and simply the roles.  As is, we still have support in there for <= 3.2, and we're not currently testing the installs for any of them.

[2022-08-01 08:14] D3DeFi commented on #767
I agree with this. Support matrix should be way smaller then it is. No need to support EOL releases

[2022-08-01 08:20] D3DeFi commented on #766
I think when we prepared our release document we stated that major releases would warrant for forking _main_ branch into _stable-1.x_ branch.

I am all up for removing 4.x functionality at this point. Users can lock community.zabbix at 1.y.z version and we release 2.0.0 without zabbix 3.x and 4.x.

If anything critical is found, we can always backport the fix and git tag 1.y.z + 1 version.

[2022-08-01 08:56] #754 closed

[2022-08-01 10:45] mu1f407 commented on #561
We are already compatible with Zabbix 6.0. Closing as resolved.

[2022-08-01 10:45] #561 closed

[2022-08-01 18:37] Vinaum8 commented on #703
Thanks!

[2022-08-03 02:35] pyrodie18 commented on #761
Need some opinions.  I'm going through and running tests on the updated roles.  6.2 server isn't supported on Debian 10, so the tests keep failing.  How do we want to handle this?  I can easily add Debian 11 into the testing matrix, which is what we talk about doing in #764 , or can add logic that just gracefully ends the play if it sees 6.2 trying to go onto Debian 10.  Longer term, I think there

[2022-08-03 07:10] dj-wasabi commented on #761
So you say that Zabbix Server 6.2.0 does not support Debian 10? Then I would go for Debian 11. I personally never like changing the tests to something like "gracefully ends the play if it sees 6.2 trying to go onto Debian 10". It seems a bit like a Volkswagen test. 😉   Testing something and it doesn't matter what the end result is, so we just accept it. And by changing it to Debian 11, you still h

[2022-08-09 07:42] qq516249940 opened #772 "No hosts found belongin to all given groups"
##### SUMMARY

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

zabbix5.0
centos7.9

##### STEPS TO REPRODUCE

error:
[code]
work:
[code]

##### EXPECTED RESULTS

##### ACTUAL RESULTS

[code]

[2022-08-09 08:53] D3DeFi commented on #772
Hey @qq516249940 . Just to be clear, if you provide multiple host_group, zabbix_screen will only include hosts that are part of ALL of them.

- host1 is part of Example group1, but not test group -> it will not be added
- host2 is part of test group, but not Example group1 -> it will not be added
- host3 is part of both test and Example group1 groups -> it will be added

Can you make sure that hos

[2022-08-09 08:58] D3DeFi commented on #761
I agree with @dj-wasabi, lets add Debian 11 to testing matrix

[2022-08-09 09:02] D3DeFi commented on #748
@leroy0211 thanks for opening this report. Are you please able to test this with changes proposed by @mu1f407 in #770 ?

[2022-08-09 09:02] qq516249940 commented on #772
this is example，Example group1 and test group replaced by my zabbix group.
![image](https://user-images.githubusercontent.com/19165935/183609444-48c59066-829b-4c48-9b69-349d27ec8bd0.png)

[2022-08-09 09:11] D3DeFi commented on #772
I understand, but what I am trying to clarify is that. Do you have a host that is present in ALL of those host groups at once?

Think of it as something like this in pseudo code:

[code]

[2022-08-09 09:16] qq516249940 commented on #772
I have checked that the hosts of each group are different.

[2022-08-09 09:54] qq516249940 commented on #772
I finally figured out that a host can only be displayed in multiple groups at the same time. thanks

[2022-08-09 09:54] #772 closed

[2022-08-12 20:26] andrew-landsverk-win commented on #526
Actually, I have to go back on what I said, I believe I DO need the patch, and it does seem to be working.

[2022-08-14 02:20] #560 closed

[2022-08-14 02:45] pyrodie18 opened #774 "[Discussion] Develop Zabbix Collection 2.0.0"
##### SUMMARY
Begin working on version 2.0.0 of the collection

##### ISSUE TYPE
- Discussion

##### ADDITIONAL INFORMATION
I would like to start working on version 2.0.0 of the collection.  As I've spent the last week or so going through and adding support for Zabbix 6.2, it's become apparent that there are a lot of skeletons in the code base.

Things I'd like for us to consider doing:

1.  Only

[2022-08-14 04:48] BGmot commented on #774
I am all for it. First I think we need to decide what oldest version of Zabbix we want to support.

[2022-08-14 05:08] D3DeFi commented on #774
Indeed, I am also all for this. Would have started this activity a waaay back, but I would have been never been to fully commit.

When it comes to versions, I would drop 4.x as well and only test and support 5/6/6.2

[2022-08-14 05:10] D3DeFi commented on #774
I also think that most of the users run zabbix modules locally or from controller, so enforcing python3.8+ should be easy for us. Ansible-core is also doing the same from 2.14 or such afaik

[2022-08-14 05:32] pyrodie18 commented on #774
I won't lose any sleep ditching 4.  People who really need it can keep using the 1.X branch of need be.  I have not looked at httpapi at all so no idea what it would take to finish bringing that only.

[2022-08-14 05:40] BGmot commented on #774
Sorry I just don't understand what httpapi is thus will be listening.

[2022-08-14 07:19] D3DeFi commented on #774
It was an initiative from @rockaut  to re-use httapi plugin from ansible and replace external zabbix-api dependency with it. I think there id one module that uses it already

[2022-08-14 13:20] pyrodie18 commented on #774
Proposed supported operating systems (for server, web, and proxy):

Ubuntu:
- 18.04 (End of Standard Support [ESS] April 2023)
- 20.04 (ESS April 2025)
- 22.04 (ESS April 2027

Debian:
- 10 (ESS Jun 2024)
- 11 (ESS Aug 2026)

Centos/Rocky
- 7 (ESS Jun 2024)
- 8 (ESS May 2029)
- 9 (ESS May 2032)

I could see maybe expanding the list out some as it relates to the agents.  Thoughts?

[2022-08-15 06:35] D3DeFi commented on #774
I agree with OS matrix

[2022-08-15 11:28] #748 closed

[2022-08-15 16:18] mu1f407 commented on #755
Module already added in linked PR. Closing.

[2022-08-15 16:18] #755 closed

[2022-08-16 11:51] pyrodie18 opened #777 "Update Testing Matrix"
##### SUMMARY
Currently, we only test against the latest version of Zabbix as well as the latest operating systems but report that we support 4 versions of Zabbix and a few older operating systems.  Should update the testing matrix so that it tests all supported versions and operating systems.

##### ISSUE TYPE
- Feature Idea

[2022-08-16 12:01] pyrodie18 commented on #777
My suspicion is that either Github gives free minutes to large open-source projects, or Ansible (RedHat) is paying for the runners.  Anyone that we could ask?

The other option is that we build a separate trigger event that would do a complete regression test of everything that would be triggered as part of a release event (not sure what the trigger would be exactly but I'm sure we could figure so

[2022-08-16 12:06] D3DeFi commented on #777
@Andersson007 would you be able to shine some light into this matter? :)

[2022-08-16 12:09] pyrodie18 commented on #777
ya.  And remove 3.0.  Did we decide if we're going to keep or ditch 4.0 when we role versions?

[2022-08-16 14:55] nitzmahone commented on #777
Yes, Ansible's paying for the VMs in a gigantic Azure VMSS that serves both ansible-core and the community collections projects, among other things.

[2022-08-16 18:07] webknjaz commented on #777
This project doesn't seem to make use of the Ansible Core CI, though. Evidently, it uses the free minutes that GH has for public projects: https://github.com/ansible-collections/community.zabbix/actions/runs/2867704689/usage.

P.S. By the way, @pyrodie18 if you're looking for areas of improvements, try integrating https://github.com/marketplace/actions/ansible-test — it helps reduce some boilerpla

[2022-08-16 18:24] D3DeFi commented on #777
Thanks for clarifying @nitzmahone @webknjaz ! Yes, I don't think that we use Azure in any way, we also cannot utilize ansible-test container as we do need to test same codebase against multiple versions of zabbix-server.

Is there a way for us to see how far we are away from Github's free 2000 CI/CD minutes?

[2022-08-16 19:16] pyrodie18 commented on #777
According to the documentation public projects aren't charged.  Just like if we were to do a self-hosted instance.  That being the case I think we're good to go.

[2022-08-19 06:58] david-sieg opened #778 "zabbix-agent2 deployment on Windows fails"
##### SUMMARY
zabbix_agentd.exe and zabbix_sender.exe aren't existing in Zabbix Agent 2 package.

Deployment fails with Agent2, because of new implemented task which has hardcoded loop:
There is one condition missing for agent2...

- name: "Windows | Copy binary files to expected location"
  ansible.windows.win_copy:
    src: "{{ zabbix_win_install_dir }}\\bin\\{{ item }}"
    dest: "{{ zabbix_win

[2022-08-19 10:11] rfdparker opened #779 "Support Zabbix API tokens"
##### SUMMARY
Please consider adding support for Zabbix API tokens, as an alternative to username/password.

Zabbix 5.4 [added support](https://www.zabbix.com/documentation/5.4/en/manual/introduction/whatsnew540#api-tokens) for API tokens, with later releases (e.g. 6.0 LTS and 6.2) continuing the support.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
Presumably all `community.zabbix` comp

[2022-08-20 03:33] #761 closed

[2022-08-20 03:40] pyrodie18 opened #781 "Standardize Tags in Roles"
##### SUMMARY
We don't seem to have a consistent standard for the use of tags within a role or across roles.

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
All Roles

##### ADDITIONAL INFORMATION
In the server role, most, but not all tasks are tagged with `zabbix-server` even though the entire role itself is zabbix-server.  Other tags such as `database` are added into lots of related tasks

[2022-08-20 18:41] pyrodie18 opened #782 "[DISCUSSION] Installation of Dependency Services"
I am going through and cleaning up the Web role and realized that we have login in there to actually install NGINX, but not apache.  In the readme examples though it shows the user having to install both PHP and apache prior to running the roles.  So what is our answer?  Do we want to install NGINX/Apahce/PHP, or simply configure it and leave the installation to the user?  I'm ok either way but th

[2022-08-20 19:30] dj-wasabi commented on #782
Yes, the PHP part was there before there was such a thing as FPM. When FPM came, it was a bit troublesome to find something that could work on any deployment, because i did not wanted to force users to use specific roles from specific people. Like, geerlingguy has a lot of roles, but I didn't wanted to force people to use his role.. neither for the WEB, but also not for the databases. People shoul

[2022-08-21 08:43] mu1f407 commented on #779
I am all for it. Currently, there are several issues that prevent the implementation of API tokens.

1. We use [zabbix-api](https://pypi.org/project/zabbix-api/) package as a backend for API calls. This package doesn't support API tokens and probably never will, as it looks pretty much abandoned (no update for 4 years).
2. This could be solved by migrating to different and more up-to-date backend

[2022-08-21 16:45] pyrodie18 commented on #782
So do we want to go ahead and install the web server of choice and PHP or leave that as a dependency for the role and remove the PHP install and just configure it?

[2022-08-21 17:57] dj-wasabi commented on #782
Ideally I would say, installation of Apache/PHP/Nginx is all done with other roles (as it is their main focus) and the `zabbix_web` role should only do the things specificaly to make Zabbix work, like placing vhost config file(s) on correct place. I think it is to much work to do all kinds of Apache/Nginx and PHP setups and keep that maintained as part of the `zabbix_web`, while those are basicall

[2022-08-21 18:49] mu1f407 commented on #782
Absolutely agree on this. It would keep zabbix_web role slim and simple. We could only have playbook examples in the docs with the roles recommended for complete Apache/PHP/Nginx setup.

[2022-08-21 19:12] pyrodie18 commented on #782
Perfect.  Totally agree and was the way I was gonna go until I saw us install PHP and wanted to double check.

[2022-08-21 20:41] dj-wasabi commented on #782
yes indeed.. and we should have something as part of the CI jobs with molecule..

[2022-08-22 09:22] dgibbs64 opened #784 "Adjust permissions to allow system.hw.chassis to display"
##### SUMMARY
Currently to allow Zabbix Agent to get system.hw.chassis data you need to do the following:
[code]
It would be helpful if the Zabbix Agent role updated the permissions as part of its process

https://www.zabbix.com/documentation/current/en/manual/config/items/itemtypes/zabbix_agent

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME

zabbix agent

##### ADDITIONAL INFORMATION

by

[2022-08-22 17:49] webknjaz commented on #777
You could use `--docker-network` to make zabbix containers accessible :man_shrugging:

[2022-08-22 19:35] mu1f407 commented on #784
Not sure if it's good to tweak user's system as much. Is this procedure recommended in Zabbix documentation? Maybe as an opt-in feature. @pyrodie18 your opinion?

[2022-08-22 20:17] Vanav opened #785 "`zabbix_host` with `tls_psk` is always `changed: true`"
On current versions of `community.zabbix` (v1.8.0) and Zabbix (v6.2) task `zabbix_host` with `tls_psk` always has status `changed: true` — not idempotent. This may be related to: #741, #739, #481, #460.

Task:
[code]

Result:
[code]

[2022-08-22 20:52] mu1f407 commented on #785
Yes, it's not a bug, it's a feature. Zabbix doesn't return these parameters in host.get response anymore, so there is no way to tell by the module if it was changed or not. It is in documentation of these parameters. I think this is best we can do.

I would recommend to separate setting of tls parameters in another task and execute it only when necessary (using tag or condition for example).

Any

[2022-08-22 23:26] gilou commented on #779
Hi,
It would be quite good to be able to use tokens indeed, and it's quite frightening to see that zabbix-api somehow died…

If you target ansible core 2.11+, Python 2.7 was ruled out as a target, with ansible 2.12 requiring Python 3.8, and ansible 2.13 actually depending on it. Not maintaining the API wrapper directly might be easier though, but it requires of course that it stays alive…  I don't

[2022-08-23 02:58] pyrodie18 commented on #784
I could support an opt-in.  Default the task when condition to False and let them purposely change it.  @dgibbs64 is there documentation that supports that configuration or is this something you came up with?

[2022-08-23 12:54] D3DeFi commented on #782
Also agree, roles should be simple purpose. CI is a different topic - we can test there with both apache and nginx, but we should not force them on the user.

i would say that a good role should have option to ship vhost configuration for apache, nginx or neither. Last being an option for someone that wants to use completely custom thing.

[2022-08-23 12:58] D3DeFi commented on #785
Indeed, as of the Zabbix 6.0 (or was it 5.4?) we only have one of two possibilities:
- always update secret and return changed=False to not break idempotency
- always return changed=True when updating secrets, which breaks idempotency, but doesnt lie to a user

we opted for a second version as it is a bit less confusing

[2022-08-23 13:01] D3DeFi commented on #779
I think this is no longer a problem for us. Ansible-2.10 is including version 0.3.0 of this collection or something like that. That version ofc had 2.7 and 3.5 support, but we can break away from them from now on and follow ansible-2.14 which is 3.8+ I think on the controller side

I would be voting for the 3rd one as we would break away from such situations in the future as we have now with zabbi

[2022-08-23 13:02] D3DeFi commented on #784
+1 for the opt-in, but not a default

[2022-08-23 13:04] BGmot commented on #779
I'll try to take a look at httpapi.

[2022-08-23 13:07] D3DeFi commented on #777
maybe this would be worth investigating. I don't remember why we decided to create our own CI logic in the past, but I know there were some complications that prevented us from being productive when we used `ansible-test --docker`

[2022-08-23 13:23] pyrodie18 commented on #782
Agree.  Ok will update accordingly

[2022-08-23 13:53] Vanav commented on #785
Thank you.
So, if you don't want to see `changed` stage, a workaround with `changed_when: false`:

[code]

[2022-08-23 21:37] dgibbs64 commented on #784
I agree an opt-in would be great @pyrodie18 the solution is based on a few scattered forum posts with changing the group to zabbix being the best solution.

Here is the task I use to get it working
[code]

[2022-08-24 01:23] pyrodie18 commented on #784
Agree.  Would you like to go ahead an put in the PR for this?

[2022-08-24 17:57] mordekasg commented on #778
Same problem on:
Windows Server 2016/2022
Zabbix Agent2 v6.0.7

[2022-08-25 01:43] pyrodie18 commented on #774
So as I go through and rework some of the older operating systems, I'm having problems with them connecting to the mysql 8.0 server.  Because of the change in the default authentication method to caching_sha2_password, some of the older default mysql installs don't support it.  I'm playing with the idea of instead installing the current version of the mariadb client instead.  Thoughts?

[2022-08-25 09:37] D3DeFi commented on #785
@Vanav yes. Feel free to close this issue if you don't have any more questions related to this topic

[2022-08-25 09:39] D3DeFi commented on #774
For the CI I don't mind. They should more or less still be cross-compatible, right?

[2022-08-25 10:25] #785 closed

[2022-08-25 11:06] pyrodie18 commented on #774
I actually didn't think about just doing it for CI.  Let me play with that over the weekend.

[2022-08-25 14:21] BGmot commented on #779
I cannot find any issues regarding httpapi, should I create one (or I am blind?) and add it the Project? We need a place to proceed with discussion on httpapi topic.

[2022-08-25 14:56] gilou commented on #779
Seems there is even a board for it @ https://github.com/ansible-collections/community.zabbix/projects/6#card-74573150
Issues were created directly in the project it seems (https://github.com/ansible-collections/community.zabbix/issues?q=is%3Aissue+is%3Aopen+httpapi), and there is a branch for it, probably in sync with @rockaut's own repo.

I'm planning on diving in it a bit, but probably not until

[2022-08-25 15:53] BGmot commented on #779
I guess I'll ask all my stupid questions here https://github.com/ansible-collections/community.zabbix/issues/558

[2022-08-26 08:39] D3DeFi commented on #558
As a workaround, try to set them in the https://github.com/ansible-collections/community.zabbix/blob/main/tests/integration/targets/setup_zabbix/defaults/main.yml

This test roles is included from every other role. I am not sure if this is a good permanent place though.

[2022-08-26 12:50] BGmot commented on #558
Yes, thanks, already tried that and it worked. I am just curious (and did not find anything meaningful on the Internet) how ansible-test "builds" the inventory and against what host (some "testhost"???) it is running all these roles (tests).
Drastic change with what we have now is with httpai it will use "ansible_host" as a host to connect to to perform API requests while with zabbix-api we just s

[2022-08-26 12:57] D3DeFi commented on #558
I would guess it doesn't build anything and rather defaults to localhost as usually. `ansible-test` can be locked inside of a container or run on a host (which we are doing). Found out some `--list-targets` option in here https://docs.ansible.com/ansible/latest/dev_guide/testing_integration.html#testing-integration, but have no way to check atm.

[2022-08-26 13:25] f22l2 commented on #779
someone enabled 2nd factor authentication and all my playbooks have died. I've received token and have re-written most of my ansible playbooks to pure API requests using URI ansible module. Sadly, based on this thread, I can see that I need to re-write roles as well.

[2022-08-26 16:54] #778 closed

[2022-08-26 16:56] mu1f407 opened #789 "zabbix_sender is not installed with agent2 on Windows"
##### SUMMARY
zabbix_sender utility is currently installed on Linux regardless of installed agent variant. On Windows zabbix_sender is installed only with agent1. This behavior matches with installation packages provided by Zabbix vendor. Upstream issue [ZBX-18750](https://support.zabbix.com/browse/ZBX-18750) already exists for this.

We could either:
- Download archives for both agent variants an

[2022-08-28 15:03] pyrodie18 commented on #782
FYI, going to remove the stuff related to Let's Encrypt that was added as part of https://github.com/ansible-collections/community.zabbix/pull/304.  But we'll update the example docs to show how to add it in there with geerlingguy as a suggested way.

[2022-08-29 00:01] #555 closed

[2022-08-29 00:04] pyrodie18 commented on #392
closing as OBE since we're only supporting 5.0

[2022-08-29 00:04] #392 closed

[2022-08-29 12:18] BGmot commented on #558
Spent some time learning how connection plugins work and I mus say it's very cool stuff.
I have a question about introducing `connection_type` variable as proposed above. Why don't we implement backward compatibility following way:
If a user defines
[code]
Then httpapi code is used by all our modules. Additionally in this case a user can define API token which will be used instead of username/pass

[2022-08-29 15:19] rockaut commented on #558
Did you have a look in my implementation? I basically already had it but doesn't have time to finalize it properly with test and so on.

The problem isn't really the httpapi implementation itself but to replace all the pyzabbix wrappers and keeping all back compatible.

https://github.com/rockaut/community.zabbix/tree/httpapi1

[2022-08-29 15:26] BGmot commented on #558
Yes of course I am working off your implementation. I am setting `_zapi` property to an instance of `ZabbixApiRequest`  instead of `ZabbixAPI`. Some modules just work with this with no changes some modules need to be adapted - this is the next step I'd be working on when we decide how to proceed.
I'll take a look at your httpapi1 branch as I was working off master (it already has httpapi) -(((

[2022-08-29 20:12] rockaut commented on #558
Cool. Very cool 😎

[2022-08-29 22:30] #473 closed

[2022-08-30 01:23] BGmot commented on #779
@f22l2 2FA? how is it related to playbooks using modules from this collection?

[2022-08-30 05:19] f22l2 commented on #779
@BGmot when 2FA enabled, after using **user / password,** you need authenticate using for example authenticator. So only token is a solution if you really want to bypass that . However, as it was mentioned before in this thread, modules currently are not supporting tokens, so the only option I believe would be switch to URI ansible modules as long as we won't switch to httpapi.

[2022-08-30 06:03] BGmot commented on #779
What 2FA? Zabbix does not have 2FA, third party solution?

[2022-08-30 07:14] f22l2 commented on #779
@BGmot yep some integration,  but imho we are talking about the unsupported token option - not 2FA in general. Problem in front of us is: using zabbix.collection modules we are enforced to use login / password approach not a token (which we would like to have) :)

[2022-08-30 10:01] dgibbs64 commented on #784
@pyrodie18 yeah I should be able to put it together soon :)

[2022-08-30 11:05] dgibbs64 opened #791 "community.zabbix.zabbix_host: UnboundLocalError: local variable 'found' referenced before assignment"
##### SUMMARY

When running the below task and the host already exists it returns a python error `UnboundLocalError: local variable 'found' referenced before assignment`. On first run is is fine.
##### ISSUE TYPE
- Bug Report

[code]

[code]
##### COMPONENT NAME

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

debian based docker container (loca

[2022-08-30 18:58] mu1f407 commented on #791
Thank you for the report @dgibbs64. It should be fixed in linked PR. I think it's not very common to create a host without interfaces. We haven't got the update of host without interface covered in tests.

[2022-08-30 19:31] dgibbs64 commented on #791
Thank you for the fast response 😊. In my use case the host is used to monitor a domain only using the http agent. I did this to make it easy to monitor multiple vhosts on the same server.

[2022-08-31 13:52] #791 closed

[2022-08-31 13:57] D3DeFi commented on #779
I think we can support tokens even if we are not able to solve 2FA problems as that brings a tons of new complications in itself and is a no go for us.

But, this is me assuming that we have httapi everywhere in the (near)?future and that it will require only something like single if/else to extend it with option to have tokens.

[2022-08-31 14:32] BGmot commented on #779
Zabbix already introduced tokens... ecosystem?
And yes I hope we'll be able to use tokens soon.
I just wanted to point out that 2FA in no way should affect username/password or token authentication (at least my implementation of Zabbix 2FA does not).

[2022-08-31 14:33] D3DeFi commented on #558
Releasing 2.0.0 is a big milestone for us. Something like that I guess will not be repeated so soon in the future. We may lock ourselves to zabbix-api for a longer period then we think.

Maybe we can word it that zabbix-api is still possible opt-in, but will not be supported and is unmaintained by us. In such case we can also leave a legacy Base classes there. Depends, how much code we are talking

[2022-08-31 14:36] D3DeFi commented on #779
Sorry, I somehow missed the news. I am not up to speed with latest Zabbix releases that much unfortunately.

[2022-08-31 14:56] BGmot commented on #558
Yes we are not trying to move away from zabbix-api (at least now) we just want to introduce new connection method with full playbooks code backward compatibility. I.e. I am trying to achieve this: if you run your playbook without any changes with our collection 2.0.0 it will still require zabbix-api. If you add this to your inventory:
[code]
Then httpapi will be used (with possibility to provide t

[2022-08-31 15:02] D3DeFi commented on #651
Issue inactive for a longer period now. I would assume that the comment from @mu1f407 was correct.

If you think otherwise, please feel free to re-open

[2022-08-31 15:02] #651 closed, assigned to nobody

[2022-08-31 22:04] pyrodie18 commented on #789
I could go with either option although looking at the upstream ticket, it doesn't appear to be going anywhere any time soon.

[2022-08-31 22:09] pyrodie18 commented on #412
@D3DeFi I am assuming that this is no longer an issue?

[2022-08-31 22:12] pyrodie18 commented on #328
@marcusjfloyd is this still a problem or can this be closed?

[2022-08-31 22:28] pyrodie18 commented on #279
@D3DeFi  or @klando is this still valid?

[2022-08-31 22:31] #183 closed

[2022-08-31 22:34] #70 closed

[2022-08-31 22:45] #696 closed

[2022-09-06 08:12] D3DeFi commented on #412
Honestly I have no idea. But CI for zabbix_template is no longer failing and we are preparing to drop 5.4 as well, so lets ignore this and whoever finds this and disagrees can reopen :)

[2022-09-06 08:12] #412 closed

[2022-09-06 08:16] D3DeFi commented on #279
Tests seems to be correct for zabbix_proxy module again (They were disabled but @BGmot made some good changes and everything seems to work correctly). Although the upstream bug is still not resolved, we are dropping support for 5.4 eventually and this issue is way way stale, so closing it

[2022-09-06 08:16] #279 closed

[2022-09-06 08:19] D3DeFi commented on #558
yes this sounds correct

[2022-09-06 08:20] D3DeFi commented on #558
change to `required=False` and adjust documentation for them that they are required if zabbix-api is present. We should ideally implement a check that controls this whenever modules decide to use zabbix-api and not httpapi.

[2022-09-06 08:21] D3DeFi commented on #558
If we want to still support zabbix-api, we should have some tests in place I think.

[2022-09-08 12:14] KarlikB opened #798 "Deprecated parametr ServerPort in Zabbix Proxy 6.0"
##### SUMMARY
Zabbix Proxy 6.0 installation creates deprecated ServerPort configurations parameter that affects connection to Zabbix Server in HA mode.
Since Zabbix 6.0 this value is passed via Server parameter in format [server]:[port]
The role template zabbix_proxy.conf.j2 contains this snippet:
[code]

There is an error in if statement, comparison less or equal is valid also for 6.0, please rep

[2022-09-10 07:04] #784 closed

[2022-09-10 08:02] D3DeFi commented on #774
This may be of interest https://github.com/ansible-collections/news-for-maintainers/issues/23

Anyway, I am not sure if anyone works on plugins, it would be unfortunate to release 2.0.0 with only role changes

[2022-09-10 10:56] pyrodie18 commented on #774
Honestly hadn't even been tracking that.  I'm much stronger on the roles side than modules personally.  Did you have anything specific in mind?

[2022-09-10 13:32] BGmot commented on #774
I am sorry guys it takes too much time to finish httpapi but yes I am updating all the plugins hope to finish this weekend.

[2022-09-11 00:23] troysealingtech opened #799 "Playbook fails trying to install mysql"
##### SUMMARY
When mysql has been installed through another package (i.e. mariadb), the server role fails due to conflicting packages on RHEL.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
Zabbix_Server

##### ANSIBLE VERSION
[code]

##### CONFIGURATION

##### OS / ENVIRONMENT / Zabbix Version
Rocky 8

##### STEPS TO REPRODUCE
[code]

##### EXPECTED RESULTS
Success

##### ACTUAL RESULTS
[co

[2022-09-11 00:26] troysealingtech commented on #799
Nevermind, forgot about the `zabbix_server_install_database_client`....closing

[2022-09-11 00:26] #799 closed

[2022-09-11 22:33] BGmot commented on #558
Ok, I reached the point where everything works as expected and `ansible-test integration -v --color --diff --python 3.9 --requirements --coverage` runs with no errors in my local dev environment however github fails with very weird message ```
fatal: [testhost]: FAILED! => {"msg": "the connection plugin 'httpapi' was not found"}
[code]

[2022-09-11 22:45] BGmot commented on #558
Ok we depend on ansible.netcommon collection which in turn depends on ansible.utils.
I can copy ansible.netcommon code into our collection not sure whether it is right, I actually got rid of the one created by @rockaut which was almost identical to the one from ansible.netcommon.
This is where I am not strong so please advise.

[2022-09-12 13:13] BGmot commented on #558
Added ansibl.netcommon installation to test suite https://github.com/BGmot/community.zabbix/commit/9ef854d0784150c83fc9551fc707eb02e7d47acd but surprisingly it did not change anything.

[2022-09-12 22:37] evilhamsterman commented on #763
Just a minor quibble, there is no Ubuntu 22.02. The latest release is 22.04 https://wiki.ubuntu.com/Releases

[2022-09-12 22:54] evilhamsterman opened #801 "Update Apt Key management"
##### SUMMARY
Stop using deprecated apt key management

##### ISSUE TYPE
I actually discussed this in #517 but I figured I'd mention it at a high level. I would recommend removing the usage of apt-key for all installed. That method of signing repositories has been deprecated by Debian/Ubuntu due to the key being implicitly trusted for all repos. Even the Ansible Module states it should not longer

[2022-09-12 22:56] pyrodie18 commented on #763
Ya that was a typo

[2022-09-12 23:53] pyrodie18 commented on #328
No Reply....Closing

[2022-09-12 23:53] #328 closed

[2022-09-14 07:43] D3DeFi commented on #774
Dont worry at all. I was just unsure if anyone at all was interested in playing with plugins/modules. I've only remembered you are experimenting with httpapi.

[2022-09-14 08:44] shk3bq4d opened #802 "zabbix_host: bug in deduplicating macros when using force: no"
##### SUMMARY
In module zabbix_host , using force: no, it is not possible to set macros that already exists

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
community.zabbix.zabbix_host

##### ANSIBLE VERSION

[code]

Zabbix Server 6.08

##### STEPS TO REPRODUCE

[code]

##### EXPECTED RESULTS

* playbook doesn't crash
* hosts exists with a macro {$MYKEY} of value of "value step 3"
* macro {$M

[2022-09-14 10:04] linceaerian opened #803 "Userparameter task is not executed"
Hello Maintainers

##### SUMMARY

When launching ansible to reconfigure the userparameter on installed agent the task is skipped while it should be executed.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

`community/zabbix/roles/zabbix_agent/tasks/main.yml`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

* Venv Python 10
* Ansible ansibl

[2022-09-14 11:08] BGmot commented on #774
The code is ready but I am stuck with testing https://github.com/ansible-collections/community.zabbix/issues/558

[2022-09-14 18:59] derekpurdy opened #804 "Error during "Get current value for innodb_default_row_format""
##### SUMMARY

mysql task in the zabbix server role fails to complete with error in conditional check.
##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_server role
mysql task

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

Ubuntu 20.04.5
mysql  Ver 8.0.30-0ubuntu0.20.04.2 for Linux on x86_64 ((Ubuntu))
Zabbix 6.0.8
community.zabbix 1

[2022-09-15 22:44] evilhamsterman commented on #781
Also please don't use the `always` tag. If your role is used as part of a larger playbook with separate tags anything tagged `always` will always run even if not needed and often breaking other parts of the playbook. If a task is required for another task please add the same tag to both tasks.

[2022-09-16 08:59] mvernimmen opened #805 "snmp interface registration fails after upgrading server to zabbix 6"
##### SUMMARY
zabbix_agent_interfaces can't be used to set the snmp community after upgrading from server version 4.4 to 6, without first deleting the host. Not sure whether this is an issue with the ansible zabbix collection, or an issue with the zabbix server software.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_host.py

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
[code]

#

[2022-09-20 21:30] evilhamsterman opened #807 "Stop installing pip packages by default"
##### SUMMARY
Right now by default the agent and proxy modules will install various pip packages by default and even potentially requiring the use of `become` to do so. It should not do this by default.

##### ISSUE TYPE
- Bad Practice

##### COMPONENT NAME

##### ADDITIONAL INFORMATION
This is bad practice and not used in other popular roles and modules. Roles and modules should not change the co

[2022-09-22 01:58] pyrodie18 commented on #807
Would probably consider this a breaking change so will incorporate into 2.0 release

[2022-09-23 13:30] vicmunoz opened #809 "Module zabbix_usergroup not idempotent when including rights - permissions for host groups"
##### SUMMARY
When including rights (permissions) on host groups within usergroup, running multiple times returns 'changed' state for the task.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
zabbix_usergroup

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version
Zabbix 6.0 branch.

##### STEPS TO REPRODUCE
Run multiple times below task

[code]

#

[2022-09-23 17:34] ortzinator commented on #701
I had a similar issue. My solution was to manually `apt remove zabbix-agent` and rerun the role.

[2022-09-23 23:22] evilhamsterman commented on #807
I would too, thank  you.

[2022-09-24 10:00] uscr opened #810 "TASK [community.zabbix.zabbix_server : Get the file for create.sql >= 3.0] failed with ubuntu 22.04 and zabbix 6.2.3"
##### SUMMARY

Playbook fails with an error:
[code]

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

zabbix_server

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

[code]
[code]

##### STEPS TO REPRODUCE

Run installation of zabbix server using ansible role on server with clean ubuntu 22.04

[code]

##### EXPECTED RESULTS

Zabbix server ins

[2022-09-24 10:01] uscr commented on #810
Fix: `cp -r /usr/share/zabbix-sql-scripts/mysql /usr/share/doc/zabbix-sql-scripts/`

[2022-09-26 09:24] Andersson007 opened #811 "Collection CI related actions needed"
##### SUMMARY
Relates to https://github.com/ansible-collections/news-for-maintainers/issues/24.

It's been detected that this repository contains `ignore-2.14.txt` file but not `ignore-2.15.txt` file.

Actions needed:
- Copy `tests/sanity/ignore-2.14.txt` to `tests/sanity/ignore-2.15.txt` otherwise the CI will get failing.
- If it's not done yet, add the `stable-2.15` branch to your CI workflow fi

[2022-09-26 09:34] D3DeFi commented on #811
@Andersson007 I've opened #808 3 days ago addressing this, but didn't merge right away as I've considering deprecating 2.10 and 2.11 tests, which would also drop python2.7/3.6 from our CI matrix, save sime time on builds and precious free CI minutes we are eating from Github Actions.

since I have your attention, can you add your opinion to #808?

[2022-09-26 09:49] Andersson007 commented on #811
@D3DeFi cool, LGTM, thanks! I've put `Fixes this issue` in the PR

[2022-09-26 11:05] #811 closed

[2022-09-27 08:20] red-tux commented on #810
This is also now broken in the RHEL versions as well.  It looks like Zabbix SIA fundamentally changed the path for the create sql files from where it used to be.

[2022-09-27 20:57] evilhamsterman opened #812 "Incorrect fping location on Debian derivatives"
##### SUMMARY
The default value for fping is `/usr/sbin/fping` however for a while now Debian and derivatives have not placed an fping binary or symlink there. On Debian systems it should default to `/usr/bin/fping` and `/usr/bin/fping6`

In addition it appears there is a `zabbix_server_fpinglocation` variable available that could be overridden, but it is not documented.

##### ISSUE TYPE
- Bug Re

[2022-09-30 04:41] mcbrineellis commented on #810
It's broken for me as well.  Running Ubuntu 20.04:

[code]

When I go to that folder on the server, there is only a file called `changelog.Debian.gz` there.
[code]

[2022-09-30 04:49] mcbrineellis commented on #810
When I opened the `changelog.Debian.gz`, I found this hint:

[code]

Looks like @red-tux is correct, Zabbix has moved the location.

From their KB, [What's new in Zabbix 6.0.9
](https://www.zabbix.com/documentation/6.0/en/manual/introduction/whatsnew609)

[2022-10-01 18:33] D3DeFi opened #814 "Migrate roles to use httpapi instead of zabbix-api"
##### SUMMARY
As per #806, httpapi can now be utilized to connect to the Zabbix server. This issue requests that all roles will be migrated to it and drop zabbix-api logic

##### ISSUE TYPE
- Feature Idea

##### COMPONENT NAME
roles/*

[2022-10-02 13:32] solick opened #816 "zabbix_agent(2)_tlspsk_auto: true not working"
##### SUMMARY
zabbix_agent(2)_tlspsk_auto: true not working, agent will be configured without encryption. Using zabbix_agent_tlspsk_auto: true on the same config works fine.

##### ISSUE TYPE
auto Generation and configuration of psk config for zabbix_agent2 does not work. Task are skipped.

##### COMPONENT NAME
community.zabbix 1.7.0 + 1.8.0

##### ANSIBLE VERSION
[code]

##### OS / ENVIRONMENT /

[2022-10-05 13:00] PrabuddhaAlahakoon opened #819 "Wrong datafiles path given for zabbix sql scripts for mysql."
##### SUMMARY

I ran into this issue while testing with zabbix_server and zabbix_web roles.
When getting create.sql (since I was using zabbix 6.0 it's server.sql.gz) in mysql.yml it is taking the datafile path as "/usr/share/doc/zabbix-sql-scripts/{{ zabbix_server_database_long }}" this works fine for postgresql but for mysql scripts are at "/usr/share/zabbix-sql-scripts/{{ zabbix_server_database_

[2022-10-05 13:05] PrabuddhaAlahakoon commented on #810
I also got this issue today when I tried with zabbix_server. What I did to fix was changing datafile path to "/usr/share/zabbix-sql-scripts/mysql" in Debian.yml.

Task: "Debian | Set some facts for Zabbix >= 5.4"

[2022-10-05 13:07] PrabuddhaAlahakoon commented on #819
Bug was already reported 4 days ago.

[2022-10-06 10:48] nikty commented on #819
Could you please add link to the reported bug?

[2022-10-06 16:47] #810 closed

[2022-10-07 15:21] solick commented on #816
Ok i checked the task and found that everything with PSK is skipped if zabbix_agent2 is used:

[code]

how is the process to use PSK with agent2 with the role?

[2022-10-07 17:37] derekpurdy commented on #379
this can probably be closed, it appears to be present > 5.4 in https://docs.ansible.com/ansible/latest/collections/community/zabbix/zabbix_authentication_module.html

[2022-10-07 22:19] solick commented on #816
hmm. so I got it working if I name the variables like this:

zabbix_agent2_tlspsk_auto: True

not working:

zabbix_agent(2)_tlspsk_auto: True

maybe the documentation need to be updated?

[2022-10-09 08:39] D3DeFi commented on #816
Indeed that is the case. The (2) in the documentation is a sort of regex interpretation of `(2)?`. Its actually implying that it is dependent on the version you use. So `zabbix_agent_tlspskfile` for classic zabbix_agent, `zabbix_agent2_tlspskfile` for zabbix_agent2.

Perhaps this should be defined more clearly in the documentation as you suggest.

[2022-10-09 08:40] D3DeFi commented on #379
Indeed, good tip :) Thanks!

[2022-10-09 08:40] #379 closed

[2022-10-09 09:42] solick commented on #816
ok so because the issue is solved for me I close the ticket.

[2022-10-09 09:42] #816 closed

[2022-10-14 14:36] derekpurdy commented on #804
I was able to solve this issue, and I believe it should be patched as it was an issue while running in 'check mode'

There should be an added when clause to check if ansible is in 'check mode' as the register does not store the version correctly in 'check mode'
[code]

code addition:
[code]

[2022-10-14 15:00] BGmot commented on #804
Het @derekpurdy ! Yev is here -) can you submit a PR?

[2022-10-14 15:02] derekpurdy commented on #804
@BGmot I definitely can, I just wanted to make sure it was the best method for fixing the issue.

[2022-10-14 15:12] derekpurdy commented on #804
I had created PR https://github.com/ansible-collections/community.zabbix/pull/823

I'm not sure if the fix should be added to the other tasks with the comparison as well. We seem to not hit those in our installation, but I assume someone else may come across this issue.

[2022-10-15 06:47] #804 closed

[2022-10-15 06:47] D3DeFi commented on #804
Thanks for fixing this issue. Don't worry about other tasks, if someone finds this issue, they can ask for it to be re-open.

[2022-10-15 22:45] gvol1222 commented on #812
Interested in fixing that. A which command on the host is good approach?

[2022-10-19 16:08] D3DeFi commented on #779
I suggest closing this as fixed in #806. User can now provide Authentication token as an alternative to username and password if they opt for the httpapi connection plugin.

And it seems that we cannot address 2FA any further in this regard.

@BGmot can we close?

[2022-10-19 16:17] #779 closed

[2022-10-21 11:49] Mawiguk0 opened #826 "Empty Interfaces List provided by API bricks Inventory Script"
##### SUMMARY
The inventory script under /scripts/inventory/zabbix.py stops working because of a missing check for a empty list provided by the zabbix api.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
https://github.com/ansible-collections/community.zabbix/blob/0713b4179d3f31c9a68769a65728bc18ee5e6896/scripts/inventory/zabbix.py#L106
https://github.com/ansible-collections/community.zabbix/

[2022-10-21 15:26] ansiballz commented on #326
@D3DeFi Maybe it's a good idea to reopen this once since it's available from version 2.12?

Ref: https://docs.ansible.com/ansible/latest/user_guide/playbooks_module_defaults.html

[2022-10-21 16:28] D3DeFi commented on #326
Yees, but! :) We are migrating away from zabbix-api into httpapi. With 1.9 this would be released as opt-in, with 2.0 zabbix-api will be dropped altogether.

I am not sure that defining `module_defaults` group for community.zabbix would be necessary anymore as shared connection parameters for httpapi are set only once I think.

@BGmot can you share your opinion here when you have a little bit of t

[2022-10-21 16:35] BGmot commented on #326
I am not sure I understand the request. `module_defaults` is used on tasks level, so everybody is free to use it with our collection. And we do use this 'feature' in our modules tests.

[2022-10-21 16:41] D3DeFi commented on #326
Normally, you have to specify module_defaults per module:
[code]

But implementing this in collections runtime.yml would allow users to provide:
[code]

and it would be inherited by all modules in the collection.

However, I am not sure if we still have need for this as login credentials will be set only once for httpapi if I understand it correctly, so they don't have to be repeated for each modu

[2022-10-21 16:45] BGmot commented on #326
How is it different from modules parameters defaults?

[2022-10-21 16:50] ansiballz commented on #326
This is amazing! I come to the same conclusion when I read the documentation for the httpapi connection plugin.

Thanks a lot, appreciate it!

[2022-10-22 09:49] D3DeFi commented on #326
We have 20+ modules, lets ignore httpapi for a moment and pretend that we will be using 15 modules in our playbook, each multiple times. We know that there will be lot of code duplicity due to `server_url`, `login_password`, `login_user` and more. **Without group** `module_defaults`, this would be:

[code]

Now, **with group** `module_defaults`, the same playbook will look like this:

[code]

That

[2022-10-22 10:21] Mawiguk0 commented on #826
Mawiguk0:main provided a bugfix for this

[2022-10-22 13:56] BGmot commented on #326
Thank you very much for explanation, now I get it and sure we need this "feature".

[2022-10-24 07:32] D3DeFi commented on #826
Fixed by #827

[2022-10-24 07:32] #826 closed

[2022-10-24 08:06] Borosan opened #828 "add zabbix host using ansible urllib2.URLError"
##### SUMMARY
Hello everyone, i am trying to automatically add zabbix host using ansible from my jenkins(or any other host)

##### ISSUE TYPE
bug / error / versions problems or mismatch

##### COMPONENT NAME
zabbix-api ---> ZabbixAPI ---> zabbix-host

##### ANSIBLE VERSION
ansible [core 2.12.2]
  config file = /etc/ansible/ansible.cfg
  configured module search path = ['/home/ansible/.ansible/plug

[2022-10-24 10:34] Borosan commented on #828
What caused errors seems to be from these codes:
--------------------------------------------------------
 grep -i url   /usr/local/lib/python3.8/site-packages/zabbix_api.py -n

37:#    import urllib2
39:#    import urllib.request as urllib2  # python3
40:import urllib.request as urllib2  # python3
113:    url = '/api_jsonrpc.php'
142:        self.url = server + '/api_jsonrpc.php'
152:        self

[2022-10-24 11:40] BGmot commented on #828
I bet 'Not Found' means that the web server returns 404 Not found.
Try changing your URL to `http://zab.example.com/zabbix`
If it fails too then what do you get when you execute
[code]

[2022-10-24 13:34] Borosan commented on #828
Thank you . You were right :) the problem resolve by changing zabbix url from "zab.example.com" to "zab.example.com/zabbix"

[2022-10-24 13:34] #828 closed

[2022-10-25 00:14] mcbrineellis commented on #812
I'm having the same issue.  which command could be a good approach, agreed @gvol1222

[2022-10-25 00:36] BGmot commented on #814
Resolved by #822

[2022-10-25 00:36] #814 closed

[2022-10-25 00:38] BGmot commented on #807
Should be resolved by https://github.com/ansible-collections/community.zabbix/pull/822 please check.

[2022-10-25 00:46] BGmot opened #829 "httpapi and non-root Zabbix WebUI location"
Inspired by https://github.com/ansible-collections/community.zabbix/issues/828
In all my tests with httpapi I used Zabbix server in docker and its REST API URL was always at "root" of Web server `http://localhost/api_jsonrpc.php` but during standard Zabbix Web UI installation it goes with `http://<hostname>/zabbix`, moreover anybody can install Zabbix Web UI to be served using totally custom path,

[2022-10-25 03:22] gvol1222 commented on #812
It is already in the role variables, should we just update the documentation to mention the variable??

[2022-10-25 03:38] mcbrineellis commented on #812
Oh nice thanks! I feel silly, I should have checked that. Of course all of the config file options are already variables. That means I can easily fix it in my playbooks.

[2022-10-25 13:48] D3DeFi commented on #812
simple and working, why not :) Feel free to submit the patch if you want

[2022-10-25 14:18] D3DeFi commented on #829
Ouch, this is a big blocker when it comes to httpapi adoption. I though this was automatic and that it doesn't matter from which host I am running modules/roles.

I did not notice this previously - https://github.com/ansible-collections/community.zabbix/blob/main/roles/zabbix_agent/tasks/api.yml#L48 - this is something that I wouldn't want to implement on my side probably as I am using dedicated a

[2022-10-25 14:43] BGmot commented on #829
I'll handle this "path" addition, already tested, just need to update all the docs and create a PR.

Sorry, what do you mean by that?

[2022-10-25 14:50] D3DeFi commented on #829
I understand that it is now required to execute zabbix modules that are using httpapi from Zabbix server due to:
[code]

Am I correct? I would assume that this with combination of `delegate_to` means that Ansible connects via SSH to Zabbix server and runs module from there, which then creates HTTP request on localhost, correct or not?

If above is true, what if I need this HTTP request to be made

[2022-10-25 14:52] BGmot commented on #829
No, this is interesting case. Httpapi treats `delegate_to` as a hostname to connect to via HTTP(S), the code is executed on Ansible controller.

[2022-10-25 14:55] D3DeFi commented on #829
Oh, ok got it. I rest my case! 😅

[2022-10-25 15:37] nicoangelo opened #830 "zabbix_agent_tlspsk_auto does not work on macOS"
##### SUMMARY
`zabbix_agent_tlspsk_auto: true` does not work on macOS

This problem can be worked around by copying the `include_tasks: Darwin.yml` section **after**  `include_tasks: tlspsk_auto_agent2.yml`.

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME
`community.zabbix/roles/zabbix_agent`

##### ANSIBLE VERSION
[code]

##### CONFIGURATION
no special config

##### OS / ENVIRONMENT / Zabbix

[2022-10-25 15:41] nicoangelo commented on #830
The problem really seems that the installation and configuration is a single task file for Darwin based systems. On Linux and Windows this is separated in e.g. `Windows.yml` and `Windows_conf.yml`.

I'm happy to provide a PR for that, but I'd first like to have somebody else confirm that it's not just me not understanding how to use the role.

[2022-10-30 09:27] D3DeFi opened #832 "Release 1.9.0"
It has been some time since 1.8.0 release and we should ship 1.9.0.

Any of you guys @BGmot @mu1f407 @pyrodie18 interested in trying that by yourself or should I go ahead and release?

[2022-10-30 13:52] pyrodie18 commented on #832
I don't personally have the cycles right now.  Sorry I've been MIA lately I am hopeful life will slow down soon.

[2022-10-30 14:00] BGmot commented on #832
I am sorry, try what?
I am looking at zabbix_inventory as the last part of this collection using zabbix-api, give me couple of days please.

[2022-10-31 00:55] BGmot commented on #832
I spent some time looking around and came to conclusion that it is impossible to use httpapi *connection* plugin in our zabbix_inventory *inventory* plugin. Httpapi plugin is about connecting to and executing actions on hosts taken from inventory during playbook execution. An inventory plugin is about generating inventory prior to a playbook execution.
If we really want to get rid of zabbix-api pa

[2022-11-01 09:29] D3DeFi commented on #832
If you want to try this: https://github.com/ansible-collections/community.zabbix/blob/main/docs/PUBLISHING_TO_GALAXY.md

or if I should do it. These steps are actually easy enough, only problem is the 2nd one, that takes some manual time. I hope we can enforce changelog fragments via CI in the future.

[2022-11-01 09:35] D3DeFi commented on #832
I think we should not care that much about inventory script here. I definitely wouldn't manage our own zabbix-api spin-off. I vote for just documenting somewhere that using zabbix inventory requires legacy zabbix-api.

Other option would be to rewrite it to this standard module_utils [urls.py](https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py) that Ansible should still

[2022-11-01 10:36] D3DeFi commented on #326
@ansiballz would you have any chance to test my proposed changes in #833?

[2022-11-01 18:54] ansiballz commented on #326
Sure thing, happy to help!
So, I cloned your repo and ran on the module-defaults-group branch and it works flawless. That is after banging my head to the wall a couple of time before remembering I had to use Ansible 2.12+.

I really appreciate this implementation. Thank you very much!

[2022-11-02 02:15] BGmot commented on #832
I think I can try if nobody else wants to -).

[2022-11-02 07:58] D3DeFi commented on #832
Ok, you can do first 5 steps anytime. Then, just before merge, it is best to re-run `antsibull-changelog` command one more time with a newer date that will match merge date and to also include any PRs that were merged in the meantime.

[2022-11-02 11:41] #326 closed

[2022-11-02 18:43] derekpurdy commented on #183
@pyrodie18

I was just about to open a new issue about this as I completely forgot I opened this 2 years ago. I noticed you picked it up as to do for 2.0.

Thanks for that.

and yes, this was for Debian based distributions.

[2022-11-02 19:44] derekpurdy commented on #183
I just also want to mention I did go back to the suggestion of using 'other' and implementing it in a pre_task and that does seem work as well.

[2022-11-02 20:26] BGmot opened #834 "validate-modules test fail for ansible-dev"
Here is the failure https://github.com/ansible-collections/community.zabbix/actions/runs/3377235942/jobs/5614096215

Looks like it is caused by https://github.com/ansible/ansible/pull/79267

[2022-11-03 14:30] #834 closed

[2022-11-04 14:20] BGmot commented on #832
@D3DeFi do you want me to go ahead with the release or wait for https://github.com/ansible-collections/community.zabbix/pull/787#issuecomment-1302341554 resolution?

[2022-11-04 15:43] D3DeFi commented on #832
Yes, let's wait for the resolution of #787.

However, you can prepare stuff in the meantime and open PR for the release. Once the #787 is fixed, it would be enough to just re-run antsibul-changelog on a rebased branch and push again.

[2022-11-06 07:32] nlvw opened #836 "Selinux fails on noexec mounted fs"
https://github.com/ansible-collections/community.zabbix/blob/2b504a76d3487aab22e0a5c1313044ee1df9e84c/roles/zabbix_server/tasks/selinux.yml#L119-L124

If the Ansible tmp directory (aka home directory of connecting user) is mounted with 'noexec' this task will fail.  In secured server environments /home, /tmp, /var/tmp, etc.. are typically mounted with 'noexec' which will cause ansible to fail due

[2022-11-06 16:09] BGmot commented on #832
Got this warning running antsibull-changelog:
[code]

[2022-11-06 18:01] D3DeFi commented on #832
That would be this line I think - https://github.com/ansible-collections/community.zabbix/blob/main/changelogs/changelog.yaml#L183

I've stopped adding it there, because I think that only adding version number there is kind of pointless.

[2022-11-10 16:57] FireHelmet commented on #789
I had same issue with 6.2.3 but I upgraded my Zabbix agents with 6.2.4 and I confirm the zabbix_sender and zabbix_get are now installed.

[2022-11-11 07:09] andreicornea commented on #809
I encountered the same issue when using this module against Zabbix v5.0.19.

[2022-11-11 13:44] MacLemon opened #840 "Agent autoregistration: zabbix_agent_interfaces: useip: 0 (fqdn) ignored, always gets set to 1 (IP)"
##### SUMMARY

When configuring an agent to autoregister and get monitored via **FQDN** it gets *Connect to* set to `IP` on the server anyway. (`zabbix_agent_interfaces: useip: 0´)

##### ISSUE TYPE
- Bug Report

##### COMPONENT NAME

- `zabbix_agent_interfaces` → `useip`

##### ANSIBLE VERSION

[code]

##### CONFIGURATION

[code]

##### OS / ENVIRONMENT / Zabbix Version

- Ansible Control Node: m

[2022-11-12 23:57] pyrodie18 commented on #836
@D3DeFi , @dj-wasabi thoughts?  I personally don't see this as a problem with a role, and instead with a problem of configuration for ansible for the user and that we have to be able to assume that wherever a script runs from it will be able to.  I have no idea how we would even solve this.

[2022-11-13 04:03] nlvw commented on #836
If you use the `semodule` command instead of whatever that bsx binary file is this could be avoided.  I've done a lot of searching and I can't even determine what that bsx file or what exactly it is doing.  Can someone explain as I don't see any references to that file type or binary for selinux?

[2022-11-14 10:25] D3DeFi commented on #836
Only trace regarding this is #294, I have no idea what it does, but it is very ugly solution to copy binary to managed host.

And there is also this https://github.com/dj-wasabi/ansible-zabbix-proxy/pull/64, which leads to this
https://support.zabbix.com/browse/ZBXNEXT-5067

I am open to accepting alternative solution, but I am also unable to provide one

[2022-11-14 10:33] pyrodie18 commented on #836
Fair.  Most of my solutions for Selinux involve disabling it.  My original comment was more to the fact that I can't think of a way to run a script when noexex is set.  I hadn't actually bothered to look at what the script was doing.  Ok so obviously a valid problem to solve, just not exactly what the ticket said originally.

[2022-11-15 18:45] nlvw commented on #836
If it helps for tomcat I use a task like this to set file contexts.  Combine this with another ansible task to set any needed selinux Booleans and that should be enough ([ansible.posix.seboolean](https://docs.ansible.com/ansible/latest/collections/ansible/posix/seboolean_module.html)).

[code]

Any binary called by the systemd service (ExecStart/ExecStop) needs to have the 'bin_t' file context.

[2022-11-15 18:49] nlvw commented on #836
As far as the script and noexec is concerned this is a non issue when using `ansible.builtin.shell`, `ansible.builtin.command`, and `ansible.builtin.script`.  For `ansible.builtin.script` you will need to give an argument and set the executable to bash, sh, python, or whatever language your script is written in (don't call script directly as executable).

[2022-11-16 17:13] AnsgarKlein opened #841 "zabbix-agent2 6.0 has broken dependencies, requires plugin repository"
##### SUMMARY

We have some problems with this role when installing zabbix-agent2 from repositories. It seems that zabbix-agent now requires the zabbix-plugins repository to be present, because newer versions of zabbix-agent depend on `zabbix-agent2-plugin-mongodb` and `zabbix-agent2-plugin-postgresql`.
Unfortunately this role only adds the "normal" Zabbix repository, not the "Zabbix-Plugin" Repos

[2022-11-17 08:57] xbeastx commented on #841
+1 have same error:
[code]

[2022-11-17 09:22] xbeastx commented on #841
Temporary fix would be set `zabbix_apt_install_recommends: false`
But if you not using plugins of course...

[2022-11-17 09:44] AnsgarKlein commented on #841
Thanks for the work around!
It seems this [will be fixed by Zabbix](https://support.zabbix.com/browse/ZBX-21855) for zabbix-agent 6.0

[2022-11-17 13:48] AnsgarKlein commented on #841
The dependencies have been fixed for 6.0 in the offizical repositories. This can be closed

[2022-11-17 13:48] #841 closed

[2022-11-18 12:09] gpxlnx opened #844 "Problem installing agent using proxy"
I'm having trouble installing zabbix_agent on a windows server that uses a proxy.
I analyzed the code but I couldn't insert the proxy, perhaps due to lack of knowledge.

When trying to download the zip, the error described below occurs:

TASK [community.zabbix.zabbix_agent : Windows | Download Zabbix Agent Zip file] ******************************************** *************************************

[2022-11-20 12:49] #812 closed

[2022-11-25 12:13] daftu commented on #526
The patch definitely is required to be able to add both passive or active proxies with PSK.
Please merge.

[2022-11-25 12:39] BGmot commented on #526
@maxxer @daftu where is PR? I can't find it. If there is none then I'll create it.
The solution proposed above is correct.

[2022-11-25 12:41] maxxer commented on #526
I didn't issue a PR, I wasn't sure about the solution. If you want I'll create one right away

[2022-11-25 13:00] BGmot commented on #526
Please do. Don't forget changelog fragment please.

[2022-11-26 22:41] BGmot commented on #526
Resolved by #847

[2022-11-26 22:41] #526 closed

[2022-11-26 22:49] BGmot commented on #832
Looks like we in very different time zones so I re-ran antsibull-changelog putting tomorrow's date Nov 27, 2022, please review.

[2022-11-27 15:16] #832 closed

[2022-11-28 16:05] Thulium-Drake opened #848 "Collection 1.9.0 breaks HTTP Basic auth"
##### SUMMARY

After upgrading the collection to 1.9.0, I can no longer run API transactions with Zabbix after it moved to httpapi.

In my current environment the setup is as follows:

- The HTTP server is joined to an IdM domain
- Basic Authentication is enabled (and required)
- Zabbix itself is not configured to read accounts from LDAP (as most users come from a trusted AD)

This worked fine wit

[2022-11-28 16:17] BGmot commented on #848
Please post the error you are getting as "seems to be broken" is very vague description of the problem.
In regards to Basic Authentication - Zabbix API never had Basic Authentication so it would help again if you listed all the variables you define and a module invocation code.

[2022-11-28 17:13] Thulium-Drake commented on #848
I did some further testing, I either receive HTTP 401 errors or the API returns code -32602 Not Authorized.

Before I started working on this the API password was not the same as the LDAP password of the user. I have reconfigured Zabbix to have the same password for both HTTP and the API, the serviceaccount I'm using has Super Admin privileges within the Zabbix server.

However, I'm unable to inte

[2022-11-28 17:16] BGmot commented on #848
Variables is a mess, I agree and we are going to clean them up in 2.0.
Right now you should not need to change any variables you used with 1.8. Can you post all the variables you define in your playbook (related to API)?

[2022-11-28 17:41] Thulium-Drake commented on #848
So I did the following:

- Revert back to 1.8.0
- Check the current variables (after changing the password) to exclude any mismatched passwords

The current vars are as follows:

[code]

These do work for 1.8.0, but result in a HTTP 401 in 1.9.0.

I'm able to workaround the HTTP 401 by adding the variable below:

[code]
But then I'm stuck with Zabbix API throwing  "Not Authorized" errors. And inte

[2022-11-28 18:00] BGmot commented on #848
I don't understand where you are getting HTTP 401 from.
Zabbix API does not use Zabbix Web UI interface so no basic authentication possible.
Zabbix API cannot give you HTTP 401 as it always gives you HTTP 200 with an error message inside JSON (if there is any error) - is it where you are seeing "Not Authorized" message?
Everything above is true regardless of whether we use zabbix-api or httpapi to

[2022-11-28 18:10] D3DeFi commented on #848
I think this may be replicable just by deploying Nginx with basic auth enabled before Zabbix Server. This is normally something that zabbix-api library supported, we are not tying ourselves to Zabbix API here per see.

For example, doc snippet was removed in here: https://github.com/ansible-collections/community.zabbix/blob/15b439fcf832317947a9c3b62bef836e5bfcf6de/plugins/doc_fragments/zabbix.py#L

[2022-11-29 21:30] Thulium-Drake commented on #848
I won't be having access to the environment where I noticed this for the rest of the week.

But yes, the ```server_url``` is ```https://zabbix.example.com/zabbix```

And what @D3DeFi said is correct, just hook up any webserver with Basic Auth and you're good to go :-)

[2022-11-30 01:56] BGmot commented on #848
I was not even aware of such a usecase (basic authentication done by http server in front of Zabbix server).
I have reproduced the issue.
Trying to understand how it works and needs to be done to fix 1.9.
Thabjs @Thulium-Drake and @D3DeFi .

[2022-11-30 22:50] Thulium-Drake commented on #848
Well that's because the API can't do Header authtentication (and the devs don't seem eager to change that). However, in my environment we have Kerberos SSO with the WebUI for all admins. And in order for Ansible to _also_ be able to talk to the API, we need to provide the password twice...